﻿{extend name="base"/}
{block name="main"}
<div class="Hui-article">
    <article class="cl pd-20">
        <div id="tab_demo" class="HuiTab" style="margin-top: 0px; position: relative;">
            <div class="tabBar clearfix">
                <span  class="current" >超级海报</span>
                <div class="l n_tab_add">
                    <a href="__CONF_SITE__admin/Poster/poster_add">
                        <i class="Hui-iconfont">&#xe600;</i>添加内嵌网页
                    </a>
                </div>
            </div>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <form class="Huiform" method="post" action="__CONF_SITE__admin/Poster/index" style=" padding: 15px;">
                <div class="text-c"> 海报名称：
                    <input type="text" class="input-text" value="{$name}" style="width:250px" placeholder="海报名称"  name="name">
                    <button type="submit" class="btn btn-search radius"  name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
                </div>
            </form>
        </div>
        <table class="table table-border table-bordered table-bg">
            <thead>
            <tr class="text-c">
                <th width="150">海报名称</th>
                <th width="150">类型</th>
                <th width="150">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="vo"}
            <tr class="text-c">
                <td>{$vo['name']}</td>
                <td>{$vo['url']}</td>
                <td>
                    <a title="编辑" href="javascript:;" onclick="attr_mod_edit('编辑','__CONF_SITE__admin/Sappl/applink_edit&id={$vo.id}','600','300')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                    <a title="删除" href="javascript:;" onclick="attr_mod_del(this,'{$vo.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </article>
    <div class="n_page_no">
    </div>
</div>
{/block}
{block name="script"}
{/block}