{extend name="base"/}
{block name="resources"/}
<style>.goods_info {height:86px; border-top:1px solid #ddd;padding:8px;}
/*	.goods_info {height:78px; line-height: 78px; border-top:1px solid #ddd;padding:8px;}*/
	.goods_info:first-child {border-top:0;}
	.goods_info img { height:70px;width:70px;}
	.tabBar span {background:#fff;}
	.table-bordered {
  border: 1px solid #eeeeee;
}
	.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	    vertical-align: middle;
}
	.btn-group button {background:#fff !important;color: #0066cc !important;margin-right:10px;border:0 !important;}
</style>
{/block}
{block name="main"}
<div class="Hui-article">
    <article class="cl pd-20">
        <div class="n_tab_line">
            <a href="__CONF_SITE__admin/order/OrderList" class="n_tab_list">退款/退单</a>
            <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px;display: none;" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
            <div class="cl"></div>
        </div>
<div class="cl pd-5 bg-1 bk-gray mt-20">
        <form class="Huiform" method="post" action="__CONF_SITE__admin/order/OrderRefund" target="_self" style=" padding: 15px;">
            <div class="text-c">
                日期范围：
                <input type="text" onfocus="WdatePicker()" value="{$star_time}" name="star_time" class="input-text Wdate" style="width:120px;">
                -
                <input type="text" onfocus="WdatePicker()" value="{$end_time}" name="end_time" class="input-text Wdate" style="width:120px;">
                <input type="hidden" name="order_status" value="{$order_status}">
                <input type="text" class="input-text" value="{$order_no}" style="width:250px" placeholder="输入订单号"  name="order_no">
                <button type="submit" class="btn btn-search radius"  name=""><i class="Hui-iconfont">&#xe665;</i> 搜订单</button>
            </div>
        </form>
        
          </div>
        <div id="tab_demo" class="HuiTab" style="margin-top: 15px;">
            <div class="tabBar clearfix">
        {foreach name="child_menu_list" item="child_menu" key="k" }
            {eq name="child_menu['active']" value="1"}
                <span class="current" onclick="location.href='__CONF_SITE__{$child_menu['url']}';">{$child_menu.menu_name}</span>
            {else/}
                <span onclick="location.href='__CONF_SITE__{$child_menu['url']}';">{$child_menu.menu_name}</span>
            {/eq}
        {/foreach}
            </div>
        </div>
        <table class="table table-border table-bordered table-hover table-bg">
            <thead>
            <tr class="text-c">
                <th>订单信息</th>
                <th>商品清单</th>
                <th>买家昵称</th>
                <th>收货信息</th>
                <th>订单金额</th>
                <th>订单状态</th>
                <th>最新回复</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="vo"}
            <tr class="title-tr" bgcolor="#e4f2ff">
                <td colspan="8">
                    <span>订单编号：{$vo['order_no']} 交易号：{$vo['out_trade_no']}</span>
                    <span>下单时间：{$vo['create_time']}</span>
                    {if $vo['seller_memo']!=''}
                    <a title="查看备注" href="javascript:;" onclick="orderMessage('备注','getOrderSellerMemo?order_id={$vo.order_id}','','340')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe622;</i></a>
                    {/if}
                </td>
            </tr>
            <?php $num = count($vo['order_item_list']);?>
            <tr>
                <td>
                {volist name="$vo['order_item_list']" id="it"}
                    <div class="goods_info">
                                <img style="vertical-align: middle;: left" src="{$it['picture']['img_cover']}">
                                <a href="javascript:;">{$it['goods_name']}</a>
                    </div>
               {/volist}
                </td>
                <td style="text-align:center;">
                    {volist name="$vo['order_item_list']" id="it"}
                    <div class="goods_info" style="text-align: center;line-height: 22px; vertical-align: middle; height: 60px;padding-top:18px;">
                        <span>{$it['price']}元</span><br>
{$it['num']}件</div>
                    {/volist}
                </td>
                <td rowspan="1" style="text-align:center">
                    <div class="cell">{$vo['user_name']}<br>
                        <i class="fa fa-television" style="color:#666;"><i class="Hui-iconfont">&#xe696;</i></i></div>
                </td>
                <td rowspan="1" style="text-align:center">
                    <div style="text-align:center;">
                        <span class="expressfee">{$vo['receiver_name']}</span><br>
                        <span class="expressfee">{$vo['receiver_mobile']}</span><br>
                        <span class="expressfee">{$vo['receiver_province_name']}{$vo['receiver_city_name']}{$vo['receiver_county_name']}{$vo['receiver_address']}</span>
                    </div>
                </td>
                <td rowspan="1" style="text-align:center">
                    <div class="cell">
                        <b class="netprice" style="color:#666;">{$vo['order_money']}</b><br>
                        <span class="expressfee">(含快递:{$vo['shipping_money']})</span><br>
                        <span class="expressfee">{$vo['pay_type']==1?'微信支付':'会员卡支付'}</span>
                    </div>
                </td>
                <td rowspan="1">
                    <div class="business-status" style="text-align:center">{$vo['status_name']}<br>
                    </div>
                </td>
                <td rowspan="1">
                    <div class="business-status" style="text-align:center">{if !empty($vo.refund_info)}<a href="javascript:alert({$vo.refund_info})">查看</a>{else}暂无{/if}<br>
                    </div>
                </td>
                <td rowspan="1" style="text-align:center;">
                    {if $vo['order_status'] == -1}
                    <a title="删除订单" href="javascript:;" onclick="OrderDel(this,'{$vo.order_id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    {/if}
                    {if $vo['order_status'] == 1}
                    <a title="发货" href="javascript:;" onclick="orderDelivery('商品发货','__CONF_SITE__admin/order/orderDelivery&order_id={$vo.order_id}','','340')" class="ml-5" style="text-decoration:none">商品发货</a>
                    <a title="修改收货地址" href="javascript:;" onclick="orderAddress('修改收货地址','__CONF_SITE__admin/order/getOrderUpdateAddress&order_id={$vo.order_id}','','')" class="ml-5" style="text-decoration:none">修改收货地址</a>
                    {/if}
                    {if $vo['order_status'] == 2}
                    <a title="确认收货" href="javascript:;" onclick="getdelivery('{$vo.order_id}')" class="ml-5" style="text-decoration:none">确认收货</a>
                    {/if}
                    {if $vo['order_status'] == 4}
                    <a title="确认退款" href="javascript:;" onclick="getderefund('{$vo.order_id}',1,'{$vo.pay_type}','{$vo.buyer_id}')" class="ml-5" style="text-decoration:none">确认退款</a>
                    <a title="取消退款" href="javascript:;" onclick="getderefund('{$vo.order_id}',2,'{$vo.pay_type}','{$vo.buyer_id}')" class="ml-5" style="text-decoration:none">取消退款</a>
                    {/if}
                    {if $vo['refundLog']}
                    <a title="退款记录" href="javascript:;" onclick="orderMessage('退款记录','__CONF_SITE__admin/order/refundLog&order_id={$vo.order_id}','','340')" class="ml-5" style="text-decoration:none">退款记录</a>
                    {/if}
                    <a title="查看详情" href="__CONF_SITE__admin/order/OrderDetail&order_id={$vo.order_id}" class="ml-5" style="text-decoration:none">查看详情</a>
                    {if $vo['seller_memo']==''}
                    <a title="添加备注" href="javascript:;" onclick="orderMessage('备注','__CONF_SITE__admin/order/getOrderSellerMemo&order_id={$vo.order_id}','','340')" class="ml-5" style="text-decoration:none">添加备注</a>
                    {/if}
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </article>
    <div class="n_page_no">
        {$page}
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="/public/static/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript">
    /*订单-发货*/
    function orderDelivery(title,url,w,h){
        layer_show(title,url,w,h);
    }
    /*订单-备注*/
    function orderMessage(title,url,w,h){
        layer_show(title,url,w,h);
    }
    /*订单-修改收货地址*/
    function orderAddress(title,url,w,h){
        layer_show(title,url,w,h);
    }
    //订单删除
function OrderDel(obj,id){
    layer.confirm('确认删除这个订单吗？',function(index){
        //此处请求后台程序，下方是成功后的后台处理……
        $.ajax({
            type : "post",
            url : "{:url('order/deleteOrder')}",
            data : {
                "order_id" : id,
            },
            success : function(data) {
                if (data['code'] > 0) {
                    layer.msg('删除成功!',{icon:1,time:1000},function () {
                        window.location.reload();
                    });
                }else{
                    layer.msg('操作失败', {icon: 2, time: 1000});
                }
            }
        })
    });
}
    //确认退款
    function getderefund(order_id,f,pay_type,uid){
        var refund_type = "<?php echo $refund_type;?>";
        var title='';
        if(pay_type==2){
             title= '点击确定此订单款项会立即退回用户会员卡余额, 是否确认退款?';
        }else{
             title = refund_type == 0 ? "系统未配置微信退款, 需要先手动退款给用户, 确定已退款?" : "系统已配置微信退款, 点击确定此订单款项会立即退回用户微信, 是否确认退款?";

        }
        if(f==2){
            layer.prompt({title:"拒绝内容", formType: 2}, function (info, index) {
                if(info.length==0){
                    layer.msg('内容不能为空!', {icon: 2, time: 3000});
                    return false;
                }
                $.ajax({
                    type: "post",
                    url: "__CONF_SITE__admin/order/orderTakeRefund",
                    async: false,
                    data: {info:info,
                        order_id:order_id,ju:1,uid:uid},
                    dataType: 'json',
                    success: function (data) {
                        if(data>0){
                            layer.msg('操作成功!', {icon: 1, time: 3000},function(){
                                window.location.reload();
                            });
                        }else{
                            layer.msg('操作失败!', {icon: 2, time: 3000});
                            return false;
                        }
                    }
                });
                layer.close(index);
            });
            return false;
        }
        layer.confirm(title,function(index){
            //此处请求后台程序，下方是成功后的后台处理……
            $.ajax({
                type : "post",
                url : "{:url('order/orderTakeRefund')}",
                data : { "order_id" : order_id ,'f':f},
                success : function(data) {
                    if(data["code"] > 0 ){
                        if(f==2) {
                            layer.msg('操作成功', {icon: 1, time: 1000}, function () {
                                window.location.reload();
                            });
                        }else{
                            layer.msg('退款成功', {icon: 1, time: 1000}, function () {
                                window.location.reload();
                            });
                        }
                    }else {
                        layer.msg(data['message'], {icon: 2, time: 1000});
                    }
                }
            })
        });
    }
    //确认发货
    function getdelivery(order_id){
        layer.confirm('确认发货？',function(index){
            //此处请求后台程序，下方是成功后的后台处理……
            $.ajax({
                type : "post",
                url : "{:url('order/orderTakeDelivery')}",
                data : { "order_id" : order_id },
                success : function(data) {
                    if(data["code"] > 0 ){
                        layer.msg('收货成功', {icon: 1, time: 1000},function () {
                            window.location.reload();
                        });
                    }else {
                        layer.msg('收货失败', {icon: 2, time: 1000});
                    }
                }
            })
        });
    }
</script>
{/block}