<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{if $site_name != '' || !empty($site_name)}{$site_name}{else}请在版权设置里配置您的站点名称{/if}</title>
    <script src="/public/js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/public/js/vue.js"></script>
    <link href="./favicon.ico?v=1.2" rel="shortcut icon" type="image/x-icon"/>
    <link rel="stylesheet" href="/public/css/linecons.css">
    <link rel="stylesheet" href="/public/static/bast/bootstrap.css">
    <link rel="stylesheet" href="/public/static/bast/xenon-core.css?v=1.0">
    <link rel="stylesheet" href="/public/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" href="/public/static/h-ui/css/style.css"/>
    <link rel="stylesheet" href="/public/static/Hui-iconfont/1.0.8/iconfont.css"/>
<body>
<div class="Hui-article">
    <article class="cl pd-20">
        <table class="table table-border table-bordered table-hover table-bg">
            <thead>
            <tr class="text-c">
                <th>申请理由</th>
                <th>申请时间</th>
                <th>商家回复</th>
                <th>回复时间</th>
                <th>状态</th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="vo"}
            <tr class="title-tr" bgcolor="#e4f2ff" style="text-align: center;">
                <td>{$vo.apply_refund}</td>
                <td>{$vo.apply_time}</td>
                <td>{$vo.refund_reason}</td>
                <td>{$vo.create_time}</td>
                <td>{$vo.status_name}</td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </article>
</div>
</body>
</html>