{extend name="base"/}
{block name="main"}
<style>.form_message {display: block; height: 38px; line-height: 38px; text-align: left;color:#999;}
.formControls .btn {float:left;margin-right:15px;}
.clear{clear:both;}
.form-label {font-weight: bold;}</style>
<article class="cl pd-20">
    <div id="tab_demo" class="HuiTab" style="margin-bottom: 15px; position:relative;">
        <div class="tabBar clearfix">
            <span onclick="window.location.href='__CONF_SITE__admin/baidu/mip_h5'">百度MIP 手机站</span>
            <span class="current">SEO设置</span>
            <span onclick="window.location.href='__CONF_SITE__admin/baidu/mip_vhost&type=mip_h5'">域名绑定</span>
        </div>
    </div>
    <form id="main_form" method="post">
        <div class="form form-horizontal" id="main">

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>首页title：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" autocomplete="off" value="{$info.title}" placeholder="" class="input-text" name="title">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>首页description：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" autocomplete="off" value="{$info.description}" placeholder="" class="input-text" name="description">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>首页keywords：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" autocomplete="off" value="{$info.keywords}" placeholder="" class="input-text" name="keywords">
                </div>
            </div>


            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                    <input class="btn btn-primary radius" onclick="dobuild()" type="button" value="   确定   " style="padding:6px 12px;">
                </div>
            </div>

        </div>
    </form>
</article>
{/block}
{block name="script"}
<script type="text/javascript">

    $("#main_form").on('submit',function () {
        return false;
    });

    var flag = false;
    function dobuild() {

        if(flag){return};
        flag = true;

        $.ajax({
            url: "{:url('baidu/mip_h5_seo')}",
            type: 'POST',
            cache: false,
            data: new FormData($('#main_form')[0]),
            processData: false,
            contentType: false,
            dataType: 'json',
            success:function (res) {
                if (res["code"] > 0) {
                    layer.msg('编辑成功!',{icon:1,time:1000},function () {
                        window.location.reload();
                    });
                }else{
                    layer.msg("编辑失败",{icon:5,time:1000});
                    flag = false;
                }
            },
            fail:function (err) {
                layer.msg("编辑失败",{icon:5,time:1000});
                flag = false;
            }
        });
    }
</script>
{/block}