{extend name="base"/}
{block name="main"}
<div class="Hui-article">
    <article class="cl pd-20">
        <div id="tab_demo" class="HuiTab" style="margin-bottom: 15px; position:relative;">
            <div class="tabBar clearfix">
                {if $type==='mip_pc'}
                <span onclick="window.location.href='__CONF_SITE__admin/baidu/mip_pc'">百度MIP PC站</span>
                <span onclick="window.location.href='__CONF_SITE__admin/baidu/mip_pc_seo'" >SEO设置</span>
                {/if}
                {if $type==='mip_h5'}
                <span onclick="window.location.href='__CONF_SITE__admin/baidu/mip_h5'">百度MIP 手机站</span>
                <span onclick="window.location.href='__CONF_SITE__admin/baidu/mip_h5_seo'" >SEO设置</span>
                {/if}
                {if $type==='h5'}
                <span onclick="window.location.href='__CONF_SITE__admin/H5/index'">站点配置</span>
                {/if}
                <span class="current">域名绑定</span>
                <div  onclick="layer_open('绑定域名','__CONF_SITE__admin/baidu/mip_bind_vhost&type={$type}',600,400)"  class="n_tab_add"><i class="Hui-iconfont">&#xe600;</i>绑定域名</div>
            </div>
        </div>
        <div>

            <div class="mt-20">
                <table class="table table-border table-bordered table-bg table-hover table-sort">
                    <thead>
                    <tr class="text-c">
                        <th width="60px">序号</th>
                        <th>域名</th>
                        <th>端口号</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    {volist name="list" id="r" key='k'}
                    <tr class="text-c va-m">

                        <td>{$k}</td>
                        <td><a href="{$r.port == '443' ? 'https://' : 'http://'}{$r.host}" target="_blank">{$r.host}</a></td>
                        <td>{$r.port}</td>
                        <td>
                            <a style="text-decoration:none;color:#666666;" title="删除" href="javascript:void(0);" onclick="vhost_del(this,'{$r.id}')"  type="button" value="删除">删除</a>
                        </td>

                    </tr>
                    {/volist}
                    </tbody>
                </table>
                <div class="n_page_no">
                    {$page}
                </div>
            </div>
        </div>
        {/block}
        {block name="script"}
        <script type="text/javascript">

            /*文章-删除*/
            function vhost_del(obj,id){
                layer.confirm('确认要删除吗？',function(index){
                    //后台处理
                    $.ajax({
                        type : "post",
                        url : "{:url('admin/baidu/mip_del_vhost')}",
                        data : {
                            "id" : id,
                        },
                        success : function(data) {
                            if (data['code'] >0) {
                                $(obj).parents("tr").remove();
                                layer.msg('删除成功!',{icon:1,time:1000});
                            }
                            else
                            {
                                layer.msg('删除失败', {icon: 2, time: 1000});
                            }
                        }
                    })
                });
            }

        </script>
        {/block}