{extend name="base"/}
{block name="main"}
<link href="/public/static/umedito/themes/default/_css/umeditor.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/public/css/defau.css">
<article class="cl pd-20">
	<div class="n_tab_line">
            <a href="{:url('about/index')}" class="n_tab_list">商家信息</a>
            <div class="cl"></div>
        </div>
	<form action="" method="post" class="form form-horizontal" id="">
		<input type="hidden" id="id" value="{$info['id']}">
        <input type="hidden" id="lat" value="{$info['lat']}">
        <input type="hidden" id="lng" value="{$info['lng']}">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>公司名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" autocomplete="off" value="{$info['name']}" placeholder="公司名称" class="input-text" id="name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">公司英文名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" autocomplete="off" value="{$info['english_name']}" placeholder="公司英文名称" class="input-text" id="english_name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>联系人电话：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" autocomplete="off" value="{$info['phone']}" class="input-text" placeholder="联系人电话" id="tel">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">QQ：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" autocomplete="off" value="{$info['qq']}" class="input-text" placeholder="QQ" id="qq">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>公司地址：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" autocomplete="off" value="{$info['address']}" class="input-text" placeholder="公司地址" id="address">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>营业时间：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" autocomplete="off" value="{$info['job_time']}" class="input-text" placeholder="营业时间" id="job_time">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>邮寄方式：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div class="skin-minimal">
				<div class="radio-box" style="padding-left:0;">
					<input type="radio" value="1" {if condition="$info.is_mention==1"} checked {/if} id="radio-1" name="is_mention">
					<label for="radio-1">邮寄</label>
				</div>
					<div class="radio-box">
						<input type="radio" value="2" {if condition="$info.is_mention==2"} checked {/if} id="radio-2" name="is_mention">
						<label for="radio-2">用户自提</label>
					</div>
					<div class="radio-box">
						<input type="radio" value="3" {if condition="$info.is_mention==3"} checked {/if} id="radio-3" name="is_mention">
						<label for="radio-3">用户可选择</label>
					</div>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">LOGO图片：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<p style="height: 150px;width:150px;border: dashed 1px #e5e5e5">
					<img src="{$info['logo']}" style="width: 150px;height: 150px;" onerror="this.src='/public/goods/img/default_goods_image_240.gif'" alt="" id="imglogo_pic" class="thumbnail">
				</p>
<div style="position: absolute;top:50px;left:200px;color: #ccc;">
	<div class="upload-btn">
				<span>
					<input type="hidden" value="{$info['logo']}" id="logo_pic" />
				</span>
		<input onclick="select_img('1','zhu');" class="btn btn-default" type="button" value="选择图片">
	</div>
	<br>
建议图片尺寸：150*150px<br>
</div>
			</div>
		</div>
		<div class="row cl" style="">
			<label class="form-label col-xs-4 col-sm-2">简介：</label>
			<div class="formControls col-xs-8">
				<div id="editor" type="text/plain" style="width: 80%; height: 400px;">{$info['desc']}</div>
			</div>
		</div>
                <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">地图位置：</label>
                 <div class="formControls col-xs-8">
                <input id="keyword" type="text"  style="width: 300px;height:35px;margin-bottom:10px;padding-left:6px;" placeholder="输入关键字" class="input-text radius size-MINI">
                <input style="margin-bottom:0px;" class="btn btn-success radius" onclick="searchKeyword()" type="button" value="搜索">
                <div  id="container" style="border: 1px solid #000000;width:500px;height:300px;margin-top:15px;"></div>
                </div>
                </div>
                <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <input class="btn btn-primary radius" onclick="addSuppAjax()" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                </div>
                </div>
	</form>
</article>
{/block}
{block name="script"}
<script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=UFVBZ-TCCCF-GWTJD-N3VQY-JHEQH-ZZBDM"></script>
				<script type="text/javascript" src="https://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js"></script>
				<script type="text/javascript" src="/public/static/umedito/third-party/jquery.min.js"></script>
				<script type="text/javascript" src="/public/static/umedito/third-party/template.min.js"></script>
				<script type="text/javascript" charset="utf-8" src="/public/static/umedito/umeditor.config.js"></script>
				<script type="text/javascript" charset="utf-8" src="/public/static/umedito/_examples/editor_api.js"></script>
				<script type="text/javascript" src="/public/static/umedito/lang/zh-cn/zh-cn.js"></script>
				<!--<article class="cl pd-20">-->
				<script src="/public/menu/js/jquery.artdialog.js"></script>
				<script src="/public/menu/js/iframetools.js"></script>
				<script type="text/javascript">
$(function(){
    var ue =UM.getEditor('editor',{
        imageUrl:"__CONF_SITE__app/Umupload/uploadFile", //处理图片上传的接口
        imageFieldName:"upfile", //上传图片的表单的name
        imagePath: ""
    });
    init();
});
var map;
var searchService,markers = [];
var latlngBounds;
var geolocation = new qq.maps.Geolocation("UFVBZ-TCCCF-GWTJD-N3VQY-JHEQH-ZZBDM", "lyyibaiwq");
function getLocation(){
    var position_option = {
        timeout: 20000
    };
    geolocation.getLocation(showPosition,showError,position_option);
}
function showPosition(position)
{
    curr_lat = position.lat;
    curr_lng = position.lng;
    // 逆地址解析，设置起点的地址位置
    var latLng = new qq.maps.LatLng(curr_lat, curr_lng);
    var geocoder = new qq.maps.Geocoder();
    geocoder.getAddress(latLng);
    geocoder.setComplete(function(result) {
        clearOverlays(markers);
        $("#lat").val(curr_lat);
        $("#lng").val(curr_lng);
        var latLng = new qq.maps.LatLng(curr_lat,curr_lng);
        map.setCenter(latLng);
        latlngBounds.extend(latLng);
        var marker = new qq.maps.Marker({
            map:map,
            position: latLng
        });
        marker.setTitle(result.detail.address);
        markers.push(marker);
        map.fitBounds(latlngBounds);
    });
}
function showError(error)
{
    switch(error.code)
    {
        case error.PERMISSION_DENIED:
            //alert("用户拒绝对获取地理位置的请求。");
            break;
        case error.POSITION_UNAVAILABLE:
            //alert("位置信息是不可用的。");
            break;
        case error.TIMEOUT:
            //alert("请求用户地理位置超时。");
            break;
        case error.UNKNOWN_ERROR:
            //alert("未知错误。" );
            break;
    }
}
//地图事件
function init() {
    var center;
    var hasloc = false;
    var lat=$("#lat").val();
    var lng=$("#lng").val();
    if ($("#lat").val()==''){
        center = new qq.maps.LatLng(34.618130,112.454020);
    }else {
        hasloc = true;
        center = new qq.maps.LatLng(lat,lng);
    }
    var map = new qq.maps.Map(document.getElementById("container"),{
        center:center,
        zoom: 14
    });
    var infoWin = new qq.maps.InfoWindow({
        map: map
    });
    var marker1 = new qq.maps.Marker({
        position: center,
        map: map
    });
    markers.push(marker1);
    //添加监听事件   获取鼠标单击事件
    qq.maps.event.addListener(map, 'click', function(event) {
        clearOverlays(markers);
        var marker=new qq.maps.Marker({
            position:event.latLng,
            map:map
        });
        qq.maps.event.addListener(map, 'click', function(event) {
           marker.setMap(null);
        });
        $("#lat").val(marker.position.lat);
        $("#lng").val(marker.position.lng);
    });
    latlngBounds = new qq.maps.LatLngBounds();
    searchService = new qq.maps.SearchService({
        complete : function(results){
            if(results.type == "CITY_LIST")
			{
                layer.msg('查询结果过多,请添加所在城市重新搜索',{icon:5,time:1500});
				return;
			}
            var pois = results.detail.pois;
            for(var i = 0,l = pois.length;i < l; i++){
                if(i == 0)
                {   var poi = pois[i];
                    $("#lat").val(poi.latLng.lat);
                    $("#lng").val(poi.latLng.lng);
                    var poi = pois[i];
                    latlngBounds.extend(poi.latLng);
                    var marker = new qq.maps.Marker({
                        map:map,
                        position: poi.latLng
                    });
                    marker.setTitle(i+1);
                    markers.push(marker);
                }
                break;
            }
            map.fitBounds(latlngBounds);
        }
    });
    if(!hasloc)
    {
        getLocation();
    }
}
//清除地图上的marker
function clearOverlays(overlays){
    var overlay;
    while(overlay = overlays.pop()){
        overlay.setMap(null);
    }
    markers.forEach(function (item, index, arr) {
        item.setMap(null);
    });
    markers = [];
}
//点击搜索
function searchKeyword() {
    var keyword = document.getElementById("keyword").value;
    var region = "";
    clearOverlays(markers);//清除地图上的marker
    searchService.setLocation(region);
    searchService.search(keyword);
}
//模块输入信息验证
function verify() {
    var name = $("#name").val();
    var tel = $("#tel").val();
    var address = $("#address").val();
    var Mechak = $("#Mechak").val();
    var job_time = $("#job_time").val();
    var desc = UM.getEditor('editor').getContent();
    if (name == '') {
        layer.msg('名称不能为空',{icon:5,time:1000});
        return false;
    }
    if(address == ''){
        layer.msg('地址不能为空',{icon:5,time:1000});
        return false;
    }
    if (job_time == '') {
        layer.msg('名称不能为空',{icon:5,time:1000});
        return false;
    }
    if(desc == ''){
        layer.msg('详情不能为空',{icon:5,time:1000});
        return false;
    }
    return true;
}
var flag = false;//防止重复提交
//添加用户
function addSuppAjax() {
    var id = $("#id").val();
    var name = $("#name").val();
    var tel = $("#tel").val();
    var address = $("#address").val();
    var qq = $("#qq").val();
    var english_name = $("#english_name").val();
    var logo_pic = $("#logo_pic").val();
    var Mechak = $("#Mechak").val();
     var job_time = $("#job_time").val();
    var lat = $("#lat").val();
    var lng = $("#lng").val();
    var desc = UM.getEditor('editor').getContent();
    var is_mention = $('input[name="is_mention"]:checked ').val();
    if(verify() && !flag){
        flag = true;
        $.ajax({
            type : "post",
            url : "{:url('about/index')}",
            data : {
                'id' : id,
                'name' : name,
                'Mechak' : Mechak,
                'tel' : tel,
                'address' : address,
                'desc' : desc,
				'qq':qq,
                'english_name':english_name,
                'logo_pic':logo_pic,
                'job_time':job_time,
                'lat':lat,
                'lng':lng,
				'is_mention':is_mention
            },
            success : function(data) {
                if(data>0){
                    layer.msg('添加成功!',{icon:1,time:1000},function () {
                        window.location.reload();
                    });
                }
                else{
                    flag = false;
                    layer.msg('添加失败',{icon:5,time:1000});
                }
            }
        });
    }
}
//LOGO图片上传
function zhu_images(id,path) {
    $("#logo_pic").val(path);
    $("#imglogo_pic").attr('src',path);
}
function select_img(number,type) {
    art.dialog.open(('__CONF_SITE__admin/images/dialogalbumlist&number=' + number + '&type=' + type), {
        lock : true,
        title : "我的图片",
        width : 900,
        height : 620,
        drag : false,
        background : "#000000",
        scrollbar:false,
    }, true);
}
</script>
{/block}