{if !empty($item.list)}
<div class='index_advan index_bg_{$index}'>
    <div class='index_advan_list article{$item.style_type}'>
        {volist name="item.list" id="val" key="k"}
            <div class='advan_li'>
                <a href="{:h5linkmip($val)}">
                    <mip-img src='{$val.imgurl}'></mip-img>
                    <div class='advan_info'>
                        <div class='advan_tit index_article_list_{$index}_name'>
                            {$val.name}
                        </div>
                        <div class='advan_memo index_article_list_{$index}_desc'>
                            {$val.description}
                        </div>
                    </div>
                    <div class='clear'></div>
                </a>
            </div>
        {/volist}
        <div class='clear'></div>
    </div>
    <div class='clear'></div>
</div>
{/if}