<div class="index-advs index_banner_{$index}">
    <mip-carousel
            autoplay
            defer="5000"
            width="600"
            height="400"
            layout="container"
            class="index_banner_swiper_{$index}"
            {if $item.jiaodian_dots == 'block'}
            indicatorId="mip-carousel-example"
            {/if}>
        {volist name="item.list" id="img"}
        <mip-img
                src="{$img.imgurl}">
        </mip-img>
        {/volist}
    </mip-carousel>
    {if $item.jiaodian_dots == 'block'}
    <div class="mip-carousel-indicator-wrapper">
        <div class="mip-carousel-indicatorDot" id="mip-carousel-example">
            {volist name="item.list" id="img"}
                <div class="mip-carousel-indecator-item"></div>
            {/volist}
        </div>
    </div>
    {/if}
</div>
