<mip-form bindsubmit="formBook"  method="get" url="http://www.php.cn?we=123">
<div class="index_form{$index}">
 <div class="formBook_li02" >
    <input placeholder="感谢提出建议" value='' name="content"/>
  </div>
  <div class="formBook_li">
    <div class="li_tit"><span>姓名</span></div>
    <input type='text' name="name" value='' placeholder="请输入姓名" />
    <div class='clear'></div>
  </div>
  <div class="formBook_li">
    <div class="li_tit"><span>手机</span></div>
    <input type='number' name="phone" value='' placeholder="请输入手机号" />
    <div class='clear'></div>
  </div>
  <div class="formBook_btn_index">
    <button formType="submit" class="index_form_btn">提交</button>
  </div>
  </div>
</mip-form>