<!-- <cover-view  bindtap='phone' data-phone="{$item.phone}"  hover-class="none">
  <cover-view class='suspend_pic' style="bottom: {$item.b_form_bottom}%;left: calc({$item.b_form_margin}% - 50px);background:{$item.bg_color};opacity:{$item.form_transparent}">
    <cover-mip-img src='{$item.imgurl}'></cover-mip-img>
  </cover-view>
</cover-view> -->
<!-- <view  class='new_float_icon'  bindtap='phone' data-phone="{$item.phone}"  > -->
<!-- <view  class='new_float_icon'  > -->
<a  href="tel:{$item.phone}">
  <div class='new_float_icon_box index_phone{$index}' >
    <mip-img class='new_float_icon_pic' src='{$item.imgurl}'></mip-img>
  </div>
</a>
  
<!-- </view> -->