<!--<form bindsubmit="formPower" bindreset="formReset">-->
    <!--<block wx:for="{{power_form[item.param].form}}" wx:for-item="f_item">-->
      <!--<include src="../form/input.wxml" wx:if="{{f_item.module=='input'}}" />-->
      <!--&lt;!&ndash; 单行文本框&ndash;&gt;-->

      <!--<include src="../form/textarea.wxml" wx:if="{{f_item.module=='textarea'}}" />-->
      <!--&lt;!&ndash; 多行文本框&ndash;&gt;-->

      <!--<include src="../form/checkbox.wxml" wx:if="{{f_item.module=='checkbox'}}" />-->
      <!--&lt;!&ndash; 多选&ndash;&gt;-->

      <!--<include src="../form/radio.wxml" wx:if="{{f_item.module=='radio'}}" />-->
      <!--&lt;!&ndash; 单选&ndash;&gt;-->

       <!--<include src="../form/picker.wxml" wx:if="{{f_item.module=='picker'}}" />-->
      <!--&lt;!&ndash; 下拉选&ndash;&gt;-->

       <!--<include src="../form/time_one.wxml" wx:if="{{f_item.module=='time_one'}}" />-->
      <!--&lt;!&ndash; 日期&ndash;&gt;-->

       <!--<include src="../form/time_two.wxml" wx:if="{{f_item.module=='time_two'}}" />-->
      <!--&lt;!&ndash; 日期范围&ndash;&gt;-->

      <!--<include src="../form/region.wxml" wx:if="{{f_item.module=='region'}}" />-->
      <!--&lt;!&ndash; 地区&ndash;&gt;-->

      <!--<include src="../form/pic.wxml" wx:if="{{f_item.module=='pic'}}" />-->
      <!--&lt;!&ndash; 单图&ndash;&gt;-->

      <!--<include src="../form/pic_arr.wxml" wx:if="{{f_item.module=='pic_arr'}}" />-->
      <!--&lt;!&ndash; 多图&ndash;&gt;-->

<!--<input name='id' value='{{item.param}}' style='display:none'></input>-->
<!--<div class='form_btn_box' wx:if="{{f_item.module=='button'}}">-->
    <!--<div class="form_btn" style='bottom:{{menu_show?100:20}}rpx;'>-->
      <!--<button formType="submit" style="background:{{f_item.color}};color:{{f_item.text_color}};">{{f_item.title}}</button>-->
    <!--</div>-->
     <!--</div>-->
      <!---->
    <!--</block>-->

  <!--</form>-->