<div class="index_qua{$index}">
  <div class='ff01'>
    <a href="{:h5linkmip($item['list'][0])}">
    <mip-img src="{$item['list'][0]['imgurl']}"></mip-img>
    </a>
  </div>

  <div class='ff02'>

    <div class='ff03'>
      <a href="{:h5linkmip($item['list'][1])}">
      <mip-img src="{$item['list'][1]['imgurl']}"></mip-img>
      </a>
    </div>

    <div class='ff03'>
      <a href="{:h5linkmip($item['list'][2])}">
      <mip-img src="{$item['list'][2]['imgurl']}"></mip-img>
      </a>
    </div>

    <div class='ff03'>
      <a href="{:h5linkmip($item['list'][3])}">
        <mip-img src="{$item['list'][3]['imgurl']}"></mip-img>
      </a>
    </div>

  </div>
  <div class='clear'></div>
</div>