<div class="fui-searchbar bar index_bg_{$index} {$item.style_type==1?'search_fixed':''}" >
    <div class="searchbar">
        <a class="weui-search-bar__form" href="">
            <div class="search-input index_search_bd_{$index}">
                <div class='search_box'>
                    <span>{$item.hot_word!=''?$item.hot_word:'商品搜索'}</span>
                    <div class="index_search_box">
                        <div class="index_search_{$index}"></div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
{if item.style_type==1}
<div class="index_search_box2"></div>
{/if}