<div class="index_tri{$index}">
<div class='tf1' >
    <a href="{:h5linkmip($item['list'][0])}">
    <mip-img src="{$item['list'][0]['imgurl']}"></mip-img>
    </a>
</div>
<div class='tf2'>
    <div class='tf21'>
        <a href="{:h5linkmip($item['list'][1])}">
            <mip-img src="{$item['list'][1]['imgurl']}"></mip-img>
        </a>
    </div>
    <div class='tf22' >
        <a href="{:h5linkmip($item['list'][2])}">
            <mip-img src="{$item['list'][2]['imgurl']}"></mip-img>
        </a>
    </div>
</div>
<div class='clear'></div>
</div>