<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>创建直播间</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="format-detection" content="address=no">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="{TEMPLATE_PATH}/wtCommon.css?v={php echo time();}">
<script src="{TEMPLATE_PATH}/js/zepto.min.js"></script>
<script src="{TEMPLATE_PATH}/js/json2.min.js"></script>
<link rel="stylesheet" href="{TEMPLATE_PATH}/font/iconfont.css">
<link rel="stylesheet" href="{TEMPLATE_PATH}/live.css?v={php echo time();}">
{php echo register_jssdk();}
<style type="text/css">
.tagSelect {
    margin: 0 5px;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
}
.clearfix {
    display: block;
    zoom: 1;
}
.tagSelect span.active {
    background: #f19937;
    border-color: #f19937;
    color: #fff;
}
.tagSelect span {
    width: 25%;
    background: #fff;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-align: center;
    display: block;
    float: left;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
}
</style>
<script type="text/javascript">
var posturl="{php echo $this->createMobileUrl('chat_create')}";
var nexturl="{php echo $this->createMobileUrl('chat_index')}";
function chooseImage(){
	wx.chooseImage({
	    count: 1, 
	    sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
	    sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
	    success: function (res) {
	       var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
	       var firstId=localIds.toString();
	       wx.uploadImage({
	    	    localId: firstId, // 需要上传的图片的本地ID，由chooseImage接口获得
	    	    isShowProgressTips: 1, // 默认为1，显示进度提示
	    	    success: function (res) {
	    	        var serverId = res.serverId; // 返回图片的服务器端ID
	    	        $.getJSON(posturl+"&mediaid="+serverId, function(result){
	    	        	$("#live_logo").attr('src',result.imgurl);
	    	        	$("#logo").val(result.imgurl);
	    	        });
	    	    }
	    	});
	    }
	});
}
function changeLiveLogo(){
	wx.chooseImage({
	    count: 1, 
	    sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
	    sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
	    success: function (res) {
	       var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
	       var firstId=localIds.toString();
	       wx.uploadImage({
	    	    localId: firstId, // 需要上传的图片的本地ID，由chooseImage接口获得
	    	    isShowProgressTips: 1, // 默认为1，显示进度提示
	    	    success: function (res) {
	    	        var serverId = res.serverId; // 返回图片的服务器端ID
	    	        $.getJSON(posturl+"&mmediaid="+serverId, function(result){
	    	        	$(".img_logo").attr('src',result.imgurl);
	    	        	// $("#logo").val(result.imgurl);
	    	        });
	    	    }
	    	});
	    }
	});
}

$(function(){
	
	$(".reward_tag").click(function(){
		if($(this).hasClass('active')){
			$(this).removeClass('active');
			return;
		}else{
			$(this).addClass("active");
		}
		var size=$(".reward_tag.active").size();
		if(size==2){
			$(".popup_tips").text('只能1个标签');
            $(".popup_tips").show();
            setTimeout(function(){$(".popup_tips").hide();}, 2000); 
			$(this).removeClass('active');
			return;
		}
	});
	
	$(".createLiveSubmit").click(function(){
		if($("#live_name").val()==""){
			$(".popup_tips").text("直播间名称不能为空！");
            $(".popup_tips").show();
            setTimeout(function(){$(".popup_tips").hide();}, 2000);
			return false;
		}
		
		if($("#live_introduce").val()==""){
			$(".popup_tips").text("直播间介绍不能为空！");
            $(".popup_tips").show();
            setTimeout(function(){$(".popup_tips").hide();}, 2000);
			return false;
		}
		
		var size=$(".reward_tag.active").size();
		if(size==0){
			$(".popup_tips").text("必须选择分类标签");
            $(".popup_tips").show();
            setTimeout(function(){$(".popup_tips").hide();}, 2000);
			return false;
		}
		
		if($("#logo").val()==''){
			$(".popup_tips").text("请上传直播间头像！");
            $(".popup_tips").show();
            setTimeout(function(){$(".popup_tips").hide();}, 2000);
			return false;
		}	
		
		
		var reward_tags=new Array();
		$(".reward_tag.active").each(function(){
			reward_tags.push($(this).attr('attr-id'));
		});
		 
		reward_tags=reward_tags.join(',');
		
		$.post(posturl+"&create=true", { room_name: $("#live_name").val(), room_desc: $("#live_introduce").val(),room_icon:$("#logo").val(),tags:reward_tags,bg_img:$(".img_logo").attr('src')},
		   function(data){
			    if(data.success==1){
			    	location.href=nexturl+"&room_id="+data.room_id;
			    }else if(data.success==-1){
			    	$(".popup_tips").text("每人只能创建一个直播间!");
		            $(".popup_tips").show();
		            setTimeout(function(){$(".popup_tips").hide();}, 2000);
			    }else{
			    	$(".popup_tips").text("创建直播间失败!");
		            $(".popup_tips").show();
		            setTimeout(function(){$(".popup_tips").hide();}, 2000);
			    }
		 });
		
	});
});
</script>
</head>
<body>
   
<div id="liveMainBox" class="main_box_4">
	<div class="new_live">
		<span class="live_logo upload_live_logo" onclick="chooseImage()" style="overflow: hidden;"><img src="{TEMPLATE_PATH}/normalLogo.png" id="live_logo">
		<i class="marker" style="display:none;">
		<input type="hidden" id="logo" name="logo">
		</i></span>
		<span class="upload_status uploadStatus2" onclick="chooseImage()">点击上传直播间头像</span>
		<ul>
			<li>
				<label class="title_2">直播间名称：</label>
				<span class="input_1">
					<textarea id="live_name" placeholder="请输入直播间名称（最多30字）"></textarea>
				</span>
			</li>
			<li>
				<label class="title_2">直播间介绍：</label>
				<span class="textarea_1">
					<textarea id="live_introduce" placeholder="请输入直播间介绍（最多200字）"></textarea>
				</span>
			</li>

			<li>
				<label class="title_2" style="vertical-algin:top">直播间背景：</label>
				<span>
					<a class="list_btn_2" style="position:relative;padding-right:30px;float:right;" href="javascript:;" onclick="changeLiveLogo()"><img class="img_logo" src="{TEMPLATE_PATH}/images/bg.jpg" style="width: 80px;max-height:48px;"></a>
				</span>
			</li>
			
			<li>
				<label class="title_2">直播间分类标签(选择1个)：</label>
				<span class="textarea_1" style="height:auto">
					<div class="tagSelect clearfix">
					{loop $tag_record  $trecord}
						 <span class="reward_tag" attr-id="{$trecord['id']}">{$trecord['tag_name']}</span>
					{/loop}
					</div>
				</span>
			</li>
			
			<li class="createlivetips">
				<span>一个直播间可以创建多个话题</span>
				<span>直播间的名字可以修改</span>
			</li>
		</ul>
		
	</div>
	
	<div class="submit_box">
		<a class="wt_btn_1 createLiveSubmit" href="javascript:;">创建直播间</a>
	</div>
		
</div>
<!-- 弹框 -->
<style>
    .mid{position: absolute;top: 50%;left: 50%;transform:translate(-50%,-50%);}
    .popup_tips{background: #3E454C;display: inline-block;font-size: 14px;color: #fff;line-height: 1.5;text-align: center;border-radius: 20px;padding: 5px 20px;}
</style>
<div class="popup_tips mid" style="display:none"></div>

<div class="loadingBox"><span></span></div>
  <!-- 返回首页悬浮框begin -->
<style>
	.backHome{
		width:40px;
		height:40px;
		border-radius: 50%;
		background: rgba(0,0,0,0.6);
		text-align: center;
		line-height: 40px;
		position: fixed;
		bottom:100px;
		right:15px;
		z-index: 100;
	}
	.backHome .iconHome{
		color:#fff;
		font-size: 24px;
	}


</style>
	<div class="backHome">
		<a href="{php echo $this->createMobileUrl('index')}"><i class="iconfont icon-shouye1 iconHome"></i></a>
	</div>

<!-- 返回首页悬浮框end --> 
</body>
</html>