<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>最近观看的直播</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="format-detection" content="address=no">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<script type="text/javascript" src="{TEMPLATE_PATH}/js/zepto.min.js"></script>
<link rel="stylesheet" href="{TEMPLATE_PATH}/wtCommon.css">
<link rel="stylesheet" href="{TEMPLATE_PATH}/live.css">
</head>
<body class="gary">
<div class="main_box_4 livelistBox">
<dl class="live_list on"><span class="live_listhead">最近观看的直播</span>

{loop $records $record}
	<dd class="dd_1">
		<div class="forum_info">
			<span class="forum_logo"><img src="{if $record['topic_icon']}{$record['topic_icon']}{else}{$record['room_icon']}{/if}"></span>
			<a class="forum_name" href="{php echo $this->createMobileUrl('chat',array('topic_id'=>$record['topic_id']))}">{$record['topic_name']}</a>
			<span class="new_msg">{$record['topic_desc']}</span>
		</div>
	</dd>
{/loop}


</dl>
	
	<ul class="loadStBox">
	{if !$records}
	<li class="none_record"><span class="none_tip">暂无纪录哟～</span></li>
	{/if}
		<li style="display:none;" class="box_nothing" id="loadNone" style="display: list-item;">
			<span class="tips_1">没有更多内容了</span>
		</li>
		<li id="pageLoadBox"></li>
		<li class="page_loading_box" style="display: none;">正在加载中...</li>
	</ul>

</div>
<div class="loadingBox">
<span></span>
</div>
{template footer}
</body></html>