<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{$chat_room['room_name']}</title>

<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="format-detection" content="address=no">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<script src="{TEMPLATE_PATH}/js/jquery.min.js"></script>
<link rel="stylesheet" href="{TEMPLATE_PATH}/wtCommon.css?v={php echo time();}">
<link rel="stylesheet" href="{TEMPLATE_PATH}/live.css?v={php echo time();}">
{php echo register_jssdk();}
<script type="text/javascript">
var posturl="{php echo $this->createMobileUrl('chat_setting',array('room_id'=>$chat_room['room_id']))}";
var room_url="{$room_url}";
var tags='{$chat_room['tags']}';
function chooseImage(uptype){
	wx.chooseImage({
	    count: 1, 
	    sizeType: ['compressed'], // 可以指定是原图还是压缩图，默认二者都有
	    sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
	    success: function (res) {
	       var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
	       var firstId=localIds.toString();
	       wx.uploadImage({
	    	    localId: firstId, // 需要上传的图片的本地ID，由chooseImage接口获得
	    	    isShowProgressTips: 1, // 默认为1，显示进度提示
	    	    success: function (res) {
	    	        var serverId = res.serverId; // 返回图片的服务器端ID
	    	        $.post(posturl+"&"+uptype+"="+serverId, function(result){
	    	        	if(uptype=='room_icon')
	    	        	  $(".img_logo").attr('src',result.data);
	    	        	else if(uptype =='bg_img'){
	    	        		$(".img_logo1").attr('src',result.data);
	    	        		$("#img_desc").hide();
	    	        	}else
	    	        		$(".img_qrcode").attr('src',result.data);
	    	        });
	    	    }
	    	});
	    }
	});
}
function chooseImage2(uptype){
	wx.chooseImage({
	    count: 1, 
	    sizeType: ['compressed'], // 可以指定是原图还是压缩图，默认二者都有
	    sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
	    success: function (res) {
	       var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
	       var firstId=localIds.toString();
	       wx.uploadImage({
	    	    localId: firstId, // 需要上传的图片的本地ID，由chooseImage接口获得
	    	    isShowProgressTips: 1, // 默认为1，显示进度提示
	    	    success: function (res) {
	    	        var serverId = res.serverId; // 返回图片的服务器端ID
	    	        $.post(posturl+"&"+uptype+"="+serverId, function(result){ 
	    	        	$(".album-smbit").append('<dd class="album-item album-img" style="background-image: url(' + result.imgurl+ ');"></dd>');
	    	        });
	    	    }
	    	});
	    }
	});
}
function del(obj,num){
	$(".popup").show();
	$("#submit").click(function(){
		$(".popup").hide();
		$(obj).parent().remove();
	});
	$("#cancel").click(function(){
		$(".popup").hide();
		obj ='';
	});
	// if(confirm("确认删除吗?")){
	// 	$(obj).parent().remove();
	// }
}
$(function(){
	if(tags!=''){
		var tagsarray=tags.split(',');
		for(i=0;i<tagsarray.length;i++){
			$(".tags_"+tagsarray[i]).addClass("active");
		}
	}
	$(".setIcon").click(function(){
		chooseImage('bg_img');
	});
	$(".changeLiveLogo").click(function(){
		$(".changeFLogoBox").toggle();
	});
	$(".uploadStatus2").click(function(){
		 chooseImage('room_icon');
	});
	
	$(".live_code").click(function(){
		$(".forumQRBox").toggle();
	});
	
	$(".logo_QRcode").click(function(){
		 chooseImage('qrcode_url');
	});
	
	
	$(".gene_cancel").click(function(){
		$(".geneBox").hide();
	});
	
	$(".changeFLogoBox .gene_confirm").click(function(){
		$(".geneBox").hide();
	});
	
	$(".changeLiveName").click(function(){
		$(".changeFNameBox").toggle();
	});
	
	$(".changeLiveIntroduce").click(function(){
		$(".changeFIntroduceBox").toggle();
	});
	
	$(".changeFNameBox .gene_confirm").click(function(){
		if($(".live_name_input").val()==''){
			return false;
		}
		$.post(posturl+"&room_name="+$(".live_name_input").val(), function(result){
        	 $(".changeLiveName p").eq(0).text(result.data);
        	 $(".live_name_input").val('');
        });
		
		$(".geneBox").hide();
	});

	$(".reward_tag").click(function(){
		if($(this).hasClass('active')){
			$(this).removeClass('active');
			return;
		}else{
			$(this).addClass("active");
		}
		var size=$(".reward_tag.active").size();
		if(size==3){
			$(".popup_tips").text('最多选择2个标签');
            $(".popup_tips").show();
            setTimeout(function(){$(".popup_tips").hide();}, 1000); 
			$(this).removeClass('active');
			return;
		}
	});

	$(".changeFIntroduceBox .gene_confirm").click(function(){
		if($(".reply_textarea").val()==''){
			return false;
		}
		
		$.post(posturl+"&room_desc="+$(".reply_textarea").val(), function(result){
        	 $(".changeLiveIntroduce p").eq(0).text(result.data);
        	 $(".reply_textarea").val('');
        });
		
		$(".geneBox").hide();
	});
	$(".lesson_before").click(function(){
		$.post(posturl,{lesson_before:true}, function(result){
			result.data = result.data==1?'已开启':'未开启';
        	 $(".lesson_before p").eq(0).text(result.data);
        });
	})
	$('.wt_btn_1').click(function(){
		var size=$(".reward_tag.active").size();
		if(size==0){
			$(".popup_tips").text("必须选择分类标签");
            $(".popup_tips").show();
            setTimeout(function(){$(".popup_tips").hide();}, 1000);
			return false;
		}
		var imgurls=[];
		$(".album-img").each(function(){
			var img=$(this).css("background-image");
			imgurls.push(img.split("(")[1].split(")")[0]);
			imgurls.join(",");
		});
		var reward_tags=new Array();
		$(".reward_tag.active").each(function(){
			reward_tags.push($(this).attr('attr-id'));
		});
		 
		reward_tags=reward_tags.join(',');
		var postdata = {chat_imgs:imgurls,reward_tags:reward_tags};
		$.post(posturl,postdata, function(result){
        	 location.href =room_url;
        });
	});
	
	
	
});
</script>
<style>
	.icon-show{
display: inline-block;
    width: 3.5rem;
    height: 2rem;
    overflow: hidden;
    margin-left: 1rem;
}
</style>
</head>
<body class="gary">

	<div id="" class="main_box_4">
		<ul class="nav_list list_1">
			<li><span class="title_2">直播间图标</span><span class="flex"><a class="list_btn_2 changeLiveLogo" href="javascript:;"><i class="live_logoshow"><img class="img_logo" src="{$chat_room['room_icon']}"></i></a></span></li>
			<li><span class="title_2">直播间名称</span><span class="flex"><a class="list_btn_1 changeLiveName" href="javascript:;"><p>{$chat_room['room_name']}</p></a></span></li>
			<li><span class="title_2">直播间简介</span><span class="flex"><a class="list_btn_1 changeLiveIntroduce" href="javascript:;"><p>{$chat_room['room_desc']}</p></a></span></li>
			<li>
				<label class="title_2">直播间背景</label>
				<span class="flex"><a href="javascript:;" class="list_btn_1 setIcon">
				<span id="img_desc">建议640*340</span>
				<i class="icon-show" style="display:bolck">
				<img class="img_logo1" src="{$chat_room['bg_img']}" width="100%"></i></a></span>
			</li>
			<dl class="album-smbit">
				<dt>概要图片</dt>
				<dd class="album-item album-add" onclick="chooseImage2('produce');"></dd>
				{if !empty($chat_room['chat_imgs'])}
				{$dd}
				{/if}
			</dl>
			
			{if $qr_code==2}
			<li><span class="title_2">设置公众号二维码</span><span class="flex"><a class="list_btn_1 live_code" href="javascript:;"><i class="ico_QR_code"></i></a></span></li>
			{/if}
			<li><span class="title_2">管理员</span><span class="flex"><a class="list_btn_1" href="{$roommanager_url}">
			<i class="live_managershow"><img src="{$chat_room['create_avatar']}"></i>
			{loop $room_nanager $manager}
			  <i class="live_managershow"><img src="{$manager['manage_avatar']}"></i>
			{/loop}
			</a></span></li>
			<li><span class="title_2">直播间禁言用户管理</span><span class="flex"><a class="list_btn_1" href="{$blacks_url}"></a></span></li>
			{if $is_supermanager || $is_creater}
			  <li><span class="title_2">本直播间可提现金额</span><span class="flex"><a class="list_btn_1" href="{$roomcash_url}"><p><var>{$room_cash}</var>元</p></a></span></li>
		       <li><span class="title_2" attr-npval="penny">赞赏功能</span>
		       <span class="flex"><a class="list_btn_1 newPointBtn" attr-npval="penny" href="{php echo $this->createMobileUrl('reward_setting',array('room_id'=>$room_id))}"><p>{if $chat_room['reward_status']==1}已开启{else}未开启{/if}</p></a></span>
		       </li>
			<li><span class="title_2" attr-npval="penny">直播间分佣</span>
				<span class="flex"><a class="list_btn_1 newPointBtn" attr-npval="penny" href="{php echo $this->createMobileUrl('subcom_setting',array('room_id'=>$room_id))}"><p>{if $chat_room['subcom_status']==1}已开启{else}未开启{/if}</p></a></span>
			</li>{/if}

			<li><span class="title_2" attr-npval="penny">课前关注</span>
				<span class="flex"><a class="list_btn_1 lesson_before" attr-npval="penny" href="javascript:;"><p>{if $chat_room['is_sub']==1}已开启{else}未开启{/if}</p></a></span>
			</li>

			<li class="tag-box">
                <p class="title_2">直播间分类标签(最多两个)：</p>
                <div style="padding:0 1rem;">
                 <style>
                 .nav_list li.tag-box{display: block;}
                 .reward_tag{padding: 4px 10px;display: inline-block;border:1px solid #aaa;color: #808080;margin-top: 10px;}
                 .reward_tag:active,.reward_tag.active{background: #f19937;color: #fff;border-color:#f19937;}
                 </style>  
                 {loop $tag_record  $trecord}
					 <span class="reward_tag tags_{$trecord['id']}" attr-id="{$trecord['id']}">{$trecord['tag_name']}</span>
				{/loop}
                </div>
            </li>
		</ul>
		<div class="submit_box">
			<a class="wt_btn_1" href="javascript:;">保存并返回直播间</a>
		</div>
	</div>

<!--修改logo-->
<div class="geneBox changeFLogoBox" style="/* display: block; */">
	<div class="main">
	<div class="gene_content">
		<span class="change_img_box change_live_logo" style="overflow: hidden;">
			<img src="{$chat_room['room_icon']}" class="img_logo"><i class="marker" style="display:none;"></i>
		</span>
		
		<span class="upload_status uploadStatus2">点击上传图片</span>
	</div>
	<div class="gene_bottom both">
		<span><a href="javascript:;" class="gene_btn gene_cancel">取消</a></span>
		<span><a href="javascript:;" class="gene_btn gene_confirm">确定</a></span>
	</div>
	</div>
</div>

<!--修改名字-->
<div class="geneBox changeFNameBox">
	<div class="main">
	<div class="gene_content">
		<div class="gene-textarea">
		<input class="live_name_input" value="{$chat_room['room_name']}" placeholder="请输入直播间名称,最多输入32个字" onkeyup=" if($(this).val().length &gt; 32) $(this).val($(this).val().substr(0,32))">
		</div>
	</div>
	<div class="gene_bottom both">
		<span><a href="javascript:;" class="gene_btn gene_cancel">取消</a></span>
		<span><a href="javascript:;" class="gene_btn gene_confirm">确定</a></span>
	</div>
	</div>
</div>

<!--修改简介-->
<div class="geneBox changeFIntroduceBox" style="display: none;">
	<div class="main">
	<div class="gene_content">
		<div class="gene-textarea">
		<textarea class="reply_textarea" placeholder="请输入直播间简介,最多输入200个字" onkeyup=" if($(this).val().length &gt; 200) $(this).val($(this).val().substr(0,200))">{$chat_room['room_desc']}</textarea>
		</div>
	</div>
	<div class="gene_bottom both">
		<span><a href="javascript:;" class="gene_btn gene_cancel">取消</a></span>
		<span><a href="javascript:;" class="gene_btn gene_confirm">确定</a></span>
	</div>
	</div>
</div>

<!--查看论坛QR-->
<div class="geneBox forumQRBox">
	<div class="main">
		<div class="gene_content">
			<span class="change_img_box logo_QRcode">
				<img class="img_qrcode" src="{$chat_room['qrcode_url']}">
			</span>
		</div>
		<div class="gene_bottom">
			<span><a href="javascript:;" class="gene_btn gene_cancel">关闭</a></span>
		</div>
	</div>
</div>

<div id="geneQRcode" style="display: none;"></div>
<div class="loadingBox"><span></span></div>
<!-- 弹框 -->
<style>
.manage_bar .change:before{display: none;}
.lineText{ overflow: hidden;text-overflow: ellipsis;}
.lineText{ white-space: nowrap;}
   	.flex,.flexC{display: flex;}
    .flexC{flex-direction: column;}
    .flex>.sub,.flexC>.sub{flex:1;}
    .tc{text-align: center;}
    .mid{position: absolute;z-index: 1;border-radius: 6px;top: 50%;left: 50%;transform:translate(-50%,-50%);}
    .popup{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 10;}
    .popupbg{width: 100%;height: 100%;position: absolute;top: 0;left: 0;background: rgba(0, 0, 0, 0.5);}
    .popup_box{width: 70%;padding: 15px;background: #fff;}
    .popup_title{padding-bottom:10px;}
    .popup_content{padding: 15px 0;}
    .popup_btn{line-height: 36px;}
    .popup_btn div{padding: 0 10px;background: #f19937;color: #fff;border-radius: 6px; margin-top: 20px;}
    .popup_btn div:nth-child(2){border:1px solid  #f19937;color: #f19937;background: #fff;margin-left: 30px;}
    .popup_btn div:active{background: rgba(241, 153, 55, 0.8);}
    .popup_btn div:nth-child(2):active{background: rgba(241, 153, 55, 0.1);}
</style>
<div class="popup " style="display:none">
    <div class="popup_box flexC mid">
        <div class="popup_title tc gridXb">确认删除吗？</div>
<!--         <div class="popup_content sub"></div> -->
        <div class="popup_btn flex tc"><div class="sub" id="submit">确认</div><div class="sub" id="cancel">取消</div></div>
    </div>
    <div class="popupbg"></div>
</div>
<!-- 弹框 -->
<style>
    .mid{position: absolute;top: 50%;left: 50%;transform:translate(-50%,-50%);}
    .popup_tips{background: #3E454C;display: inline-block;font-size: 14px;color: #fff;line-height: 1.5;text-align: center;border-radius: 20px;padding: 5px 20px;}
</style>
<div class="popup_tips mid" style="display:none"></div>
</body></html>