<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>优惠劵中心</title>
    <link rel="stylesheet" href="{TEMPLATE_PATH}/font/iconfont.css" />
     <link rel="stylesheet" href="{TEMPLATE_PATH}/css/coupon_center.css" />
    <script src="{TEMPLATE_PATH}/js/zepto.min.js"></script>
     <script src="{TEMPLATE_PATH}/js/jquery.min.js"></script>
</head>

<body>
<div class="activity p15">
	<div class="Number bWhite arrow-r mb10">
			<a class="hi46 disb pl15 pr15 " href="{php echo $this->createMobileurl('my_coupon')}" style="color: #444;">点击查看已领取的优惠券</a>
		</div>
	<ul id="coupon">
		{loop $coupon_list $coupon}
		<li class="flex bWhite pr mb10 before after">
			
			<div class="fla flex-column-c">
				<span class="img" style="background-image: url({TEMPLATE_PATH}/images/translate.png);"</span>
			</div>
			<div class="info sub fl flex-column flex-jb ml15 mr10">
				<h2 class="f14 line-text" style="padding-left:10px;">{$coupon['coupon_name']}</h2>
				<p><span style="display:block;padding-left:10px;">{$coupon['coupon_money']}元</span><i class="ml5">{if $coupon['coupon_type']==2}无门槛使用{else}满{php echo (float)$coupon['full_money']}元可使用{/if}</i></p>
			</div>
			<div class="fra tc flex-column-c before">
			{if $coupon['coupon_number']}
				{if $coupon['count']}
					<div class="fraOVer flex-column-c h100 m-auto ">
						<div class="fraw flex-column-c pr before">
							<p class="bWhite">已领取</p>
						</div>							
					</div>
				{else}
					<div class="fraReceive">
						<div class="fraW pr flex-column-c  m-auto">
							<p>剩余</p>
							<p>{$coupon['coupon_number']}</p>
						</div>
						<a class="f12 blank" href="javascript:;" data="{$coupon['id']}" onclick="receive(this)">立即领取</a>
					</div>
				{/if}
			{else}
				<div class="fraOVer flex-column-c h100 m-auto ">
					<div class="fraw flex-column-c pr before">
						<p class="bWhite">已抢光</p>
					</div>							
				</div>
			{/if}

			</div>
		</li>
		{/loop}
		
	</ul>			
</div>
<div class="More tc pr">
		
		
	</div>
	<div class="tc" id="next">
		{if (int)$total>$psize}
		<span class="loading"></span>
		<p class="grey">正在加载~</p>
		{else}
		<p class="grey">已加载全部~</p>
		{/if}
	</div>	

<div style="height: 70px;"></div>
	
<div class="popup_tips mid" style="display:none"></div>
<!-- 返回首页悬浮框begin -->
	<div class="backHome">
		<a href="{php echo $this->createMobileUrl('index')}"><i class="iconfont icon-shouye1 iconHome"></i></a>
	</div>

<!-- 返回首页悬浮框end -->
</body>
<script>
var pindex = 1;
function pageLoadCommon(a, b) {
			a.scroll(function() {
				distanceScrollCount = document.body.scrollHeight;
				distanceScroll = document.body.scrollTop;
				topicPageHight = document.body.clientHeight;
				1 >= distanceScrollCount - distanceScroll - topicPageHight && b()
			})
}
function receive(obj){
	var coupon_id=$(obj).attr('data');
	var isloading=this.isloading||false,that=this;
	if(isloading == true){
		return;
	}

	this.isloading=true;
	$.post(location.href,{'receive':true,'coupon_id':coupon_id},function(res){
		if(res.success==1){
			$(obj).prev().children().last().text(res.circulation);
			$(obj).parent().parent().html('<div class="fraOVer flex-column-c h100 m-auto "><div class="fraw pr flex-column-c before"><p class="bWhite">已领取</p></div></div>');
		}else{
			$(".popup_tips").show();
			$(".popup_tips").text(res.msg);
			setTimeout(function(){
			$("popup_tips").hide();
			},500);
		}
		
		
	}).complete(function(){
		setTimeout(function(){
			that.isloading=false;
		},500);
	})
}
function getCouponHtml(List,Qindex){
	var html='';
	html+='<li class="flex bWhite pr mb10 before after"><div class="fla flex-column-c"><span class="img" style="background-image: url({TEMPLATE_PATH}/images/translate.png);"</span></div>';
	html+='<div class="info sub fl flex-column flex-jb ml15 mr10"><h2 class="f14 line-text" style="padding-left:10px;">'+List[Qindex].coupon_name+'</h2>';
	if(List[Qindex].coupon_type==2){
		html+='<p><span style="display:block;padding-left:10px;">'+List[Qindex].coupon_money+'元</span><i class="ml5">无门槛使用</i></p>';
	}else{
		html+='<p><span style="display:block;padding-left:10px;">'+List[Qindex].coupon_money+'元</span><i class="ml5">满'+parseInt(List[Qindex].full_money)+'元可使用</i></p>';
	}
		html+='</div><div class="fra tc flex-column-c before">';
	if(List[Qindex].coupon_number>0){
		if(List[Qindex].count==1){
			html+='<div class="fraOVer flex-column-c h100 m-auto "><div class="fraw pr flex-column-c before"><p class="bWhite">已领取</p></div></div>';
		}else{
			html+='<div class="fraReceive"><div class="fraW pr flex-column-c  m-auto"><p>剩余</p><p>'+List[Qindex].coupon_number+'</p></div>';
			html+='<a class="f12 blank" href="javascript:;" data="'+List[Qindex].id+'" onclick="receive(this)">立即领取</a></div>';
		}
	}else{
		html+='<div class="fraOVer flex-column-c h100 m-auto "><div class="fraw pr flex-column-c before"><p class="bWhite">已抢光</p></div></div>';
	}
	html+='</div></li>';
	
	return html;
}
function couponLoad(pindex){
	$.post(location.href,{'pindex':pindex},function(res){
		var coupon = res.list;
		if(jQuery.isEmptyObject(coupon)) {
			$("#next").html('<p class="grey">已加载全部</p>');
			return false;
		}else{
			var html='';
			for(var i=0;i<coupon.length;i++){
				html+=getCouponHtml(coupon,i);
			}
			$("#coupon").append(html);
			$("#next").html('<span class="loading"></span><p class="grey">已加载全部</p>');
		}
	})
}
$(function(){
	pageLoadCommon($(document), function() {
		pindex++;
		couponLoad(pindex);
	});
})
</script>
</html>
