<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>我的会员</title>
    <script src="{TEMPLATE_PATH}/js/zepto.min.js"></script>
</head>
<body>
</body>
<script>
    $.ajax({
        url: "https://ymxh.haoxh123.com/app/index.php?i=1&c=entry&do=ymxh_recommend&m=dg_chat&op=courses",
        type: "POST",
        data: {'type':'huan','page':0,'ping':'hot'},
        dataType: 'json',
        success: function(result){
            console.log(result);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.info("error.");
        }
    });
</script>
</html>
