<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>完善个人信息</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="format-detection" content="address=no">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<script type="text/javascript" src="{TEMPLATE_PATH}/js/zepto.min.js"></script>
<link rel="stylesheet" href="{TEMPLATE_PATH}/wtCommon.css?v={php echo time();}">
<link rel="stylesheet" href="{TEMPLATE_PATH}/live.css?v={php echo time();}">
<link rel="stylesheet" href="{TEMPLATE_PATH}/whisper.css?v={php echo time();}">
<script type="text/javascript">
$(function(){
	 $(".whisperOpen").click(function(){
		 var data={submit:true};
		 data.real_name=$("#real_name").val();
		 data.user_title=$("#user_title").val();
		 data.user_desc=$("#user_desc").val();

		 if(data.real_name==''){
		 	$(".popup_tips").text("请填写您的姓名！");
            $(".popup_tips").show();
            setTimeout(function(){$(".popup_tips").hide();}, 2000);
			 return;
		 }
		 if(data.user_title==''){
		 	$(".popup_tips").text("请填写您的头衔！");
            $(".popup_tips").show();
            setTimeout(function(){$(".popup_tips").hide();}, 2000);
			 return;
		 }
		 
		 $.post(location.href,data,function(result){
			 if(result.success==1){
			$(".popup_tips").text("保存成功");
            $(".popup_tips").show();
            setTimeout(function(){$(".popup_tips").hide();}, 2000);
				 location.href=result.data;
			     return;
			 }
			 $(".popup_tips").text(result.msg);
            $(".popup_tips").show();
            setTimeout(function(){$(".popup_tips").hide();}, 2000);
		 });
	 });
});

</script>
</head>

<body class="bind">

<section class="main_box_3">

<div>
	<div class="mine_header">
		<span class="mine_headerimg"><img src="{$head_imgurl}"></span>
		<span class="mine_headername">{$nickname}</span>
	</div>
</div>


<div class="section_setLivePeople1">
    <ul class="section_setLivePeople_ul">
        <li><p class="section_setLivePeople1_p"><span class="section_stp_span0">姓名</span>&nbsp;<span class="section_stp_span1">（8个汉字，16个英文字符）</span></p></li>
        <li><textarea id="real_name" class="whisper_name" placeholder="此处填写真实的姓名有利于学生更好的认识您">{$db_user['real_name']}</textarea></li>
    </ul>
</div>

<div class="section_setLivePeople1">
    <ul class="section_setLivePeople_ul">
        <li><p class="section_setLivePeople1_p"><span class="section_stp_span0">你的头衔</span>&nbsp;<span class="section_stp_span1">（18个字以内）</span></p></li>
        <li><textarea id="user_title" class="whisper_title" placeholder="可填写职称、职位、专家认证等、例如xxx公司总经理、xxxx医院主任医师，不可以为空">{$db_user['user_title']}</textarea></li>
    </ul>
</div>

<div class="section_setLivePeople1">
    <ul class="section_setLivePeople_ul">
        <li><p class="section_setLivePeople1_p"><span class="section_stp_span0">详细介绍下自己</span>&nbsp;<span class="section_stp_span1">（100个字以内）</span></p></li>
        <li><textarea id="user_desc" class="whisper_intro" placeholder="介绍下自己">{$db_user['user_desc']}</textarea></li>
    </ul>
</div>
</section>
<div class="wt_footer_set">
  <a href="javascript:;" class="wt_btn_set whisperOpen" attr-topicid="">确认接受邀请</a>
</div>
<div class="loadingBox"><span></span></div>
<!-- 弹框 -->
<style>
    .mid{position: absolute;top: 50%;left: 50%;transform:translate(-50%,-50%);}
    .popup_tips{background: #3E454C;display: inline-block;font-size: 14px;color: #fff;line-height: 1.5;text-align: center;border-radius: 20px;padding: 5px 20px;}
</style>
<div class="popup_tips mid" style="display:none"></div>	
</body></html>