<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>我的会员</title>
    <link rel="stylesheet" href="{TEMPLATE_PATH}/font/iconfont.css" />
    <script src="{TEMPLATE_PATH}/js/zepto.min.js"></script>
    <link rel="stylesheet" href="{TEMPLATE_PATH}/css/css1/style.css?v={php echo time();}">
     <link rel="stylesheet" href="{TEMPLATE_PATH}/css/vip.css?v={php echo time();}">
</head>
<script>
    var pay_status_url="{php echo $this->createmobileurl('pay_status')}";
var ti;
function pay_status(id){
    console.log(1)
    $.post(pay_status_url,{'id':id},function(res){
        if(res.success==1){
            //alert('购买成功');
            clearInterval(ti);
            location.href="{$topic_url}";
        }
    })
}
</script>
{php echo register_jssdk();}
<body>
<div id="box">
    <div class="Member_head" >
        <div class="Member_img touxiang"style="width:10rem">
            <span style="background-image: url({$avatar});position: relative;">
            	{if $user['info_status'] ==1}
            	<i style="font-size: 18px;position: absolute;right: 0;bottom: -10px;color: #f4ea2a;" class="iconfont icon-vip"></i>
            	{/if}
            </span>
            <p>{$nickname}</p>
            
        </div>
        
        <div style="width: 100%;text-align: center;height: 50px;line-height: 50px;color: #fff;">{if $user['info_status'] ==1}会员到期时间:{php echo date('Y-m-d H:i:s',$user['end_time'])} {/if}</div>
       
    </div>
    <div class='app-vip'>
    	<div class="vip-con">
	        <p class="tit mt20 f12">会员{if $user['info_status'] ==0}开通{else}续费{/if}</p>
	        <div class="pay_list">
	        	{loop $vip_list $key $vip}
	        	<div class="pay_item {if $key==0}active{/if}" data-id="{$vip['id']}" data-money="{$vip['money']}">
	        		<span class="price">￥{$vip['money']}</span>
	        		<span>{if $vip['type']==1}永久{else}{$vip['day']}天{/if}</span>
	        	</div>
	        	{/loop}
	        </div>
	        <input type="hidden" name="fl_id" id="fl_id" value="{$vip_list[0]['id']}">
	        <div class="btn"><button class="bgcolor write f10 reger">立即支付</button></div>

   		 </div>
    </div>
   
</div>
	
<div class="popup_tips mid" style="display:none"></div>
<!-- 返回首页悬浮框begin -->
<style>
	.backHome{
		width:40px;
		height:40px;
		border-radius: 50%;
		background: rgba(0,0,0,0.6);
		text-align: center;
		line-height: 40px;
		position: fixed;
		bottom:70px;
		right:15px;
		z-index: 100;
	}
	.backHome .iconHome{
		color:#fff;
		font-size: 24px;
	}


</style>
	<div class="backHome">
		<a href="{php echo $this->createMobileUrl('index')}"><i class="iconfont icon-shouye1 iconHome"></i></a>
	</div>
<div id="erweima" style="position:fixed;top:0;width:100%;max-width: 640px;height:100vh;background:rgba(0,0,0,0.5);display:none;">
        <div style="position:absolute;top:50%;left:50%;margin-left:-150px;margin-top:-150px">
        <img style="width:300px;height:300px;" src="" id="code_img" alt="">
            <div style="text-align:center;width:100%;color:#fff;margin-top:10px">请使用微信扫描二维码支付</div>
        </div>
           
</div> 
<!-- 返回首页悬浮框end -->
</body>
<script>
	var mini_pay = false;
	wx.ready(function () {s
		mini_pay=window.__wxjs_environment === 'miniprogram';
	});
    var fl_id;
    var money;
    $(".app-vip .pay_list .pay_item").click(function () {
        $(this).addClass("active").siblings().removeClass("active");
        fl_id=$(this).attr('data-id');
        money=$(this).attr('data-money');
        changreger(fl_id,money);
    })
    function changreger(fl_id,money){
        $("#fl_id").val(fl_id);
        //$(".reger").text("充值"+money+"元");
    }
    function jsApiCall(res){
	pay = eval("(" + res.jsApiParameters + ")");
        WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                pay,
                function(res){
                    WeixinJSBridge.log(res.err_msg);
                    $(".reger").removeAttr("disabled");
                    if(res.err_msg == "get_brand_wcpay_request:ok") {
                        location.reload();
                    } else if(res.err_msg == "get_brand_wcpay_request:cancel"){
                        $(".popup_tips").show();
						$(".popup_tips").text('取消付费');
						setTimeout(function(){$(".popup_tips").hide()},1500);
                    }else{
                       alert(JSON.stringify(res));
                    }
                });
    }
    function callpay(pay)
    {
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        }else{
            jsApiCall(pay);
        }
    }
    $(".reger").click(function(){
        $(".reger").attr("disabled",true);
        $.post(location.href,{'pay':true,fl_id:$("#fl_id").val(),'mini_pay':mini_pay},function(result){
        	if(result.success==1){
				var url = result.topic_url;
				url =  encodeURIComponent(url);
				wx.miniProgram.navigateTo({url:'/dg_live/pages/pay/index?num='+result.out_trade_no+'&uniacid='+'{$uniacid}'+'&mini_url='+url})
			}else if(result.success == -1){
				if(parseInt("{$is_ag}")==2){
                        callpay(result);
                    }else{
                        $("#code_img").attr('src',result.code_url);

                        $('#erweima').show();
                        ti=setInterval("pay_status("+result.order_id+")",1000);
                    }
			}else if (result.success == -2){
				$(".popup_tips").show();
				$(".popup_tips").text(result.msg);
				setTimeout(function(){$(".popup_tips").hide()},1500);
				//location.href = "{php echo $this->createMobileUrl('chat',array('topic_id'=>$topic_id))}";
			}
           
        })
    })
    function showTips(text,seconds){
        $(".cancle-tips").text(text);
        $(".cancle-tips").show();
        setTimeout(function(){
            $(".cancle-tips").hide();
        },seconds);
        $(".reger").attr("disabled",false);
    }
       $("#erweima").click(function(){
            $("#erweima").hide()
            clearInterval(ti);
        })
</script>
</html>
