<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>报名人员</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="format-detection" content="address=no">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="{TEMPLATE_PATH}/wtCommon.css?v={php echo time();}">
<link rel="stylesheet" href="{TEMPLATE_PATH}/live.css?v={php echo time();}">
<link rel="stylesheet" href="{TEMPLATE_PATH}/font/iconfont.css?v={php echo time();}">
<script type="text/javascript" src="{TEMPLATE_PATH}/js/zepto.min.js"></script>

<script type="text/javascript">
 function pageLoadCommon(a, b) {
     a.scroll(function() {
		distanceScrollCount = a[0].scrollHeight;
		distanceScroll = a[0].scrollTop;
		topicPageHight = a.height();
		//console.dir(distanceScrollCount +"-"+ distanceScroll +"-"+ topicPageHight+"="+(distanceScrollCount - distanceScroll - topicPageHight));
		2 >= distanceScrollCount - distanceScroll - topicPageHight && b()
	})
}
var pindex=1; 
function loadHtml(postData){
	  $.post(location.href, postData, function(result){
			$(".loading").hide();
			if(result.pages<postData.pindex){
				$(".noMore").show();
				return false;
			}
			pindex=result.pindex;
			var last_html="";
			for(var qindex in result.list){
			  last_html+=getHtml(qindex,result.list);
			}
			$(".people_info_box").append(last_html);
		});	
}
$(function(){
	pageLoadCommon($("#forumPageBox"),function(){
		  pindex++;
		  var postData={pindex: pindex};
		  loadHtml(postData);
	  });
});
function getHtml(qindex,list){
	var html= '';
	html+= '<dd><span class="people_pic"><img src="'+list[qindex].avatar+'"></span>';
	html+='<span class="people_name">'+list[qindex].nickname+'</span>';
	html+='</dd>';
	return html;
}
</script>
</head>
<body class="liveroom_bg">
<div class="main_box_4" id="forumPageBox"> 
	<!-- <p class="people_t">直播间管理员</p> -->
		<dl class="people_info_box">
			{if $people_list}
				<!-- <dd><span class="people_pic"><img src="{$chat_room['create_avatar']}"></span><span class="people_name">{$chat_room['create_nickname']}</span><span class="people_title">直播间创建人</span></dd> -->
				{loop $people_list $manager}
				<dd><span class="people_pic"><img src="{$manager['avatar']}"></span><span class="people_name">{$manager['nickname']}</span>
				</dd><!-- <span class="people_title">直播间管理员</span> -->
		        {/loop}
		        {else}
		       <span style="width: 100%;text-align: center;display:block;line-height: 300px; color:grey;">暂无报名人员</span>
		     {/if}
		</dl>
	<div style="height:5px;"></div>
	<style>
	.backHome{
		width:40px;
		height:40px;
		border-radius: 50%;
		background: rgba(0,0,0,0.6);
		text-align: center;
		line-height: 40px;
		position: fixed;
		bottom:100px;
		right:15px;
		z-index: 100;
	}
	.backHome .iconHome{
		color:#fff;
		font-size: 24px;
	}


</style>
	<div class="backHome">
		<a href="{php echo $this->createMobileUrl('index')}"><i class="iconfont icon-shouye1 iconHome"></i></a>
	</div>
</div>
<div class="loadingBox"><span></span></div>
</body></html>