<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>修改话题</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="format-detection" content="address=no">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="{TEMPLATE_PATH}/wtCommon.css?v={php echo time();}">
<script src="{TEMPLATE_PATH}/js/jquery.min.js"></script>
<script src="{TEMPLATE_PATH}/wtCommon.js"></script>
{php echo register_jssdk();}
<link rel="stylesheet" href="{TEMPLATE_PATH}/live.css?v={php echo time();}">

<script src="{TEMPLATE_PATH}/mobiscroll.custom-2.16.1.min.js"></script>
<link rel="stylesheet" href="{TEMPLATE_PATH}/mobiscroll.custom-2.16.1.min.css">
<script type="text/javascript">
function chooseImage2(){
	wx.chooseImage({
	    count: 1, 
	    sizeType: ['compressed'], // 可以指定是原图还是压缩图，默认二者都有
	    sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
	    success: function (res) {
	       var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
	       var firstId=localIds.toString();
	       wx.uploadImage({
	    	    localId: firstId, // 需要上传的图片的本地ID，由chooseImage接口获得
	    	    isShowProgressTips: 1, // 默认为1，显示进度提示
	    	    success: function (res) {
	    	        var serverId = res.serverId; // 返回图片的服务器端ID
	    	        $.post(location.href+"&serverid="+serverId, function(result){ 
	    	        	$(".img_logo").attr('src',result.imgurl);
	    	        	$("#img_desc").hide();
	    	        });
	    	    }
	    	});
	    }
	});
}
$(function(){
	$(".setIcon").click(function(){
		chooseImage2();
	});
});
</script>
<style type="text/css">
.icon-show{
display: inline-block;
    width: 3.5rem;
    height: 2rem;
    overflow: hidden;
    margin-left: 1rem;
}
.tagSelect {
    margin: 0 5px;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
}
.clearfix {
    display: block;
    zoom: 1;
}
.tagSelect span.active {
    background: #f19937;
    border-color: #f19937;
    color: #fff;
}
.tagSelect span {
    width: 25%;
    background: #fff;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-align: center;
    display: block;
    float: left;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
}
.item{
  margin-top:15px;
}
.item h3 {
    padding: 0 15px 10px;
}
</style>
</head><body>
	<div class="main_box_4 topic_create_box">
		<div class="topic_create_one live_nexttopic_set">
			<ul class="nav_list">
				<li class="webkitBox">
						<label class="title_2">话题封面</label>
						<span class="flex"><a href="javascript:;" class="list_btn_1 setIcon">
						<span id="img_desc">建议640*340</span>
						<i class="icon-show">
						<img class="img_logo" src="{$topic['topic_icon']}" width="100%"></i></a></span>
				</li>
				
				<li class="webkitBox">
						<label class="title_2">本期话题</label>
						<span class="flex"><a href="javascript:;" class="list_btn_1 setTalk"><p>{$topic['topic_name']}</p></a></span>
				</li>
				
				<li class="webkitBox">
						<label class="title_2">话题概要</label>
						<span class="flex"><a href="javascript:;" class="list_btn_1 setTalkDesc"><p>{$topic['topic_desc']}</p></a></span>
				</li>
				
			</ul>
			<dl class="album-smbit">
				<dt>概要图片</dt>
				<dd class="album-item album-add" onclick="chooseimagemo();"></dd>
				{if !empty($topic['topic_imgs'])}
				{$dd}
				{/if}
			</dl>
			
			
			<ul class="nav_list">
			<li class="webkitBox">
					<label class="title_2">歌手</label>
					<span class="flex"><a href="javascript:;" class="list_btn_1 setTalkGuest"><p>{$topic['guest_name']}</p></a></span>
			</li>
			
			<li class="webkitBox">
					<label class="title_2">歌手介绍</label>
					<span class="flex"><a href="javascript:;" class="list_btn_1 setTalkGuestInfo"><p>{$topic['guest_info']}</p></a></span>
			</li>
			</ul>
		  <ul class="nav_list">
			<li class="webkitBox">
					<label class="title_2">评论弹幕</label>
					<span class="flex"><a href="javascript:;" class="list_btn_1 setTalkDm">{if $topic['is_opendm']==1}已开启{else}已关闭{/if}</a></span>
			    </li>	
			</ul>
			
			<ul class="nav_list">
			<li class="webkitBox">
					<label class="title_2">开始时间</label>
					<span class="flex " style="position:relative;">
						<input type="text" class="date_time topicDateTime" placeholder="请选择时间" id="mobiscroll" readonly="" value="{$topic['begin_time']}">
					</span>
			</li>
			</ul>
			{if $topic["topic_style"]==2}
			<ul class="nav_list">
				
				<li class="webkitBox">
						<label class="title_2">推流地址</label>
						<span class="flex"><a href="javascript:;" class="list_btn_1 setTalkGuestInfo"><p>{$qc_data['pushurl']}</p></a></span>
				</li>
			</ul>
			{/if}
			{if $topic["topic_style"]==3}
			<ul class="nav_list" id="file_iddiv">
				
				<li class="webkitBox">
						<label class="title_2">腾讯视频ID</label>
						<span class="flex"><a href="javascript:;" class="list_btn_1 setFileid"><p>{$topic['file_id']}</p></a></span>
				</li>
				
			</ul>{/if}
			{if $topic["topic_style"]==4}
				<ul class="nav_list" id="file_iddiv">
				
				<li class="webkitBox">
						<label class="title_2">乐视视频ID</label>
						<span class="flex"><a href="javascript:;" class="list_btn_1 setFileid"><p>{$topic['vedioid']}</p></a></span>
				</li>
			</ul>
			{/if}
			{if $topic['topic_style'] == 5 }
				<ul class="nav_list" id="file_iddiv">
				
				<li class="webkitBox">
						<label class="title_2">乐视活动ID</label>
						<span class="flex"><a href="javascript:;" class="list_btn_1 setFileid"><p>{$topic['activityid']}</p></a></span>
				</li>
			</ul>
			{/if}
			{if $topic["topic_style"]==6}
			<ul class="nav_list" id="file_iddiv">
				
				<li class="webkitBox">
						<label class="title_2">第三方视频地址</label>
						<span class="flex"><a href="javascript:;" class="list_btn_1 setthirdurl"><p>{$topic['third_url']}</p></a></span>
				</li>
			</ul>
			{/if}
			{if $topic['topic_type'] == 'ticket'}
			<ul class="nav_list" id="file_iddiv">
				
				<li class="webkitBox">
						<label class="title_2">设置入场票费用</label>
						<span class="flex"><a href="javascript:;" class="list_btn_1 setpayprice"><p>{$topic['room_paymoney']}</p></a></span>
				</li>
			</ul>
			{/if}
			<div class="item">
			<h3><span class="fr gray f12">最多选择2个话题分类标签</span></h3>
					<div class="tagSelect clearfix">
					{loop $tag_record  $trecord}
						 <span class="reward_tag tags_{$trecord['id']}" attr-id="{$trecord['id']}">{$trecord['tag_name']}</span>
					{/loop}
					</div>
			</div>
			
			<div class="submit_box">
				<a class="wt_btn_1 setNewLiveNext" href="javascript:;">保存</a>
			</div>
		</div>
</div>


<!--修改话题名称-->
<div class="geneBox TopicNextTalkBox">
	<div class="main">
	<div class="gene_content">
		<div class="gene-textarea">
		<textarea class="nexttopic_talk_textarea nexttopic_talkname_textarea" value="" placeholder="请输入话题名称"></textarea>
		</div>
	</div>
	<div class="gene_bottom both">
		<span><a href="javascript:;" class="gene_btn gene_cancel">取消</a></span>
		<span><a href="javascript:;" class="gene_btn gene_confirm">确定</a></span>
	</div>
	</div>
</div>


<div class="geneBox TopicNextTalkDescBox">
	<div class="main">
	<div class="gene_content">
		<div class="gene-textarea">
		<textarea class="nexttopic_talkdesc_textarea nexttopic_talk_textarea" value="" placeholder="请输入话题概要"></textarea>
		</div>
	</div>
	<div class="gene_bottom both">
		<span><a href="javascript:;" class="gene_btn gene_cancel">取消</a></span>
		<span><a href="javascript:;" class="gene_btn gene_confirm">确定</a></span>
	</div>
	</div>
</div>

<div class="geneBox TopicNextTalkGuestBox">
	<div class="main">
	<div class="gene_content">
		<div class="gene-textarea">
		<textarea class="nexttopic_talkguest_textarea nexttopic_talk_textarea" value="" placeholder="请输入主讲人,多个请用空格隔开"></textarea>
		</div>
	</div>
	<div class="gene_bottom both">
		<span><a href="javascript:;" class="gene_btn gene_cancel">取消</a></span>
		<span><a href="javascript:;" class="gene_btn gene_confirm">确定</a></span>
	</div>
	</div>
</div>

<div class="geneBox TopicNextTalkGuestInfoBox">
	<div class="main">
	<div class="gene_content">
		<div class="gene-textarea">
		<textarea class="nexttopic_talkguestinfo_textarea nexttopic_talk_textarea" value="" placeholder="请输入主要讲人介绍信息"></textarea>
		</div>
	</div>
	<div class="gene_bottom both">
		<span><a href="javascript:;" class="gene_btn gene_cancel">取消</a></span>
		<span><a href="javascript:;" class="gene_btn gene_confirm">确定</a></span>
	</div>
	</div>
</div>
<!-- 回放 -->
<div class="geneBox TopicNextvedioBox">
	<div class="main">
	<div class="gene_content">
		<div class="gene-textarea">
		<textarea class="nexttopic_vedio nexttopic_talk_textarea" value="" placeholder="请输入腾讯视频id"></textarea>
		</div>
	</div>
	<div class="gene_bottom both">
		<span><a href="javascript:;" class="gene_btn gene_cancel">取消</a></span>
		<span><a href="javascript:;" class="gene_btn gene_confirm">确定</a></span>
	</div>
	</div>
</div>

<div class="geneBox fileid">
	<div class="main">
	<div class="gene_content">
		<div class="gene-textarea">
		<textarea class="nexttopic_talkguestinfo_textarea nexttopic_talk_textarea" value="" placeholder="请放置播放的id"></textarea>
		</div>
	</div>
	<div class="gene_bottom both">
		<span><a href="javascript:;" class="gene_btn gene_cancel">取消</a></span>
		<span><a href="javascript:;" class="gene_btn gene_confirm">确定</a></span>
	</div>
	</div>
</div>

<div class="geneBox thirdurl">
	<div class="main">
	<div class="gene_content">
		<div class="gene-textarea">
		<textarea class="nexttopic_talkthirdurl_textarea nexttopic_talk_textarea" value="" placeholder="请输入第三方视频地址"></textarea>
		</div>
	</div>
	<div class="gene_bottom both">
		<span><a href="javascript:;" class="gene_btn gene_cancel">取消</a></span>
		<span><a href="javascript:;" class="gene_btn gene_confirm">确定</a></span>
	</div>
	</div>
</div>
<!-- 收费类型 -->
<div class="geneBox TopicSale">
	<div class="main">
	<div class="gene_content">
		<div class="tit">
			<h3>输入金额</h3>			
		</div>
		<div class="gene-Min">
			<div class="text">
				<input type="text" placeholder="请输入金额~" class="course_sale">
			</div>
		</div>
	</div>
	<div class="gene_bottom both">
		<span><a href="javascript:;" class="gene_btn gene_cancel">取消</a></span>
		<span><a href="javascript:;" class="gene_btn gene_confirm">确定</a></span>
	</div>
	</div>
</div>
<!-- 弹框 -->
<style>
    .flex,.flexC{display: flex;}
    .flexC{flex-direction: column;}
    .flex>.sub,.flexC>.sub{flex:1;}
    .tc{text-align: center;}
    .mid{position: absolute;z-index: 1;border-radius: 6px;top: 50%;left: 50%;transform:translate(-50%,-50%);}
    .popup{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 10;}
    .popupbg{width: 100%;height: 100%;position: absolute;top: 0;left: 0;background: rgba(0, 0, 0, 0.5);}
    .popup_box{width: 70%;padding: 15px;background: #fff;font-size: 14px;}
    .popup_title{padding-bottom:10px;}
    .popup_content{padding: 15px 0;}
    .popup_btn{line-height: 36px;}
    .popup_btn div{padding: 0 10px;background: #f19937;color: #fff;border-radius: 6px; margin-top: 20px;}
    .popup_btn div:nth-child(2){border:1px solid  #f19937;color: #f19937;background: #fff;margin-left: 30px;}
    .popup_btn div:active{background: rgba(241, 153, 55, 0.8);}
    .popup_btn div:nth-child(2):active{background: rgba(241, 153, 55, 0.1);}
	.gridXb{ position: relative;}
	.gridXb::before{content:" "; display: block;width: 100%;height: 1px; position: absolute; background:#ececec; box-sizing: border-box;bottom: 0; -webkit-transform-origin: bottom center;transform-origin: bottom center;}



</style>
<div class="popup " style="display:none">
    <div class="popup_box flexC mid">
        <div class="popup_title tc gridXb">确认删除吗？</div>
<!--         <div class="popup_content sub"></div> -->
        <div class="popup_btn flex tc"><div class="sub" id="submit">确认</div><div class="sub" id="cancel">取消</div></div>
    </div>
    <div class="popupbg"></div>
</div>

<style>
    .mid{position: absolute;top: 50%;left: 50%;transform:translate(-50%,-50%);}
    .popup_tips{background: #3E454C;display: inline-block;font-size: 14px;color: #fff;line-height: 1.5;text-align: center;border-radius: 20px;padding: 5px 20px;}
</style>
<div class="popup_tips mid" style="display:none"></div>

<script type="text/javascript">
var tags="{$topic['tags']}";
function chooseImage(){
	var posturl=location.href;
	wx.chooseImage({
		count: 1,
		sizeType: ['compressed'], // 可以指定是原图还是压缩图，默认二者都有
		sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
		success: function (res) {
			var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
			var firstId=localIds.toString();
			wx.uploadImage({
				localId: firstId, // 需要上传的图片的本地ID，由chooseImage接口获得
				isShowProgressTips: 1, // 默认为1，显示进度提示
				success: function (res) {
					var serverId = res.serverId; // 返回图片的服务器端ID
					$.getJSON(posturl+"&mediaid="+serverId, function(result){
						$(".upload_topic_otherqr").empty();
						$(".upload_topic_otherqr").append('<img id="otherqr_logo" src="'+result.imgurl+'">');
						$("#qrcode_url").val(result.imgurl);
						$("otherqr").addClass('on');
					});
				}
			});
		}
	});
}
function chooseimagemo(){
	wx.chooseImage({
		count: 1,
		sizeType: ['compressed'], // 可以指定是原图还是压缩图，默认二者都有
		sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
		success: function (res) {
			var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
			var firstId=localIds.toString();
			wx.uploadImage({
				localId: firstId, // 需要上传的图片的本地ID，由chooseImage接口获得
				isShowProgressTips: 1, // 默认为1，显示进度提示
				success: function (res) {
					var serverId = res.serverId; // 返回图片的服务器端ID
					$.getJSON(location.href+"&mediaid="+serverId, function(result){
						$(".album-smbit").append('<dd class="album-item album-img" style="background-image: url(' + result.imgurl+ ');"><i onclick="del(this);"></i></dd>');
					});
				}
			});
		}
	})
}
function del(obj,num){
	$(".popup").show();
	$("#submit").click(function(){
		$(".popup").hide();
		$(obj).parent().remove();
	});
	$("#cancel").click(function(){
		$(".popup").hide();
		obj ='';
	});
	// if(confirm("确认删除吗?")){
	// 	$(obj).parent().remove();
	// }
}
$(function(){
	if(tags!=''){
		var tagsarray=tags.split(',');
		for(i=0;i<tagsarray.length;i++){
			$(".tags_"+tagsarray[i]).addClass("active");
		}
	}
	
	
	$(".reward_tag").click(function(){
		if($(this).hasClass('active')){
			$(this).removeClass('active');
			return;
		}else{
			$(this).addClass("active");
		}
		var size=$(".reward_tag.active").size();
		if(size==3){
			$(".popup_tips").text('最多只能选择2个标签');
			$(".popup_tips").show();
			setTimeout(function(){$(".popup_tips").hide()},2000);
			$(this).removeClass('active');
			return;
		}
	});
	
	$('.topicDateTime').mobiscroll().datetime({
        theme: "android-holo-light",
        mode: "scroller",
        display: "bottom",
        lang: "zh",
        minDate: new Date(),
        maxDate: new Date(new Date().setMonth(new Date().getMonth() + 6)),
        dateFormat:"yy-mm-dd",
        timeFormat:"HH:ii",
        stepMinute: 1  
    });
	
	$(".setTalkDm").click(function(){
		var text=$(this).text()=='已开启'?'已关闭':'已开启';
		$(this).text(text);
	});
	
	$(".passwordqr_choose").click(function(){
		chooseImage();
	});
	
	$(".setTalk").click(function(){
		$(".nexttopic_talkname_textarea").val($(this).text());
		$(".TopicNextTalkBox").toggle();
	});
	$(".setpayprice").click(function(){
		$(".course_sale").val($(this).text());
		$(".TopicSale").toggle();
	});
	
	$(".setTalkDesc").click(function(){
		$(".nexttopic_talkdesc_textarea").val($(this).text());
		$(".TopicNextTalkDescBox").toggle();
	});
	
	$(".setTalkGuest").click(function(){
		$(".nexttopic_talkguest_textarea").val($(this).text());
		$(".TopicNextTalkGuestBox").toggle();
	});
	
	$(".setTalkGuestInfo").click(function(){
		$(".nexttopic_talkguestinfo_textarea").val($(this).text());
		$(".TopicNextTalkGuestInfoBox").toggle();
	});
	
	
	$(".setFileid").click(function(){
		$(".nexttopic_vedio").val($(this).text());
		$(".TopicNextvedioBox").toggle();
	});

	$(".setthirdurl").click(function(){
		$(".nexttopic_talkthirdurl_textarea").val($(this).text());
		$(".thirdurl").toggle();
	});
	
	$(".gene_cancel").click(function(){
		$(".geneBox").hide();
	});
	
	$(".TopicNextTalkBox .gene_confirm").click(function(){
		var text=$(".nexttopic_talk_textarea").val();
		$(".setTalk p").eq(0).text(text);
		$(".geneBox").hide();
	});
	
	$(".TopicNextTalkDescBox .gene_confirm").click(function(){
		var text=$(".nexttopic_talkdesc_textarea").val();
		$(".setTalkDesc p").eq(0).text(text);
		$(".geneBox").hide();
	});
	
	$(".TopicNextTalkGuestBox .gene_confirm").click(function(){
		var text=$(".nexttopic_talkguest_textarea").val();
		$(".setTalkGuest p").eq(0).text(text);
		$(".geneBox").hide();
	});
	$(".thirdurl .gene_confirm").click(function(){
		var text=$(".nexttopic_talkthirdurl_textarea").val();
		$(".setthirdurl p").eq(0).text(text);
		$(".geneBox").hide();
	});
	
	$(".TopicSale .gene_confirm").click(function(){
		var text=$(".course_sale").val();
		$(".setpayprice p").eq(0).text(text);
		$(".geneBox").hide();
	});
	
	$(".TopicNextTalkGuestInfoBox .gene_confirm").click(function(){
		var text=$(".nexttopic_talkguestinfo_textarea").val();
		$(".setTalkGuestInfo p").eq(0).text(text);
		$(".geneBox").hide();
	});
		
	$(".setNewLiveNext,.backone").click(function(){
		if($(".setTalk p").eq(0).text()==''){
			$(".popup_tips").text('请设置本期话题!');
			$(".popup_tips").show();
			setTimeout(function(){$(".popup_tips").hide()},2000);
			return false;
		}
		if($(".setTalkDesc p").eq(0).text()==''){
			$(".popup_tips").text('请设置本期话题概要!');
			$(".popup_tips").show();
			setTimeout(function(){$(".popup_tips").hide()},2000);
			return false;
		}
		if($('.topicDateTime').val()==''){
			$(".popup_tips").text('请设置开始时间!');
			$(".popup_tips").show();
			setTimeout(function(){$(".popup_tips").hide()},2000);
			return false;
		}
		
		var size=$(".reward_tag.active").size();
		if(size==0){
			$(".popup_tips").text('必须选择话题分类标签!');
			$(".popup_tips").show();
			setTimeout(function(){$(".popup_tips").hide()},2000);
			return false;
		}
		var imgurls=[];
		$(".album-img").each(function(){
			var img=$(this).css("background-image");
			imgurls.push(img.split("(")[1].split(")")[0]);
			imgurls.join(",");
		});
		var Topic={};
		Topic.topic_name=$(".setTalk p").eq(0).text();
		Topic.topic_desc=$(".setTalkDesc p").eq(0).text();
		Topic.topic_imgs=imgurls;
		Topic.begin_time=$('.topicDateTime').val();
        Topic.is_opendm=$(".setTalkDm").text()=='已开启'?1:0;
		Topic.topic_icon=$(".img_logo").attr('src');
		Topic.guest_name=$(".setTalkGuest p").eq(0).text();
	    Topic.guest_info=$(".setTalkGuestInfo p").eq(0).text();
	    Topic.third_url = $('.setthirdurl p').eq(0).text();
	    Topic.room_paymoney = $(".setpayprice p").eq(0).text();
	    var reward_tags=new Array();
		$(".reward_tag.active").each(function(){
			reward_tags.push($(this).attr('attr-id'));
		});
		 
		reward_tags=reward_tags.join(',');
		Topic.tags=reward_tags;
	    
		var post_url=location.href+"&create=true";
		$.post(post_url,Topic,function(result){
			if(result.success==1){
				location.href=result.data;
			}else{
				alert(result.data);
			}
		});

	});

})
</script>

</body></html>