<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>创建直播话题</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="format-detection" content="address=no">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="{TEMPLATE_PATH}/wtCommon.css?v={php echo time();}">
<script src="{TEMPLATE_PATH}/js/jquery.min.js"></script>
<script src="{TEMPLATE_PATH}/wtCommon.js"></script>
{php echo register_jssdk();}
<link rel="stylesheet" href="{TEMPLATE_PATH}/live.css?v={php echo time();}">

<script src="{TEMPLATE_PATH}/mobiscroll.custom-2.16.1.min.js"></script>
<link rel="stylesheet" href="{TEMPLATE_PATH}/mobiscroll.custom-2.16.1.min.css">
<script type="text/javascript">
function chooseImage2(){
	wx.chooseImage({
	    count: 1, 
	    sizeType: ['compressed'], // 可以指定是原图还是压缩图，默认二者都有
	    sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
	    success: function (res) {
	       var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
	       var firstId=localIds.toString();
	       wx.uploadImage({
	    	    localId: firstId, // 需要上传的图片的本地ID，由chooseImage接口获得
	    	    isShowProgressTips: 1, // 默认为1，显示进度提示
	    	    success: function (res) {
	    	        var serverId = res.serverId; // 返回图片的服务器端ID
	    	        $.post(location.href+"&serverid="+serverId, function(result){ 
	    	        	$(".img_logo").attr('src',result.imgurl);
	    	        	$("#img_desc").hide();
	    	        });
	    	    }
	    	});
	    }
	});
}
$(function(){
	$(".setIcon").click(function(){
		chooseImage2();
	});
});
</script>
<style type="text/css">
.icon-show{
display: inline-block;
    width: 3.5rem;
    height: 2rem;
    overflow: hidden;
    margin-left: 1rem;
}
.tagSelect {
    margin: 0 5px;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
}
.clearfix {
    display: block;
    zoom: 1;
}
.tagSelect span.active {
    background: #f19937;
    border-color: #f19937;
    color: #fff;
}
.tagSelect span {
    width: 25%;
    background: #fff;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-align: center;
    display: block;
    float: left;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
}
.item{
  margin-top:15px;
}
.item h3 {
    padding: 0 15px 10px;
}
.tanceng{position:fixed;top:0px;left: 0px;width:100%;height: 100%;background: rgba(0,0,0,0.6);}
.tanceng .tanceng-box{position: absolute;top:50%;left: 50%;transform: translate(-50%,-50%);background: #fff;border-radius: 5px;text-align: center;width:80%;margin: 0px auto;min-height: 80px;}
.tanceng .tanceng-box p{font-size: 16px;padding: 30px 0px;}
.tanceng .btn{padding: 5px 0px;}
.tanceng .btn a{height: 40px;line-height: 40px;text-align: center;color:#48c23d;border-radius: 5px;display: block;margin: 0px auto;font-size: 16px;}
</style>
</head><body>
	<div class="main_box_4 topic_create_box">
		<div class="topic_create_one live_nexttopic_set">
			<ul class="nav_list">
				<li class="webkitBox">
						<label class="title_2">话题封面</label>
						<span class="flex"><a href="javascript:;" class="list_btn_1 setIcon">
						<span id="img_desc">建议700*563</span>
						<i class="icon-show">
						<img class="img_logo" width="100%"></i></a></span>
				</li>
				
				<li class="webkitBox">
						<label class="title_2">本期话题</label>
						<span class="flex"><a href="javascript:;" class="list_btn_1 setTalk"><p></p></a></span>
				</li>
				
				<li class="webkitBox">
						<label class="title_2">话题概要</label>
						<span class="flex"><a href="javascript:;" class="list_btn_1 setTalkDesc"><p></p></a></span>
				</li>
				
			</ul>
			<dl class="album-smbit">
				<dt>概要图片</dt>
				<dd class="album-item album-add" onclick="chooseimagemo();"></dd>
				{if !empty($topic['topic_imgs'])}
				{$dd}
				{/if}
			</dl>
			
			
			<ul class="nav_list">
			<li class="webkitBox">
					<label class="title_2">主讲人</label>
					<span class="flex"><a href="javascript:;" class="list_btn_1 setTalkGuest"><p></p></a></span>
			</li>
			
			<li class="webkitBox" >
					<label class="title_2">主讲人介绍</label>
					<span class="flex"><a href="javascript:;" class="list_btn_1 setTalkGuestInfo"><p></p></a></span>
			</li>
			</ul>
		  <ul class="nav_list">
			<li class="webkitBox">
					<label class="title_2">评论弹幕</label>
					<span class="flex"><a href="javascript:;" class="list_btn_1 setTalkDm">{if $topic['is_opendm']==1}已开启{else}已关闭{/if}</a></span>
			    </li>	
			</ul>
			
			<ul class="nav_list">
			<li class="webkitBox">
					<label class="title_2">开始时间</label>
					<span class="flex " style="position:relative;">
						<input type="text" class="date_time topicDateTime" placeholder="请选择时间" id="mobiscroll" readonly="" value="">
					</span>
			</li>
			</ul>
			
			<style>
				input.tStyle[type=radio],input.tStyle[type=checkbox]{border: 1px solid #ccc; width:18px; height:18px; position: relative;background: #fff;}
				input.tStyle[type=radio]{ border-radius: 50%;}
				input.tStyle[type=radio]:checked{ background: #f19937; border: none;}
				input.tStyle[type=checkbox]{border-radius:2px;}
				input.tStyle[type=checkbox]:checked{ border: none; background: #f19937;}
				/*input.tStyle[type=checkbox]:after,input.tStyle[type=radio]:after{ content:""; display: block; border:1px solid; border-color: transparent transparent #fff #fff; width:8px; height:5px; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-75%,-60%) rotate(-45deg);transform: translate(-75%,-60%) rotate(-45deg); -webkit-transform-origin: center top;transform-origin: center top; border-radius:1px;}*/
			</style>
			<ul class="nav_list">
				<li class="webkitBox flex2">
					<div><label class="title_2">直播间</label></div>
					<div style="flex: 1;margin-right:20px">
						<div style="display: flex;display: -webkit-flex;width:33%;float: left;">
							<label class="title_2" style="flex: 1;padding: 0 0.5rem 0 0.5rem;text-align: left;"><input type="radio" class="tStyle" name="topic_style" style="vertical-align: top; margin-top: 9px;" checked value="1" > 语音直播</label>
					</div>
						<div style="display: flex;display: -webkit-flex;width:33%;float: left;">
							<label class="title_2" style="flex: 1;padding: 0 0.5rem 0 0.5rem;text-align: left;"><input type="radio" class="tStyle" name="topic_style" style="vertical-align: top; margin-top: 9px;" value="{if $chat_type=='letv'}5{else}2{/if}" > 视频直播</label>
						</div>
						 <div style="display: flex;display: -webkit-flex;width:33%;float: left;">
							<label class="title_2" style="flex: 1;padding: 0 0.5rem 0 0.5rem;text-align: left;"><input type="radio" class="tStyle" name="topic_style" style="vertical-align: top; margin-top: 9px;" value="{if $chat_type=='letv'}4{else}3{/if}" > 录播视频</label>
						</div> 
					</div>
				</li>
			</ul>
			<ul class="nav_list activityid"  style="display: none;">
				<li class="webkitBox">
					<label class="title_2">乐视活动视频ID:</label>
					<span class="flex">
					<input type="text" style="width: 100%; border:none;" id="activityid" value=""></span>
				</li>
			</ul>
			<ul class="nav_list" id="file_iddiv" style="display: none;">
				<li class="webkitBox">
					<label class="title_2">{if $chat_type == 'letv'}乐视{else}腾讯{/if}视频ID:</label>
					<span class="flex">
					<input type="text" style="width: 100%; border:none;" id="file_id" value="{if $chat_type == 'letv'}{$topic['vedio_id']}{else}{$topic['file_id']}{/if}"></span>
				</li>
			</ul>

			<div class="item">
			<h3><span class="fr gray f12">最多选择2个话题分类标签</span></h3>
					<div class="tagSelect clearfix">
					{loop $tag_record  $trecord}
						 <span class="reward_tag tags_{$trecord['id']}" attr-id="{$trecord['id']}">{$trecord['tag_name']}</span>
					{/loop}
					</div>
			</div>
			
			<div class="submit_box">
				<a class="wt_btn_1 setNewLiveNext" href="javascript:;">{if !empty($series_id)}完成{else}下一步{/if}</a>
				{if !empty($series_id)}
					<input type="hidden" name="series_create" class="series_create">
				{/if}
			</div>
		</div>
		
		<div class="topic_create_two" style="display:none;">
			<span class="topic_create_t1">选择直播类型</span>
			<span class="topic_create_t2">选择后不能更改</span>
			<dl class="password_set">
			
			<dt>
				<span class="password_type password_public on" name="public"><var>公开直播</var></span>
				<span class="password_type password_random" name="password"><var>加密直播</var></span>
				<span class="password_type password_ticket" name="ticket"><var>付费直播</var></span>
			</dt>
				
				<dd class="password_tabbox">
					<div class="password_tab password_public_tab on" name="password_public">任何人都可以用链接进入直播<br>适合公开的直播分享</div>
					<div class="password_tab password_random_tab" name="password_random">
						<span class="password_title" attr-label="fixedp">设置一个固定密码</span>
						<input type="text" placeholder="支持英文和数字，不区分大小写，不支持特殊符号" value="" class="fixed_code_value fixedCodeValue" attr-id="" onkeyup=" if($(this).val().length &gt;= 12) $(this).val($(this).val().substr(0,12))">						
						<span class="password_title">设置听众获取密码提示</span>
						<span>
							<textarea placeholder="提示用户如何获取密码" class="topicpassword_tips"></textarea>
						</span>
						<div class="passwordqr_choose" style="display:block;">
							<div class="otherqr">
							<span class="upload_topic_otherqr" style="overflow: hidden;">
							
							</span>
							  上传二维码
							</div>
							<input type="hidden" id="qrcode_url" name="qrcode_url">
						</div>
					</div>
					<div class="password_tab password_ticket_tab" name="password_ticket">
						<span class="password_title" attr-label="fixedp">设置入场票费用</span>
						<span class="ticket_wkBox"><input type="number" placeholder="最小金额1元" value="" class="ticket_price_value ticket_boxFl TicketPriceValue" attr-id="" onkeyup=" if($(this).val().length &gt;= 12) $(this).val($(this).val().substr(0,12))">
						<i>元</i></span>
					</div>
				</dd>
			</dl>
			
			<div class="passwordqr_choose_box">
				<a href="javascript:;" class="backone">上一步</a><a class="setNewTopicBtn" href="javascript:;">完成</a>
			</div>	
		</div>
</div>


<!--修改话题名称-->
<div class="geneBox TopicNextTalkBox">
	<div class="main">
	<div class="gene_content">
		<div class="gene-textarea">
		<textarea class="nexttopic_talk_textarea nexttopic_talkname_textarea" value="" placeholder="请输入话题名称"></textarea>
		</div>
	</div>
	<div class="gene_bottom both">
		<span><a href="javascript:;" class="gene_btn gene_cancel">取消</a></span>
		<span><a href="javascript:;" class="gene_btn gene_confirm">确定</a></span>
	</div>
	</div>
</div>


<div class="geneBox TopicNextTalkDescBox">
	<div class="main">
	<div class="gene_content">
		<div class="gene-textarea">
		<textarea class="nexttopic_talkdesc_textarea nexttopic_talk_textarea" value="" placeholder="请输入话题概要"></textarea>
		</div>
	</div>
	<div class="gene_bottom both">
		<span><a href="javascript:;" class="gene_btn gene_cancel">取消</a></span>
		<span><a href="javascript:;" class="gene_btn gene_confirm">确定</a></span>
	</div>
	</div>
</div>

<div class="geneBox TopicNextTalkGuestBox">
	<div class="main">
	<div class="gene_content">
		<div class="gene-textarea">
		<textarea class="nexttopic_talkguest_textarea nexttopic_talk_textarea" value="" placeholder="请输入主讲人,多个请用空格隔开"></textarea>
		</div>
	</div>
	<div class="gene_bottom both">
		<span><a href="javascript:;" class="gene_btn gene_cancel">取消</a></span>
		<span><a href="javascript:;" class="gene_btn gene_confirm">确定</a></span>
	</div>
	</div>
</div>

<div class="geneBox TopicNextTalkGuestInfoBox">
	<div class="main">
	<div class="gene_content">
		<div class="gene-textarea">
		<textarea class="nexttopic_talkguestinfo_textarea nexttopic_talk_textarea" value="" placeholder="请输入主要讲人介绍信息"></textarea>
		</div>
	</div>
	<div class="gene_bottom both">
		<span><a href="javascript:;" class="gene_btn gene_cancel">取消</a></span>
		<span><a href="javascript:;" class="gene_btn gene_confirm">确定</a></span>
	</div>
	</div>
</div>
<div class="geneBox fileid">
	<div class="main">
	<div class="gene_content">
		<div class="gene-textarea">
		<textarea class="nexttopic_talkguestinfo_textarea nexttopic_talk_textarea" value="" placeholder="请输入主要讲人介绍信息"></textarea>
		</div>
	</div>
	<div class="gene_bottom both">
		<span><a href="javascript:;" class="gene_btn gene_cancel">取消</a></span>
		<span><a href="javascript:;" class="gene_btn gene_confirm">确定</a></span>
	</div>
	</div>
</div>

<div class="geneBox thirdurl">
	<div class="main">
	<div class="gene_content">
		<div class="gene-textarea">
		<textarea class="nexttopic_talkthirdurl_textarea nexttopic_talk_textarea" value="" placeholder="请输入第三方视频地址"></textarea>
		</div>
	</div>
	<div class="gene_bottom both">
		<span><a href="javascript:;" class="gene_btn gene_cancel">取消</a></span>
		<span><a href="javascript:;" class="gene_btn gene_confirm">确定</a></span>
	</div>
	</div>
</div>

<!-- 弹框 -->
<style>
    .flex,.flexC{display: flex;}
    .flexC{flex-direction: column;}
    .flex>.sub,.flexC>.sub{flex:1;}
    .tc{text-align: center;}
    .mid{position: absolute;z-index: 1;border-radius: 6px;top: 50%;left: 50%;transform:translate(-50%,-50%);}
    .popup{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 10;}
    .popupbg{width: 100%;height: 100%;position: absolute;top: 0;left: 0;background: rgba(0, 0, 0, 0.5);}
    .popup_box{width: 70%;padding: 15px;background: #fff;font-size: 14px;}
    .popup_title{padding-bottom:10px;}
    .popup_content{padding: 15px 0;}
    .popup_btn{line-height: 36px;}
    .popup_btn div{padding: 0 10px;background: #f19937;color: #fff;border-radius: 6px; margin-top: 20px;}
    .popup_btn div:nth-child(2){border:1px solid  #f19937;color: #f19937;background: #fff;margin-left: 30px;}
    .popup_btn div:active{background: rgba(241, 153, 55, 0.8);}
    .popup_btn div:nth-child(2):active{background: rgba(241, 153, 55, 0.1);}
	.gridXb{ position: relative;}
	.gridXb::before{content:" "; display: block;width: 100%;height: 1px; position: absolute; background:#ececec; box-sizing: border-box;bottom: 0; -webkit-transform-origin: bottom center;transform-origin: bottom center;}



</style>
<div class="popup " style="display:none">
    <div class="popup_box flexC mid">
        <div class="popup_title tc gridXb">确认删除吗？</div>
<!--         <div class="popup_content sub"></div> -->
        <div class="popup_btn flex tc"><div class="sub" id="submit">确认</div><div class="sub" id="cancel">取消</div></div>
    </div>
    <div class="popupbg"></div>
</div>

<style>
    .mid{position: absolute;top: 50%;left: 50%;transform:translate(-50%,-50%);}
    .popup_tips{background: #3E454C;display: inline-block;font-size: 14px;color: #fff;line-height: 1.5;text-align: center;border-radius: 20px;padding: 5px 20px;}
</style>
<div class="popup_tips mid" style="display:none"></div>

<script type="text/javascript">
	var series_id = "{$series_id}";
function chooseImage(){
	var posturl=location.href;
	wx.chooseImage({
	    count: 1, 
	    sizeType: ['compressed'], // 可以指定是原图还是压缩图，默认二者都有
	    sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
	    success: function (res) {
	       var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
	       var firstId=localIds.toString();
	       wx.uploadImage({
	    	    localId: firstId, // 需要上传的图片的本地ID，由chooseImage接口获得
	    	    isShowProgressTips: 1, // 默认为1，显示进度提示
	    	    success: function (res) {
	    	        var serverId = res.serverId; // 返回图片的服务器端ID
	    	        $.getJSON(posturl+"&mediaid="+serverId, function(result){
	    	        	$(".upload_topic_otherqr").empty();
	    	        	$(".upload_topic_otherqr").append('<img id="otherqr_logo" src="'+result.imgurl+'">');
	    	        	$("#qrcode_url").val(result.imgurl);
	    	        	$("otherqr").addClass('on');
	    	        });
	    	    }
	    	});
	    }
	});
}
function chooseimagemo(){
	wx.chooseImage({
		count: 1,
		sizeType: ['compressed'], // 可以指定是原图还是压缩图，默认二者都有
		sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
		success: function (res) {
			var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
			var firstId=localIds.toString();
			wx.uploadImage({
				localId: firstId, // 需要上传的图片的本地ID，由chooseImage接口获得
				isShowProgressTips: 1, // 默认为1，显示进度提示
				success: function (res) {
					var serverId = res.serverId; // 返回图片的服务器端ID
					$.getJSON(location.href+"&albumid="+serverId, function(result){
						$(".album-smbit").append('<dd class="album-item album-img" style="background-image: url(' + result.imgurl+ ');"></dd>');
					});
				}
			});
		}
	})
}
$("input:radio[name='topic_style']").change(function(){
		if($(this).val()==3 ||$(this).val()==4){
			$("#file_iddiv").css("display","block");
			$(".activityid").hide();
		}else if($(this).val() ==5 ){
			$(".activityid").show();
			$("#file_iddiv").css("display","none");
		}else{
			$("#file_iddiv").css("display","none");
			$(".activityid").hide();
		}

});
$(function(){
	$(".reward_tag").click(function(){
		if($(this).hasClass('active')){
			$(this).removeClass('active');
			return;
		}else{
			$(this).addClass("active");
		}
		var size=$(".reward_tag.active").size();
		if(size==3){
			$(".popup_tips").text('最多只能选择2个标签');
            $(".popup_tips").show();
            setTimeout(function(){$(".popup_tips").hide();}, 2000);
			$(this).removeClass('active');
			return;
		}
	});
	
	$('.topicDateTime').mobiscroll().datetime({
        theme: "android-holo-light",
        mode: "scroller",
        display: "bottom",
        lang: "zh",
        minDate: new Date(),
        maxDate: new Date(new Date().setMonth(new Date().getMonth() + 6)),
        dateFormat:"yy-mm-dd",
        timeFormat:"HH:ii",
        stepMinute: 1  
    });
	
	$(".passwordqr_choose").click(function(){
		chooseImage();
	});
	
	$(".setTalk").click(function(){
		$(".TopicNextTalkBox").toggle();
	});
	
	$(".setTalkDesc").click(function(){
		$(".TopicNextTalkDescBox").toggle();
	});
	
	$(".setTalkGuest").click(function(){
		$(".TopicNextTalkGuestBox").toggle();
	});
	
	$(".setTalkGuestInfo").click(function(){
		$(".TopicNextTalkGuestInfoBox").toggle();
	});
	
	$(".gene_cancel").click(function(){
		$(".geneBox").hide();
	});
	$(".setTalkDm").click(function(){
		var text=$(this).text()=='已开启'?'已关闭':'已开启';
		$(this).text(text);
	});
	
	$(".TopicNextTalkBox .gene_confirm").click(function(){
		var text=$(".nexttopic_talk_textarea").val();
		$(".setTalk p").eq(0).text(text);
		$(".geneBox").hide();
	});
	
	$(".TopicNextTalkDescBox .gene_confirm").click(function(){
		var text=$(".nexttopic_talkdesc_textarea").val();
		$(".setTalkDesc p").eq(0).text(text);
		$(".geneBox").hide();
	});
	
	$(".TopicNextTalkGuestBox .gene_confirm").click(function(){
		var text=$(".nexttopic_talkguest_textarea").val();
		$(".setTalkGuest p").eq(0).text(text);
		$(".geneBox").hide();
	});
	
	$(".TopicNextTalkGuestInfoBox .gene_confirm").click(function(){
		var text=$(".nexttopic_talkguestinfo_textarea").val();
		$(".setTalkGuestInfo p").eq(0).text(text);
		$(".geneBox").hide();
	});
		
	$(".setNewLiveNext,.backone").click(function(){
		if($(".setTalk p").eq(0).text()==''){
			$(".popup_tips").text('请设置本期话题!');
            $(".popup_tips").show();
            setTimeout(function(){$(".popup_tips").hide();}, 2000);
			return false;
		}
		if($(".setTalkDesc p").eq(0).text()==''){
			$(".popup_tips").text('请设置本期话题概要!');
            $(".popup_tips").show();
            setTimeout(function(){$(".popup_tips").hide();}, 2000);
			return false;
		}
		if($('.topicDateTime').val()==''){
			$(".popup_tips").text('请设置开始时间!');
            $(".popup_tips").show();
            setTimeout(function(){$(".popup_tips").hide();}, 2000);
			return false;
		}
		
		var size=$(".reward_tag.active").size();
		if(size==0){
			$(".popup_tips").text('必须选择话题分类标签');
            $(".popup_tips").show();
            setTimeout(function(){$(".popup_tips").hide();}, 2000);
			return false;
		}
		if(series_id !=''){
			$(".series_create").click();
			
		}else{
			$(".topic_create_one").toggle();
			$(".topic_create_two").toggle();
		}		
				

	});
	
	$(".password_type").click(function(){
		$(this).attr("disabled","true");
		$(".password_type").removeClass('on');
		$(this).addClass('on');
		$(".password_tab").hide();
		if($(this).hasClass('password_public')){
			$(".password_public_tab").show();
		}else if($(this).hasClass('password_random')){
			$(".password_random_tab").show();
		}else{
			$(".password_ticket_tab").show();
		}
	});
	//完成
	$(".setNewTopicBtn,.series_create").click(function(){
	  	var imgurls=[];
		$(".album-img").each(function(){
			var img=$(this).css("background-image");
			imgurls.push(img.split("(")[1].split(")")[0]);
			imgurls.join(",");
		});
		var Topic={topic_type:'public'};
		if($(".password_type.on").size()>0)
		    topic_type=$(".password_type.on").eq(0).attr('name');
		Topic.topic_name=$(".setTalk p").eq(0).text();
		Topic.topic_desc=$(".setTalkDesc p").eq(0).text();
		Topic.begin_time=$('.topicDateTime').val();
		Topic.is_opendm=$(".setTalkDm").text()=='已开启'?1:0;
		Topic.topic_type=topic_type;
		Topic.topic_imgs=imgurls;
		Topic.topic_icon=$(".img_logo").attr('src');
		Topic.guest_name=$(".setTalkGuest p").eq(0).text();
	    Topic.guest_info=$(".setTalkGuestInfo p").eq(0).text();
		Topic.topic_style=$("input:radio[name='topic_style']:checked").val();
		Topic.file_id=$("#file_id").val();
		Topic.activityid = $("#activityid").val();
	    var reward_tags=new Array();
		$(".reward_tag.active").each(function(){
			reward_tags.push($(this).attr('attr-id'));
		});
		 
		reward_tags=reward_tags.join(',');
		Topic.tags=reward_tags;
		
		if(Topic.topic_type=="password"){
		  Topic.room_password=$(".fixedCodeValue").val();
		  Topic.qrcode_desc=$(".topicpassword_tips").val();
		  Topic.qrcode_url=$("#qrcode_url").val();
		  if(Topic.room_password==''){
		  	$(".popup_tips").text('请设置密码！');
            $(".popup_tips").show();
            setTimeout(function(){$(".popup_tips").hide();}, 2000);
				return false;
		  }
		  if(Topic.qrcode_desc==''){
		  	$(".popup_tips").text('请设置密码提示！');
            $(".popup_tips").show();
            setTimeout(function(){$(".popup_tips").hide();}, 2000);
				return false;
		  }
		}
		if(Topic.topic_type=="ticket"){
			  Topic.room_paymoney=$(".TicketPriceValue").val();
			  if(Topic.room_paymoney==''){
			  	$(".popup_tips").text('请设置入场费用！');
            $(".popup_tips").show();
            setTimeout(function(){$(".popup_tips").hide();}, 2000);
					return false;
			  }
		}
		$(document).minTipsBox({
			tipsContent: "努力创建中..",
			tipsTime: 123
	  	});
		var post_url=location.href+"&create=true";
		$.post(post_url,Topic,function(result){
			$(".min_tips_box").remove();
			if(result.success==1){
				location.href=result.data;
			}else if(result.success==5){
				$("#tancengp").text(result.data);
				$("#tancenga").attr('href',result.turl);
				$("#tanceng").css("display","block");
			}else{
				$(".popup_tips").text(result.data);
            $(".popup_tips").show();
            setTimeout(function(){$(".popup_tips").hide();}, 2000);
			}
		});
           	
	});
})

</script>
<!--弹层start-->
<div class="tanceng" id="tanceng" style="display:none ">
	<div class="tanceng-box">
		<div class="colse"></div>
		<p id="tancengp" style="word-break: break-all;margin:0 10px;"></p>
		<p style="text-align:center; color:#999; padding:6px 0;">长按复制推流地址</p>
		<div class="btn gridXt">
			<a id="tancenga" href="">确定</a>
		</div>
	</div>
</div>
<!--弹层end-->

</body></html>