<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>标题</label>
	<div class="col-sm-9 col-xs-12">
		<input type="text" name="title" id="title" class="form-control" value="{$item['title']}" />
	</div>
</div>

<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>价格</label>
	<div class="col-sm-9 col-xs-12">
		<input type="text" name="money" id="money" class="form-control" value="{$item['money']}" />
	</div>
</div>

<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>户间数</label>
	<div class="col-sm-9 col-xs-12">
		<select class="form-control tpl-category-parent we7-select" id="roomid" name="roomid">
				<option value="0">请选择类型 </option>
				<option value="1" {if $item['roomid'] == 1} selected{/if}>1室</option>
				<option value="2" {if $item['roomid'] == 2} selected {/if}>2室</option>
				<option value="3" {if $item['roomid'] == 3} selected {/if}>3室</option>
				<option value="4" {if $item['roomid'] == 4} selected {/if}>4室</option>
				<option value="5" {if $item['roomid'] == 5} selected {/if}>5室</option>
				<option value="6" {if $item['roomid'] == 6} selected {/if}>5室以上</option>
				
			</select>
	

	</div>
</div>
<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>房型</label>
	<div class="col-sm-9 col-xs-12">
		<input type="text" name="roomtype" id="roomtype" class="form-control" value="{$item['roomtype']}" />
	</div>
</div>
<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>房源类型</label>
	<div class="col-sm-8 col-xs-12">
		<select class="form-control tpl-category-parent we7-select" id="housetype" name="housetype">
				<option value="0">请选择类型 </option>
				<option value="1" {if $item['housetype'] == 1} selected{/if}>住宅</option>
				<option value="2" {if $item['housetype'] == 2} selected {/if}>别墅</option>
				<option value="3" {if $item['housetype'] == 3} selected {/if}>公寓</option>
				<option value="4" {if $item['housetype'] == 4} selected {/if}>商铺</option>
				<option value="5" {if $item['housetype'] == 5} selected {/if}>写字楼</option>
				<option value="6" {if $item['housetype'] == 6} selected {/if}>酒店</option>
				<option value="7" {if $item['housetype'] == 7} selected {/if}>厂房</option>
				
			</select>
	</div>
</div>

<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">类型</label>
					<div class="col-sm-9 col-xs-12">
						 <label class='radio-inline'>
							 <input type='radio' name='letway' value=1 {if $item['letway']==1}checked{/if} /> 出售
						 </label>
						 <label class='radio-inline'>
							 <input type='radio' name='letway' value=2 {if $item['letway']==2}checked{/if} /> 出租
						 </label>
						 <label class='radio-inline'>
							 <input type='radio' name='letway' value=2 {if $item['letway']==3}checked{/if} /> 求购
						 </label>
						 <label class='radio-inline'>
							 <input type='radio' name='letway' value=2 {if $item['letway']==4}checked{/if} /> 求租
						 </label>
					</div>
				</div>
				
	
				
<div class="form-group">

		<label class="col-xs-12 col-sm-3 col-md-2 control-label">房源标签</label>
					<div class="col-sm-9 col-xs-12">
			<label class='radio-inline'><input {if $labellist } {if in_array('拎包即住',$labellist)} checked {/if}{/if} type="checkbox" name="houselabel[]" value="拎包即住" />拎包即住</label>
			<label class='radio-inline'><input {if $labellist } {if in_array('交通便利',$labellist)} checked {/if}{/if} type="checkbox" name="houselabel[]" value="交通便利" />交通便利</label>
			<label class='radio-inline'><input {if $labellist }{if in_array('设施齐全',$labellist)} checked {/if}{/if} type="checkbox" name="houselabel[]" value="设施齐全" />设施齐全</label>
			<label class='radio-inline'><input {if $labellist }{if in_array('随时看房',$labellist)} checked {/if}{/if} type="checkbox" name="houselabel[]" value="随时看房" />随时看房</label>
			<label class='radio-inline'><input {if $labellist }{if in_array('单身公寓',$labellist)} checked {/if}{/if} type="checkbox" name="houselabel[]" value="单身公寓" />单身公寓</label>
			<label class='radio-inline'><input {if $labellist }{if in_array('精装修',$labellist)} checked {/if}{/if} type="checkbox" name="houselabel[]" value="精装修" />精装修</label>
			<label class='radio-inline'><input {if $labellist }{if in_array('繁华地段',$labellist)} checked {/if}{/if} type="checkbox" name="houselabel[]" value="繁华地段" />繁华地段</label>
			<label class='radio-inline'><input {if $labellist }{if in_array('婚房出租',$labellist)} checked {/if}{/if} type="checkbox" name="houselabel[]" value="婚房出租" />婚房出租</label>
			<label class='radio-inline'><input {if $labellist }{if in_array('有钥匙',$labellist)} checked {/if}{/if} type="checkbox" name="houselabel[]" value="有钥匙" />有钥匙</label>

					</div>

</div>

<div class="form-group">
	
		<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>所属地区</label>
	<div class="col-sm-8 col-xs-12">
		<select class="form-control tpl-category-parent we7-select" id="houseareaid" name="houseareaid">
				<option value="0">请选择所属地区</option>
					{loop $arealist $vo}
				<option value="{$vo['id']}" {if $item['houseareaid'] == $vo['id']} selected {/if}>{$vo['name']}</option>
				{/loop}
				
				
			</select>
	</div>
</div>
<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>房源面积</label>
	<div class="col-sm-9 col-xs-12">
		<input type="text" name="area" id="area" class="form-control" value="{$item['area']}" />
	</div>
</div>

<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>房源楼层</label>
	<div class="col-sm-9 col-xs-12">
		<input type="text" name="floor" id="floor" class="form-control" value="{$item['floor']}" />
	</div>
</div>
<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>房源朝向</label>
	<div class="col-sm-9 col-xs-12">
		<input type="text" name="direction" id="direction" class="form-control" value="{$item['direction']}" />
	</div>
</div>
<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>房源装修</label>
	<div class="col-sm-8 col-xs-12">
		<select class="form-control tpl-category-parent we7-select" id="decorate" name="decorate">
				<option value="">请选择装修</option>
				<option value="简易装修" {if $item['decorate'] == '简易装修'} selected {/if}>简易装修</option>
				<option value="中档装修" {if $item['decorate'] == '中档装修'} selected {/if}>中档装修</option>
				<option value="高档装修" {if $item['decorate'] == '高档装修'} selected {/if}>高档装修</option>
				<option value="豪华装修" {if $item['decorate'] == '豪华装修'} selected {/if}>豪华装修</option>
				<option value="毛坯" {if $item['decorate'] == '毛坯'} selected {/if}>毛坯</option>
			
				
			</select>
	</div>
</div>
<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>房源年代</label>
	<div class="col-sm-9 col-xs-12">
		<input type="text" name="year" id="year" class="form-control" value="{$item['year']}" />
	</div>
</div>

<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>业主姓名</label>
	<div class="col-sm-9 col-xs-12">
		<input type="text" name="name" id="name" class="form-control" value="{$item['name']}" />
	</div>
</div>

<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>业主电话</label>
	<div class="col-sm-9 col-xs-12">
		<input type="text" name="tel" id="tel" class="form-control" value="{$item['tel']}" />
	</div>
</div>


<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>业主地址</label>
	<div class="col-sm-9 col-xs-12">
		<input type="text" name="address" id="address" class="form-control" value="{$item['address']}" />
	</div>
</div>









<input type="hidden" name="id" id="id" value="{$item['id']}"/>


<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label">首图</label>
	<div class="col-sm-9 col-xs-12">
		{php echo tpl_form_field_image('thumb', $item['thumb'], '', array('extras' => array('text' => 'readonly')))}
	</div>
</div>


<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label">内页滚动图片</label>
	<div class="col-sm-9 col-xs-12">
		{php echo tpl_form_field_multi_image('thumbs',$piclist)}
	</div>
</div>

<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label">详情介绍</label>
	<div class="col-sm-9 col-xs-12">
		{php echo tpl_ueditor('content', $item['content']);}
	</div>
</div>

<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">首页推荐</label>
					<div class="col-sm-9 col-xs-12">
						 <label class='radio-inline'>
							 <input type='radio' name='isrecommand' value=1 {if $item['isrecommand']==1}checked{/if} /> 是
						 </label>
						 <label class='radio-inline'>
							 <input type='radio' name='isrecommand' value=0 {if $item['isrecommand']==0}checked{/if} /> 否
						 </label>
					</div>
				</div>




<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">状态</label>
					<div class="col-sm-9 col-xs-12">
						 <label class='radio-inline'>
							 <input type='radio' name='status' value=0 {if $item['status']==0}checked{/if} /> 上架
						 </label>
						 <label class='radio-inline'>
							 <input type='radio' name='status' value=1 {if $item['status']==1}checked{/if} /> 下架
						 </label>
					</div>
				</div>


<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>排序</label>
	<div class="col-sm-9 col-xs-12">
		<input type="text" name="sort" id="sort" class="form-control" value="{$item['sort']}" />
	</div>
</div>


</div>


<script language="javascript">

	$(function () {
		var i = 0;
		$('#selectimage').click(function () {
			var editor = KindEditor.editor({
				allowFileManager: false,
				imageSizeLimit: '30MB',
				uploadJson: './index.php?act=attachment&do=upload'
			});
			editor.loadPlugin('multiimage', function () {
				editor.plugin.multiImageDialog({
					clickFn: function (list) {
						if (list && list.length > 0) {
							for (i in list) {
								if (list[i]) {
									html = '<li class="imgbox" style="list-type:none">' +
												'<a class="item_close" href="javascript:;" onclick="deletepic(this);" title="删除"></a>' +
												'<span class="item_box"> <img src="' + list[i]['url'] + '" style="height:80px"></span>' +
												'<input type="hidden" name="attachment-new[]" value="' + list[i]['filename'] + '" />' +
											'</li>';
									$('#fileList').append(html);
									i++;
								}
							}
							editor.hideDialog();
						} else {
							alert('请先选择要上传的图片！');
						}
					}
				});
			});
		});
	});

	function deletepic(obj) {
		if (confirm("确认要删除？")) {
			var $thisob = $(obj);
			var $liobj = $thisob.parent();
			var picurl = $liobj.children('input').val();
			$.post('{php echo $this->createMobileUrl('ajaxdelete',array())}', {pic: picurl}, function (m) {
				if (m == '1') {
					$liobj.remove();
				} else {
					alert("删除失败");
				}
			}, "html");
		}
	}

</script>