{template 'common/header'}

<ul class="nav nav-tabs">
	<li {if $operation == 'display'} class="active" {/if}><a href="{php echo $this->createWebUrl('nav',array('op' =>'display'))}">导航管理 </a></li>
	<li{if empty($adv['id']) && $operation == 'post'} class="active" {/if}><a href="{php echo $this->createWebUrl('nav',array('op' =>'post'))}">添加导航</a></li>
	{if !empty($adv['id']) &&  $operation == 'post'}<li  class="active"><a href="{php echo $this->createWebUrl('nav',array('op' =>'post','id'=>$adv['id']))}">编辑导航</a></li>{/if}
</ul>

{if $operation == 'display'}
<div class="main panel panel-default">
	<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th style="width:30px;">ID</th>
					<th>显示顺序</th>					
					<th>标题</th>
					<th>连接</th>
                  <th>是否显示</th>
					<th >操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $adv}
				<tr>
					<td>{$adv['id']}</td>
					<td>{$adv['displayorder']}</td>
					<td>{$adv['advname']}enabled</td>
					<td>{$adv['link']}</td>
                  <td>{if $adv['enabled']==1}
								<span class='label label-success'>是</span>
								{else}
								<span class='label label-danger'>否</span>
								{/if}</td>
					<td style="text-align:left;">
						<a href="{php echo $this->createWebUrl('nav', array('op' => 'post', 'id' => $adv['id']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="修改"><i class="fa fa-edit"></i></a>
						<a href="{php echo $this->createWebUrl('nav', array('op' => 'delete', 'id' => $adv['id']))}"class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="删除"><i class="fa fa-times"></i></a>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
		{$pager}
	</div>
</div>
<script>
	require(['bootstrap'],function($){
		$('.btn').hover(function(){
			$(this).tooltip('show');
		},function(){
			$(this).tooltip('hide');
		});
	});
</script>
{elseif $operation == 'post'}

<div class="main">
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" onsubmit='return formcheck()'>
		<input type="hidden" name="id" value="{$adv['id']}" />
		<div class="panel panel-default">
			<div class="panel-heading">
				导航设置
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="displayorder" class="form-control" value="{$adv['displayorder']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>导航标题</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" id='advname' name="advname" class="form-control" value="{$adv['advname']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">导航图片</label>
					<div class="col-sm-9 col-xs-12">
						{php echo tpl_form_field_image('thumb', $adv['thumb'])}
					</div>
				</div>
				 <div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">导航连接</label>
					<div class="col-sm-9 col-xs-12">
		


			<select class="form-control tpl-category-parent we7-select" id="link" name="link">
				<option value="">请选择类型 </option>
				<option value="toNewHouse" {if $adv['link'] == 'toNewHouse' } selected{/if}>新房模型</option>
				<option value="toOldHouse" {if $adv['link'] == 'toOldHouse'} selected{/if}>二手房模型</option>
				<option value="toLethouse" {if $adv['link'] == 'toLethouse'} selected{/if}>房屋出租模型</option>
				<option value="toArticle" {if $adv['link'] == 'toArticle'} selected{/if}>房屋买卖模型</option>
              	<option value="toShopsalelist" {if $adv['link'] == 'toShopsalelist'} selected{/if}>商铺买卖模型</option>
                 <option value="toBuesalelist" {if $adv['link'] == 'toBuesalelist'} selected{/if}>商业买卖模型</option>
                <option value="toCarsalelist" {if $adv['link'] == 'toCarsalelist'} selected{/if}>车库买卖模型</option>


				<option value="toMessage" {if $adv['link'] == 'toMessage'} selected{/if}>申请入驻模型</option>
				<option value="toAgentlist" {if $adv['link'] == 'toAgentlist'} selected{/if}>经纪人模型</option>
				<option value="toActive" {if $adv['link'] == 'toActive'} selected{/if}>购房活动模型</option>
			<option value="goPub" {if $adv['link'] == 'goPub'} selected{/if}>发布房源模型</option>
				<option value="toStorelist" {if $adv['link'] == 'toStorelist'} selected{/if}>门店模型</option>
				<option value="toHousemoney" {if $adv['link'] == 'toHousemoney'} selected{/if}>房货器模型</option>
               	<option value="toBusinesshouselist" {if $adv['link'] == 'toBusinesshouselist'} selected{/if}>商业地产模型</option>
               	<option value="toOldSaleHouse" {if $adv['link'] == 'toOldSaleHouse'} selected{/if}>急售房源模型</option>
               	<option value="toOldPayHouse" {if $adv['link'] == 'toOldPayHouse'} selected{/if}>拍卖房源模型</option>
               	<option value="toLetBusinessHouse" {if $adv['link'] == 'toLetBusinessHouse'} selected{/if}>商业出租模型</option>
                
                     <option value="toShopHouse" {if $adv['link'] == 'toShopHouse'} selected{/if}>商铺门面出售模型</option>
					<option value="toShopLetHouse" {if $adv['link'] == 'toShopLetHouse'} selected{/if}>商铺门面出租模型</option>
              <option value="toMyhousemsg" {if $adv['link'] == 'toMyhousemsg'} selected{/if}>我的预约模型</option>
              <option value="toFxuser" {if $adv['link'] == 'toFxuser'} selected{/if}>分销中心模型</option>
              <option value="toNewslist" {if $adv['link'] == 'toNewslist'} selected{/if}>房产资讯模型</option>
               	<option value="toInnerUrl" {if $adv['link'] == 'toInnerUrl'} selected{/if}>内连接模型</option>
				<option value="toMenuUrl" {if $adv['link'] == 'toMenuUrl'} selected{/if}>菜单连接模型</option>
		<option value="toWxapp" {if $adv['link'] == 'toWxapp'} selected{/if}>小程序跳转模型</option>


			</select>
					</div>
				</div>


				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red"></span>连接</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" id='innerurl' name="innerurl" class="form-control" value="{$adv['innerurl']}" />
											<span style="font-size:12px;color:red;">仅内连接、跳转小程序、菜单连接模型用到</span>

					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red"></span>appid</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" id='appid' name="appid" class="form-control" value="{$adv['appid']}" />
											<span style="font-size:12px;color:red;">跳转小程序appid</span>

					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red"></span>关联ID</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" id='cateid' name="cateid" class="form-control" value="{$adv['cateid']}"  style="width:100px;"/>
											<span style="font-size:12px;color:red;">目前仅门店模型用到</span>

					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否显示</label>
					<div class="col-sm-9 col-xs-12">
						<label class='radio-inline'>
							<input type='radio' name='enabled' value=1' {if $adv['enabled']==1}checked{/if} /> 是
						</label>
						<label class='radio-inline'>
							<input type='radio' name='enabled' value=0' {if $adv['enabled']==0}checked{/if} /> 否
						</label>
					</div>
				</div>
			</div>
		</div>
<div class="form-group col-sm-12">
	<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
	<input type="hidden" name="token" value="{$_W['token']}" />
	</div>
	</form>
</div>

<script language='javascript'>
	function formcheck() {
		if ($("#advname").isEmpty()) {
			Tip.focus("advname", "请填写幻灯片名称!");
			return false;
		}
		return true;
	}
</script>
{/if}
{template 'common/footer'}