html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0; font-family: inherit; font-size: 100%; font-style: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline; }
html { font-size: 62.5%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html,body{ width: 100%; height: 100%; font-size: 10px;}
body{ max-width: 640px; margin: 0 auto;}
*,*:before,*:after{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;-webkit-tap-highlight-color: rgba(0,0,0,0.05);}
article, aside, details, figcaption, figure, footer, header, main, nav, section { display: block; }
ol, ul { list-style: none;}
blockquote { padding: 15px 20px; margin: 15px 0 25px; border-left: 5px solid #F5CC36; background: #f6f6f6; }
img { border: 0; vertical-align: middle; }
/*clear clearfix*/
.clearfix:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { zoom: 1; }
/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body, button, input, select, textarea { font-family: 'Open Sans', Arial,"microsoft yahei", sans-serif; font-size: 14px; line-height: 1.6; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; }
h1, h2, h3, h4, h5, h6 {font-weight: 500; }
hr { background-color: #ccc; border: 0; height: 1px; margin-bottom: 1.5em; }
.hasstyle ul, .hasstyle ol { margin: 0 0 1.5em 3em; }
ul,ol,ul li,ol li{ margin: 0; padding: 0; list-style: none;}
.hasstyle ul ,.hasstyle ul li { list-style: disc; }
.hasstyle ol ,.hasstyle ol li { list-style: decimal; }
.hasstyleli > ul, .hasstyle li > ol { margin-bottom: 0; margin-left: 1.5em; }
dt { font-weight: bold; }
dd { margin: 0 1.5em 1.5em; }
figure { margin: 0; }
table { margin: 0 0 1.5em; width: 100%; }
th { font-weight: bold; }

/*定位和伪元素*/
.pr{position: relative;}
.before:before,.after:after{content: '';display: block;position: absolute;}

/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/
a { color: #fff; font-weight: 300; text-decoration: none; }
i{font-style: initial;}
/*--------------------------------------------------------------
commons
--------------------------------------------------------------*/
.float-box,.black-bg{ left: 0; top: 0; right: 0; bottom: 0;}
.black-bg,.float-mid,.anbox{ position: absolute;}
.float-box{position:fixed; z-index: 9999;}
.black-bg{background:rgba(0,0,0,0.8);}
.float-mid{ left: 50%; top: 50%; -webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.anbox{ width: 100%; height: 100%;}
.m-auto{ margin-left: auto; margin-right: auto;}
.img{background-position: center center;background-repeat: no-repeat;background-size: cover;display: block;}




/****************盒子布局*****************/
[class*=flex]{ display: -webkit-box;display: -webkit-flex;  display: -ms-flexbox; display: flex;/* width: 100%;*/}
[class*=flex] .sub{ -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; overflow: hidden;}
[class*=flex-wrap] {flex-wrap: wrap;}
[class*=flex-column]{-webkit-flex-direction: column; flex-direction: column;}
[class*=flex-column-c]{justify-content: center;}
[class*=flex-column-ja]{align-items: center;}
[class*=flex-jb]{justify-content: space-between;}
[class*=line-text]{ overflow: hidden;text-overflow: ellipsis;}
[class*=line-text-t]{ display: -webkit-box; -webkit-box-orient: vertical;box-orient: vertical;}
[class*=line-text-two]{ -webkit-line-clamp: 2;}
[class*=line-text-three]{ -webkit-line-clamp: 3;}
.line-text{ white-space:nowrap;}

/****************overflow*****************/
[class*=overflow]{overflow: hidden;}
[class*=overflow-x]{overflow-x: auto;}
[class*=overflow-y]{overflow-y: auto;}


/****************边框线*****************/
[class*=grid],[class*=arrow]{ position: relative;}
[class*=arrow]:before{ content: ""; position: absolute; display: block; width:7px; height: 7px; border:1px solid; border-color:#999 #999 transparent transparent; top: 50%;-webkit-transform:translateY(-50%) rotate(45deg);transform:translateY(-50%) rotate(45deg);  -webkit-transition: all 0.3s ease; transition: all 0.3s ease;}
[class*=arrow-r]:before{ right: 5px;}
.hi46{height: 46px;line-height: 46px;}
.fl { float:left; }
.tc { text-align:center; }


.f12{font-size: 12px;}
.f14{font-size: 14px;}

.m10{ margin:10px;}
.m15{ margin:15px;}
.mt15{ margin-top:15px;}
.mr10{ margin-right:10px;}
.mr15{ margin-right:15px;}
.mb10{ margin-bottom:10px;}
.mb15{ margin-bottom:15px;}
.ml5{ margin-left:5px;}
.ml15{ margin-left:15px;}
.p10{ padding:10px;}
.p15{ padding:15px;}
.pt10{ padding-top:10px;}
.pt15{ padding-top:15px;}
.pr10{ padding-right:10px;}
.pr15{ padding-right:15px;}
.pb10{ padding-bottom:10px;}
.pb15{ padding-bottom:15px;}
.pl5{ padding-left:5px;}
.pl10{ padding-left:10px;}
.pl15{ padding-left:15px;}

.bWhite{background: #fff;}

body{ background: #F5F5F5;}


/*****活动******/
.activity li{padding: 15px 10px 15px 15px;}
.activity li:before,.activity li:after{width:20px;height: 20px;background: #f5f5f5;border-radius: 50%;right: 96px;}
.activity li:before{top:-8px;}
.activity li:after{bottom:-8px;}
.activity li .fla .img{width: 70px;height: 70px;}
.activity .info{margin-right: 30px;}
.activity .info p{font-size: 20px;font-weight: bold;color:#f19937;}
.activity .info i{font-size: 12px;background:rgba(42,117,237,.1);padding: 5px 10px;border-radius: 3px;vertical-align: 3px;}
.activity .fra{width:80px;}
.activity .fra:before{width:1px;height:100%;border-left:2px dashed #f5f5f5;top:0;right: 105px;}
.activity .fraReceive .fraW{width:60px;height: 60px;border:4px solid #f19937;border-radius: 50%;border-bottom:4px solid #fff;}
.activity .fraReceive .fraW p{line-height: 20px;color:#f19937;}
.activity .fraReceive a{background: #f19937;padding: 3px 10px;border-radius: 100px;}

.activity .fraOver .fraw,.activity .fraOver .fraw{width: 60px;height: 60px;border:4px solid #ccc;border-bottom: 4px solid #fff;border-radius: 50%;}
.activity .fraOver .fraw:before,.activity .fraOVer .fraw:before{width:40px;height: 40px;background:#ccc;border-radius: 50%;position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.activity .fraOver p,.activity .fraOVer p{padding: 1px 10px;font-size: 12px;width: 136%;position: relative;z-index: 3;margin-left: -10px;}
.activity .fraOVer .fraw{width:80px;height: 80px;}
.activity .fraOVer .fraw:before{width:70px;height: 70px;border:4px dashed #d6d3d3;}
.activity .fraOVer p{font-size: 20px;width: 100%;color:#eaeaea;border-radius: 30px;margin-left: 0;}
.activity .fraOver a{background: #f19937;padding: 3px 10px;border-radius: 100px;}

.activity .fraOVer{border:2px solid #eaeaea;border-radius: 50%;-webkit-transform: rotate(30deg);transform: rotate(30deg);}
.activity .fraOVer .fraw:before{background:none;border:2px dashed #eaeaea;}


@media (max-width: 320px) {
	.activity li{padding: 10px;}
	.activity li:before,.activity li:after{width:14px;height: 14px;right: 86px;}
	.activity li .fla .img,.activity .fraOver .fraw{width: 50px;height: 50px;}
	.activity .info p{font-size: 18px;}
	.activity .info i{font-size: 12px;}
	.activity .fra{width:70px;}
	.activity .fraReceive .fraW{width:50px;height: 50px;font-size: 12px;}
	.activity .fraReceive .fraW p{line-height: 16px;}
	.activity .fraReceive a{padding: 1px 10px;}
	.activity .fra:before{right: 92px;}	
	
	.activity .fraOver .fraw:before{width:30px;height: 30px;}
	.activity .fraOver p{width: 162%;margin-left: -13px;}
}


.Number:before{right: 15px;}

/*****优惠劵******/
.CouponNav a{font-weight: 600;}
.CouponNav a i{font-weight: 100; padding-left: 5px;}
.CouponNav a.active,.CouponNav a.active i{color:#f19937;}
.CouponNav a:before{bottom: 0;left: 50%;-webit-transform: translateX(-50%);transform: translateX(-50%);width:0%;-webkit-transition: all 0.4s linear;transition: all 0.4s linear;background: #f19937;width:0;height: 1px;}
.CouponNav a.active:before{width: 50%;}

.CouponMin ul,.CouponMin li.bGrey a{display: none;}
.CouponMin ul.active{display: block;}
.CouponMin li.bGrey .fla:before{background: #ccc;}

.CouponMin li.bGrey i:before,.CouponMin li.bGrey i:after,.CouponMin li.bGrey i p,.CouponMin li.bGrey i.before{border-radius: 50%;}
.CouponMin li.bGrey i.before,.CouponMin li.bGrey i:after{border:2px solid #ccc;}
.CouponMin li.bGrey i.before{position: absolute;top: 0;right: -8px;width:70px;height: 70px;line-height:46px;color:#ccc;text-align: center;-webkit-transform: rotate(45deg);transform: rotate(45deg);z-index: 1;}
.CouponMin li.bGrey i:before,.CouponMin li.bGrey i:after,.CouponMin li.bGrey i p{position: absolute;top: 50%;left:50%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}

.CouponMin li.bGrey i:before{width:60px;height: 60px;border:2px dashed #ccc;}
.CouponMin li.bGrey i:after{width:40px;height: 40px;text-align: center;}
.CouponMin li.bGrey i.before p{background: #fff;font-size: 12px;z-index: 99;line-height: 20px;width: 56px;}
.CouponMin .info > div{position: relative;z-index: 4;}
.popup_tips {background: #3E454C;display: inline-block;font-size: 14px;color: #fff;line-height: 1.5;text-align: center;border-radius: 20px;padding: 5px 20px;z-index: 300}
	.mid {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
	.backHome{
		width:40px;
		height:40px;
		border-radius: 50%;
		background: rgba(0,0,0,0.6);
		text-align: center;
		line-height: 40px;
		position: fixed;
		bottom:110px;
		right:15px;
		z-index: 100;
	}
	.backHome .iconHome{
		color:#fff;
		font-size: 24px;
	}
