@charset "utf-8";
/*
Author: 夺冠互动
URI: http://www.duoguan.com
*/
/* CSS Document */
@import url("../images/font/iconfont.css");
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;text-size-adjust:100%;}
body,html{ width: 100%; height: 100%;}
*{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;-webkit-tap-highlight-color:rgba(255,255,255,0.1);}
body,html,div, p, ol, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td { margin: 0; padding: 0; }
img { border:none; vertical-align: middle; }
ol, ul, li { list-style-type: none; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
body, input, select, button, textarea {font-family:Tahoma,Microsoft yahei,sans-serif; font-weight: 300; }
button,input,textarea,select{ -webkit-appearance: none;appearance: none; border: none; resize: none; outline: none; background: none;}
.normal, em, i { font-style:normal; font-weight:normal; }
body { color:#333; line-height:160%;background:#fff; font-size: 14px; overflow: hidden; overflow-y: auto;}
table { border-collapse:collapse; border-spacing:0; }
p { word-wrap:break-word; }
a { color: #333; text-decoration:none;}
a:hover{ -webkit-tap-highlight-color:rgba(255,255,255,0.1);}
.clearfix { display:block; zoom:1; }
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; font-size:0; }
.fl{ float: left;}
.fr{ float: right;}
.tl{ text-align: left;}
.tc{ text-align: center;}
.tr{ text-align: right;}
.flex{ display: table; table-layout: fixed; width: 100%;}
.flex li{ display: table-cell;}
.flex li:last-child{ border-right: none;}
.normalColor{ color: #333;}
.red{ color: #ed5657;}
.yel{ color: #ffb03f;}
.darkGray{ color: #666;}
.blue{ color:#0085D7;}
.green{ color:#f19937;}
.gray{ color: #999;}
.m10{ margin: 10px;}
.m15{ margin: 15px;}
.m20{ margin: 20px;}
.mt5{ margin-top: 5px;}
.mb5{ margin-bottom: 5px;}
.mr5{ margin-right: 5px;}
.mr10{ margin-right: 10px;}
.mt10{ margin-top: 10px;}
.mt15{ margin-top: 15px;}
.ml5{ margin-left: 5px;}
.ml10{ margin-left: 10px;}
.ml15{ margin-left: 15px;}
.mt20{ margin-top: 20px;}
.mb10{ margin-bottom: 10px;}
.pt10{ padding-top: 10px;}
.p10{ padding: 10px;}
.pl10{ padding-left: 10px;}
.p15{ padding: 15px;}
.pb15{ padding-bottom: 15px;}
.f10{ font-size: 10px;}
.f12{ font-size: 12px;}
.f14{ font-size: 14px;}
.f16{ font-size: 16px;}
.f18{ font-size: 18px;}
.f20{ font-size: 20px;}
.f24{ font-size: 24px;}
.iconfont{ font-size: inherit;}
.delLine{ text-decoration: line-through;}

.tMain{ background: #fff;}
.tMain:after{ content: ""; height: 72px; display: block;}
.liveRoom{ width: 60px; height: 60px; border-radius: 50%; position: absolute; left: 20px; top: 20px; padding: 2px; background: #fff;-webkit-transition: all 0.3s ease 0.1s;transition: all 0.3s ease 0.1s;}
.liveRoom img{ border-radius: 50%;}
.liveRoomBox{ position: fixed; left: 0; top:50%; width:100%; height:100%; background: rgba(0,0,0,0.8); z-index: 998; display: block; -webkit-transform: translate(100%,-50%);transform: translate(100%,-50%);}
.liveRoomBox.tFadeIn{-webkit-animation:liveRoomBox 0.3s ease 0.3s forwards;animation:liveRoomBox 0.3s ease 0.3s forwards;}
@-webkit-keyframes liveRoomBox{
	0%{-webkit-transform: translate(100%,-50%)}
	100%{-webkit-transform: translate(0%,-50%)}
}
@keyframes liveRoomBox{
	0%{transform: translate(100%,-50%)}
	100%{transform: translate(0%,-50%)}
}
.liveRoomBox.tFadeOut{-webkit-animation:liveRoomBox2 0.5s ease 0.2s forwards;animation:liveRoomBox2 0.5s ease 0.2s forwards;-webkit-transform: translate(0%,-50%);transform: translate(0%,-50%);}
@-webkit-keyframes liveRoomBox2{
	0%{-webkit-transform: translate(0%,-50%)}
	100%{-webkit-transform: translate(100%,-50%)}
}
@keyframes liveRoomBox2{
	0%{transform: translate(0%,-50%)}
	100%{transform: translate(100%,-50%)}
}

.liveRoomBox .box{ position: absolute; width: 80%; background: #fff; border-radius: 5px; padding:40px 20px 20px; left: 50%; top: 50%; -webkit-transform: translate(100%,-50%);transform: translate(100%,-50%);}
.liveRoomBox .box.tFadeIn{-webkit-animation:lrbBox 0.5s ease 0.4s forwards;animation:lrbBox 0.5s ease 0.4s forwards;}
@-webkit-keyframes lrbBox{
	0%{-webkit-transform: translate(100%,-50%)}
	100%{-webkit-transform: translate(-50%,-50%)}
}
@keyframes lrbBox{
	0%{transform: translate(100%,-50%)}
	100%{transform: translate(-50%,-50%)}
}
.liveRoomBox .box.tFadeOut{-webkit-animation:lrbBox2 0.4s ease forwards;animation:lrbBox2 0.4s ease forwards;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
@-webkit-keyframes lrbBox2{
	0%{-webkit-transform: translate(-50%,-50%)}
	100%{-webkit-transform: translate(100%-50%)}
}
@keyframes lrbBox2{
	0%{transform: translate(-50%,-50%)}
	100%{transform: translate(100%,-50%)}
}

.liveRoomBox h2{ text-align: center; font-size: 18px; margin-bottom: 10px;}
.liveRoomBox .txt{ max-height:300px; overflow: hidden; overflow-y: auto; margin-bottom: 10px;}
.liveRoomBox .ma{text-align: center;}
.liveRoomBox .close{ position: absolute; top: 0; right: 0;}
.close{ width: 46px; height: 46px; -webkit-transform: scale(0.6);transform: scale(0.6); position: relative; background: #eee; border-radius: 50%;}
.close:after,.close:before{ content: ""; display: block; width: 2px; height:26px; background: #aaa; border-radius: 3px; position: absolute; left: 50%; top: 50%; -webkit-transform-origin: center center;transform-origin: center center;-webkit-transform:translate(-50%,-50%) rotate(-45deg);transform:translate(-50%,-50%) rotate(-45deg);}
.close:before{-webkit-transform:translate(-50%,-50%) rotate(45deg);translate(-50%,-50%) rotate(45deg);}


.tHeader{background: #000;}
.tHome .tit{ padding:15px 10px; position:relative;}
.tHome .tit:before{ content: ""; display: inline-block; vertical-align: top; margin-top: 4px; height: 14px; width: 4px; background: #f19937; margin-right: 6px; border-radius: 2px;}
.tHome ul{ padding-left: 10px;}
.tHome ul li{ padding-right:10px; width: 50%; float: left;}
.tHome .imgBox{ position: relative; height: 100px; overflow:hidden; background-position: center center; background-repeat: no-repeat; background-size: cover;}
.tHome .state{ position: absolute; right: 0; top: 0; background: rgba(0,0,0,0.6); padding:8px 12px; color: #ff0; font-size: 20px; border-radius: 0 0 0 6px; overflow: hidden; -webkit-transform-origin: right top;transform-origin: right top; -webkit-transform: scale(0.5);transform: scale(0.5);}
.tHome .state i{ display: inline-block; -webkit-animation: tState 3s ease infinite;animation: tState 3s ease infinite;}
@-webkit-keyframes tState{
	0%{ -webkit-transform: translate(0,0);}
	10%{ -webkit-transform: translate(0,-20%);}
	20%,100%{ -webkit-transform: translate(0,0);}
}
@keyframes tState{
	0%{ transform: translate(0,0);}
	10%{ transform: translate(0,-20%);}
	20%,100%{ transform: translate(0,0);}
}
.tHome .state i:nth-child(1){-webkit-animation-delay:0.2s;animation-delay:0.2s;}
.tHome .state i:nth-child(2){-webkit-animation-delay:0.4s;animation-delay:0.4s;}
.tHome .state i:nth-child(3){-webkit-animation-delay:0.6s;animation-delay:0.6s;}
.tHome .state i:nth-child(4){-webkit-animation-delay:0.8s;animation-delay:0.8s;}
.tHome .info{ position: absolute; left: 0; right: 0; bottom: 0; padding:2px 5px; color: #fff; background: rgba(0,0,0,0.6); font-size: 12px;}
.tHome .info span.pr{ float: right;}
.tHome .info span.pr i{ color: #ff0; font-size: 14px;}
.tHome h3{  line-height: 120%; height: 32px; margin: 5px 0 15px; overflow: hidden; text-overflow: ellipsis;-webkit-line-clamp: 2; display: -webkit-box; -webkit-box-orient: vertical;box-orient: vertical;}
.menu_wkBox{z-index: 99;}

@media only screen and (min-width:321px ) {
	.tHome .imgBox{ height: 120px;}
}

@media only screen and (min-width:420px ) {
	.tHome .imgBox{ height: 140px;}
}


.TopBox{ color: #fff; background: #f19937; padding:20px 20px 60px 90px; position: relative; min-height: 140px;}
.TopBox p{ line-height: 120%;}
.TopBox .TopBox2{ background: rgba(255,255,255,0.2); position: absolute; left: 0; bottom: 0; width: 100%;}
.TopBox li{ text-align: center; line-height: 40px;}
.TopBox li:first-child{ border-right: 1px solid rgba(255,255,255,0.1);}
.tNav{ line-height: 48px; height: 48px; padding-left: 60px; position: relative;}
.tNav .search{ position: absolute; left: 0; width: 60px; top: 0;}
.tNav .flex li:nth-child(1).active{ color: #FFB03F;}
.tNav .flex li:nth-child(2).active{ color: #ED5657;}
.tNav .flex li:nth-child(3).active{ color: #0085D7;}
.tNav .searchBox{ position: absolute; left: 0; top: 0; display: none; padding-left: 60px; width: 100%; height: 100%; background: #fafafa;}
.tNav .searchBox .cancel{ position: absolute; left: 0; top: 0; width: 60px;}
.tNav .sInput{ padding: 0 15px 0 0;}
.tNav .sInput input[type="text"]{ border-radius: 20px; vertical-align: top; height: 36px; margin: 6px 0 0; padding: 0 70px 0 15px; background: #fff; width: 100%; border: 1px solid #ddd;}
.tNav .sInput button{ position:absolute; height: 36px; width: 60px; top: 6px; border-radius:0 20px 20px 0; right: 15px; background: #f19937; color: #fff; font-size: 18px;}
.tCapList{ width: 100%; overflow: hidden;}
.tCapList ul{ white-space: nowrap; position: relative; overflow: hidden; overflow-x: auto; -webkit-overflow-scrolling: touch;}
.tCapList ul:after{ content: ""; display: block; height: 40px; background: #eee; height: 1px; position: absolute; left: 0; bottom: 0; right: 0;}
.tCapList li{ display: inline-block; line-height: 40px; position: relative; z-index: 1; padding: 0 10px;}
.tCapList li.active{ border-bottom: 2px solid #f19937; color: #f19937;}
.searchNav{ line-height: 46px; padding: 0 10px 15px 10px;}
.searchNav li{ text-align: center; border-bottom: 1px solid #eee;}
.searchNav li.active{border-bottom-color: #f19937; color: #f19937;}

.searchZb li{ position:relative; padding:15px 10px 15px 70px; min-height: 50px; border-bottom: 1px solid #eee;}
.searchZb li .avatar{ width: 50px; height: 50px; position: absolute; left: 10px; top: 15px;}
.searchZb li .avatar img{ border-radius: 50%;}
.searchZb li h2{ font-size: 18px;}
.searchZb li p{ line-height: 130%; margin-top: 5px; color: #888;}
