body{background:#f5f5f5;}
#box{ padding-bottom: 58px;overflow: hidden;}
#box.expert{ padding-top: 46px;}
#box.active{ height: 100%; overflow: hidden;}
/****ä¼šå‘˜ä¸­å¿ƒ******/
.Member_head{background: #f19937;position: relative;}
.Member_img{width:5rem;margin:0 auto;text-align: center;color:#fff;}
.Member_img span{width:5rem;height: 5rem;display:block;margin:0 auto;border:5px solid #f19937;background-size:cover;background-repeat:no-repeat;background-position:center center;-webkit-border-radius: 100%;border-radius: 100%;}
.Member_img p{padding-top: 5px;}
.Member_head .bianji{position: absolute;top:15px;right: 15px;}
.Member_head .bianji a{color:#fff;display: block;}
.Member_head .bianji a i,.Member_menoy a i{ padding-right: 5px;}

.Member_menoy{position: absolute;bottom:10px;left: 50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);height: 30px;line-height: 30px;background: #fff;padding:0 20px;-webkit-border-radius: 5px;border-radius: 5px;}
.Member_menoy a{color:#f19937;display: block;}
.Member_menoy a i{font-size: 20px;vertical-align: middle;}

.Member_min{ margin-top: 10px;}
.Member_min li{height: 45px;line-height: 45px;background: #fff;padding:0 15px;border-bottom: 1px solid rgba(229,229,229,0.3);}
.Member_min li i{color: #969696;}

.Member_head .vip{position: absolute;top:50%;left: 50%;margin: -10px 0 0 10px;background:#f00;-webkit-border-radius: 5px;border-radius: 5px;}
.Member_head .vip i{padding: 0px 12px;color:#fff;}
.touxiang{padding: 40px 0 0 0;}
.popup_tips {background: #3E454C;display: inline-block;font-size: 14px;color: #fff;line-height: 1.5;text-align: center;border-radius: 20px;padding: 5px 20px;z-index: 300}
.mid {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}

[class*=flex]{ display: -webkit-box;display: -webkit-flex;  display: -ms-flexbox; display: flex; width: 100%;}
[class*=flex] .sub,[class*=flex] > li{ -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; overflow: hidden;}
[class*=flex-column]{-webkit-flex-direction: column; flex-direction: column;}
[class*=flex-wrap] {flex-wrap: wrap;}
[class*=flex-column]{-webkit-flex-direction: column; flex-direction: column;}
[class*=flex-column-c]{justify-content: center;}
[class*=flex-column-ja]{align-items: center;}
[class*=flex-jb]{justify-content: space-between;}

		.mudd-left{
			float:left;
			margin-right:10px;
			margin-top:10px;
		}
		.mudd-left:nth-child(3n){
			margin-right:0;
		}
		.vip-con .pay{
			width:32%;
		}
		.tit{
			margin: 20px;
		}
		.pay_list{
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			margin: 0 10px;
		}
		.pay_list .pay_item{
			width: 30%;
			height: 60px;
			text-align: center;
			display: flex;
			flex-direction: column;
			border: 1px solid #ddd;
			background-color: #fafafa;
			border-radius:5px ;
			justify-content: center;
			margin-bottom: 10px;
			position: relative;
		}
		.app-vip .pay_list .pay_item:active {
			background: #e8e8e8
		}
		
		.app-vip .pay_list .pay_item.active {
			color: #f19937;
			border-color: #f19937
		}
		
		.app-vip .pay_list .pay_item.active:before {
			content: '✔';
			font-size: 24px;
			line-height: 1.2;
			color: #fff;
			display: block;
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: 6
		}
		
		.app-vip .pay_list .pay_item.active:after {
			content: '';
			display: block;
			border-right: 40px solid #f19937;
			border-top: 40px solid transparent;
			position: absolute;
			right: 0;
			bottom: 0
		}
		.app-vip .pay_list .pay_item.active .price {
			color: red
		}
		.btn{
			width: 100%;
			text-align: center;
			margin-top: 10px;
		}
		.reger{
			background-color: #f19937;
			width: 90%;
			height: 50px;
			border-radius:5px ;
			color: #fff;
		}