.flex,.flexC{display: flex;display: -webkit-flex;}
.flexC{flex-direction:column;}
.flex>.sub,.flexC>.sub{flex:1;-webkit-flex:1;}
.fb{font-weight: bold;}
.grey{color: #aaa;}

/*分类标题*/
.classify-title{padding: 8px 15px 0;position: relative;}
/*.classify-title:before{content: '';display:block;width: 4px;height: 50%;background: #F13747;position: absolute;top: 25%;left: 0;}*/
/*直播列表*/
.zhibo-item-box{list-style: none;padding: 0 15px;background: #fff;position: relative;z-index: 1;}
.zhibo-item{padding: 10px 0;border-top: 1px solid #f0f0f0;}
.zhibo-item:active{background: rgba(0,0,0,0.05);}
.zhibo-item-img{width: 60px;height: 60px;overflow: hidden;}
.zhibo-item-img img{object-fit: cover;}
.zhibo-item-img image{width: 100%;}
.tip-tag{background: #f19937;color: #fff;padding-right: 10px;padding-left: 6px;position: relative;margin-left: 10px;display: inline-block;line-height: 20px;border-radius: 0 4px 4px 0;margin-left: 10px;transform:scale(0.8,0.8);}
.tip-tag:before{content: '';display:block;border-right: 10px solid #f19937;border-top: 10px solid transparent;border-bottom: 10px solid transparent;position: absolute;left: -10px;}
.perference-box {background-color: #fff;font-size: 14px;}
.perference-title {/*border-left: 2px solid #F35150;*/color: #999;position: relative;}
.perference-title:before{content: "";width: 0;height: 100%;border: 2px solid #F35150;transform: scale(0.5,0.5);-webkit-transform: scale(0.5,0.5);position: absolute;left: 0px;top: -8%;}
.fir-sec {height: 150px;background-image: url('../images/3.jpg');background-repeat: no-repeat;background-size: 100% 100%;background-clip: content-box;position: relative;z-index: 10;}
.fir-lf-b {position: absolute;bottom: 20px;left: 0;width: 100%;padding: 6px 15px;background: none;color: #fff;font-size: 12px;}
.lf-b-title {font-size: 16px;font-weight:700;display: block;border:none;margin-bottom: 10px;}
.fir-lf-b .lf-b-s{border:1px solid #fff;border-radius: 2px;padding: 0 2px;display: inline-block;}
.lf-b-other span {display: inline-block;font-size: 14px;}
span.lf-b-fans {color: #fff;padding: 0 10px;border-radius: 5px;background-color: rgba(0, 0, 0, 0.25);}
.fir-rg-t {color: #fff;font-size: 14px;position: absolute;right: 10px;top: 10px;padding: 0 10px;background-color: rgba(0, 0, 0, 0.25);border: 1px solid #fff;z-index: 1000;}
.sec-sec {padding: 0 0 12px 0;-webkit-flex-wrap: wrap;  flex-wrap: wrap;-webkit-justify-content: space-between; justify-content: space-between;}
.sec-sec-content {margin-top: 10px;width: calc(50% - 6px);display: inline-block;position: relative;}
.sec-sec-b-box{position: absolute;bottom: 0;left: 0;width: 100%;background: rgba(0,0,0,0.5);padding: 0 15px;color:#fff;}
.sec-sec-pic {width: 100%;padding-top:60%;overflow:hidden;}
.sec-sec-b-peo {color: #CCCCCC;}
.sec-sec-b-pri {color: rgb(255, 255, 0);}
.tNav .search {left: inherit;right: 0;z-index: 100;background-image: linear-gradient(90deg, transparent , 30% #fff);}
.searchBox{z-index: 100;}  

.tag-box{padding-top:10px;padding-bottom: 10px;border-bottom: 1px solid #ECECEC;}
.tag-box .tab-item-icon{width: 40px;height: 40px;display: block;margin: 0 auto;}
.tag-box .item-font{font-size: 12px;}
.zhibo-item-box p{font-weight:bold;}
.searchZb li h2{font-size: 16px;margin-right: 70px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-weight:bold;}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png { font-size:inherit; }
@font-face { font-family: "raty"; font-style: normal; font-weight: normal; src: url("../images/fonts/raty.eot"); src: url("../images/fonts/raty.eot?#iefix") format("embedded-opentype"); src: url("../images/fonts/raty.svg#raty") format("svg"); src: url("../images/fonts/raty.ttf") format("truetype"); src: url("../images/fonts/raty.woff") format("woff"); }
.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-family: "raty"; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1; speak: none; text-transform: none; }
.star-off-png{ color: #999;}
.star-on-png{color:#FFBE00; }
.cancel-on-png:before { content: "\e600"; }
.cancel-off-png:before { content: "\e601"; }
.star-on-png:before { content: "\f005"; }
.star-off-png:before { content: "\f006"; }
.star-half-png:before { content: "\f123"; }
.pingfen{ background: #fff; padding: 15px; margin: 15px; border: 1px solid #eee; border-radius: 3px;}
.pingfen .btn{ border-top: 1px solid #eee; padding-top: 15px;}
.pingfen button{ width: 60%; padding:10px 0; color: #fff; border-radius: 3px; background: #09BB07;}