{extend name="portal/base"/}

{block name="link"}
<link rel="stylesheet" type="text/css" href="/public/portal/css/class_image.css">
{/block}

{block name="resources"}
        {volist name="list" id="item" key="k"}
        .photo{$k}{background-mip-img:url({$item.img_cover})}
        {/volist}
        .loading{float:none;width:100%;}
{/block}

{block name="main"}
    <div class='class_list'>
        {volist name="list" id="vo" key="k"}
            <a href="/photo/{$vo.group_id}_1.html">
                <div class='class_li'>
                    <mip-img src="{$vo.img?$vo.img:'http://ddfwz.sssvip.net/asmce/yigou/class_icon.png'}"></mip-img>
                    <span class='n01'>{$vo.group_name}</span>
                </div>
            </a>
        {/volist}
    </div>
    <div class='clear'></div>
    {if $data_end==1}
    <div class="fui-loading empty">
        <div class="text">暂无相关分类</div>
    </div>
    {/if}
    {if $data_end==2}
    <a href="/photo/{$page}.html"><button class="page_button">点击更多</button></a>
    {/if}
{/block}