{extend name="portal/base"/}

{block name="link"}
<link rel="stylesheet" type="text/css" href="/public/portal/css/product.css">
{/block}

{block name="resources"}
        {if $class_id==0}
        .title_color0{color:red}
        {/if}
        {volist name='class_list' id="vo" key="k"}
        {if $class_id==$vo.id}
        .title_color{$vo.id}{color:red}
        {/if}
        {/volist}
{/block}

{block name="main"}

    <div class='product_list product_type3'>
        <a class='product_item item_3' href="/product/0_1.html">
            <div class='title title_color0' >
                全部
            </div>
            <div class='clear'></div>
        </a>
        {volist name='class_list' id="vo" key="k"}
        <a class='product_item item_3' href="/product/{$vo.id}_1.html">
            <div class='title title_color{$vo.id}' >
                {$vo.name}
            </div>
            <div class='clear'></div>
        </a>
        {/volist}
        <div class='clear'></div>
    </div>
    <div class='product_list product_type2'>
            {volist name="list" id="vo" key="k"}
            <a class='product_item item_2' href="/product/{$vo.id}.html">
                <div class='product_img'>
                    <mip-img src='{$vo.image}' ></mip-img>
                </div>
                <div class='title'>
                    {$vo.title}
                </div>
                <div class='clear'></div>
            </a>
            {/volist}
        <div class='clear'></div>

    </div>
    {if $data_end==1}
    <div class='load_info'>没有更多内容了</div>
    {/if}
    {if $data_end==2}
    <a href="/product/{$class_id}_{$page}.html"><button class="page_button">点击更多</button></a>
    {/if}

{/block}