{extend name="base"/}
{block name="main"}

<link rel="stylesheet" href="application/images/public/css/h-ui/css/H-ui.min.css?v=1.0"/>
<link rel="stylesheet" href="application/images/public/css/h-ui/css/style.css"/>
<link rel="stylesheet" href="application/images/public/css/Hui-iconfont/1.0.8/iconfont.css"/>

<script src="application/images/public/js/jquery-2.1.1.js"></script>
<script src="application/images/public/js/layer/2.4/layer.js"></script>
<script src="application/images/public/js/public_js.js"></script>

<div class="Hui-article">
    <article class="cl pd-20">
        <div class="n_tab_line">
            <span class="n_tab_list">相册列表</span>
            <a onclick="layer_show('创建相册', '{:url('images/index/album_add')}' ,400,300)" href="javascript:;" class="n_tab_add"><i class="Hui-iconfont">&#xe600;</i>创建相册</a>
            <div class="cl"></div>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <form class="Huiform" method="post" action="{:url('images/index/index')}" target="_self" style=" padding: 15px;">
                <div class="text-c"> 相册名称：
                    <input type="text" name="search_text" value="{$search_text}" id="a" placeholder="相册名称" style="width:250px" class="input-text">
                    <button class="btn btn-search radius" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜相册</button>
                </div>
            </form>
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-bg table-hover table-sort">
                <thead>
                    <tr class="text-c">
                        <th width="16%">名称</th>
                        <th>封面</th>
                        <th>图片数量</th>
                        <th>添加时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                {volist name="list" id="r"}
                <tr class="text-c">
                    <td>
                        {if $r.group_name != '默认相册'}
                        <input value="{$r['group_name']}" class="input-text" style="height: 30px;width: 150px;padding-left: 5px;text-align: center"
                               data-value="{$r['group_name']}"
                               onblur="album_name_save('{$r.group_id}',this)">
                        {else}
                        {$r.group_name}
                        {/if}
                    </td>
                    <td>
                        <a href="javascript:;" onClick="layer_show('图库编辑','{:url('images/index/album_edit',['group_id'=>$r['group_id']])}','100%','100%')">
                            {if !empty($r['album_cover'])}
                            <img width="60" height="60" class="radius" src="{$r['album_cover']}">
                            {else}
                            <img width="60" height="60" class="radius" src="application/images/public/images/default_image_240.gif">
                            {/if}
                        </a>
                    </td>
                    <td>{$r['img_count']}</td>
                    <td>{$r['create_time']}</td>
                    <td class="td-manage">
                        <a style="text-decoration:none;text-decoration:none;color:#0066cc;" class="ml-5" onClick="layer_show('图库编辑','{:url('images/index/album_edit',['group_id'=>$r['group_id']])}','100%','100%')" href="javascript:;" title="管理">管理
                        </a>
                        {if $r['is_default']!=1}
                        <a style="text-decoration:none;text-decoration:none;color:#0066cc;" class="ml-5" onClick="album_del('{$r.group_id}',this)" href="javascript:;" title="删除">删除
                        </a></td>
                    {/if}
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="n_page_no">
                {$page}
            </div>
        </div>

    </article>
    <script>
        function album_name_save(id, obj) {
            var data_value = $(obj).attr('data-value');
            if(obj.value != data_value){
                AjaxPost("{:url('images/index/album_name_save')}",{id: id, name: obj.value},function () {
                    $(obj).attr('data-value', obj.value);
                },function () {
                    $(obj).val(data_value);
                });
            }
        }
        function album_del(id,obj) {
            layer.confirm('删除相册会连带相册图片一并删除！确定删除?',function(index){
                layer.msg('相册删除中...', {
                    icon: 16
                    ,shade: 0.05
                    ,time:900000
                });
                AjaxPost("{:url('images/index/album_del')}",{"group_id" : id},function () {
                    $(obj).parents("tr").remove();
                });
            });
        }

        function images_select(imgs,data) {
            alert("选择图片: "+JSON.stringify(imgs));
            alert("传递参数: "+JSON.stringify(data));
        }

    </script>
</div>

{/block}