<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="favicon.ico" >
<link rel="Shortcut Icon" href="favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="/lib/html5.js"></script>
<script type="text/javascript" src="/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script><![endif]-->
<!--/meta 作为公共模版分离出去-->
<title>添加管理员 - 管理员管理</title>
	<meta name="keywords" content="洛阳易购商城">
	<meta name="description" content="洛阳易购商城">
</head>
<body>
<article class="cl pd-20">
	<form action="" method="post" class="form form-horizontal" id="">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" autocomplete="off" value="{$ua_info['user_name']}" placeholder="登录名" class="input-text" id="user_name" name="user_name">
				<p class="error">请输入登陆名</p>
				<p class="error">登陆名不合法</p>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">用户组：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
				<select class="select"  id="group_id" size="1">
					<option value="-1">请选择用户组</option>
					{foreach name="auth_group" item="v1"}
					<option value="{$v1['role_id']}" {if condition="$v1['role_id'] eq $ua_info['role_id_array']"}selected{/if}>&nbsp;&nbsp;{$v1['role_name']}</option>
					{/foreach}
				</select>
				</span>
				<p class="error">请选择用户组</p>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">备注：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="" cols="" rows="" id="info" class="textarea"  placeholder="说点什么...100个字符以内" dragonfly="true" onKeyUp="textarealength(this,100)">{$ua_info['info']}</textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" onclick="addUserAjax()" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
		<input type="hidden" value="{$ua_info['id']}" id="admin_id">
		<input type="hidden" value="{$ua_info['admin_status']}" id="admin_status">
	</form>
</article>
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.page.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
});
//模块输入信息验证
function verify() {
    var user_name = $("#user_name").val();
    var group_id = $("#group_id").val();
    var info = $("#info").val();
    if (user_name == '') {
        $("#user_name").next().show();
        return false;
    } else {
        $(".error").hide();
    }
    pattern= new RegExp("[`~!@#$^&*()=|{}':;',\\[\\].<>/?~！@#￥……&*（）——|{}【】‘；：”“'。，、？_]");
    if(pattern.test(user_name)){
        $("#user_name").next().next().show();
        return false;
    }
    if(group_id == -1){
        $("#group_id").parent().next().show();
        return false;
    }else{
        $(".error").hide();
    }
    return true;
}
var flag = false;//防止重复提交
//添加用户
function addUserAjax() {
    var user_name = $("#user_name").val();
    var group_id = $("#group_id").val();
    var info = $("#info").val();
    var admin_id = $("#admin_id").val();
    var admin_status = $("#admin_status").val();
    if(verify() && !flag){
        flag = true;
        $.ajax({
            type : "post",
            url : "{:url('admin/admin_edit')}",
            data : {
                'admin_id':admin_id,
                'user_name' : user_name,
                'group_id' : group_id,
                'info' : info,
				'admin_status':admin_status
            },
            success : function(data) {
                if(data['code']>0){
                    layer.msg('修改成功!',{icon:1,time:1000},function () {
                        window.parent.location.reload();
                        var index=parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    });
                }
                else{
                    layer.msg(data['message'],{icon:5,time:1000});
                    $("#admin-role-save").removeAttr("disabled");
                }
            }
        });
    }
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>