
{include file="demo"}
<div class="Hui-article">
    <article class="cl pd-20">
        <div>
            <div class="cl pd-5 bg-1 bk-gray mt-20">
                <form class="Huiform" method="post" action="__CONF_SITE__admin/integral/receive_integral&id={$id}&type_lxm={$type_lxm}" style=" padding: 15px;">
                    <div class="text-c">
                        <input type="text" name="search_text" value="{$search_text}" placeholder="请输入关键字" style="width:250px" class="input-text">
                        <button class="btn btn-search radius" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜昵称/姓名</button>
                    </div>
                </form>
            </div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-bg table-hover table-sort">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <!--<col>-->
                    </colgroup>
                    <thead>
                    <tr class="text-c">
                        <th>头像</th>
                        <th>领取人</th>
                        <th>联系人</th>
                        <th>联系人地址</th>
                        <th>联系人电话</th>
                        <th>兑换时间</th>
                        <!--<th>商品类型</th>-->
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    {volist name="list" id="r" key='k'}
                    <tr class="text-c va-m">
                        <td><img width="60" height="60" class="integral-thumb" onerror="this.src='/public/goods/img/default_goods_image_240.gif'" src="{$r['user_headimg']}"></td>
                        <td>{$r['nick_name']?$r['nick_name']:'微信昵称'}</td>
                        <td>{$r['receiver_name']}</td>
                        <td>{:getCity($r.receiver_area)} {$r['receiver_address']}</td>
                        <td>{$r['receiver_mobile']}</td>
                        <td>{:date('Y-m-d H:i',$r['create_time'])}</td>
                        <!--<td>{$r['type_lxm']==1?'虚拟':'实物'}</td>-->
                    </tr>
                    {/volist}
                    </tbody>
                </table>
                <div class="n_page_no">
                    {$page}
                </div>
            </div>
        </div>
    </article>
</div>