{extend name="base"/}
{block name="main"}
<style>
    .table>tbody>tr>td{
        text-align: center;
    }
</style>
<div class="Hui-article">
    <article class="cl pd-20">
        <div class="tabBar clearfix">
            <span onclick="window.location.href=('__CONF_SITE__admin/activity/miaosha')">秒杀列表</span>
            <span onclick="window.location.href=('__CONF_SITE__admin/activity/ac_order&type=1')" >秒杀订单</span>
            <span class="current" onclick="window.location.href=('__CONF_SITE__admin/activity/ac_order_two&type=1')" >到店核销</span>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <form class="Huiform" method="post" action="{:url('activity/ac_order_two&type=1')}" target="_self" style="padding:15px;">
                <div class="text-c"> 活动名称：
                    <input type="text" class="input-text" value="{$search_text}" style="width:250px" placeholder="输入活动名称"  name="search_text">
                    <button type="submit" class="btn btn-search radius"  name=""><i class="Hui-iconfont">&#xe665;</i> 搜活动</button>
                </div>
            </form>
        </div>
        <div id="tab_demo" class="HuiTab" style="margin-top: 15px;">
            <div class="tabBar clearfix">
               <a href="javascript:;" onclick="window.location.href=('__CONF_SITE__admin/activity/ac_order_two&type=1&status=-2')"><span {if condition="$status==-2"} class="current" {/if}>全部</span></a>
                <a href="javascript:;" onclick="window.location.href=('__CONF_SITE__admin/activity/ac_order_two&type=1&status=0')"><span {if condition="$status==0"} class="current" {/if}>待付款</span></a>
                <a href="javascript:;" onclick="window.location.href=('__CONF_SITE__admin/activity/ac_order_two&type=1&status=1')"><span {if condition="$status==1"} class="current" {/if}>待发货</span></a>
                <!--<a href="javascript:;" onclick="window.location.href=('__CONF_SITE__admin/activity/ac_order_two&type=1&status=2')"><span {if condition="$status==2"} class="current" {/if}>已发货</span></a>-->
                <a href="javascript:;" onclick="window.location.href=('__CONF_SITE__admin/activity/ac_order_two&type=1&status=-1')"><span {if condition="$status==-1"} class="current" {/if}>取消订单</span></a>
                <a href="javascript:;" onclick="window.location.href=('__CONF_SITE__admin/activity/ac_order_two&type=1&status=4')"><span {if condition="$status==4"} class="current" {/if}>退款申请</span></a>
                <a href="javascript:;" onclick="window.location.href=('__CONF_SITE__admin/activity/ac_order_two&type=1&status=5')"><span {if condition="$status==5"} class="current" {/if}>已退款</span></a>
                <a href="javascript:;" onclick="window.location.href=('__CONF_SITE__admin/activity/ac_order_two&type=1&status=3')"><span {if condition="$status==3"} class="current" {/if}>已完成</span></a>
            </div>
        </div>
        <table class="table table-border table-bordered table-hover table-bg">
            <thead>
            <tr class="text-c">
                <th>订单编号</th>
                <th>活动名称</th>
                <th>活动主图</th>
                <th>购买用户</th>
                <th>手机号</th>
                <th>自提时间</th>
                <!--<th>用户地址</th>-->
                <th>订单总额</th>
                <th>订单状态</th>
                {if $status==4}
                <th>最新回复</th>
                {/if}
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="vo"}
            <tr>
                <td>{$vo['order_no']}</td>
                <td>{$vo['name']}</td>
                <td><img src="{$vo['pic']}" style="height: 80px; width: auto;"></td>
                <td>{$vo['user_name']}</td>
                <td>{$vo['receiver_mobile']}</td>
                <td>{:date('Y-m-d H:i:s',$vo['mention_time'])}</td>
                <!--<td>{:getCity($vo['receiver_area'])}{$vo['receiver_address']}</td>-->
                <td>￥{$vo['order_money']}</td>
                <td>{:bargain_order_status($vo['order_status'])}</td>
                {if $status==4}
                <td>{if !empty($vo.refund_info)}<a href="javascript:alert({$vo.refund_info})">查看</a>{else}暂无{/if}</td>
                {/if}
                <td>
                    {if $vo['order_status']==4}
                        <a href="javascript:;" onclick="getderefund({$vo['order_id']},1,{$vo['buyer_id']})">退款</a>
                        <a href="javascript:;" onclick="getderefund({$vo['order_id']},2,{$vo['buyer_id']})">拒绝退款</a>
                    {elseif $vo['order_status']==1}
                    <a href="javascript:;" onclick="do_fahuo({$vo['order_id']})">核销</a>
                    {/if}
                    <a title="打印订单" target="_blank" href="__CONF_SITE__admin/activity/printer3&id={$vo.order_id}&type=miao" class="ml-5" style="text-decoration:none">打印订单</a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </article>
    <div class="n_page_no">
        {$page}
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    function getderefund(order_id,type,uid){
        var refund_type = "<?php echo $refund_type;?>";
        var title = refund_type == 0 ? "系统未配置微信退款, 需要先手动退款给用户, 确定已退款?" : "系统已配置微信退款, 点击确定此订单款项会立即退回用户微信, 是否确认退款?";
        if(type==2){
            layer.prompt({title:"拒绝内容", formType: 2}, function (info, index) {
                if(info.length==0){
                    layer.msg('内容不能为空!', {icon: 2, time: 3000});
                    return false;
                }
                $.ajax({
                    type: "post",
                    url: "__CONF_SITE__admin/bargain/orderTakeRefund",
                    async: false,
                    data: {info:info,
                        order_id:order_id,
                        ju:1,
                        uid:uid,
                        t:"ybsc_activity_order"},
                    dataType: 'json',
                    success: function (data) {
                        if(data>0){
                            layer.msg('操作成功!', {icon: 1, time: 3000},function(){
                                window.location.reload();
                            });
                        }else{
                            layer.msg('操作失败!', {icon: 2, time: 3000});
                            return false;
                        }
                    }
                });
                layer.close(index);
            });
            return false;
        }
        layer.confirm(title,function(index){
            $.ajax({
                type : "post",
                url : "{:url('bargain/orderTakeRefund')}",
                data : { "order_id" : order_id,t:"ybsc_activity_order" },
                success : function(data) {
                    if(data["code"] > 0 ){
                        layer.msg('退款成功', {icon: 1, time: 1000},function () {
                            window.location.href=('__CONF_SITE__admin/activity/ac_order_two&type=1')
                        });
                    }else {
                        layer.msg(data['message'], {icon: 2, time: 2000});
                    }
                }
            })
        });
    }
    function do_fahuo(id) {
        var msg='确认核销该订单？';
        layer.confirm(msg,function(){
            $.ajax({
                type : "post",
                url : "{:url('activity/order_send_two')}",
                data : {
                    "id" : id
                },
                success : function(data) {
                    if (data['code'] > 0) {
                        layer.msg('操作成功',{icon:1,time:1000},function () {
                            window.location.href=('__CONF_SITE__admin/activity/ac_order_two&type=1')
                        });
                    }else{
                        layer.msg(data['message'], {icon: 2, time: 1000});
                    }
                }
            })
        });
    }
</script>
{/block}