{template 'common/header'}
<div class="clearfix">
<ul class="nav nav-tabs">
	<li><a href="{php echo $this->createWebUrl('banner')}">幻灯片列表</a></li>
	<li class="active"><a href="{php echo $this->createWebUrl('banner_post')}">添加幻灯片</a></li>
</ul>

<div class="clearfix">
		<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form2">
			<div class="panel panel-default" id="step1">
				<div class="panel-body">

					<div class="form-group">
						<label class="col-md-2 control-label">幻灯片名称：</label>
						<div class="col-md-4">
							<input class="form-control" type="text" name="title" value="{$info['title']}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label">幻灯片图片：</label>
						<div class="col-sm-6">
							{php echo tpl_form_field_image('banner',$info['banner']);}
							<span class="help-block">建议尺寸750*300</span>
						</div>
					</div>
					<div class="form-group self">
						<label class="col-md-2 control-label">链接：</label>
						<div class="col-md-4">
							<input class="form-control" type="text" name="link" value="{$info['link']}">
						</div>
					</div>	
					<div class="form-group">
						<label class="col-md-2 control-label">排序：</label>
						<div class="col-md-4">
							<input class="form-control" type="text" name="displayorder" value="{$info['displayorder']}">
							<span class="help-block">排序号越小排列越靠前。</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label">是否开启：</label>
						<div class="col-md-9">
							<label class="radio-inline">
								<input type="radio" name="status" {if empty($info['status'])} checked {/if} value="0">显示
							</label>
							<label class="radio-inline">
								<input type="radio" name="status" {if $info['status'] == 1} checked {/if} value="1">隐藏
							</label>
						</div>

					</div>

					<div class="form-group">

						<label class="col-md-2 control-label"></label>

						<div class="col-md-9">

							<input name="id" type="hidden" value="{$info['id']}">

							{if empty($info['id'])}

								<input type="hidden" name="act" value="add">

							{else}

								<input type="hidden" name="act" value="edit">

							{/if}

							<input name="submit" id="submit" type="submit" value="保存" class="btn btn-primary min-width">

						</div>

					</div>

				</div>

			</div>

		</form>

	</div>
</div>
{template 'common/footer'}