{extend name="mip_pc/base"/}
{block name="main"}
<div class="submian f2f2f2">
    <div class="w">
        <div class="sobtitle">当前位置：<a href="/">首页</a> / 新闻中心</div>

        <div class="subleft fl">

            <div class="lefta bor9">
                <div class="title">栏目分类
                </div>
                <div class="comt">
                    <ul>

                        {volist name="$article_class" id="item"}
                        <li><a href="/article/{$item.class_id}_1.html" title="{$item.name}">{$item.name}</a>
                        </li>
                        {/volist}

                    </ul>
                </div>
            </div>

            {include file="mip_pc/left" /}
        </div>
        <!--right-->

        <div class="subright fr ffffff">
            <div class="m-title"><span>{$info.class_name}</span></div>
            <div class="m-page2 ffffff">
                <!-- 模板通用框架 -->
                <div class="c-show">
                    <div class="c-proBox">

                        <h3>内容</h3>
                        <div class="c-cb">

                            <div class="c-proCon c-cb">
                                <div class="c-Title">
                                    <h2>{$info.title}</h2>
                                    <p>人气：<span id="hits">{$info.click}</span>　日期：{:date('Y-m-d H:i:s',$info['create_time'])} </p>
                                </div>
                                <p>
                                    {$info.content}
                                </p>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- 模板通用框架 -->
            </div>
            <div class="clear"></div>
        </div>

    </div>
    <div class="clear"></div>
</div>
{/block}