{extend name="mip_pc/base"/}
{block name="main"}
<div class="submian f2f2f2">
    <div class="w">
        <div class="sobtitle">当前位置：<a href="/">首页</a> / 新闻中心</div>

        <div class="subleft fl">

            <div class="lefta bor9">
                <div class="title">栏目分类
                </div>
                <div class="comt">
                    <ul>

                        {volist name="$article_class" id="item"}
                        <li>
                            <a href="/article/{$item.class_id}_1.html" title="{$item.name}">{$item.name}</a>
                        </li>
                        {/volist}

                    </ul>
                </div>
            </div>

            {include file="mip_pc/left" /}
        </div>
        <!--right-->

        <div class="subright fr">
            <div class="m-title"><span>新闻中心</span></div>
            <div class="m-page m-list m-list-news">
                <!-- 模板通用框架 -->
                <ul class="c-cbli">

                    {volist name="lists" id="item"}
                    <li>
                        <h3 class="ispic">
                            <a href="/article/{$item.article_id}.html" title="{$item.short_title}">{$item.short_title}</a>
                        </h3>
                        <p>{:subtext(htmltotxt($item.content),80)}</p>
                        <span>日期：{:date('m-d',$item['create_time'])} / 阅读：{$item.click}</span>
                    </li>
                    {/volist}

                </ul>

                <div class="clear"></div>
                <div class="c-pages">
                    {$page}
                </div>

                <!-- 模板通用框架 -->
            </div>
            <div class="clear"></div>
        </div>

    </div>
    <div class="clear"></div>
</div>
{/block}