<div class="leftnews bor9">
    <div class="title"><i>最新资讯</i></div>
    <div class="leftnewscomt">
        <ul>
            {volist name="article_list" id="item" key="ii"}
            <li><a href="/article/{$item.article_id}.html" title="{$item.short_title}">{$item.short_title}</a></li>
            {/volist}
        </ul>
    </div>
</div>

<div class="leftnews bor9">
    <div class="title"><i>联系我们</i></div>
    <div class="leftcont">
        <h2>{$mchs.site_name}</h2>
        <span>
            地址：{$mchs.address}<br>
            电话：{$mchs.phone}<br>
            QQ：{$mchs.qq}</span>
        <p>全国咨询热线<i>{$mchs.phone}</i></p>
    </div>
</div>