{extend name="mip_pc/base"/}
{block name="main"}
<div class="submian f2f2f2">
    <div class="w">
        <div class="sobtitle">当前位置：<a href="/">首页</a> / 关于我们 / 公司介绍</div>

        <div class="subleft fl">

            <div class="lefta bor9">
                <div class="title">栏目分类
                </div>
                <div class="comt">
                    <ul>

                        {volist name="product_class" id="item"}
                        <li><a href="/product/{$item.id}_1.html" title="{$item.name}">{$item.name}</a>
                        </li>
                        {/volist}

                    </ul>
                </div>
            </div>

            {include file="mip_pc/left" /}

        </div>
        <!--right-->

        <div class="subright fr">
            <div class="m-title"><span>产品展示</span></div>
            <div class="m-pic">
                <!-- 模板通用框架 -->
                <ul class="c-cbli">

                    {volist name="product_list" id="item"}
                    <li>
                        <div>
                            <a href="/product/{$item.id}.html" title="{$item.title}">
                                <mip-img src="{$item.image}" alt="{$item.title}">
                                </mip-img>
                            </a>
                        </div>
                        <p><a href="/product/{$item.id}.html" title="{$item.title}">{$item.title}</a></p>
                    </li>
                    {/volist}

                </ul>

                <div class="clear"></div>
                <div class="c-pages">
                    {$page}
                </div>
                <!-- 模板通用框架 -->
            </div>
            <div class="clear"></div>
        </div>

    </div>
    <div class="clear"></div>
</div>
{/block}