<div class="temp_item temp_item_space"  >
<div ng-if="showtab == 1">
	<div class="frm_control_group" > 
	  	<label for="" class="frm_label">图片类型</label> 
	   	<div class="frm_controls"> 
	   		<label class="frm_radio_label "  ng-click="imageType(item.id,1)"> 
	   			<i class="icon_radio"></i> 
	   			<span class="lbl_content">单图</span>
	   			<input type="radio" name="type" value="1" on-selected class="frm_radio"  ng-model="item.params.type" /> 
	   		</label>
	   		<label class="frm_radio_label " ng-click="imageType(item.id,2)">
	   			<i class="icon_radio"></i>
	   			<span class="lbl_content">双图</span>
	   			<input type="radio" name="type" value="2" on-selected  class="frm_radio"  ng-model="item.params.type"  /> 
	   		</label>
	   		<label class="frm_radio_label " ng-click="imageType(item.id,3)">
	   			<i class="icon_radio"></i>
	   			<span class="lbl_content">三图</span>
	   			<input type="radio" name="type" value="3" on-selected  class="frm_radio"  ng-model="item.params.type"  /> 
	   		</label>
	   		<label class="frm_radio_label " ng-click="imageType(item.id,4)">
	   			<i class="icon_radio"></i>
	   			<span class="lbl_content">积木1</span>
	   			<input type="radio" name="type" value="4" on-selected  class="frm_radio"  ng-model="item.params.type"  /> 
	   		</label>
	   		<label class="frm_radio_label " ng-click="imageType(item.id,5)">
	   			<i class="icon_radio"></i>
	   			<span class="lbl_content">积木2</span>
	   			<input type="radio" name="type" value="5" on-selected  class="frm_radio"  ng-model="item.params.type"  /> 
	   		</label>	   		
	   		<p class="font_999" ng-show="item.params.type == 4">图片尺寸建议：左图：400x402，右图400x200</p>
	   		<p class="font_999" ng-show="item.params.type == 5">图片尺寸建议：左图：400x200，右图400x402</p>
	   	</div>

	</div>
	<div class="frm_control_group" ng-show="item.params.type <= 3">
		<label for="" class="frm_label">图片宽度</label>
		<div class="frm_controls ">
			<li class="frm_input_box_200 my_slider_line slider" my-slider min="10" max="100" value="{{item.params.pdimg}}" name="pdimg"></li>
			<span class="my_slider_notice">{{item.params.pdimg}} %</span>
		</div>
	</div>
	<div class="frm_control_group" >
		<label for="" class="frm_label">图片高度</label>
		<div class="frm_controls ">
			<li class="frm_input_box_200 my_slider_line slider" my-slider min="0" max="300" value="{{item.params.imgheight}}" name="imgheight"></li>
			<span class="my_slider_notice">屏幕宽度的{{item.params.imgheight}}%，设置高度前端打开更流畅</span>
		</div>
	</div>
	<div class="frm_control_group">
		<label for="" class="frm_label">边距距离</label>
		<div class="frm_controls ">
			<li class="frm_input_box_200 my_slider_line slider" my-slider min="0" max="60" value="{{item.params.padding}}" name="padding"></li>
			<span class="my_slider_notice">{{item.params.padding}} 像素</span>
		</div>
	</div>
	<div class="frm_control_group" ng-show="item.params.type > 3">
		<label for="" class="frm_label">图片距离</label>
		<div class="frm_controls ">
			<li class="frm_input_box_200 my_slider_line slider" my-slider min="0" max="20" value="{{item.params.pimg}}" name="pimg"></li>
			<span class="my_slider_notice">{{item.params.pimg/2}} 像素</span>
		</div>
	</div>
	<div class="frm_control_group">
		<label for="" class="frm_label">图片圆角处理</label>
		<div class="frm_controls ">
			<li class="frm_input_box_200 my_slider_line slider" my-slider min="0" max="100" value="{{item.params.radius}}" name="radius"></li>
			<span class="my_slider_notice">{{item.params.radius}} 像素</span>
		</div>
	</div>
	<div class="frm_control_group" >
		<label for="" class="frm_label">背景颜色</label>
		<div class="frm_controls">
			<span class="frm_input_box frm_input_box_50">
				<input class="frm_input" type="color" ng-model="item.params.bgcolor" />
			</span>
			<span class="frm_input_box frm_input_box_100">
				<input class="frm_input" type="text" ng-model="item.params.bgcolor" />
			</span><a href="javascript:;" ng-click="item.params.bgcolor = 'rgba(0, 0, 0, 0)'">透明</a>
		</div>
	</div>	
	<div class="frm_control_group">
		<label for="" class="frm_label">背景图片</label>
		<div class="frm_controls">
			<div class="edit_image_upload" ng-click="uploadImage(item.id,'bgimg')">
				<img class="upload_image_img" src="{{item.params.bgimg}}" >
				<span class="edit_image_notice">修改</span>
			</div><a href="javascript:;" ng-click="item.params.bgimg = ''">清除</a>
		</div>
	</div>
	<div class="frm_control_group" ng-show="item.params.type <= 3"> 
	  	<label for="" class="frm_label">设置文字</label> 
	   	<div class="frm_controls"> 
	   		<label class="frm_radio_label " ng-click="item.params.istext = 0"> 
	   			<i class="icon_radio"></i> 
	   			<span class="lbl_content">不设置</span>
	   			<input type="radio" name="istext" value="0" on-selected class="frm_radio"  ng-model="item.params.istext" /> 
	   		</label>
	   		<label class="frm_radio_label " ng-click="item.params.istext = 1">
	   			<i class="icon_radio"></i>
	   			<span class="lbl_content">设置</span>
	   			<input type="radio" name="istext" value="1" on-selected  class="frm_radio"  ng-model="item.params.istext"  /> 
	   		</label>
	   	</div>
	</div>

	<div class="frm_control_group" ng-show="item.params.istext ==1">
		<label for="" class="frm_label">文字颜色</label>
		<div class="frm_controls">
			<span class="frm_input_box frm_input_box_50">
				<input class="frm_input" type="color" ng-model="item.params.fontcolor" />
			</span>
			<span class="frm_input_box frm_input_box_100">
				<input class="frm_input" type="text" ng-model="item.params.fontcolor" />
			</span>
		</div>
	</div>
	<div class="frm_control_group" ng-show="item.params.istext ==1">
		<label for="" class="frm_label">文字尺寸</label>
		<div class="frm_controls ">
			<li class="frm_input_box_200 my_slider_line slider" my-slider min="12" max="30" value="{{item.params.fontsize}}" name="fontsize"></li>
			<span class="my_slider_notice">{{item.params.fontsize}} 像素</span>
		</div>
	</div>
	<div class="frm_control_group" ng-show="item.params.istext ==1">
		<label for="" class="frm_label">距上距离</label>
		<div class="frm_controls ">
			<li class="frm_input_box_200 my_slider_line slider" my-slider min="0" max="30" value="{{item.params.fonttop}}" name="fonttop"></li>
			<span class="my_slider_notice">{{item.params.fonttop}} 像素</span>
		</div>
	</div>
	<div class="frm_control_group"> 
	  	<label for="" class="frm_label">设置蒙层</label> 
	   	<div class="frm_controls"> 
	   		<label class="frm_radio_label " ng-click="item.params.ismengc = 0"> 
	   			<i class="icon_radio"></i> 
	   			<span class="lbl_content">不设置</span>
	   			<input type="radio" name="ismengc" value="0" on-selected class="frm_radio"  ng-model="item.params.ismengc" /> 
	   		</label>
	   		<label class="frm_radio_label " ng-click="item.params.ismengc = 1">
	   			<i class="icon_radio"></i>
	   			<span class="lbl_content">设置</span>
	   			<input type="radio" name="ismengc" value="1" on-selected  class="frm_radio"  ng-model="item.params.ismengc"  /> 
	   		</label>
	   	</div>
	</div>
	<div class="frm_control_group" ng-show="item.params.ismengc ==1">
		<label for="" class="frm_label">蒙层参数</label>
		<div class="frm_controls">
			<div>
				背景颜色<span class="frm_input_box frm_input_box_50">
					<input class="frm_input" type="color" ng-model="item.params.mengcbg" ng-change="hex2rbg(item.params)"/>
				</span>
				<span class="frm_input_box frm_input_box_100">
					<input class="frm_input" type="text" ng-model="item.params.mengcbg" />
				</span>
				透明度&nbsp;&nbsp;<li class="frm_input_box_200 my_slider_line slider" my-slider min="1" max="10" value="{{item.params.trans}}" name="trans"></li>
				<span class="my_slider_notice">{{item.params.trans}}</span>
			</div>
			<div>
				文字颜色<span class="frm_input_box frm_input_box_50">
					<input class="frm_input" type="color" ng-model="item.params.mccolor"/>
				</span>
				<span class="frm_input_box frm_input_box_100">
					<input class="frm_input" type="text" ng-model="item.params.mccolor" />
				</span>
			</div>
			<div>
				标题尺寸&nbsp;&nbsp;<li class="frm_input_box_200 my_slider_line slider" my-slider min="12" max="30" value="{{item.params.mctsize}}" name="mctsize"></li>
				<span class="my_slider_notice">{{item.params.mctsize}} 像素</span>
			</div>
			<div>
				描述尺寸&nbsp;&nbsp;<li class="frm_input_box_200 my_slider_line slider" my-slider min="12" max="20" value="{{item.params.mcdsize}}" name="mcdsize"></li>
				<span class="my_slider_notice">{{item.params.mcdsize}} 像素</span>
			</div>	
		</div>
	</div>
</div>
<div ng-if="showtab == 2">	
	<div class="edit_data_box" ui-sortable="sortableOptions" ng-model="item.params.data">
		<div class="edit_data_item" ng-repeat="good in item.params.data">
			<div class="design_single_box item_cell_box">
				<div class="item_cell_flex">
					<div class="frm_control_group frm_control_group_editin" ng-show="item.params.istext == 1 && item.params.type <= 3">
						<label for="" class="frm_label">标题内容</label>
						<div class="frm_controls">
							<span class="frm_input_box frm_input_200">
								<input type="text" class="frm_input" ng-model="good.title" >
							</span>
						</div>
					</div>
					<div class="frm_control_group frm_control_group_editin" ng-show="item.params.ismengc ==1">
						<label for="" class="frm_label">蒙层标题</label>
						<div class="frm_controls">
							<span class="frm_input_box frm_input_200">
								<input type="text" class="frm_input" ng-model="good.mtitle" >
							</span>
						</div>
					</div>
					<div class="frm_control_group frm_control_group_editin" ng-show="item.params.ismengc ==1">
						<label for="" class="frm_label">蒙层描述</label>
						<div class="frm_controls">
							<span class="frm_input_box frm_input_200">
								<input type="text" class="frm_input" ng-model="good.mdesc" >
							</span>
						</div>
					</div>										
					<div class="frm_control_group frm_control_group_editin" >
						<label for="" class="frm_label">点击动作</label>
						<div class="frm_controls">
					    	<label class="frm_radio_label" ng-click="good.type = 'url'"> 
					    		<i class="icon_radio"></i> 
					    		<span class="lbl_content">跳转页面</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="url" class="frm_radio"  ng-model="good.type"  /> 
					    	</label>
					    	<label class="frm_radio_label " ng-click="good.type = 'weburl'">
					    		<i class="icon_radio"></i>
					    		<span class="lbl_content">跳转网页</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="weburl" class="frm_radio"  ng-model="good.type"  />
					    	</label>
					    	<label class="frm_radio_label" ng-click="good.type = 'other'"> 
					    		<i class="icon_radio"></i> 
					    		<span class="lbl_content">其他小程序</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="other" class="frm_radio"  ng-model="good.type"  /> 
					    	</label>	    	
					    	<label class="frm_radio_label " ng-click="good.type = 'tel'">
					    		<i class="icon_radio"></i>
					    		<span class="lbl_content">拨打电话</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="tel" class="frm_radio"  ng-model="good.type"  /> 
					    	</label>
					    	<label class="frm_radio_label " ng-click="good.type = 'share'">
					    		<i class="icon_radio"></i>
					    		<span class="lbl_content">分享提示</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="share" class="frm_radio"  ng-model="good.type"  /> 
					    	</label>
					    	<label class="frm_radio_label " ng-click="good.type = 'map'">
					    		<i class="icon_radio"></i>
					    		<span class="lbl_content">地图位置</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="map" class="frm_radio"  ng-model="good.type"  /> 
					    	</label>
					    	<label class="frm_radio_label " ng-click="good.type = 'kefu'">
					    		<i class="icon_radio"></i>
					    		<span class="lbl_content">联系客服</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="kefu" class="frm_radio"  ng-model="good.type"  />
					    	</label>
					    	<label class="frm_radio_label " ng-click="good.type = 'images'">
					    		<i class="icon_radio"></i>
					    		<span class="lbl_content">打开图片</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="images" class="frm_radio"  ng-model="good.type"  />
					    	</label>
					    	<label class="frm_radio_label " ng-click="good.type = 'scan'">
					    		<i class="icon_radio"></i>
					    		<span class="lbl_content">扫一扫</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="scan" class="frm_radio"  ng-model="good.type"  />
					    	</label>
					    	<label class="frm_radio_label " ng-click="good.type = 'copy'">
					    		<i class="icon_radio"></i>
					    		<span class="lbl_content">复制文字</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="copy" class="frm_radio"  ng-model="good.type"  />
					    	</label>
						</div>
					</div>
					<div class="frm_control_group frm_control_group_editin" ng-show="good.type == 'url'">
						<label for="" class="frm_label">跳转页面</label>
						<div class="frm_controls">
							<span class="frm_input_box frm_input_200 readonlybg">
								<input type="text" class="frm_input " ng-model="good.urlname" readonly>
							</span><a href="javascript:;" ng-click="showLink(item.id,good.id,'my')">设置链接</a>
						</div>
					</div>
					<div class="frm_control_group frm_control_group_editin" ng-show="good.type == 'kefu'">
						<label for="" class="frm_label">sess-from</label>
						<div class="frm_controls">
							<span class="frm_input_box frm_input_200">
								<input type="text" class="frm_input" ng-model="good.sfrom" >
							</span>(可不填)
						</div>
					</div>
					<div class="frm_control_group frm_control_group_editin" ng-show="good.type == 'tel'">
						<label for="" class="frm_label">电话号码</label>
						<div class="frm_controls">
							<span class="frm_input_box frm_input_200">
								<input type="text" class="frm_input" ng-model="good.tel" >
							</span>
						</div>
					</div>
					<div class="frm_control_group frm_control_group_editin" ng-show="good.type == 'map'">
						<label for="" class="frm_label">地图坐标</label>
						<div class="frm_controls">
							<span class="frm_input_box frm_input_200 readonlybg">
								<input type="text" class="frm_input " value="{{good.lat +','+ good.lng}}" readonly>
							</span><a href="javascript:;" ng-click="showMap( item.id,good.id )">选择坐标</a>
						</div>
					</div>
					<div class="frm_control_group" ng-show="good.type == 'map'">
						<label for="" class="frm_label">位置名称</label>
						<div class="frm_controls">
							<span class="frm_input_box frm_input_200">
								<input type="text" class="frm_input " ng-model="good.addname">
							</span>
						</div>
					</div>
					<div class="frm_control_group" ng-show="good.type == 'map'">
						<label for="" class="frm_label">详细地址</label>
						<div class="frm_controls">
							<span class="frm_input_box frm_input_200">
								<input type="text" class="frm_input " ng-model="good.address">
							</span>
						</div>
					</div>

					<div class="frm_control_group frm_control_group_editin" ng-show="good.type == 'other'">
						<label for="" class="frm_label">小程序appid</label>
						<div class="frm_controls">
							<span class="frm_input_box frm_input_200">
								<input type="text" class="frm_input" ng-model="good.appid" >
							</span><a href="javascript:;" ng-click="showLink(item.id,good.id,'app')">选择</a>
						</div>
					</div>
					<div class="frm_control_group frm_control_group_editin" ng-show="good.type == 'other'">
						<label for="" class="frm_label">页面路径</label>
						<div class="frm_controls">
							<span class="frm_input_box frm_input_200">
								<input type="text" class="frm_input" ng-model="good.appurl" >
							</span>
						</div>
					</div>
					<div class="frm_control_group frm_control_group_editin" ng-show="good.type == 'weburl'">
						<label for="" class="frm_label">网页链接</label>
						<div class="frm_controls">
							<span class="frm_input_box frm_input_200">
								<input type="text" class="frm_input" ng-model="good.weburl" >
							</span>
							<p class="font_999">一定要在微信小程序后台设置此域名为业务域名</p>
						</div>
					</div>	
					<div class="frm_control_group frm_control_group_editin" ng-show="good.type == 'images'">
						<label for="" class="frm_label">图片内容</label>
						<div class="frm_controls">
							<div class="imagesdata_box">
								<img ng-repeat="inn in good.imagesdata" ng-src="{{inn.url}}" ng-click="deleteImagesdata(good.imagesdata,inn.id)">
							</div>
							
							<a href="javascript:;" ng-click="uploadMultiImage(item.id,good.id)">选择图片</a>
						</div>
					</div>
					<div class="frm_control_group frm_control_group_editin" ng-show="good.type == 'copy'">
						<label for="" class="frm_label">文字内容</label>
						<div class="frm_controls">
							<span class="frm_input_box frm_input_200">
								<input type="text" class="frm_input" ng-model="good.text" >
							</span>
						</div>
					</div>
				</div>
				<div class="edit_image_upload" ng-click="uploadImage(good,'goodimg')">
					<img class="upload_image_img" ng-src="{{ (basic.shareimg.indexOf('zofui_sitetemp') >= 0 ? siteroot : attach) +  good.img}}" >
					<span class="edit_image_notice">修改图片</span>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

