<div class="temp_item temp_item_basic" >

<div ng-if="showtab == 1">
	<div class="frm_control_group">
		<label for="" class="frm_label">删除重置</label>
		<div class="frm_controls ">
			<a href="javascript:;" id="deletebar" tid="{{tid}}">删除导航数据</a>
			<p class="tips">此功能作用是在导航数据出现错误，导航无法打开编辑后，可删除导航数据重新设计导航</p>
		</div>
	</div>
	<div class="frm_control_group" >
		<label for="" class="frm_label">模板主题颜色</label>
		<div class="frm_controls">
			<span class="frm_input_box frm_input_box_50">
				<input class="frm_input" type="color" ng-model="items.maincolor" />
			</span>
			<span class="frm_input_box frm_input_box_100">
				<input class="frm_input" type="text" ng-model="items.maincolor" />
			</span><a href="javascript:;" ng-click="items.maincolor = ''">清除</a>
			<p class="tips">设置此颜色后，模板的页面主题颜色将以此颜色为主。</p>
		</div>
	</div>
	<div class="frm_control_group" >
		<label for="" class="frm_label">顶部导航背景颜色</label>
		<div class="frm_controls">
			<span class="frm_input_box frm_input_box_50">
				<input class="frm_input" type="color" ng-model="items.topbg" />
			</span>
			<span class="frm_input_box frm_input_box_100">
				<input class="frm_input" type="text" ng-model="items.topbg" />
			</span>
		</div>
	</div>
	<div class="frm_control_group" >
		<label for="" class="frm_label">顶部导航文字颜色</label>
		<div class="frm_controls">
	    	<label class="frm_radio_label" ng-click="items.topcolor = '#000000'"> 
	    		<i class="icon_radio"></i> 
	    		<span class="lbl_content">黑色</span>
	    		<input type="radio" name="topcolor" on-selected value="#000000" class="frm_radio"  ng-model="items.topcolor"  /> 
	    	</label> 
	    	<label class="frm_radio_label " ng-click="items.topcolor = '#ffffff'">
	    		<i class="icon_radio"></i>
	    		<span class="lbl_content">白色</span>
	    		<input type="radio" name="topcolor" on-selected value="#ffffff" class="frm_radio"  ng-model="items.topcolor"  /> 
	    	</label>
		</div>
	</div>
	<div class="frm_control_group" >
		<label for="" class="frm_label">底部导航类型</label>
		<div class="frm_controls">
	    	<label class="frm_radio_label" ng-click="items.bartype = 0"> 
	    		<i class="icon_radio"></i> 
	    		<span class="lbl_content font_ff5f27">模块自定导航</span>
	    		<input type="radio" name="bartype" on-selected value="0" class="frm_radio"  ng-model="items.bartype"  /> 
	    	</label> 
	    	<label class="frm_radio_label " ng-click="items.bartype = '1'" ng-if="isacttemp == 1">
	    		<i class="icon_radio"></i>
	    		<span class="lbl_content font_ff5f27">微信系统导航</span>
	    		<input type="radio" name="bartype" on-selected value="1" class="frm_radio"  ng-model="items.bartype"  /> 
	    	</label>
	    	<p class="tips">提示：选择微信系统导航每次修改导航后都需要提交审核代码。</p>
		</div>
	</div>
	<div ng-if="items.bartype == 0 || !items.bartype">
		
		<div class="frm_control_group">
			<label for="" class="frm_label">底部导航图标宽高</label>
			<div class="frm_controls ">
				<li class="frm_input_box_200 my_slider_line slider" my-slider min="0" max="80" type="1" value="{{items.iconwidth}}" name="iconwidth"></li>
				<span class="my_slider_notice">{{items.iconwidth}} 像素</span>
			</div>
		</div>
		<div class="frm_control_group">
			<label for="" class="frm_label">底部导航文字图标距离</label>
			<div class="frm_controls ">
				<li class="frm_input_box_200 my_slider_line slider" my-slider min="0" max="80" type="1" value="{{items.padfont}}" name="padfont"></li>
				<span class="my_slider_notice">{{items.padfont}} 像素</span>
			</div>
		</div>
		<div class="frm_control_group">
			<label for="" class="frm_label">底部导航文字尺寸</label>
			<div class="frm_controls ">
				<li class="frm_input_box_200 my_slider_line slider" my-slider min="12" max="30" type="1" value="{{items.fontsize}}" name="fontsize"></li>
				<span class="my_slider_notice">{{items.fontsize}} 像素</span>
			</div>
		</div>	
		<div class="frm_control_group">
			<label for="" class="frm_label">底部导航上边距</label>
			<div class="frm_controls ">
				<li class="frm_input_box_200 my_slider_line slider" my-slider min="0" max="30" type="1" value="{{items.paddingtop}}" name="paddingtop"></li>
				<span class="my_slider_notice">{{items.paddingtop}} 像素</span>
			</div>
		</div>
		<div class="frm_control_group">
			<label for="" class="frm_label">底部导航下边距</label>
			<div class="frm_controls ">
				<li class="frm_input_box_200 my_slider_line slider" my-slider min="0" max="30" type="1" value="{{items.paddingbot}}" name="paddingbot"></li>
				<span class="my_slider_notice">{{items.paddingbot}} 像素</span>
			</div>
		</div>
		<div class="frm_control_group">
			<label for="" class="frm_label">底部导航背景图片</label>
			<div class="frm_controls">
				<div class="edit_image_upload" ng-click="uploadImage(items,'bgimg')">
					<img class="upload_image_img" src="{{items.bgimg}}" >
					<span class="edit_image_notice">修改</span>
				</div><a href="javascript:;" ng-click="items.bgimg = ''">清除</a>
			</div>
		</div>
		<div class="frm_control_group" >
			<label for="" class="frm_label">底部导航上边颜色</label>
			<div class="frm_controls">
				<span class="frm_input_box frm_input_box_50">
					<input class="frm_input" type="color" ng-model="items.bjcolor" />
				</span>
				<span class="frm_input_box frm_input_box_100">
					<input class="frm_input" type="text" ng-model="items.bjcolor" />
				</span>
			</div>
		</div>
	</div>

	<div class="frm_control_group" >
		<label for="" class="frm_label">底部导航背景颜色</label>
		<div class="frm_controls">
			<span class="frm_input_box frm_input_box_50">
				<input class="frm_input" type="color" ng-model="items.bgcolor" />
			</span>
			<span class="frm_input_box frm_input_box_100">
				<input class="frm_input" type="text" ng-model="items.bgcolor" />
			</span>
		</div>
	</div>
	<div class="frm_control_group" >
		<label for="" class="frm_label">导航文字默认颜色</label>
		<div class="frm_controls">
			<span class="frm_input_box frm_input_box_50">
				<input class="frm_input" type="color" ng-model="items.color" />
			</span>
			<span class="frm_input_box frm_input_box_100">
				<input class="frm_input" type="text" ng-model="items.color" />
			</span>
		</div>
	</div>
	<div class="frm_control_group" >
		<label for="" class="frm_label">导航文字激活颜色</label>
		<div class="frm_controls">
			<span class="frm_input_box frm_input_box_50">
				<input class="frm_input" type="color" ng-model="items.actcolor" />
			</span>
			<span class="frm_input_box frm_input_box_100">
				<input class="frm_input" type="text" ng-model="items.actcolor" />
			</span>
		</div>
	</div>
	<div class="frm_control_group" ng-if="items.bartype == 1">
		<label for="" class="frm_label">底部导航上边颜色</label>
		<div class="frm_controls">
	    	<label class="frm_radio_label" ng-click="items.wxbjcolor = 'black'"> 
	    		<i class="icon_radio"></i> 
	    		<span class="lbl_content">黑色</span>
	    		<input type="radio" name="wxbjcolor" on-selected value="black" class="frm_radio"  ng-model="items.wxbjcolor"  /> 
	    	</label> 
	    	<label class="frm_radio_label " ng-click="items.wxbjcolor = 'white'">
	    		<i class="icon_radio"></i>
	    		<span class="lbl_content">白色</span>
	    		<input type="radio" name="wxbjcolor" on-selected value="white" class="frm_radio"  ng-model="items.wxbjcolor"  /> 
	    	</label>
	    	<p class="tips">提示：选择微信系统导航每次修改导航后都需要提交审核代码。</p>
		</div>
	</div>
	<!-- <div class="frm_control_group" ng-if="items.bartype == 1">
		<label for="" class="frm_label">&nbsp;</label>
		<div class="frm_controls">
	    	
		</div>
	</div> -->
	<div class="frm_control_group" ng-if="items.bartype == 1">
		<label for="" class="frm_label">图标尺寸</label>
		<div class="frm_controls ">
			<li class="frm_input_box_200 my_slider_line slider" my-slider min="0" max="81" type="1" value="{{items.fontsizesys}}" name="fontsizesys"></li>
			<span class="my_slider_notice tips">{{items.fontsizesys}} 像素</span>
			<p class="my_slider_notice tips">导航图标尺寸大小限制为40kb，建议尺寸为 81px * 81px。拉取到0系统不改变上传的图标尺寸。若想缩小显示的图标,可用图片软件在图标的周围增加透明色<a href="http://www.iconfont.cn/collections" target="_blank">下载图标</a></p>
		</div>
	</div>
</div>
<div ng-if="showtab == 2">
	<div class="frm_control_group" > 
	  	<label for="" class="frm_label">底部导航数量</label> 
	   	<div class="frm_controls"> 
	    	<label class="frm_radio_label" ng-click="changeNum(2)"> 
	    		<i class="icon_radio"></i> 
	    		<span class="lbl_content">2个</span>
	    		<input type="radio" name="num" on-selected value="2" class="frm_radio"  ng-model="items.num"  /> 
	    	</label> 
	    	<label class="frm_radio_label " ng-click="changeNum(3)">
	    		<i class="icon_radio"></i>
	    		<span class="lbl_content">3个</span>
	    		<input type="radio" name="num" on-selected value="3" class="frm_radio"  ng-model="items.num"  /> 
	    	</label>
	    	<label class="frm_radio_label " ng-click="changeNum(4)">
	    		<i class="icon_radio"></i>
	    		<span class="lbl_content">4个</span>
	    		<input type="radio" name="num" on-selected value="4" class="frm_radio"  ng-model="items.num"  /> 
	    	</label>
	    	<label class="frm_radio_label " ng-click="changeNum(5)">
	    		<i class="icon_radio"></i>
	    		<span class="lbl_content">5个</span>
	    		<input type="radio" name="num" on-selected value="5" class="frm_radio"  ng-model="items.num"  /> 
	    	</label>	    		    	
	   	</div>
	</div>
	
	<div class="edit_data_box" ui-sortable="sortableOptions" ng-model="items.data">
		<div class="edit_data_item" ng-repeat="vv in items.data track by $index">
			<div class="design_single_box item_cell_box">
				<div class="item_cell_flex">
					<div>
						导航名称
						<span class="frm_input_box frm_input_200">
							<input type="text" class="frm_input" ng-model="vv.name">
						</span>
					</div>
					<div class="item_cell_box" style="margin-top: 5px;">
						<div class="nowrap" >导航类型</div>
						<div>
				    	<label class="frm_radio_label" ng-click="vv.type = 'url'"> 
				    		<i class="icon_radio"></i> 
				    		<span class="lbl_content">跳转页面</span>
				    		<input type="radio" name="type{{$index}}" on-selected value="url" class="frm_radio"  ng-model="vv.type"  /> 
				    	</label>
				    	<font ng-if="items.bartype == 0 || !items.bartype">
					    	<label class="frm_radio_label " ng-click="vv.type = 'weburl'">
					    		<i class="icon_radio"></i>
					    		<span class="lbl_content">跳转网页</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="weburl" class="frm_radio"  ng-model="vv.type"  />
					    	</label>
					    	<label class="frm_radio_label" ng-click="vv.type = 'other'" ng-if="$index > 0"> 
					    		<i class="icon_radio"></i> 
					    		<span class="lbl_content">其他小程序</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="other" class="frm_radio"  ng-model="vv.type"  />
					    	</label>
					    	<label class="frm_radio_label " ng-click="vv.type = 'tel'" ng-if="$index > 0">
					    		<i class="icon_radio"></i>
					    		<span class="lbl_content">拨打电话</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="tel" class="frm_radio"  ng-model="vv.type"  /> 
					    	</label>
					    	<label class="frm_radio_label " ng-click="vv.type = 'share'" ng-if="$index > 0">
					    		<i class="icon_radio"></i>
					    		<span class="lbl_content">分享提示</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="share" class="frm_radio"  ng-model="vv.type"  /> 
					    	</label>
					    	<label class="frm_radio_label " ng-click="vv.type = 'map'" ng-if="$index > 0">
					    		<i class="icon_radio"></i>
					    		<span class="lbl_content">地图位置</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="map" class="frm_radio"  ng-model="vv.type"  /> 
					    	</label>
					    	<label class="frm_radio_label " ng-click="vv.type = 'kefu'" ng-if="$index > 0">
					    		<i class="icon_radio"></i>
					    		<span class="lbl_content">联系客服</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="kefu" class="frm_radio"  ng-model="vv.type"  />
					    	</label>
					    	<label class="frm_radio_label " ng-click="vv.type = 'images'" ng-if="$index > 0">
					    		<i class="icon_radio"></i>
					    		<span class="lbl_content">打开图片</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="images" class="frm_radio"  ng-model="vv.type"  />
					    	</label>
					    	<label class="frm_radio_label " ng-click="vv.type = 'copy'" ng-if="$index > 0">
					    		<i class="icon_radio"></i>
					    		<span class="lbl_content">复制文字</span>
					    		<input type="radio" name="type{{$index}}" on-selected value="copy" class="frm_radio"  ng-model="vv.type"  />
					    	</label>
				    	</font>				    			    	
						</div>		    	
					</div>
					<div style="margin-top: 5px;" ng-show="vv.type == 'url'">
						跳转页面
						<span class="frm_input_box frm_input_200 readonlybg">
							<input type="text" class="frm_input " ng-model="vv.urlname" readonly>
						</span><a href="javascript:;" ng-click="showLink(vv.id,'my',$index)">设置链接</a>
					</div>
					<div ng-if="items.bartype == 0 || !items.bartype">
						<div style="margin-top: 5px;" ng-show="vv.type == 'kefu'">
							 sess-from
							<span class="frm_input_box frm_input_200">
								<input type="text" class="frm_input" ng-model="vv.sfrom" >
							</span>(可不填)
						</div>
						<div style="margin-top: 5px;" ng-show="vv.type == 'tel'">
							电话号码
							<span class="frm_input_box frm_input_200">
								<input type="text" class="frm_input" ng-model="vv.tel" >
							</span>
						</div>
						<div style="margin-top: 5px;" ng-show="vv.type == 'map'">
							地图坐标<span class="frm_input_box frm_input_200 readonlybg">
								<input type="text" class="frm_input " value="39.916527,116.397128" readonly>
							</span><a href="javascript:;" ng-click="showMap( $index )">选择坐标</a>
							<div class="mt05">
								位置名称<span class="frm_input_box frm_input_200">
									<input type="text" class="frm_input " ng-model="vv.addname">
								</span>
							</div>
							<div class="mt05">
								详细地址<span class="frm_input_box frm_input_200">
									<input type="text" class="frm_input " ng-model="vv.address">
								</span>
							</div>						
						</div>
						<div style="margin-top: 5px;" ng-show="vv.type == 'other'">
							appid&nbsp;&nbsp;&nbsp;
							<span class="frm_input_box frm_input_200">
									<input type="text" class="frm_input" ng-model="vv.appid" >
								</span><a href="javascript:;" ng-click="showLink(vv.id,'app')">选择</a>
						</div>
						<div style="margin-top: 5px;" ng-show="vv.type == 'other'">
							页面路径<span class="frm_input_box frm_input_200">
									<input type="text" class="frm_input" ng-model="vv.appurl" >
								</span>
						</div>
						<div ng-show="vv.type == 'weburl'">
							网页链接<span class="frm_input_box frm_input_200">
									<input type="text" class="frm_input" ng-model="vv.weburl" >
								</span>
							<p class="font_999 tips">一定要在微信小程序后台设置此域名为业务域名</p>
						</div>
						<div class="frm_control_group mt05" ng-show="vv.type == 'images'">
							<label for="" class="frm_label">图片内容</label>
							<div class="frm_controls">
								<div class="imagesdata_box">
									<img ng-repeat="inn in vv.imagesdata" ng-src="{{inn.url}}" ng-click="deleteImagesdata(vv.imagesdata,inn.id)">
								</div>
								
								<a href="javascript:;" ng-click="uploadMultiImage(vv.id)">选择图片</a>
							</div>
						</div>
						<div style="margin-top: 5px;" ng-show="vv.type == 'copy'">
							文字内容
							<span class="frm_input_box frm_input_200">
								<input type="text" class="frm_input" ng-model="vv.text" >
							</span>
						</div>

					</div>
				</div>
				<div class="edit_image_upload edit_image_upload60" ng-click="uploadImage(vv,'goodimg')" style="margin-right: 5px;">
					<img class="upload_image_img" ng-src="{{siteroot + vv.img}}" >
					<span class="edit_image_notice">默认图标</span>
				</div>
				<div class="edit_image_upload edit_image_upload60" ng-click="uploadImage(vv,'actimg')">
					<img class="upload_image_img" ng-src="{{siteroot + vv.actimg}}" >
					<span class="edit_image_notice">激活图标</span>
				</div>
				<a href="javascript:;" ng-click="loadicon($index)" style="margin-left: 5px;">导入</a>	
			</div>
		</div>
	</div>
</div>
</div>