<div class="temp_item temp_item_title fixbgimg" ng-style="{'padding':item.params.padding+'px '+item.params.paddingv+'px','background':'linear-gradient(to bottom,'+item.params.bgcolor+','+item.params.tobgcolor+')'}">
	
	<div class="item_cell_box" style="align-items: center;">
		<div class="temp_ad_limg" ng-if="item.params.leftimg">
			<img ng-style="{'width':item.params.imgwidth+'px'}" ng-src="{{item.params.leftimg}}">
		</div>
		<div class="item_cell_flex temp_ad_mfont" ng-style="{'font-size':item.params.fontsize+'px','color':item.params.color,'height':item.params.height+'px','line-height':item.params.height+'px'}">
			{{item.params.adtype == 0 || !item.params.adtype ? item.params.text : item.params.data[0].text}}
		</div>
		
	</div>

</div>