{template 'common/header'}
<div class="main">
<div class="panel panel-info">
		<div class="panel-heading">筛选</div>
		<div class="panel-body">
			<form  method="get" class="form-horizontal" role="form">				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">分答状态</label>
					<div class="col-sm-6 col-lg-8">
					<input type="hidden" name="c" value="site">
					<input type="hidden" name="a" value="entry">
					<input type="hidden" name="do" value="ask_manage">
					<input type="hidden" name="m" value="dg_chat">
						<select name="is_openask" class="form-control">
							<option value="" selected="selected">不限</option>
							<option value="-1"{if '-1' == $_GPC['is_openask']} selected="selected"{/if}>被禁用</option>
							<option value="0"{if '0' == $_GPC['is_openask']} selected="selected"{/if}>未开启</option>
							<option value="1"{if '1' == $_GPC['is_openask']} selected="selected"{/if}>已开启</option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">查询关键词</label>
					<div class="col-sm-6 col-lg-8">
						<input class="form-control" name="keyword" id="" type="text" value="{$_GPC['keyword']}" placeholder="请输入用户昵称或者姓名或者用户头衔">
					</div>
					<div class="pull-right col-xs-12 col-sm-3 col-lg-2">
						<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th style="width:65px;" align="center">头像</th>
					<th>昵称</th>
					<th>姓名</th>
					<th>头衔</th>
					<th>提问金额</th>
					<th align="center">加入时间</th>
					<th>状态</th>
					<th style="width:150px;">快捷操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $records $row}
				<tr>
					<td><img alt="" src="{$row['avatar']}" width='auto' style="max-width:50px; max-height:50px;" height='auto'></td>
					<td>{$row['nickname']}</td>
					<td>{$row['real_name']}</td>
					<td>{$row['user_title']}</td>
					<td>{$row['pay_money']}</td>
					<td>{php echo date('Y/m/d H:i:s', $row['create_time']);}</td>
					<td id="openask_{$row['id']}">{$row['is_openask']}</td>
					<td>
					 <label style="cursor:pointer;" data="{$row['id']}" class="label label-default {if $row['is_openask']=='被禁用'}label-info{/if}" onclick="setUserStatus(this,'no','{$row['is_openask']}')">禁用</label>
					 <label style="cursor:pointer;" data="{$row['id']}" class="label label-default {if $row['is_openask']=='已开启'}label-info{/if}" onclick="setUserStatus(this,'shut','{$row['is_openask']}')">开启</label>
					 <label style="cursor:pointer;" data="{$row['id']}" class="label label-default {if $row['is_recommend']=='1'}label-info{/if}" onclick="setUserStatus(this,'recommend','{$row['is_recommend']}')">推荐</label>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
	</div>
	</div>
	{$pager}
</div>
<script type="text/javascript">
function setUserStatus(obj,op,is_openask){
	var row_id=$(obj).attr('data');
	$.post(location.href,{id:row_id,op:op},function(result){
		if(op=='no'){
			if(result.data==-1){
				$(obj).addClass('label-info');
				$("#openask_"+row_id).text('被禁用');
			}else{
				$(obj).removeClass('label-info');
				$("#openask_"+row_id).text('未开启');
			}
		}else if(op=='shut'){
			if(result.data==0){
				$(obj).removeClass('label-info');
				$("#openask_"+row_id).text('未开启');
			}else{
				$(obj).addClass('label-info');
				$("#openask_"+row_id).text('已开启');
			}
		}else{
			if(result.data==0){
				$(obj).removeClass('label-info');
			}else{
				$(obj).addClass('label-info');
			}
		}
	});
}
</script>
{template 'common/footer'}