{template 'common/header'}

<ul class="nav nav-tabs">
	<li {if $_GPC['do'] == 'chat_gift' &&  $_GPC['op']!= 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('chat_gift', array('rid' => $rid))}">礼物管理</a></li>
	<li {if $_GPC['op'] == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('chat_gift', array('rid' => $rid, 'op' => 'post' ))}">添加礼物</a></li>
</ul>
 {if $_GPC['op'] == 'post'}   
<div class="main">
	<form action="" method="post" class="form-horizontal form"	enctype="multipart/form-data">
		<div class="panel panel-default">
			<div class="panel-heading">
				标签设置
			</div>
			<div class="panel-body">
			
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>礼物图片</label>
					<div class="col-sm-9 col-xs-12">
						{php echo tpl_form_field_image('gift_img', $gift['gift_img'])}
						<div class="help-block">*图片建议大小40*40</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>礼物名称</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="gift_name" class="form-control" value="{$gift['gift_name']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>礼物价格</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="gift_price" class="form-control" value="{$gift['gift_price']}" />
					</div>
				</div>
					<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="displayorder" class="form-control" value="{$gift['displayorder']}" />
					</div>
				</div>
				 <div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否显示</label>
					<div class="col-sm-9 col-xs-12">
						<label class='radio-inline'>
							<input type='radio' name='status' value=1' {if $gift['status']==1}checked{/if} /> 是
						</label>
						<label class='radio-inline'>
							<input type='radio' name='status' value=0' {if $gift['status']==0}checked{/if} /> 否
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="hidden" name="gift_id" value="{$gift['id']}"/>
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>
{else}
<div class="main">
	
		<div class="panel panel-default">
			
			<form method="post" class="form-horizontal" id="formfans">
			<input type="hidden" name="op" value="del" />
			<div style="position:relative">
				<div class="panel-body table-responsive">
					<table class="table table-hover" style="position:relative">
					<thead class="navbar-inner">
						<tr>
							<th >排序</th>
							<th >礼物名称</th>
									<th>礼物图片</th>					
									<th>礼物价格</th>
									<th>状态</th>
									<th >添加时间</th>
						</tr>
					</thead>
					<tbody>
						{loop $list $gift}
							<tr>
								<td>{$gift['displayorder']}</td>
								<td>{$gift['gift_name']}</td>
								<td><img src="{$gift['gift_img']}" alt="" width="80px" height="80px"></td>
								<td>{$gift['gift_price']}</td>
								<td>{if $gift['status']==1}显示{else}隐藏{/if}</td>
								<td style="text-align:left;">
									<a href="{php echo $this->createWebUrl('chat_gift', array('op' => 'post', 'id' => $gift['id']))}" data-toggle="tooltip" data-placement="top"  class="btn btn-default btn-sm manage"><i class="fa fa-edit"></i>修改</a>
									<a onclick="return confirm('确认要删除吗？删除将不能恢复！');" href="{php echo $this->createWebUrl('chat_gift', array('op' => 'delete', 'id' => $gift['id']))}" data-toggle="tooltip" data-placement="top"  class="btn btn-default btn-sm manage"><i class="fa fa-del"></i>删除</a> 
								</td>
							</tr>
						{/loop}
						
					</tbody>
					</table>
				</div>
			</div>
			</form>
			{$pager}
		</div>
    </div>
{/if}
{template 'common/footer'}