{template 'common/header'}
<style type="text/css">
.modal-body{padding:10px;}
</style>
{if $op=='look'}
<ul class="nav nav-tabs">
<li {if $_GPC['op'] =='display'&& $_GPC['do'] == 'coupon_manage'}class="active"{/if}><a href="{php echo $this->createWebUrl('coupon_manage')}">优惠劵列表</a></li>
	<li {if $_GPC['op'] == 'look'}class="active"{/if}><a href="{php echo $this->createWebUrl('coupon_manage',array('op'=>'look','coupon_id'=>$coupon_id))}">领取人员</a></li>
	</ul>
{else}
<ul class="nav nav-tabs">
	<li {if $_GPC['op'] ==''&& $_GPC['do'] == 'coupon_manage'}class="active"{/if}><a href="{php echo $this->createWebUrl('coupon_manage')}">优惠劵列表</a></li>
	<li {if $_GPC['op'] == 'post'||$_GPC['op'] == 'edit'}class="active"{/if}><a href="{php echo $this->createWebUrl('coupon_manage',array('op'=>'post'))}">添加优惠劵</a></li>
</ul>
{/if}
{if $op=='display'}
<div class="main">
<div class="panel panel-info">
	<div class="panel-heading">筛选</div>
	<div class="panel-body">
		<form  method="get" class="form-horizontal" role="form">				
			<input type="hidden" name="c" value="site">
			<input type="hidden" name="a" value="entry">
			<input type="hidden" name="do" value="coupon_manage">
			<input type="hidden" name="m" value="dg_chat">
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">优惠劵类型</label>
				<div class="col-sm-6 col-lg-8">
					<select name="change_type" class="form-control">
						<option value="">全部</option>
						<option value="2"{if $change_type ==2}selected{/if}>无门槛</option>
						<option value="1"{if $change_type ==1}selected{/if}>满减</option>
					</select>
				</div>
				<div class="pull-right col-xs-12 col-sm-3 col-lg-2">
					<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
				</div>
			</div>
			
		</form>
	</div>
</div>
	<div class="panel panel-default">
	<div class="panel-heading">	
			<div class="row-fluid">
				<div class="span8 control-group">
					共计 {$total} 条数据
				</div>
			</div>
		</div>
		<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th>名称</th>
					<th>面额</th>
					<th>使用条件</th>
					<th>有效期</th>
					<!-- <th>发行数量（张）</th> -->
					<th>创建时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $coupon_list $row}
				<tr>
					<td>{$row['coupon_name']}</td>
					<td>{$row['coupon_money']}</td>
					<td>{if $row['coupon_type'] ==1}满{$row['full_money']}元{else}无门槛{/if}</td>
					<td>{php echo date('y-m-d',$row['start_time'])}~~{php echo date('y-m-d',$row['end_time'])}</td>
					<!-- <td>{$row['coupon_number']}</td> -->
					<td>{php echo date('y-m-d H:i:s',$row['create_time'])}</td>
					<td>
						<a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="{php echo $this->createWebUrl('coupon_manage',array('coupon_id'=>$row['id'],'op'=>'look'))}" title="添加人员" data="{$row['id']}"><i class="fa fa-signal"></i></a>
						<a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="{php echo $this->createWebUrl('coupon_manage',array('coupon_id'=>$row['id'],'op'=>'post'))}" title="编辑" data="{$row['id']}"><i class="fa fa-edit"></i></a>
						<a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="{php echo $this->createWebUrl('coupon_manage',array('coupon_id'=>$row['id'],'op'=>'del'))}" title="删除" data="{$row['id']}"><i class="fa fa-times"></i></a>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
	</div>
	</div>
	{$pager}
</div>
{elseif $op=='post'}
<div class="main">
 <form action="" method="post" class="form-horizontal form" id="setting-form">
		<div class="panel panel-default">
		
			<div class="panel-body">
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style="color:red;">*</span>优惠劵标题</label>
					<div class="col-sm-8">
						<input type="text" name="coupon_name" class="form-control" value="{$coupon_info['coupon_name']}" />
					</div>
				</div>
         
            
            <div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style="color:red;">*</span>优惠劵面额</label>
					<div class="col-sm-8">
						<input type="text"value="{$coupon_info['coupon_money']}" class="form-control" name="coupon_money">
					</div>
			</div>

            <div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style="color:red;">*</span>有效期 </label>
				<div class="col-sm-8">
				{php echo tpl_form_field_daterange('begin_time', $begin_time)}			
				<div class="help-block"></div>
				</div>
			</div>			
				
            <!-- <div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style="color:red;">*</span>优惠劵数量</label>
				<div class="col-sm-8">
					<input type="text" name="coupon_number" class="form-control" value="{$coupon_info['coupon_number']}" />
					
				</div>
			</div> -->

			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">优惠劵类型</label>
	            <div class="col-sm-9 col-xs-6">
					<div class="input-group">
						<label class="radio-inline">
	                	<input type="radio" name="coupon_type" value="2" class="type" {if $coupon_info['coupon_type']==2||empty($coupon_info['coupon_type']) }checked="checked"{/if}>无门槛
		                </label>
		                <label class="radio-inline">
		                	<input type="radio" name="coupon_type" value="1" class="type" {if $coupon_info['coupon_type']==1 }checked="checked"{/if}>满减
		                </label>    
					</div>
	            </div>
			</div>

			<div class="form-group full" {if $coupon_info['coupon_type'] ==2||empty($coupon_info['coupon_type'])}style="display:none"{/if}>
				<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style="color:red;">*</span>满值金额</label>
				<div class="col-sm-8">
					<input type="text" name="full_money" class="form-control" value="{$coupon_info['full_money']}" />
				</div>
			</div>
         				
 	</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
</div>
<script type="text/javascript">
require(['jquery', 'util'], function ($, u) {
    $(function () {
    	$(".type").click(function(){
    		if($(this).val() ==1){
    			$(".full").show();
    		}else{
    			$(".full").hide();
    		}
    	})
    	$('#setting-form').submit(function(){
			var result = true;
			if($('input[name="coupon_name"]').val() == ''){
				result = false;
				util.message('未填写优惠劵名称.');
			}
			if($('input[name="coupon_money"]').val() == ''){
				result = false;
				util.message('未填写优惠劵价格.');
			}
			// if($('input[name="coupon_number"]').val() == ''){
			// 	result = false;
			// 	util.message('未填写优惠劵数量.');
			// }
			return result;
		});
    });
});

</script>
{elseif $op=='look'}
<div class="main">
	<div class="panel-heading">	
	  <div class="row-fluid">
		<div class="span8 control-group">
			<a class="btn btn-primary add_manager" href="javascript:;">
				添加人员</a>
		</div>
		</div>
	</div>
	<div class="panel panel-default">
	<div class="panel-heading">	
			<div class="row-fluid">
				<div class="span8 control-group">
					共计 {$total} 条数据
				</div>
			</div>
		</div>
		<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th>头像</th>
					<th>昵称</th>
					<th>领取时间</th>
				</tr>
			</thead>
			<tbody>
				{loop $rece_list $row}
				<tr>
					<td><img src="{$row['use_avatar']}" alt="" width="40px" height="40px"></td>
					<td>{$row['use_nickname']}</td>
					<td>{php echo date('y-m-d H:i:s',$row['create_time'])}</td>
				</tr>
				{/loop}
			</tbody>
		</table>
	</div>
	</div>
	{$pager}
</div>
<div class="modal fade" id="module-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:800px;top:200px;">
			<div class="modal-content">
				<form action="./index.php?c=extension&a=module&do=info&" method="post" enctype="multipart/form-data" class="form-horizontal form" id="form-info">
					<input type="hidden" name="m" value=""/>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4>添加人员</h4>
					</div>
					<div class="modal-body">
                                        <div class="row">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="keyword" value="" id="keyword" placeholder="请输入粉丝昵称/姓名">
                                                <span class="input-group-btn"><button type="button" class="btn btn-default" onclick="search_members();">搜索</button></span>
                                            </div>
                                        </div>
                                        <div id="module-menus" style="padding-top:5px;"><div style="max-height:500px;overflow:auto;min-width:750px;">
			<table class="table table-hover" style="min-width:750px;">
				<tbody id="search_list">  
				</tbody>
			</table>
				    </div></div>
				 </div>
					
				</form>
			</div>
		</div>
</div>
<script type="text/javascript">
function getRows(data){
	var html='';
	for(i=0;i<data.length;i++){
		html+='<tr>';
		html+='<td><img src="'+data[i].avatar+'" style="width:30px;height:30px;padding1px;border:1px solid #ccc"> '+data[i].nickname+'</td>';
		html+='<td></td>';
		html+='<td></td>';
		html+='<td style="width:80px;"><a href="javascript:;" onclick="select_member('+data[i].id+')">选择</a></td>';
	    html+='</tr>';
	}
	return html;
}
function search_members(){
	var user_key=$("#keyword").val();
	$("#search_list").empty();
	
	$.post(location.href,{user_key:user_key},function(result){
		var html=getRows(result.data);
		$("#search_list").append(html);
	});
}

function select_member(uid){
   $.post(location.href,{uid:uid},function(result){
   	if(result.success ==-1){
   		alert(result.data);
   	}else{
   		location.href=location.href; 
   	}
	 
   });	
}
$(function(){
	$(".add_manager").click(function(){
		$('#module-info').modal('show');
	});
});
</script>
{/if}
{template 'common/footer'}