{template 'common/header'}
<ul class="nav nav-tabs">
    <li {if $op =='display'}class="active"{/if}><a href="{php echo $this->createWebUrl('global_bonus')}">基础设置</a></li>
    <li {if $op == 'level'}class="active"{/if}><a href="{php echo $this->createWebUrl('global_bonus', array('op' => 'level' ))}">分红层级佣金</a></li>
    <li {if $op == 'agent'}class="active"{/if}><a href="{php echo $this->createWebUrl('global_bonus', array('op' => 'agent' ))}">分销商管理</a></li>
    <li {if $op == 'merchant'}class="active"{/if}><a href="{php echo $this->createWebUrl('global_bonus', array('op' => 'merchant' ))}">招商员</a></li>
    <li {if $op == 'branchcourt'}class="active"{/if}><a href="{php echo $this->createWebUrl('global_bonus', array('op' => 'branchcourt' ))}">分院用户</a></li>
    <li {if $op == 'order'}class="active"{/if}><a href="{php echo $this->createWebUrl('global_bonus', array('op' => 'order' ))}">分红订单</a></li>
    <!-- <li {if $op == 'apply'}class="active"{/if}><a href="{php echo $this->createWebUrl('global_bonus', array('op' => 'apply' ))}">提现申请</a></li> -->
</ul>
{if $op == 'display'}
<div class="main" style="padding-top:5px;">
 <form id="payform" action="" method="post" enctype="multipart/form-data" method="post" class="form-horizontal form" onsubmit="return validate();">
        <div class="panel panel-default">
            <div class="panel-heading">
                全球分红基础设置
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red;">*</span>是否开放分红</label>
                <div class="col-sm-9 col-xs-6">
                    <div class="input-group">
                        <label class="radio-inline">
                        <input type="radio" name="open" value="1" {if $chat_setting_fields['open'] ==1 } checked="checked" {/if} >是
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="open" value="0" {if $chat_setting_fields['open'] ==0 } checked="checked" {/if} >否
                    </label></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red;">*</span>分红等级</label>
                <div class="col-sm-9 col-xs-6">
                    <div class="input-group">
                        <label class="radio-inline">
                        <input type="radio" name="level" value="0" {if $chat_setting_fields['level'] ==0 } checked="checked" {/if} >不开启
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="level" value="1"  {if $chat_setting_fields['level'] ==1 } checked="checked" {/if}>1级</label>
                        <label class="radio-inline">
                            <input type="radio" name="level" value="2"  {if $chat_setting_fields['level'] ==2 } checked="checked" {/if}>2级</label>
                        <label class="radio-inline">
                            <input type="radio" name="level" value="3" {if $chat_setting_fields['level'] ==3 } checked="checked" {/if}>3级</label>
                    </div>
                </div>
            </div>


           <!--  <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red;">*</span>是否开启内购</label>
                <div class="col-sm-9 col-xs-6">
                    <div class="input-group">
                        <label class="radio-inline">
                        <input type="radio" name="selfbuy" value="1" checked="checked">是
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="selfbuy" value="letv">否
                        </label>
                    </div>
                </div>
            </div> -->

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red;">*</span>我的邀请码</label>
                <div class="col-sm-9 col-xs-6">
                    <div class="input-group">
                        <label class="radio-inline">
                        <input type="radio" name="hideicode" value="1" {if $chat_setting_fields['hideicode'] ==1 } checked="checked" {/if}>显示
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="hideicode" value="0" {if $chat_setting_fields['hideicode'] ==0 } checked="checked" {/if}>隐藏
                    </label></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red;">*</span>非分销商下线绑定</label>
                <div class="col-sm-9 col-xs-6">
                    <div class="input-group">
                        <label class="radio-inline">
                        <input type="radio" name="global_bing" value="1" {if $chat_setting_fields['global_bing'] ==1 } checked="checked" {/if}>开启
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="global_bing" value="0" {if $chat_setting_fields['global_bing'] ==0 } checked="checked" {/if}>关闭
                    </label></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">非分销商直推奖</label>
                <div class="col-sm-9 col-xs-12">
                    <div class="input-group fixmore-input-group">
                        <input type="text" name="directpushrate" class="form-control" value="{$chat_setting_fields['directpushrate']}">
                        <div class="input-group-addon">%</div>
                        <input type="text" name="directpushmoney" class="form-control" value="{$chat_setting_fields['directpushmoney']}">
                        <div class="input-group-addon">元</div>
                    </div>
                    <span class="help-block">直推用户不是分销商时分配的直推奖励,建议填写比例或者金额中的一个,两个填写时优先金额</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">招商员分红</label>
                <div class="col-sm-9 col-xs-12">
                    <div class="input-group fixmore-input-group">
                        <input type="text" name="merchantsrate" class="form-control" value="{$chat_setting_fields['merchantsrate']}">
                        <div class="input-group-addon">%</div>
                        <input type="text" name="merchantsmoney" class="form-control" value="{$chat_setting_fields['merchantsmoney']}">
                        <div class="input-group-addon">元</div>
                    </div>
                    <span class="help-block">此处填写统一招商员分红比例,如果某直播间招商员分红比例有所不同，可对直播间单独设置，从编辑入口设置</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">分院分红</label>
                <div class="col-sm-9 col-xs-12">
                    <div class="input-group fixmore-input-group">
                        <input type="text" name="branchcourtrate" class="form-control" value="{$chat_setting_fields['branchcourtrate']}">
                        <div class="input-group-addon">%</div>
                        <input type="text" name="branchcourtmoney" class="form-control" value="{$chat_setting_fields['branchcourtmoney']}">
                        <div class="input-group-addon">元</div>
                    </div>
                    <span class="help-block">此处填写统一分院分红比例,如果某直播间分院分红比例有所不同，可对直播间单独设置，从编辑入口设置</span>
                </div>
            </div>

        </div>
        <!--    提现设置 !-->
        <div class="panel panel-default">
            <div class="panel-heading">
                提现设置
            </div>

            <div class="form-group ">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">提现方式</label>
                <div class="col-sm-9 col-xs-12">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="data[cashcredit]" class="tag_check" value="1" {if $chat_setting_fields['withdraw_way']['cashcredit'] ==1}checked="checked"{/if}> 账户余额</label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="data[cashweixin]" class="tag_check" value="2" {if $chat_setting_fields['withdraw_way']['cashweixin'] ==2}checked="checked"{/if}> 微信</label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="data[cashother]" class="tag_check" value="3" {if $chat_setting_fields['withdraw_way']['cashother'] ==3}checked="checked"{/if}> 其他 </label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style="color:red;">*</span>最小提现金额</label>
                <div class="col-sm-8">
                    <input type="text" name="withdraw" class="form-control" value="{$chat_setting_fields['withdraw']}" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">佣金提现手续费</label>
                <div class="col-sm-9 col-xs-12">
                    <div class="input-group fixmore-input-group">
                        <input type="text" name="withdrawcharge" class="form-control" value="{$chat_setting_fields['withdrawcharge']}">
                        <div class="input-group-addon">%</div>
                    </div>
                    <span class="help-block">佣金提现时,扣除的提现手续费.空为不扣除提现手续费</span>
                </div>
            </div>

        </div>

        <div class="form-group col-sm-12">
            <input name="do-submit" type="submit" value="提交" class="btn btn-primary col-lg-1" />
            <input type="hidden" name="token" value="{$_W['token']}" />
        </div>


    </div>
    </form>
</div>
{elseif $op=='level'}
<div class="main" style="padding-top:5px;">
 <form id="payform" action="" method="post" enctype="multipart/form-data" method="post" class="form-horizontal form" onsubmit="return validate();">
        <div class="panel panel-default">
            <div class="panel-heading">
                分销佣金设置
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">一级佣金</label>
                <div class="col-sm-9 col-xs-12">
                    <div class="input-group fixmore-input-group">
                        <input type="text" name="commission1_rate" class="form-control" value="{$chat_setting_fields['commission1_rate']}">
                        <div class="input-group-addon">%</div>
                        <input type="text" name="commission1_pay" class="form-control" value="{$chat_setting_fields['commission1_pay']}">
                        <div class="input-group-addon">元</div>
                    </div>
                    <span class="help-block">分销商一级佣金设置</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">二级佣金</label>
                <div class="col-sm-9 col-xs-12">
                    <div class="input-group fixmore-input-group">
                        <input type="text" name="commission2_rate" class="form-control" value="{$chat_setting_fields['commission2_rate']}">
                        <div class="input-group-addon">%</div>
                        <input type="text" name="commission2_pay" class="form-control" value="{$chat_setting_fields['commission2_pay']}">
                        <div class="input-group-addon">元</div>
                    </div>
                    <span class="help-block">分销商二级佣金设置</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">三级佣金</label>
                <div class="col-sm-9 col-xs-12">
                    <div class="input-group fixmore-input-group">
                        <input type="text" name="commission3_rate" class="form-control" value="{$chat_setting_fields['commission3_rate']}">
                        <div class="input-group-addon">%</div>
                        <input type="text" name="commission3_pay" class="form-control" value="{$chat_setting_fields['commission3_pay']}">
                        <div class="input-group-addon">元</div>
                    </div>
                    <span class="help-block">分销商三级佣金设置</span>
                </div>
            </div>


        </div>


        <div class="form-group col-sm-12">
            <input name="do-submit" type="submit" value="提交" class="btn btn-primary col-lg-1" />
            <input type="hidden" name="token" value="{$_W['token']}" />
        </div>


    </div>
    </form>
</div>

{elseif $op == 'agent'}
<div class="main">
    <div class="panel panel-default">
        <div class="panel-heading">筛选</div>
        <div class="panel-body">
            <form  method="get" class="form-horizontal" role="form">
                <input type="hidden" name="c" value="site">
                <input type="hidden" name="a" value="entry">
                <input type="hidden" name="do" value="global_bonus">
                <input type="hidden" name="m" value="dg_chat">
                <input type="hidden" name="op" value="agent">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">查询关键词</label>
                    <div class="col-sm-6 col-lg-8">
                        <input class="form-control" name="keyword_user" id="" type="text" value="{$_GPC['keyword_user']}" placeholder="用户昵称或者手机号码">
                    </div>
                    <div class="pull-right col-xs-12 col-sm-3 col-lg-2">
                        <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                    </div>
                </div>

            </form>
        </div>
        <div class="panel-body table-responsive">
        <table class="table table-hover">
            <thead class="navbar-inner">
                <tr>
                    <th style="width:90px">ID昵称</th>
                    <th style="width:70px">头像</th>
                    <th style="width:90px">推荐人</th>
                    <th>姓名</th>
                    <th>手机号</th>
                    <th>支付宝号</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $user_list $row}
                <tr>
                    <td>ID:{$row['id']}<br><span title="{$row['nickname']}">{$row['nickname']}</span></td>
                    <td><img alt="" src="{$row['avatar']}" width='auto' style="max-width:50px; max-height:50px;" height='auto'></td>
                    <td>{if $row['agent_id'] > 0 }<span title="推荐人ID:{$row['agent_id']}">{$row['agent_nickname']}</span><br><img alt="" src="{$row['agent_avatar']}" width='auto' style="max-width:50px; max-height:50px;" height='auto'>{/if}</td>
                    <td>{$row['real_name']}</td>
                    <td>{$row['mobile']}</td>
                    <td>{$row['alipay_num']}</td>
                    <td>
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="{php echo $this->createWebUrl('user_manage',array('id'=>$row['id']))}" title="详细资料" data="{$row['id']}"><i class="fa fa-eye"></i></a>

                        <a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="{php echo $this->createWebUrl('user_manage',array('id'=>$row['id'] , 'op'=>'grade', 'page'=>$pindex))}" title="" data-original-title="编辑"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
    </div>
    </div>
    {$pager}
</div>
{elseif $op == 'merchant' }
<div class="main">
    <div class="panel panel-default">
        <div class="panel-heading">筛选</div>
        <div class="panel-body">
            <form  method="get" class="form-horizontal" role="form">
                <input type="hidden" name="c" value="site">
                <input type="hidden" name="a" value="entry">
                <input type="hidden" name="do" value="global_bonus">
                <input type="hidden" name="m" value="dg_chat">
                <input type="hidden" name="op" value="agent">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">查询关键词</label>
                    <div class="col-sm-6 col-lg-8">
                        <input class="form-control" name="keyword_user" id="" type="text" value="{$_GPC['keyword_user']}" placeholder="用户昵称或者手机号码">
                    </div>
                    <div class="pull-right col-xs-12 col-sm-3 col-lg-2">
                        <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                    </div>
                </div>

            </form>
        </div>
        <div class="panel-body table-responsive">
        <table class="table table-hover">
            <thead class="navbar-inner">
                <tr>
                    <th style="width:90px">ID昵称</th>
                    <th style="width:70px">头像</th>
                    <th style="width:90px">推荐人</th>
                    <th>姓名</th>
                    <th>手机号</th>
                    <th>支付宝号</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $user_list $row}
                <tr>
                    <td>ID:{$row['id']}<br><span title="{$row['nickname']}">{$row['nickname']}</span></td>
                    <td><img alt="" src="{$row['avatar']}" width='auto' style="max-width:50px; max-height:50px;" height='auto'></td>
                    <td>{if $row['agent_id'] > 0 }<span title="推荐人ID:{$row['agent_id']}">{$row['agent_nickname']}</span><br><img alt="" src="{$row['agent_avatar']}" width='auto' style="max-width:50px; max-height:50px;" height='auto'>{/if}</td>
                    <td>{$row['real_name']}</td>
                    <td>{$row['mobile']}</td>
                    <td>{$row['alipay_num']}</td>
                    <td>
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="{php echo $this->createWebUrl('user_manage',array('id'=>$row['id']))}" title="详细资料" data="{$row['id']}"><i class="fa fa-eye"></i></a>

                        <a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="{php echo $this->createWebUrl('user_manage',array('id'=>$row['id'] , 'op'=>'grade', 'page'=>$pindex))}" title="" data-original-title="编辑"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
    </div>
    </div>
    {$pager}
</div>
{elseif $op == 'branchcourt' }
<div class="main">
    <div class="panel panel-default">
        <div class="panel-heading">筛选</div>
        <div class="panel-body">
            <form  method="get" class="form-horizontal" role="form">
                <input type="hidden" name="c" value="site">
                <input type="hidden" name="a" value="entry">
                <input type="hidden" name="do" value="global_bonus">
                <input type="hidden" name="m" value="dg_chat">
                <input type="hidden" name="op" value="agent">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">查询关键词</label>
                    <div class="col-sm-6 col-lg-8">
                        <input class="form-control" name="keyword_user" id="" type="text" value="{$_GPC['keyword_user']}" placeholder="用户昵称或者手机号码">
                    </div>
                    <div class="pull-right col-xs-12 col-sm-3 col-lg-2">
                        <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                    </div>
                </div>

            </form>
        </div>
        <div class="panel-body table-responsive">
        <table class="table table-hover">
            <thead class="navbar-inner">
                <tr>
                    <th style="width:90px">ID昵称</th>
                    <th style="width:70px">头像</th>
                    <th style="width:90px">推荐人</th>
                    <th>姓名</th>
                    <th>手机号</th>
                    <th>支付宝号</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $user_list $row}
                <tr>
                    <td>ID:{$row['id']}<br><span title="{$row['nickname']}">{$row['nickname']}</span></td>
                    <td><img alt="" src="{$row['avatar']}" width='auto' style="max-width:50px; max-height:50px;" height='auto'></td>
                    <td>{if $row['agent_id'] > 0 }<span title="推荐人ID:{$row['agent_id']}">{$row['agent_nickname']}</span><br><img alt="" src="{$row['agent_avatar']}" width='auto' style="max-width:50px; max-height:50px;" height='auto'>{/if}</td>
                    <td>{$row['real_name']}</td>
                    <td>{$row['mobile']}</td>
                    <td>{$row['alipay_num']}</td>
                    <td>
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="{php echo $this->createWebUrl('user_manage',array('id'=>$row['id']))}" title="详细资料" data="{$row['id']}"><i class="fa fa-eye"></i></a>

                        <a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="{php echo $this->createWebUrl('user_manage',array('id'=>$row['id'] , 'op'=>'grade', 'page'=>$pindex))}" title="" data-original-title="编辑"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
    </div>
    </div>
    {$pager}
</div>
{elseif $op == 'order'}
<div class="main">
    <div class="panel panel-info">
            <div class="panel-heading">筛选</div>
            <div class="panel-body">
                <form  method="get" class="form-horizontal" role="form">
                    <input type="hidden" name="c"  value="site">
                    <input type="hidden" name="a"  value="entry">
                    <input type="hidden" name="do" value="global_bonus">
                    <input type="hidden" name="m"  value="dg_chat">
                    <input type="hidden" name="op" value="order">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">分红分类</label>
                        <div class="col-sm-6 col-lg-8">
                            <select name="bonus_c" class="form-control">
                                <option value="" selected="selected">不限</option>
                                <option value="0"{if '0' == $_GPC['bonus_c']} selected="selected"{/if}>直推奖励</option>
                                <option value="1"{if '1' == $_GPC['bonus_c']} selected="selected"{/if}>分销奖励</option>
                                <option value="2"{if '2' == $_GPC['bonus_c']} selected="selected"{/if}>招商员奖励</option>
                                <option value="3"{if '3' == $_GPC['bonus_c']} selected="selected"{/if}>分院奖励</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">分红状态</label>
                        <div class="col-sm-6 col-lg-8">
                            <select name="bonus_s" class="form-control">
                                <option value="" selected="selected">不限</option>
                                <!-- <option value="1"{if '1' == $_GPC['bonus_s']} selected="selected"{/if}>待审核</option> -->
                                <option value="2"{if '2' == $_GPC['bonus_s']} selected="selected"{/if}>待打款</option>
                                <option value="3"{if '3' == $_GPC['bonus_s']} selected="selected"{/if}>已打款</option>
                                <option value="-1"{if '-1' == $_GPC['bonus_s']} selected="selected"{/if}>无效的</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">分类搜索</label>
                        <div class="col-sm-6 col-lg-8">
                            <select name="bonus_sc" class="form-control">
                                <option value="" selected="selected">不限</option>
                                <option value="0"{if '0' == $_GPC['bonus_sc']} selected="selected"{/if}>订单号</option>
                                <option value="1"{if '1' == $_GPC['bonus_sc']} selected="selected"{/if}>直播间ID</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">查询关键词</label>
                        <div class="col-sm-6 col-lg-8">
                            <input class="form-control" name="keyword" id="" type="text" value="{$_GPC['keyword']}" placeholder="请输入订单号或者昵称或者手机号或者直播间ID">
                        </div>
                        <div class="pull-right col-xs-12 col-sm-3 col-lg-2">
                            <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                        </div>
                    </div>
                </form>
            </div>
    </div>
    <div class="panel-body table-responsive">
        <table class="table table-hover">
            <thead class="navbar-inner">
                <tr>
                    <th style="width:50px"><input id="allcheck" type='checkbox' />ID</th>
                    <th style="width:90px">订单编号</th>
                    <th style="width:90px">买家</th>
                    <th style="width:90px">分红用户</th>
                    <th>分红类型</th>
                    <th>分红金额<br>实际分红金额</th>
                    <th>税率<br>扣税金额</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                {loop $apply_list $row}
                <tr>
                    <td>ID:{$row['id']} <input class="singlecheck" data-id="{$row['id']}" type='checkbox'  value="{$item['id']}"/></td>
                    <td>{$row['out_trade_no']}</td>
                    <td>{$row['pay_nickname']}<br><img alt="" src="{$row['pay_avatar']}" width='auto' style="max-width:50px; max-height:50px;" height='auto'></td>
                    <td>{$row['nickname']}<br><img alt="" src="{$row['avatar']}" width='auto' style="max-width:50px; max-height:50px;" height='auto'></td>
                    <td>{$row['commission_ctype']}</td>
                    <td>{$row['commission_pay']}&yen;<br>{$row['realmoney']}&yen;</td>
                    <td>{$row['charge']}%<br>{$row['deductionmoney']}&yen;</td>
                    <td>{$row['commission_ctype']}</td>
                </tr>
                {/loop}
            </tbody>
        </table>
        {if '3' != $_GPC['bonus_s'] && '-1' != $_GPC['bonus_s']}
        <button class="btn btn-default btn-sm" data-way="1" type="button"  data-confirm="确认要打款吗?" data-href="" onclick="ajaxpay(this)" >
            <i class='fa fa-circle'></i> 打款
        </button>
        <button class="btn btn-default btn-sm" data-way="-1" type="button"  data-confirm="确认要彻底设置无效吗?" data-href="" onclick="ajaxpay(this)" >
            <i class='fa fa-circle-o'></i> 设置无效
        </button>
        {/if}
        {if '-1' == $_GPC['bonus_s']}
        <button class="btn btn-default btn-sm" data-way="-2" type="button"  data-confirm="确认要彻底设置未打款吗?" data-href="" onclick="ajaxpay(this)" >
            <i class='fa fa-circle-o'></i> 设置未打款
        </button>
        {/if}
        {$pager}
    </div>
</div>
{/if}

<script>
// 全选和取消全选
$('#allcheck').click(function(event) {
    if ($(this).is(':checked')) {
        $('.singlecheck').prop('checked', true);
    }else{
        $('.singlecheck').prop('checked', false);
    }
});
// 单选
$('.singlecheck').change(function(event) {
    if ($(this).is(':checked')) {
        if ($(".singlecheck").length == $(".singlecheck:checked").length) {
            $('#allcheck').prop("checked", true)
        }
    }else{
        $('#allcheck').prop("checked", false);
    }
});
function ajaxpay(o){
    $(o).addClass('btn-primary').siblings('.btn').removeClass('btn-primary');
    var payway=$(o).attr('data-way');
    var ids=[];
    $.each($(".singlecheck:checked"), function(index, val) {
        ids.push($(val).attr('data-id'))
    });
    console.log(ids);
    if (ids.length<1) {
        alert('请选择再提交');
        return false
    }else{
        $.ajax({
            url: "{php echo $this->createWebUrl('global_bonus',array('op'=>'givemoney'))}",
            type: 'post',
            dataType: 'josn',
            data: {ids:ids,payway:payway},
            success:function(res){
                console.log(res)
                if (res.status==1) {
                    alert('提交成功！')
                }else{
                    alert('提交失败，请刷新重试！')
                }
            },
            error:function(){

            }
        })
    }
}
$(function(){
    var icontype = $('input[name="icontype"]:checked').val();
    var url_type = $('select[name="url_type"]').val();
    if (icontype == 1) {
        $(".system-icon").show();
        $(".define-icon").hide();
    } else {
        $(".system-icon").hide();
        $(".define-icon").show();
    }
    console.log(url_type);
    if(url_type == 1) {
        $(".url").show();
        $(".inner").hide();
    }else{
        $(".url").hide();
        $(".inner").show();
    }
    /*选择图标类型按钮切换*/
        $("#system").click(function() {
            $(".system-icon").show();
            $(".define-icon").hide();
        });
        $("#define").click(function() {
            $(".system-icon").hide();
            $(".define-icon").show();
        });
})
function change(obj){
    if($(obj).val() == 1){
            $(".url").show();
            $(".inner").hide();
        }else{
            $(".url").hide();
            $(".inner").show();
        }
}
</script>

{template 'common/footer'}