{template 'common/header'}

<ul class="nav nav-tabs">
	<li class="active"><a href="{php echo $this->createWebUrl('series_manage')}">编辑音乐</a></li>

</ul>

<div class="main">
 <form action="" method="post" class="form-horizontal form" id="setting-form">
		<div class="panel panel-default">

			<div class="panel-body">

			<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red;">*</span>音乐封面</label>
					<div class="col-sm-9 col-xs-12">
						{php echo tpl_form_field_image('room_icon', $topic['room_icon'])}
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style="color:red;">*</span>音乐标题</label>
					<div class="col-sm-8">
						<input type="text" name="room_name" class="form-control" value="{$topic['room_name']}" />
					</div>
				</div>


				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style="color:red;">*</span>音乐介绍</label>
					<div class="col-sm-8">
					 <textarea style="height: 160px;" id="room_desc" name="room_desc"
                          class="form-control span7" cols="60">{$topic['room_desc']}</textarea>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red;">*</span>概要图片</label>
					<div class="col-sm-9 col-xs-12">
						{php echo tpl_form_field_multi_image('chat_imgs', $topic['chat_imgs'])}
					</div>
				</div>

				<!-- <div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style="color:red;">*</span>排课计划</label>
					<div class="col-sm-8">
						<input type="number" name="count_subject" class="form-control" value="{$topic['count_subject']}" />
					<div class="help-block">预计多少节课</div>
					</div>
				</div> -->




			<!-- <div class="form-group ticket-type"style="display:block;">
				<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style="color:red;">*</span>系列课价格</label>
					<div class="col-sm-8">
						<input type="text" value="{$topic['series_price']}" class="form-control" attr-id="" name="series_price">
					</div>
					<div class="help-block">最小金额1元</div>
			</div> -->

			<!-- <div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style="color:red;">*</span>所属直播间</label>
					<div class="col-sm-8">
						 <select name="room_id" id="change_room" class="form-control">
						 	<option value="0">请选择</option>
						 	{loop $chat_rooms $row}
						 	<option value="{$row['room_id']}" {if $topic['series_id']==$row['room_id']}selected{/if}>{$row['room_name']}</option>
						 	{/loop}
						  </select>
					</div>
			</div> -->

			<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style="color:red;">*</span>审核状态</label>
					<div class="col-sm-8">
                      <select name="is_status" class="form-control">
                      	   <option value="0" {if '0' == $topic['is_status']} selected="selected"{/if}>未通过</option>
                           <option value="1" {if '1' == $topic['is_status']} selected="selected"{/if}>通过</option>
                      </select>
						

					</div>
				</div>

			<div class="form-group ">

				<label class="col-xs-12 col-sm-3 col-md-2 control-label">分类标签</label>
				<div class="col-sm-9 col-xs-12">
					{loop $tag_record $row}
				 <label class="checkbox-inline">
			        <input type="checkbox" name="tags_name[]" class="tag_check" value="{$row['id']}" {if in_array($row['id'],$tag,true)}checked{/if}> {$row['tag_name']}
			    </label>
				  {/loop}
				</div>
			</div>

 	</div>
		</div>

		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
</div>


<script type="text/javascript">
$('.tag_check').click(function(){
	if($("input:checkbox:checked").length==3){
		alert('最多只能选择两个标签');
		$(this).children().attr("checked",false);
	}
})
var tags="{$topic['tags']}";

require(['jquery', 'util'], function ($, u) {
    $(function () {
        //u.editor($('#topic_desc')[0]);
        //u.editor($('#guest_info')[0]);
        if(tags!=''){
				var tagsarray=tags.split(',');
				for(i=0;i<tagsarray.length;i++){
					//$(".tag_"+tagsarray[i]).addClass("active");
					$(".tag_"+tagsarray[i]).children('input').attr("checked",true);
				}
			}
    });
});
function gettagHtml(Qindex,List){
    	text1 ='';
    	if(List[Qindex].statu==1){
    		text1+='<option value="'+List[Qindex].id+'" selected>'+List[Qindex].tag_name+'</option>';
    	}else{
    		text1+='<option value="'+List[Qindex].id+'">'+List[Qindex].tag_name+'</option>';
    	}

		return text1;
    }
	function change_tags(){
		tags1 = $("#tags1").val();
		$.post(location.href,{tags1:tags1},function(result){
			$(".tag-box").show();
			last_html ='';
			content = result.list;
			console.log(content);
			for(var qindex in content){
				  last_html+=gettagHtml(qindex,content);
				}
			$("#add_tags option:not(:first)").remove();
			$('#add_tags').append(last_html);
//			$(".jia").hide();
//			console.log(result);
		})
	}
</script>
{template 'common/footer'}