{template 'common/header'}
<style type="text/css">
.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
  white-space:normal;
}
</style>

<ul class="nav nav-tabs">
	<li class="active"><a href="#">管理课程</a></li></ul>

<div class="main">
<div class="panel panel-info">
		<div class="panel-heading">筛选</div>
		<div class="panel-body">
			<form  method="get" class="form-horizontal" role="form">				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">课程状态</label>
					<div class="col-sm-6 col-lg-8">
					<input type="hidden" name="c" value="site">
					<input type="hidden" name="a" value="entry">
					<input type="hidden" name="do" value="serires_manage">
					<input type="hidden" name="m" value="dg_chat">
						<select name="topic_status" class="form-control">
							<option value="" selected="selected">不限</option>
							<option value="-1"{if '-1' == $_GPC['topic_status']} selected="selected"{/if}>被禁用</option>
							<option value="1"{if '1' == $_GPC['topic_status']} selected="selected"{/if}>直播中</option>
							<option value="2"{if '2' == $_GPC['topic_status']} selected="selected"{/if}>已结束</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">查询关键词</label>
					<div class="col-sm-6 col-lg-8">
						<input class="form-control" name="keyword" id="" type="text" value="{$_GPC['keyword']}" placeholder="请输入话题名称或者房间名称或者创建人昵称">
					</div>
					<div class="pull-right col-xs-12 col-sm-3 col-lg-2">
						<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
					</div>
				</div>
				
			</form>
		</div>
	</div>
	
<div class="panel-heading" style="display:block">	
  <div class="row-fluid">
	<div class="span8 control-group">
		<!--<a class="btn btn-primary index_all" href="javascript:setItemStatus(this,'index_all')">
			<i class="fa fa-home"></i>全部进首页</a>-->
		<a class="btn btn-primary index_all" href="{php echo $this->createWebUrl('series_topic_add',array('series_id'=>$series_id))}">
			新建系列课课程</a>
	</div>
	</div>
</div>


	<div class="panel panel-default">
		<div class="panel-heading">	
			<div class="row-fluid">
				<div class="span8 control-group">
					共计 {$total} 条数据 
				</div>
			</div>
		</div>
		<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th>话题</th>
					<th>话题类型</th>
					<th>直播间</th>
					<th>主讲人</th>
					<th>直播状态</th>
					<th align="center">开始时间</th>
					<th align="center">创建时间</th>
					<th style="width:320px;">快捷操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $records $row}
				<tr>
					<td>{$row['topic_name']}</td>
					<td>{if $row['topic_type']=='public'}公开{else if $row['topic_type']=='ticket'}付费(￥{$row['room_paymoney']}){else}加密({$row['room_password']}){/if}</td>
					<td><a target="_blank" style="color:#3064bb" href="{php echo $this->createWebUrl('topic_manage',array('room_id'=>$row['room_id']))}">{$row['room_name']}</a></td>
					<td>{$row['guest_name']}</td>
					<td>{if $row['topic_status']==-1}被禁{else if $row['topic_status']==1}直播中{else}已结束{/if}</td>
					<td>{php echo date('m/d H:i:s', $row['begin_time']);}
					{if  $row['end_time']>0}
					~{php echo date('m/d H:i:s', $row['end_time']);}
					{/if}
					<td>{php echo date('m/d H:i:s', $row['create_time']);}
					</td>
					<td data="{$row['id']}">
					  <!--<label style="cursor:pointer;" data="{$row['id']}" class="label label-default {if $row['is_index']=='1'}label-info{/if}" onclick="setItemStatus(this,'index')">首页</label>
			          <label style="cursor:pointer;" data="{$row['id']}" class="label label-default {if $row['gl_fine']=='1'}label-info{/if}" onclick="setItemStatus(this,'fine')">精品</label>-->
					
					 <a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="{php echo $this->createWebUrl('topic_add',array('topic_id'=>$row['id']))}"  title="" data-original-title="编辑"><i class="fa fa-edit"></i></a>
					 <a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="javascript:" onclick="return setItemStatus(this,'del')" title="删除"><i class="fa fa-times"></i></a>
					 {if $row['topic_style']==1}	
					 <a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="{php echo $this->createWebUrl('topic_ppts',array('topic_id'=>$row['id']))}"  title="课件"><i class="fa fa-file-powerpoint-o"></i></a>
					 {/if}
					 <a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="{php echo $this->createWebUrl('topic_voices',array('topic_id'=>$row['id']))}"  title="语音"><i class="fa fa-volume-up"></i></a>
					</td>
					
				</tr>
				{/loop}
			</tbody>
		</table>
	</div>
	</div>
	{$pager}
</div>


<script type="text/javascript">
function setItemStatus(obj,op){
	var row_id=$(obj).parents('td').attr('data');
	if(op=='del'){
		var conf=confirm("确认删除吗？删除后将不能恢复！");
		if(!conf){
			return false;
		}
		var data={};
		data.topic_id=row_id;
		data.op='del';
		$.post(location.href,data,function(result){
			 location.href=location.href;
		});
	}
	
	if(op=='edit'){
	   $.post(location.href,{id:row_id},function(result){
		   var room=result.data;
		   $("#room_desc").val(room[0].topic_desc);
		   $("#room_name").val(room[0].topic_name);
		   $("#x_look_numbers").val(room[0].x_look_numbers);
		   $("#m_topic_id").val(row_id);
		   if(room[0].topic_status==2){
			   $("#m_topic_status").html("<option value='2'>已结束</option>");
		   }else{
			   $("#m_topic_status").html("<option value='-1'>被禁用</option><option value='1'>直播中</option><option value='2'>已结束</option>");
		   }
		   $("#m_topic_status").val(room[0].topic_status);
		   
		   $("input[name='is_opendm'][value="+room[0].is_opendm+"]").attr("checked",true); 
	   });
	   $('#module-info').modal('show');
	}
	
	if(op=='fine'){
		var data={};
		data.topic_id=row_id;
		data.op='fine';
		$.post(location.href,data,function(result){
			if(result.fine==1)
			    $(obj).addClass('label-info');
			else
				$(obj).removeClass('label-info');
		});
	}
	
	if(op=='index'){
		var data={};
		data.topic_id=row_id;
		data.op='index';
		$.post(location.href,data,function(result){
			if(result.is_index==1)
			    $(obj).addClass('label-info');
			else
				$(obj).removeClass('label-info');
		});
	}
	
	if(op=='index_all'){
		var conf=confirm("确认全部上首页吗？");
		if(!conf){
			return false;
		}
		var data={};
		data.topic_id=1;
		data.op='index_all';
		$.post(location.href,data,function(result){
			if(result.success==1)
			    location.href=location.href;
			else
				alert(result.data);
		});
	}
	
	return false;
}


$(function(){
	$("#btn_edit").click(function(){
		var data={};
		data.topic_desc=$("#room_desc").val();
		data.topic_name=$("#room_name").val();
		data.topic_id=$("#m_topic_id").val();
		data.topic_status=$("#m_topic_status").val();
		data.x_look_numbers=$("#x_look_numbers").val();
		data.is_opendm= $('#input[name="is_opendm"]:checked').val();
		data.op="edit";
		$.post(location.href,data,function(result){
			 location.href=location.href;
		});
	});
});
</script>
{template 'common/footer'}