{template 'common/header'}

<ul class="nav nav-tabs">
	<li class="active"><a href="#">编辑课程</a></li>
	
</ul>

<div class="main">
 <form action="" method="post" class="form-horizontal form" id="setting-form">
		<div class="panel panel-default">
		
			<div class="panel-body">
			
			<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red;">*</span>课程封面</label>
					<div class="col-sm-9 col-xs-12">
						{php echo tpl_form_field_image('topic_icon', $topic['topic_icon'])}
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style="color:red;">*</span>课程标题</label>
					<div class="col-sm-8">
						<input type="text" name="topic_name" class="form-control" value="{$topic['topic_name']}" />
					</div>
				</div>
				
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style="color:red;">*</span>课程介绍</label>
					<div class="col-sm-8">
					 <textarea style="height: 160px;" id="topic_desc" name="topic_desc"
                          class="form-control span7" cols="60">{$topic['topic_desc']}</textarea>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red;">*</span>概要图片</label>
					<div class="col-sm-9 col-xs-12">
						{php echo tpl_form_field_multi_image('topic_imgs', $topic['topic_imgs'])}
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style="color:red;">*</span>主讲人</label>
					<div class="col-sm-8">
						<input type="text" name="guest_name" class="form-control" value="{$topic['guest_name']}" />
					<div class="help-block"></div>
					</div>
				</div>
				
				<div class="form-group" style="display:none">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style="color:red;">*</span>主讲人介绍</label>
					<div class="col-sm-8">
						
						 <textarea style="height: 150px;" id="guest_info" name="guest_info"
                          class="form-control span7" cols="60">{$topic['guest_info']}</textarea>
					<div class="help-block"></div>
					</div>
				</div>
				
		<div class="form-group">
 			<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否开启弹幕</label>
            <div class="col-sm-9 col-xs-6">
				<div class="input-group">
					<label class="radio-inline">
                	<input type="radio" name="is_opendm" value="1" {if $topic['is_opendm']==1 }checked="checked"{/if}>开启
	                </label>
	                <label class="radio-inline">
	                	<input type="radio" name="is_opendm" value="0" {if $topic['is_opendm']==0 }checked="checked"{/if}>关闭
	                </label>    
				</div>
            </div>
         </div>

        <div class="form-group">
 			<label class="col-xs-12 col-sm-3 col-md-2 control-label">直播间</label>
            <div class="col-sm-9 col-xs-6">
				<div class="input-group">
					<label class="radio-inline">
                	<input type="radio" name="topic_style" value="1" class="back_video" checked>语音直播
	                </label>
	                <label class="radio-inline">
	                	<input type="radio" name="topic_style" value="{if $chat_type=='letv'}5{else}2{/if}" class="back_video">视频直播
	                </label>    
	                <label class="radio-inline">
	                	<input type="radio" name="topic_style" value="{if $chat_type=='letv'}4{else}3{/if}" class="back_video">录播视频
	                </label>
	                <label class="radio-inline">
	                	<input type="radio" name="topic_style" value="6" class="back_video">第三方视频
	                </label>
				</div>
            </div>
         </div>
         
         <div class="form-group activityid" style="display:none">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style="color:red;">*</span>乐视活动id</label>
					<div class="col-sm-8">
						<input type="text" name="activityid" class="form-control" value="" />
					</div>
			</div> 
			<div class="form-group video-id" style="display:none">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style="color:red;">*</span>{if $chat_type=='letv'}乐视{else}腾讯{/if}视频id</label>
					<div class="col-sm-8">
						<input type="text" name="{if $chat_type=='letv'}videoid{else}file_id{/if}" class="form-control" value="" />
					</div>
			</div> 
			
			<div class="form-group third-url" style="display:none" >
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style="color:red;">*</span>上传视频</label>
					<div class="col-sm-8">
						{php echo tpl_form_field_video('third_url',$topic['third_url']);}
					</div>
			</div>

 
               
               <div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style="color:red;">*</span>开始时间</label>
					<div class="col-sm-8">
					{php echo tpl_form_field_date('begin_time', $topic['begin_time'],true)}			
					<div class="help-block"></div>
					
					</div>
				</div>
				
			
				
				<div class="form-group ">

					<label class="col-xs-12 col-sm-3 col-md-2 control-label">分类标签</label>
					<div class="col-sm-9 col-xs-12">
						{loop $tag_record $row}
					 <label class="checkbox-inline">
				        <input type="checkbox" name="tags_name[]" class="tag_check" value="{$row['id']}"> {$row['tag_name']}
				    </label>
					  {/loop}
					</div>
				</div>
					  
			


            <div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style="color:red;">*</span>虚拟人气</label>
					<div class="col-sm-8">
						<input type="text" name="x_look_numbers" class="form-control" value="{$topic['x_look_numbers']}" />
					</div>
			</div> 
			
			<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style="color:red;">*</span>房间内排序</label>
					<div class="col-sm-8">
						<input type="text" name="topic_order" class="form-control" value="{$topic['topic_order']}" />
					</div>
					<div class="help-block">数字越大越靠前</div>
			</div> 
			 
			<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style="color:red;">*</span>全局排序</label>
					<div class="col-sm-8">
						<input type="text" name="gl_order" class="form-control" value="{$topic['gl_order']}" />
					</div>
					<div class="help-block">数字越大越靠前</div>
			</div>  
         				
 	</div>
		</div>
		
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
</div>


<script type="text/javascript">
require(['jquery', 'util'], function ($, u) {
    $('.tag_check').click(function(){
		if($("input:checkbox:checked").length==3){
			alert('最多只能选择两个标签');
			$(this).attr("checked",false);
		}
	})
});	
	$(".add_manager").click(function(){
		$('#module-info').modal('show');
	});
	
	$(".back_video").click(function(){
		if($(this).val() == 5){
			$(".activityid").show();
			$(".third-url").hide();
			$(".video-id").hide();
		}else if($(this).val() == 3||$(this).val() ==4 ){
			$(".activityid").hide();
			$(".third-url").hide();
			$(".video-id").show();
		}else if($(this).val() == 6){
			$(".activityid").hide();
			$(".video-id").hide();
			$(".third-url").show();
		}else{
			$(".activityid").hide();
			$(".video-id").hide();
			$(".third-url").hide();
		}
			
})
	function getHtml(Qindex,List){
		text ='';
		text+='<option value="'+List[Qindex].id+'">'+List[Qindex].tag_name+'</option>';
		return text;
	}		
			

    function remove_member(obj) {
        $(obj).parent().remove();
        refresh_members();
    }

</script>
{template 'common/footer'}