{template 'common/header'}
<style type="text/css">
.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
  white-space:normal;
}
</style>


<ul class="nav nav-tabs">
<li><a href="{php echo $this->createWebUrl('topic_manage')}">话题管理</a></li>
	<li {if $_GPC['do'] == 'topic_pay'}class="active"{/if}><a>付费统计</a></li>
	<li {if $_GPC['do'] == 'topic_reward'}class="active"{/if}><a href="{php echo $this->createWebUrl('topic_reward',array('topic_id'=>$_GPC['topic_id'],'from'=>'pay'))}">赞赏统计</a></li></ul>
<div class="main">

	<div class="panel-heading">	
		<div class="row-fluid">
			<div class="span8 control-group">
				<a class="btn btn-primary add_ticket" href="javascript:">
					<i class="fa fa-plus"></i>添加付费者
				</a>
				<a class="btn btn-primary" href="{php echo $this->createWebUrl('topic_pay',array('topic_id'=>$topic_id,'csv'=>'dc'))}">
					导出数据
				</a>
			</div>
			
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">	
			<div class="row-fluid">
				<div class="span8 control-group">
					共计 <span style="color:red;">{$total}</span> 条数据，收入 <span style="color:red;">{$total_money}</span> 元
				</div>
			</div>
		</div>
		<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
				<th style="width:100px;">头像</th>
					<th>昵称</th>
					<th align="center" style="width:100px;">付费金额</th>
					<th align="center" style="width:300px;">微信交易号</th>
					<th align="center">支付时间</th>
				</tr>
			</thead>
			<tbody>
				{loop $records $row}
				<tr>
				<td><img alt="" src="{$row['avatar']}" width='auto' style="max-width:50px; max-height:50px;" height='auto'></td>
					<td>{$row['nickname']}</td>
					<td>{$row['pay_money']}</td>
					<td>{if empty($row['transaction_id'])}线下支付{else}{$row['transaction_id']}{/if}</td>
					<td>{php echo date('Y/m/d H:i:s', $row['pay_time']);}</td>
				</tr>
				{/loop}
			</tbody>
		</table>
	</div>
	</div>
	{$pager}
</div>

<div class="modal fade" id="module-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:800px;top:100px;transform: translate(0,0);">
			<div class="modal-content" >
				<form action="" method="post" enctype="multipart/form-data" class="form-horizontal form" id="form-info">
					<input type="hidden" name="m" value=""/>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4>添加付费者</h4>
					</div>
					<div class="modal-body">
                                        <div class="row">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="keyword" value="" id="keyword" placeholder="请输入昵称/姓名">
                                                <span class="input-group-btn"><button type="button" class="btn btn-default" onclick="search_members();">搜索</button></span>
                                            </div>
                                        </div>
                                        <div id="module-menus" style="padding-top:5px;"><div style="max-height:500px;overflow:auto;min-width:750px;">
			<table class="table table-hover" style="min-width:750px;">
				<tbody id="search_list">  
				</tbody>
			</table>
				    </div></div>
				 </div>
					
				</form>
			</div>
		</div>
</div>
<script type="text/javascript">
function getRows(data){
	var html='';
	for(i=0;i<data.length;i++){
		html+='<tr>';
		html+='<td><img src="'+data[i].avatar+'" style="width:30px;height:30px;padding1px;border:1px solid #ccc"> '+data[i].nickname+'</td>';
		html+='<td></td>';
		html+='<td></td>';
		html+='<td style="width:80px;"><a href="javascript:;" onclick="select_member('+data[i].id+')">选择</a></td>';
	    html+='</tr>';
	}
	return html;
}
function search_members(){
	var keyword=$("#keyword").val();
	$("#search_list").empty();
	
	$.post(location.href,{keyword:keyword},function(result){
		var dataa = result.data;
		var html=getRows(dataa);
		$("#search_list").append(html);
	});
}

function select_member(uid){
   $.post(location.href,{uid:uid},function(result){
   	if(result == 1){
   		alert('此用户已经付过费了');
   	}else{
   		alert('添加成功');
   		location.href=location.href; 
   	}
	  
   });	
}
$(function(){
	$(".add_ticket").click(function(){
		$('#module-info').modal('show');
	});
});

</script>
{template 'common/footer'}