{template 'common/header'}
<style type="text/css">
.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
  white-space:normal;
}
</style>


<ul class="nav nav-tabs">
<li><a href="{php echo $this->createWebUrl('topic_manage')}">话题管理</a></li>
	<li {if $_GPC['do'] == 'topic_joins'}class="active"{/if}><a>报名统计</a></li>
	<li {if $_GPC['do'] == 'topic_reward'}class="active"{/if}><a href="{php echo $this->createWebUrl('topic_reward',array('topic_id'=>$_GPC['topic_id'],'from'=>'joins'))}">赞赏统计</a></li></ul>
	
<div class="main">
	<div class="panel-heading">	
		<div class="row-fluid">
			<div class="span8 control-group">
				<a class="btn btn-primary " href="javascript:setsubmit()">
					导出</a>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">	
			<div class="row-fluid">
				<div class="span8 control-group">
					共计 {$total} 条数据
				</div>
			</div>
		</div>
		<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
				<th style="width:100px;">头像</th>
					<th>昵称</th>
					<th>姓名</th>
					<th>手机号</th>
					<th align="center">首次进入时间</th>
					<th align="center">最后进入时间</th>
				</tr>
			</thead>
			<tbody>
				{loop $records $row}
				<tr>
				<td><img alt="" src="{$row['avatar']}" width='auto' style="max-width:50px; max-height:50px;" height='auto'></td>
					<td>{$row['nickname']}</td>
					<td>{$row['real_name']}</td>
					<td>{$row['mobile']}</td>
					<td>{php echo date('Y/m/d H:i:s', $row['create_time']);}
					<td>{php echo date('Y/m/d H:i:s', $row['last_time']);}
				</tr>
				{/loop}
			</tbody>
		</table>
	</div>
	</div>
	{$pager}
</div>
<script>
function setsubmit(){
	var conf=confirm("确认导出吗？确定后图片信息将不被导出");
	if(!conf){
		return false;
	}
	location.href = "{$download_series}";
}
</script>
{template 'common/footer'}