{template 'common/header'}
<style type="text/css">
.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
  white-space:normal;
}
</style>
<ul class="nav nav-tabs">
	<li><a href="{php echo $this->createWebUrl('topic_manage')}">话题管理</a></li>
	<li {if $_GPC['op'] ==''|| $_GPC['op']== 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('topic_ppts',array('op'=>'display','topic_id'=>$topic_ppt['topic_id']))}">课件列表</a></li>
	<li {if $_GPC['op']== 'post'}class="active"{/if}><a>课件详情</a></li>
</ul>
 {if $operation == 'post'}   
<div class="main">
	<form action="" method="post" class="form-horizontal form"	enctype="multipart/form-data">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="img_order" class="form-control" value="{$topic_ppt['img_order']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">图片</label>
					<div class="col-sm-9 col-xs-12">
						{php echo tpl_form_field_image('img_url', $topic_ppt['img_url'])}
					</div>
				</div>
				
				 <div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否显示</label>
					<div class="col-sm-9 col-xs-12">
						<label class='radio-inline'>
							<input type='radio' name='is_send' value=1' {if $topic_ppt['is_send']==1}checked{/if} /> 是
						</label>
						<label class='radio-inline'>
							<input type='radio' name='is_send' value=0' {if $topic_ppt['is_send']==0}checked{/if} /> 否
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>


<div class="modal fade" id="module-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:800px;top:100px;">
			<div class="modal-content">
				<form action="./index.php?c=extension&a=module&do=info&" method="post" enctype="multipart/form-data" class="form-horizontal form" id="form-info">
					<input type="hidden" name="m" value=""/>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4>选择话题链接</h4>
					</div>
					<div class="modal-body">
                                        <div class="row">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="keyword" value="" id="keyword" placeholder="请输入话题名称关键字">
                                                <span class="input-group-btn"><button type="button" class="btn btn-default" onclick="search_members();">搜索</button></span>
                                            </div>
                                        </div>
                                        <div id="module-menus" style="padding-top:5px;"><div style="max-height:500px;overflow:auto;min-width:750px;">
			<table class="table table-hover" style="min-width:750px;">
				<tbody id="search_list">  
				</tbody>
			</table>
				    </div></div>
				 </div>
					
				</form>
			</div>
		</div>
</div>
{elseif $operation == 'display'}
<div class="panel-heading">	
	
    <div class="row-fluid">
		<div class="span8 control-group">
			<a class="btn btn-primary index_all" href="{php echo $this->createWebUrl('ppt_import',array('topic_id'=>$topic_id))}" style="display:none;">
				<i class="fa fa-plus"></i>上传课件</a>
			<a class="btn btn-primary index_all_imgs" href="{php echo $this->createWebUrl('imgs_import',array('topic_id'=>$topic_id))}">
				<i class="fa fa-plus"></i>上传课件</a>
			<a class="btn btn-primary index_all" href="javascript:setItemStatus(this,'send_all')">
				<i class="fa fa-home"></i>全部显示</a>
		</div>
	</div>
</div>
<div class="main">
	<div class="panel panel-default">
		<div class="panel-heading">	
			<div class="row-fluid">
				<div class="span8 control-group">
					共计 {$total} 条数据
				</div>
			</div>
		</div>
		<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th>排序</th>
					<th>图片</th>
					<th>是否显示</th>
					<th>上传时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $records $row}
				<tr>
					<td>{$row["img_order"]}</td>
					<td><img alt="" src="{$row['img_url']}" width='auto' style="max-width:50px; max-height:50px;" height='auto'></td>
					<td>{if $row["is_send"]==0}隐藏{else}显示{/if}</td>
					<td>{php echo date('Y/m/d H:i:s', $row['create_time']);}</td>
					<td data="{$row['id']}">
						<label style="cursor:pointer;" data="{$row['id']}" class="label label-default {if $row['is_send']=='1'}label-info{/if}" onclick="setItemStatus(this,'send')">显示</label>
						<a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="{php echo $this->createWebUrl('topic_ppts', array('op' => 'post', 'id' => $row['id']))}"  title="" data-original-title="编辑"><i class="fa fa-edit"></i></a>
						<a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="javascript:" onclick="return setItemStatus(this,'del')" title="删除"><i class="fa fa-times"></i></a>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
	</div>
	</div>
	{$pager}
</div>
{/if}
<script type="text/javascript">
var topicid="{$topic_id}";
function setItemStatus(obj,op){
	var row_id=$(obj).parents('td').attr('data');
	
	if(op=='del'){
		var conf=confirm("确认删除吗？删除后将不能恢复！");
		if(!conf){
			return false;
		}
		var data={};
		data.id=row_id;
		data.op='del';
		$.post(location.href,data,function(result){
			 location.href=location.href;
		});
	}
	
	if(op=='send'){
		var data={};
		data.id=row_id;
		data.op='send';
		$.post(location.href,data,function(result){
			
			if(result.is_send==1)
			    $(obj).addClass('label-info');
			else
				$(obj).removeClass('label-info');
			//location.href=location.href;
		});
	}
	
	if(op=='send_all'){
		var conf=confirm("确认全部显示吗？");
		if(!conf){
			return false;
		}
		var data={};
		data.topicid=topicid;
		data.op='send_all';
		$.post(location.href,data,function(result){
			if(result.success==1)
			    location.href=location.href;
			else
				alert(result.data);
		});
	}
	
	return false;
}
</script>
{template 'common/footer'}