{template 'common/header'}

<ul class="nav nav-tabs">
	<li {if $_GPC['do'] =='' ||$_GPC['do'] == 'vip_manage' && $_GPC['op'] <> 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('vip_manage')}">会员列表</a></li>
	<li {if $_GPC['do'] =='' ||$_GPC['do'] == 'vip_setting' && $_GPC['op'] <> 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('vip_setting')}">会员设置管理</a></li>
	<li {if $_GPC['op'] == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('vip_setting', array('rid' => $rid, 'op' => 'post' ))}">添加设置</a></li>
</ul>
 {if $operation == 'post'}   
<div class="main">
	<form action="" method="post" class="form-horizontal form"	enctype="multipart/form-data" id="setting-form">
		<div class="panel panel-default">
			<div class="panel-heading">
				会员设置
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>名称</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="title" class="form-control" value="{$banner['title']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>有效期</label>
					<div class="col-sm-9 col-xs-12">
						<div class="input-group">
							<input type="number" name="day" class="form-control" value="{$banner['day']}" />
							<span class="input-group-addon">天</span>
						</div>
						<div class="help-block">
						若设置-1将为永久会员呢
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>价格</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="money" class="form-control" value="{$banner['money']}" />
					</div>
				</div>

				 <div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否显示</label>
					<div class="col-sm-9 col-xs-12">
						<label class='radio-inline'>
							<input type='radio' name='enabled' value='1' {if $banner['enabled']==1}checked{/if} /> 是
						</label>
						<label class='radio-inline'>
							<input type='radio' name='enabled' value='0' {if $banner['enabled']==0}checked{/if} /> 否
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>
<script>

	$(function(){
		$('#setting-form').submit(function(){
			var result = true;
			if($('input[name="title"]').val() == ''){
				result = false;
				util.message('未填写名称.');
			}
			if($('input[name="day"]').val() == ''){
				result = false;
				util.message('未填有效期.');
			}
			if($('input[name="money"]').val() == ''){
				result = false;
				util.message('未填写价格.');
			}
			return result;
		});
	});
</script>
{elseif $operation == 'display'}
<div class="main">
	
		<div class="panel panel-default">
			
			<form method="post" class="form-horizontal" id="formfans">
			<input type="hidden" name="op" value="del" />
			<div style="position:relative">
				<div class="panel-body table-responsive">
					<table class="table table-hover" style="position:relative">
					<thead class="navbar-inner">
						<tr>			
							<th>名称</th>
							<th>有效期（天）</th>
							<th>价格（元）</th>
							<th>状态</th>
							<th >操作</th>
						</tr>
					</thead>
					<tbody>
						{loop $list $banner}
							<tr>
								<td>{$banner['title']}</td>
								<td>{if $banner['type'] ==1}永久{else}{$banner['day']}{/if}</td>
								<td>{$banner['money']}</td>
								<td>{if $banner['enabled']}显示{else}隐藏{/if}</td>
								<td style="text-align:left;">
									 <a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="{php echo $this->createWebUrl('vip_setting',array('id'=>$banner['id'],'op'=>'post'))}"  title="" data-original-title="编辑"><i class="fa fa-edit"></i></a>
									<a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="{php echo $this->createWebUrl('vip_setting',array('id'=>$banner['id'],'op'=>'delete'))}"  title="" data-original-title="删除"><i class="fa fa-times"></i></a>				
								</td>
							</tr>
						{/loop}
						
					</tbody>
					</table>
				</div>
			</div>
			</form>
			{$pager}
		</div>
    </div>
{/if}
{template 'common/footer'}