/* pages/find_info/index.wxss */
.page_content {margin:0 0.5rem;overflow: hidden;}
.case_tit {font-size: 1.2rem;line-height: 1.8rem;margin-top:0.5rem;margin-bottom: 0.1rem;}
.case_content {font-size:0.9rem;padding-top:0.5rem;position: relative;overflow: hidden;width:100%;}
.case_time {color:#9e9e9e;font-size:0.75rem;margin-bottom:0.6rem;}
.case_content:before {  content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    border-top: 1px solid #e6e6e6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);}
.goods_box {width:60%;height:100px;position: relative;margin:25px auto;background: #fcfcfc;padding-left:100px;}
.goods_box:after{
    content: "  ";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right:0;
    z-index:1;
    width: 200%;
    height:200%;
    border:1px solid #d9d9d9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(.5, .5);
    transform: scale(.5, .5);
}
.goods_pic {margin-left:-100px;width:100px;height:100px;float:left;}
.goods_box span {display: block;}
.goods_box .goods_name {font-size:16px; line-height: 22px; height: 22px;color:#262626;overflow: hidden;margin:0 7px;padding-top:8px;}
.goods_box .goods_intro {font-size:13px; height: 21px; line-height: 21px;margin:0 7px;color:#999;overflow: hidden;}
.goods_box .goods_price {margin:0 7px;font-size:19px;color:#e02e24;position: absolute; bottom:10px;left:100px;}
.goods_buy { position: absolute;bottom:10px;right:13px;width:21px;height:21px;}
.case_content.active {
    display: block;

}
.lxm-content{font-size: 26px;
    line-height: 52px;}
.pic_lxm{
    width:100%;
    padding: 10px 10px 10px 10px;
}
.wxParse-img {width:100%;}
/* .wxParse {
  margin: 0 10px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 1.8;
} */
