/* pages/find/index.wxss */
.case_li {margin:0.5rem;background: #fff;border-radius: 0.2rem; overflow: hidden;box-shadow:0px 0px 8px #ccc;}
.case_info {font-size: 0.7rem;color: #939393;position: relative;height: 2.2rem; line-height: 2.2rem;padding-left:0.5rem;}
.case_more {position: absolute;right: 0.5rem;top: 0.1rem;}
.case_pic mip-img {width:100%;height:10.5rem;}
.load_info {height: 3rem; line-height: 3rem;text-align: center;font-size: 0.7rem;color: #666;}
.prompt_box {padding:2rem;text-align: center;}
.prompt_box span {font-size: 0.8rem; color:#666;display: block;margin-top:0.5rem;}
.case_tit span { display: inline-block; background: #f22424;color:#fff; padding:3px 11px 0px 11px;border-radius: 4px;margin-right:5px;font-size:9px;margin-top:-1rem;}
.case_tit {height: 3.2rem; line-height: 3.2rem;padding-left:0.5rem; text-align: center;padding-right:0.5rem;font-size: 0.9rem;color:#2f2f2f;}
.fui-loading.line .text, .fui-loading.empty .text {
    padding: 0 10px;
    background: #f2f2f2;
    position: relative;
    text-align: center;
    z-index: 2;
    font-size:0.7rem;
}
/* pages/news/index.wxss */
.advan_li {height:6rem;padding-left:6rem;position: relative;}
.advan_li:after {  content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #e6e6e6;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);}
.advan_li mip-img {margin-left:-5.5rem;width:5rem;height:5rem;margin-top:0.6rem;float:left;}
.advan_li:first-child {border-top:1px solid #e6e6e6;}
.advan_info {float:left;margin-right:1rem;}
.advan_tit {font-size:1.1rem;margin-top:0.7rem;line-height: 1.6rem;max-height: 1.6rem;overflow: hidden;}
.advan_memo {font-size: 0.8rem;line-height: 1.3rem;color: #9e9e9e;max-height: 1.3rem;overflow: hidden;}
.load_info {height: 3rem; line-height: 3rem;text-align: center;font-size: 0.8rem;color: #666;}
.prompt_box {padding:2rem;text-align: center;}
.prompt_box span {font-size: 0.8rem; color:#666;display: block;margin-top:0.5rem;}

/*文章分类*/
.page {background: #f4f4f4;}
.class_box {margin-top:2px;margin-bottom:1px;background: #fff;padding-bottom:5px;}
/*.class_box scroll-view .cate{margin: 0px 10px; display: inline-block; padding:14px 5px;}*/
/*.class_box scroll-view .cate span {font-size: 16px;}*/
/*.class_box scroll-view { height: 44px;}*/
/*.class_box scroll-view .cate.active {border-bottom:3px solid #e02e24;}*/
/*.class_box scroll-view .cate.active span {color:#e02e24;font-weight: bold;}*/
.class_view {padding:5px 15px;}
.class_view .class_li {width:75px;background: #f6f6f6;border-radius: 4px;text-align: center;height: 30px; line-height: 30px;float: left;margin:5px;}
.class_view .class_li span {color: #646464;font-size: 14px;display: block;height: 30px; line-height: 30px;}
.class_view .class_li.active {background: #646464;}
.class_view .class_li.active span {color: #fff !important;font-size: 14px;display: block;height: 30px; line-height: 30px;}
.index_advan_list {background: #fff;}


.product_list{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 8px 0 0 0;
    box-sizing: border-box;
}
.product_type3{
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    padding: 8px 4px 0 4px;
}
.product_list .product_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.product_list .product_item .product_img{
    overflow: hidden;
    width: 100% !important;
}
.product_list .product_item image{
    width: 100%;
    overflow: hidden;
}
.product_list .product_item .title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px 8px 10px;
    width: 100%;
    margin-top: 8px;
    text-align: center;
}
.product_list .item_3{
    width: 35%;
    padding: 0 4px 4px 4px;
}
.product_list .item_3 .product_img{
    height: calc((35vw - 6px) * 0.75) !important;
}