<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<script src="../addons/hc_face/template/mobile/js/jquery.js"></script>
	<script src="../addons/hc_face/template/mobile/js/jquery.bxslider.min.js"></script>
	<title>报告</title>
	<style type="text/css">
		html,body{
			margin:0;
			padding:0;
		}
		.container{
			background:#F8F8F8;
			height:100vh;
			width:100vw;
			position:fixed;
			overflow-y: scroll;
		}
		.content{
			width:90vw;
			padding:5vw;
			font-size:3.8vw;
			line-height: 6vw;
		}
</style>
</head>
<body>
	<div class="container">
		<div class="content">{$content}</div>
	</div>
</body>
<script type="text/javascript">
</script>
</html>