<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<script src="./js/jquery.js"></script>
	<script src="./js/jquery.bxslider.min.js"></script>
	<title>推广</title>
	<style type="text/css">
	
</style>
</head>
<body>
	<div class="container">
		<div class="top column">
			<span>推广渠道招募中</span>
		</div>
		<div class="myList row">
			<div class="listItem column">
				<img src="./images/extend_icon1.png">
				<span>超高收益</span>
			</div>
			<div class="listItem column">
				<img src="./images/extend_icon2.png">
				<span>流量变现</span>
			</div>
			<div class="listItem column">
				<img src="./images/extend_icon3.png">
				<span>无限裂变</span>
			</div>
		</div>
		<div class="result">
			<div class="content_title">您将获得什么</div>
			<div class="Notice_title between">
				<span class="left"></span>
				<span class="middle">无限裂变收益</span>
				<span class="left"></span>
			</div>
			<p>推广渠道可获得推广全部裂变用户受益</p>
			<span>例：如果您指推广了一个用户，而这个用户裂变成了两万用户，则您可获得推广全部裂变用户受益，该裂变层级不限制，上不封顶。</span>
			<div class="Notice_title between">
				<span class="left"></span>
				<span class="middle">裂变能力极强</span>
				<span class="left"></span>
			</div>
			<p>产品用户接受面较广，</p>
			<p>产品新颖列变形极强，用户转发分享意愿高</p>
			<span>产品上线即受到广大用户的喜爱，产品分享率高达50%,产品调性不low，适合任何公众账号、社群、小程序等推广渠道。</span>
			<!-- <div class="Notice_title between">
				<span class="left"></span>
				<span class="middle">佣金收益日结</span>
				<span class="left"></span>
			</div>
			<p>专享代理管理后台，佣金实时查看</p>
			<span>我们微分渠道专门开发'代理管家'小程序，佣金实时查看，在线体现佣金，绑定推广小号、绑定公共账号推广、绑定群推广小号等功能。</span> -->
		</div>
		<img class="banners" src="./images/banners.png">
		<img class="banners" src="./images/map.png">
		<div class="btn">申请资格</div>
	</div>
</body>
</html>