<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<script src="../addons/hc_face/template/mobile/js/jquery.js"></script>
	<script src="../addons/hc_face/template/mobile/js/jquery.bxslider.min.js"></script>
	<title>推广享受权益</title>
	<style type="text/css">
		html,body{
			margin:0;
			padding:0;
		}
		.container{
			background:#F1EEFF;
			position: fixed;
			width:100vw;
			height:100vh;
			overflow-y: scroll;
		}
		.recommendwo,.recommendone{
			width:100vw;
		}
</style>
</head>
<body>
	<div class="container">
		<img class="recommendone" src="{$fenxiao['recimg']}">
	</div>
</body>
</html>