<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="content">
    {$msg}(5秒后返回)
</div>
<script>
    var msg = "<?php echo $msg;?>"
    settime(5);
    function settime(i) {
        setTimeout(function(){
                i -= 1;
                if(i == 0)
                {
                    window.location.href="__CONF_SITE__admin/config/wq_upload";
                }
                else
                {
                    document.getElementById("content").innerHTML = msg+"("+i+"秒后返回)";
                    settime(i);
                }
            },1000
        );
    }
</script>
</body>
</html>