{extend name="base"/}
{block name="main"}
<style>.form_message { display: block; height: 38px; line-height: 38px; text-align: left; color: #999; } .formControls .btn { float: left; margin-right: 15px; } .clear { clear: both; } .input-text { padding-left: 10px !important; }
</style>
<div class="Hui-article">
    <article class="cl pd-20">
        <h3 id="dont_touch_this"></h3>
        <div id="tab_demo" class="HuiTab" style="margin-bottom: 15px; position:relative;">
            <div class="tabBar clearfix">
                <span onclick="window.location.href='{:url('config/WAppPay')}'">小程序管理</span>
                <span onclick="window.location.href='{:url('config/wxrefund')}&do=display'">微信退款设置</span>
                <span onclick="window.location.href='{:url('config/Express')}'">物流设置</span>
                <span onclick="window.location.href='{:url('config/store_set')}'">商品列表页面设置</span>
                <span onclick="window.location.href='{:url('offweb/corp_conf')}'">域名校验文件</span>
                <span class="current" onclick="window.location.href='{:url('config/sellnotice')}'">商家通知</span>
            </div>
        </div>
        <form id="main_form_sell" method="post">
            <input type="hidden" value="{$info['id']}" id="id" name="id">
            <div class="form form-horizontal" id="main">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>消息推送：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="radio" id="radio-wechat-1" name="SWITCH" value="1" {if $info['value']['SWITCH']==
                        1} checked {/if}/>
                        <label for="radio-wechat-1">开启 </label>
                        <input type="radio" id="raido-wechat-0" name="SWITCH" value="0" {if $info['value']['SWITCH']==
                        0} checked {/if}/>
                        <label for="raido-wechat-0">关闭 </label>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>微信公众号APPID：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" autocomplete="off" value="{$info['value']['APPID']}"
                               placeholder="微信公众号APPID" class="input-text" id="APPID"
                               name="APPID">
                        <p>微信公众号APPID</p>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商家OPENID：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" autocomplete="off" value="{$info['value']['OPENID']}"
                               placeholder="商家OPENID" class="input-text" id="OPENID"
                               name="OPENID">
                        <p>用户->微信会员‘微信OPENID’</p>
                    </div>
                </div>
                <div class="row cl" style="margin-top:2px;">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>支付成功模板ID：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" autocomplete="off" value="{$info['value']['TEMPLATE_ID']}"
                               placeholder="支付成功模板ID" class="input-text" id="TEMPLATE_ID"
                               name="TEMPLATE_ID">
                        <p>微信公众号->模板消息->从模板库中添加，搜索‘订单支付成功提醒’编号为‘OPENTM416836000’的消息模板</p>
                        <p>功能描述：向商家发送用户普通、秒杀、砍价、拼团订单支付成功的消息通知。</p>
                    </div>
                </div>
                <div class="row cl" style="margin-top:2px;">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>退款申请模板ID：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" autocomplete="off" value="{$info['value']['REFUND_TEMPLATE_ID']}"
                               placeholder="退款申请模板ID" class="input-text" id="REFUND_TEMPLATE_ID"
                               name="REFUND_TEMPLATE_ID">
                        <p>微信公众号->模板消息->从模板库中添加，搜索‘订单退款通知’编号为‘OPENTM415835502’的消息模板</p>
                        <p>功能描述：向商家发送用户普通、秒杀、砍价、拼团订单申请退款的消息通知。</p>
                    </div>
                </div>
                <div class="row cl" style="margin-top:2px;">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>表单提交模板ID：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" autocomplete="off" value="{$info['value']['FORM_TEMPLATE_ID']}"
                               placeholder="表单提交模板ID" class="input-text" id="FORM_TEMPLATE_ID"
                               name="FORM_TEMPLATE_ID">
                        <p>微信公众号->模板消息->从模板库中添加，搜索‘资料提交成功提醒’编号为‘OPENTM408531412’的消息模板</p>
                        <p>功能描述：向商家发送用户表单提交的消息通知。</p>
                    </div>
                </div>
                <div class="row cl">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                        <input class="btn btn-primary radius" onclick="addAdvertAjax()" type="button" value="   提交   " >
                    </div>
                </div>
            </div>
        </form>
        <input type="hidden" id="bus_id" value="{$user_info['id']}">
        <input type="hidden" value="" id="fabu">
    </article>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    $("#main_form").on('submit', function () {
        return false;
    });
    var flag = false;
    function addAdvertAjax() {
        if (flag) {
            return
        };
        flag = true;
        $.ajax({
            url: "{:url('config/sellnotice')}",
            type: 'POST',
            cache: false,
            data: new FormData($('#main_form_sell')[0]),
            processData: false,
            contentType: false,
            dataType: 'json',
            success: function (res) {
                flag = false;
                if (res["code"] > 0) {
                    layer.msg('提交成功!',{icon:1,time:1000},function () {
                        window.parent.location.href="{:url('config/sellnotice')}";
                    });
                }else{
                    layer.msg(res['message'],{icon:5,time:1000});
                }
            },
            error: function (err) {
                flag = false;
            }
        }).done(function (res) {
        }).fail(function (res) {
        });
    }
</script>
{/block}