           <div class="tpl-content-scope">
                <div class="note note-info">
                  
                  
                    <p> <span class="label label-sm label-warning">身份：{:power()} </span> </p>
                  
                    <h3>尊敬的：{:name()} 您好：
                        <span class="close"></span>
                    </h3>
 
                  
                  
                    <p> 今天是{:date('Y年m月d日')}</p>
                    <p> 欢迎您登陆代理系统.祝您身体健康.工作顺利.</p>
                  <br>
                  
                    <p><span class="label label-danger">公告:</span>{:advert()}</p>
                </div>
            </div>





		
			
			 <div class="row">
			
			   <div class="am-u-md-6 am-u-sm-12 row-mb">
                    <div class="tpl-portlet">
                        <div class="tpl-portlet-title">
                            <div class="tpl-caption font-green ">
                                <span>最新活动</span>
                            </div>

                        </div>

                        <div class="am-tabs tpl-index-tabs" data-am-tabs>
           

                            <div class="am-tabs-bd">
                                <div class="am-tab-panel am-fade am-in am-active">
                                    <div id="wrapperA" class="wrapper">
                                        <div id="scroller" class="scroller">
                                            <ul class="tpl-task-list tpl-task-remind">
   

                                                <li>
                                                    <div class="cosB">
                                                        - - -
                                                    </div>
                                                    <div class="cosA">
                                                        <span class="cosIco label-info">
                        <i class="am-icon-bullhorn"></i>
                      </span>

                                                        <span> 暂无活动。</span>
                                                    </div>

                                                </li>
                                              
                                              
                                                                                            
                								  <li>
                                                    <div class="cosB">
                                                        - - -
                                                    </div>
                                                    <div class="cosA">
                                                        <span class="cosIco label-danger">
                        <i class="am-icon-bolt"></i>
                      </span>

                                                        <span> ……</span>
                                                    </div>

                                                </li>
                                              
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                              

                            </div>
                        </div>

                    </div>
                </div>
			
        
            </div>
			