<style>
  .form-horizontal .form-group{margin-left:0px;}
  .we7-form .form-group, form .form-group{margin-bottom: 10px;}
</style>

<form action=""  method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">

<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label">
            <span style='color:red'>*</span>经纪人名称 </label>
	<div class="col-sm-9 col-xs-12">
		<input type="text" name="data[nickname]" id="nickname" class="form-control"
                        placeholder="必填项 "  value="{$item['nickname']}" />
                
	</div>
</div>
<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label">
            <span style='color:red'>*</span>手机号 </label>
	<div class="col-sm-9 col-xs-12">
		<input type="text" name="data[mobile]" id="mobile" class="form-control"
                        placeholder="请输入业务手机号 "  value="{$item['mobile']}" />
                
	</div>
</div>
         <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">
                <span style='color:red'></span>经纪人等级 </label>
            <div class="col-sm-4 col-xs-6">
                <div class="input-group   form-control">
                      <?php  echo
     form_element::select(array(1=>'经纪人',2=>'vip经纪人'),'data[groupid]','shopid',$item['groupid']);
     ?>        

                </div>
            </div> 
                 <div class="col-sm-4 col-xs-6">
                <div class="input-group   form-control">
                      <?php  echo
     form_element::radio(array(0=>'非内部',1=>'是内部经纪人'),'data[iscompany]','iscompany',$item['iscompany']);
     ?>        

                </div>
            </div>  
    </div> 
<div class="form-group">

	<label class="col-xs-12 col-sm-3 col-md-2 control-label">经纪人头像</label>

	<div class="col-sm-9 col-xs-12">

		{php echo tpl_form_field_image('thumb', $item['avatar'], '', array('extras' => array('text' => 'readonly')))}

	</div>

</div>
    <div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label">
            <span style='color:red'>*</span>标签 </label>
	<div class="col-sm-9 col-xs-12">
		<input type="text" name="data[vtags]" id="vtags" class="form-control"
                        placeholder="可以按标签分类管理 "  value="{$item['vtags']}" />
                
	</div>
</div>
    <div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label">
            <span style='color:red'>*</span>公司部门 </label>
	<div class="col-sm-9 col-xs-12">
		<input type="text" name="data[company]" id="company" class="form-control"
                        placeholder="所属公司部门 "  value="{$item['company']}" />
                
	</div>
</div>
     <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">
                <span style='color:red'></span>所属门店 </label>
            <div class="col-sm-4 col-xs-6">
                <div class="input-group   form-control">
                      <?php  echo
     form_element::select($admin,'data[shopid]','shopid',$item['shopid']);
     ?>        

                </div>
            </div>      
    </div>  
    <div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label">有效期至</label>
	<div class="col-sm-4 col-xs-6">
		{php echo tpl_form_field_date('end_time', !empty($item['end_time']) ?  $item['end_time'] : date('Y-m-d H:i:s', time()+3600*24*360), 1)}
                
	</div>
        <div class="col-sm-4 col-xs-6"><p>认证经济人有效截止日期</p></div> 
</div>
<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label">
            <span style='color:red'>*</span>描述 </label>
	<div class="col-sm-9 col-xs-12">
            <textarea  name="data[desc]" id="desc" class="form-control">{$item['desc']}</textarea>
                
	</div>
</div>
<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label">推荐位置</label>
	<div class="col-sm-9 col-xs-12" >
            <label for="isrecommand" class="checkbox-inline">
		<input type="checkbox" name="data[istop]" value="1"
                       id="istop" {if $item['istop'] == 1}checked="true"{/if} /> 置顶
            </label>
             <label for="isrecommand" class="checkbox-inline">
		<input type="checkbox" name="data[isyou]" value="1"
                       id="isyou" {if $item['isyou'] == 1}checked="true"{/if} /> 优秀（优）
            </label>
             <label for="isrecommand" class="checkbox-inline">
		<input type="checkbox" name="data[ischeng]" value="1"
                       id="ischeng" {if $item['ischeng'] == 1}checked="true"{/if} /> 诚信（诚）
            </label>
             
        </div>
</div>
     
    <div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label">
            <span style='color:red'>*</span>状态 </label>
	<div class="col-sm-9 col-xs-12">
		<input type="radio" name="data[disabled]"  class=" "
                     {if $item['disabled']==0}checked{/if}  value="0" />启用
                
                <input type="radio" name="data[disabled]"  class=" "
                     {if $item['disabled']==1}checked{/if}   value="1" />禁用
                
	</div>
</div>
<div class="form-group ">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">操作</label>
    <div class="col-sm-9 col-xs-12">
                <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
                <input type="hidden" name="referer" value="{$_SERVER['HTTP_REFERER']}"/>
                <input type="hidden" name="token" value="{$_W['token']}" />
                <a href="{$_SERVER['HTTP_REFERER']}" class="btn btn-primary col-lg-1">返回</a>
        </div>
</div>
 </form>
