<form enctype="multipart/form-data" onsubmit="return check_form(this)"
 name="form_shop_request" method="post" action="{php echo $this->createWebUrl('enset', array('op'=>$operation))}" class="form-horizontal">
 
    <table class='table table-form '>
      
        <tr>
            <?php 
                $fields = $place['setfield'];
                foreach($fields as $key => $f){ 
                
                    $value = $place['place'][$key];
                    ?>
        <tr>
                <th width="100"> {$f['label']}</th>
                <td colspan="3">
                 <?php if($f['type']=='text') {?>
                 <input type="text" name="data[{$key}]" id="{$key}" class="form-control" value="{$value}" />
                 <?php }?>
                <?php if($f['type']=='radio') { 
                
                echo form_element::radio($f['options'],"data[$key]", $key , $value);
 
                }?>
                </td>
        </tr>
            <?php }?>
            
        </tr>
        <tr>
            <th width="100"> </th>
            <td><a class="btn" href="{php echo $this->createWebUrl('enset', array('op'=>'adplace'))}">返回</a></td>
            <td>
                <input type="hidden" name="id" value="{$position}" />
              <input type="hidden" name="token" value="{$_W['token']}" />
              <input  type="submit" name="submit" class="btn green" value="提交保存">    
                
            </td>
            <td></td>
        </tr>
    </table>
</form>
