 <table class='table table-form '>
      <tr>
                <th width="100">数据统计：
                 </th>
                <td colspan="3">
               <span style="width:20%;display:inline-block;margin-right:10px;">
                 <input placeholder="访问量基数" name="confmenu[index_totalinfo_visit]" type="text" class="form-control " value="{$confmenu['index_totalinfo_visit']}"/>
                 </span>
                  <span style="width:20%;display:inline-block; margin-right:10px;">
                   <input placeholder="房源基数" name="confmenu[index_totalinfo_num]" type="text" class="form-control " value="{$confmenu['index_totalinfo_num']}"/>
                  </span> 
                 <span style="width:50%;display:inline-block;margin-right:10px;">    
                <input type="checkbox" name="confmenu[totalinfo]" {if $confmenu['totalinfo']==1}checked{/if} value="1"/>不显示此版块（包括签到）</span>
                    </span>
                </td>
        </tr>
      <tr>
                <th width="100"> 房价统计：</th>
                <td colspan="3">
                 <table class='table table-form '>
                        <tr>
                            
                            <td width="250">新房价格</td>
                             <td width="250">二手房价格</td>
                            
                        </tr>
                         
                        <tr>                           
                            <td width="250"><input placeholder="新房均价" name="indexprice[newhouse][price]" type="text" class="form-control param_value" value="{$indexprice['newhouse']['price']}"/></td>
                             <td width="250"><input placeholder="二手房均价" name="indexprice[sechouse][price]" type="text" class="form-control param_value" value="{$indexprice['sechouse']['price']}"/></td>
                         </tr>
                     <tr>                           
                            <td width="250"><input placeholder="新房上周套数" name="indexprice[newhouse][total]" type="text" class="form-control param_value" value="{$indexprice['newhouse']['total']}"/></td>
                             <td width="250"><input placeholder="二手房上周套数" name="indexprice[sechouse][total]" type="text" class="form-control param_value" value="{$indexprice['sechouse']['total']}"/></td>
                         </tr>  
                    </table>
                    <table class='table table-form '>
                        <tr>
                            <td>
                              <input type="checkbox" name="confmenu[index_searchbar]" {if $confmenu['index_searchbar']==1}checked{/if} value="1"/>启用首页搜索  
                            </td>
                            <td>
                              <input type="checkbox" name="confmenu[index_tongji]" {if $confmenu['index_tongji']==1}checked{/if} value="1"/>启用首页数据统计 
                            </td>
                        </tr>
                      <tr>
                            <td colspan="2">
                              <span style="width:20%;display:inline-block;margin-right:10px;"> 顶部搜索条设置:  </span>
                                <span style="width:20%;display:inline-block;margin-right:10px;">
                            <input placeholder="搜索名称" name="confmenu[index_searchbar_txt]" type="text" class="form-control " value="{$confmenu['index_searchbar_txt']}"/>
                                </span><span style="width:20%;display:inline-block; margin-right:10px;">
                                <input placeholder="搜索框提示" name="confmenu[index_search_place]" type="text" class="form-control " value="{$confmenu['index_search_place']}"/>
                             </span><span style="width:20%;display:inline-block">
                                 <select name="confmenu[index_searchbar_jump]">
                                     <option value="1" {if $confmenu['index_searchbar_jump']==1}selected{/if}>搜新房</option>
                                     <option value="2" {if $confmenu['index_searchbar_jump']==2}selected{/if}>搜二手房</option>
                                     <option value="3" {if $confmenu['index_searchbar_jump']==3}selected{/if}>搜租房</option>
                                     <option value="4" {if $confmenu['index_searchbar_jump']==4}selected{/if}>搜商铺出售</option>
                                     <option value="5" {if $confmenu['index_searchbar_jump']==5}selected{/if}>搜商铺出租</option>
                                     <option value="6" {if $confmenu['index_searchbar_jump']==6}selected{/if}>搜生意转让</option>
                                     <option value="5" {if $confmenu['index_searchbar_jump']==7}selected{/if}>搜写字楼出租</option>
                                     <option value="6" {if $confmenu['index_searchbar_jump']==8}selected{/if}>搜写字楼出售</option>
                                 </select>
                                <!--<input placeholder="1=新房2=二手房3=租房" name="confmenu[index_searchbar_jump]" type="text" class="form-control " value="{$confmenu['index_searchbar_jump']}"/>-->
                             </span>
                            </td>
                        </tr>   
                    </table> 
                     
                    
                </td>
       
        </tr>
        <tr>
                <th width="100">首页公告：</th>
                <td colspan="3">
                <textarea id="notice" class="form-control " name="notice" cols="150"><?=$notice;?></textarea>
                <p>换行表示一条</p>
                </td>
        </tr>
        <tr>
                <th width="100">房源列表：</th>
                <td colspan="3">
                  <p>
                      <input type="checkbox" name="confmenu[house_nav_newhouse]" {if $confmenu['house_nav_newhouse']==1}checked{/if} value="1"/>启用新房源 &nbsp; &nbsp; 
                   <input type="checkbox" name="confmenu[house_nav_sec]" {if $confmenu['house_nav_sec']==1}checked{/if} value="1"/>启用二手房源  &nbsp; &nbsp; 
                   <input type="checkbox" name="confmenu[house_nav_zhu]" {if $confmenu['house_nav_zhu']==1}checked{/if} value="1"/>启用租房列表 &nbsp; &nbsp;
                  <input type="checkbox" name="confmenu[house_nav_xie_zhu]" {if $confmenu['house_nav_xie_zhu']==1}checked{/if} value="1"/>启用写字楼出租 &nbsp; &nbsp;  
                  </p>
                   <p> <input type="checkbox" name="confmenu[house_nav_xie_sale]" {if $confmenu['house_nav_xie_sale']==1}checked{/if} value="1"/>启用写字楼出售 &nbsp; &nbsp;  
                   <input type="checkbox" name="confmenu[house_nav_sp_zhu]" {if $confmenu['house_nav_sp_zhu']==1}checked{/if} value="1"/>启用商铺出租  &nbsp; &nbsp;
                  <input type="checkbox" name="confmenu[house_nav_sp_sale]" {if $confmenu['house_nav_sp_sale']==1}checked{/if} value="1"/>启用商铺出售  &nbsp; &nbsp; 
                  <input type="checkbox" name="confmenu[house_nav_syi_sale]" {if $confmenu['house_nav_syi_sale']==1}checked{/if} value="1"/>启用生意转让 &nbsp; &nbsp;
                   </p>
                  
                   <p><span style=" color:#ff0000">这个是控制房源列表顶部左上角可以切换的 按钮 开关。启用，表示可以切换到该列表.</span></p>
                </td>
        </tr>
        <!--
        <tr style="display:none;">
                <th width="100">首页轮播：<span style="color:#ff0000">
        <input type="checkbox" name="confmenu[indexslide]" {if $confmenu['indexslide']==1}checked{/if} value="1"/>不显示</span> </th>
                <td colspan="3">
                    <table class='table table-form '>
                        <tr>
                             <td width="150">预览</td>
                            <td width="250">图片地址</td>
                             <td width="250">跳转链接</td>
                            
                        </tr>
                          <?php for($i=0 ;$i<6; $i++)   {?>  
                        <tr>
                             <td width="150">{if $banner['image'][$i]} <img src="{php echo toimage($banner['image'][$i])}" height="70" width="auto"/> {/if}</td>
                            <td width="250"><input name="banner[image][]" type="text" class="form-control param_value" value="{$banner['image'][$i]}"/></td>
                             <td width="250"><input name="banner[link][]" type="text" class="form-control param_value" value="{$banner['link'][$i]}"/></td>
                            
                        </tr>
                      <?php }?>    
                    </table>
                </td>
        </tr>-->
</table>
