{template 'common/header'}
{template 'common'}
<ul class="nav nav-tabs">
    
     <li {if $operation == 'params'}class="active"{/if} >
         <a href="{php echo $this->createWebUrl('forums', array('op' => 'params','newhouse_id'=>$newhouse_id))}"> 参数设置 </a></li>
    
    <li {if $operation == 'post'}class="active"{/if}> 
    <a href="{php echo $this->createWebUrl('forums', array('op' => 'post'))}"> 新建帖子 </a></li>	
    <li {if $operation == 'display'}class="active"{/if}>
    <a href="{php echo $this->createWebUrl('forums', array('op' => 'display'))}"> 帖子列表 </a></li>
    
    <li {if $operation == 'agent'}class="active"{/if}>
    <a href="{php echo $this->createWebUrl('forums', array('op' => 'agent'))}"> 回帖管理 </a></li> 
    <li {if $operation == 'tags'}class="active"{/if}>
    <a href="{php echo $this->createWebUrl('forums', array('op' => 'tags'))}"> 话题 </a></li>
</ul>
<script>
    require(['bootstrap'],function($){	
        $('.btn').hover(function(){	
            $(this).tooltip('show');	
        },function(){	
            $(this).tooltip('hide');	
        });	
    });
</script>
{if $operation == 'params'}
        <!--参数设置模板-->
         {template 'forums_config'}
         
{elseif $operation == 'tags'}
<!--话题列表-->
     {template 'forums_tags'}

{elseif $operation == 'post'}
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
        <div class="panel panel-default">
            <div class="panel-heading">  发布帖子	 </div>	
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">主题标签：</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="data[title]" class="form-control" value="{$info['title']}" />
                    </div>
                </div>
            
                  <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">视频地址：</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="data[video]" class="form-control" placeholder="" value="{$info['video']}" />
                    </div>
                </div>
        
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">图片内容</label>
                    <div class="col-sm-9 col-xs-12">	
                        {php echo tpl_form_field_multi_image('thumbs',$piclist)}
                       
                    </div>	
                </div>		
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"> 帖子内容</label>
                    <div class="col-sm-9 col-xs-12">
                    <textarea class="form-control" id="house_zb_yiyuan" rows="6" name="data[smalltext]"><?php echo $info['smalltext']?></textarea>
                    </div>	
                </div>	
         
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否显示</label>
                    <div class="col-sm-9 col-xs-12">	
                        <?=form_element::radio($selects['disabled'],'data[disabled]','disabled',(($info[disabled]==0)? 0:1))?>
                    </div>	
                </div>
            
                
            </div>	
        </div>	
        <div class="form-group col-sm-12">
            <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />	
            <input type="hidden" name="token" value="{$_W['token']}" />	
        </div>
    </form>
</div>
<!--添加看房团关联楼盘-->
{elseif $operation =='house'}
<div class="main">

        <div class="panel panel-default">             
            <div class="panel-body">
                 <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">输入楼盘名称：</label>
                    <div class="col-sm-4 col-xs-12">
                        <input type="text" name="keyword" class="form-control" value="{$keyword}" />
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <input type="submit" name="submit" value="搜索" class="btn btn-primary " />	
                        <input type="hidden" name="token" value="{$_W['token']}" />	
                    </div>
                </div>
                </form>   
                
                  <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-2 col-md-12 ">
                    <label class="control-label" style="text-align:left;">
                        未选择的楼盘(勾选，添加)</label></div>
                    <div class="col-sm-12 col-xs-12">
                        {loop $houselist $row}
                        <span style="display:inline-block">
                            <input type="checkbox" name="addhouse[]" value="{$row['newshouse_id']}"/>{$row['house_title']}
                        </span>
                        {/loop}
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-xs-12 col-sm-2 col-md-12 ">
                    <label class=" control-label" style="text-align:left;">已经选择的楼盘（勾选，移除）</label>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        {loop $hashouse $row}
                        <span style="display:inline-block">
                            <input type="checkbox" name="delids[]" value="{$row['newshouse_id']}"/>{$row['house_title']}
                        </span>
                        {/loop}
                    </div>
                </div>
                      
                <div class="form-group">
                 <div class="col-sm-4 col-xs-12">
                        <input type="submit" name="savehouse" value="保 存" class="btn btn-primary " />	
                        	
                 </div>
                </div>
                      
               </form>   
                
            </div>
       </div>
  
</div> 


{elseif $operation == 'display'}
<div class="main">
    <div class="category">
        <form action="" method="post" onsubmit="return formcheck(this)">
            <div class="panel panel-default">	
                <div class="panel-body table-responsive">
                    <table class="table table-hover">
                        <thead class="navbar-inner">
                            <tr>
                                 <!--<th style="width:10px;"></th>-->	
                                <th style="width:50px;">顺序</th>
                                <th style="width:120px;">帖子标签</th>
                                <th style="">内容</th>
                                <th style="width:80px">视频</th>
                                <th style="">状态</th>
                                <th style="">操作</th>
                            </tr>	
                        </thead>
                        <tbody>	
                            {if $list}	
                            {loop $list $row}
                            <tr>
                                 
                                <td><input type="text" size="4" class="form-control"  name="displayorder[{$row['id']}]" value="{$row['orderid']}"></td>
                                <td>							
                                     <p>#{$row['title']}# </p>
                                         	
                                    
                                </td>
                                <td>
                                    <div>   <p>{$row['smalltext']}</p></div>
                                 
                                   <?php $thumbs = unserialize($row['thumbs']); 
                                        foreach($thumbs as $k =>$thumb){ 
                                   ?>
                                   <img src="<?php echo tomedia($thumb);?>" style="float:left; margin-right:5px;" width="90" height="90"/>
                                   <?php  }?>
                                    
                                </td>
                                <td></td>
                                <td>	
                                    {if $row['disabled']==1}
                                    <span class='label label-success'>隐藏</span>
                                    {else}	
                                    <span class='label label-danger'>显示</span>	
                                    {/if}	
                                </td>	
                                <td>	
                                    <a href="{php echo $this->createWebUrl('forums', array('op' => 'post', 'id' => $row['id']))}"
                                       class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="编辑">
                                        <i class="fa fa-edit"></i></a>&nbsp;&nbsp;
                                        <a href="{php echo $this->createWebUrl('forums', array('op' => 'delete', 'id' => $row['id']))}"
                                           onclick="return confirm('确认删除此吗？');return false;" class="btn btn-default btn-sm"
                                           data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>	
                            {/loop}
                            {else}
                            <tr>
                                <td colspan="6">
                                    <a href="{php echo $this->createWebUrl('forums', array('op' => 'post'))}">
                                        <i class="fa fa-plus-sign-alt"></i> 添加帖子</a>
                                </td>			
                            </tr>	
                            {/if}	
                            <tr>
                                <td colspan="6">
                                    <input name="submit" type="submit" class="btn btn-primary" value="提交">
                                    <input type="hidden" name="token" value="{$_W['token']}" />	
                                </td>		
                            </tr>	
                        </tbody>	
                    </table>	
                </div>		
            </div>	
        </form>	
    </div>
    {$pager}
</div>

<!--报名 结果-->
{elseif $operation == 'agent'}
<div class="main">
    <div class="category">
        <form action="" method="post" onsubmit="return formcheck(this)">
            <div class="panel panel-default">	
                <div class="panel-body table-responsive">
                    <table class="table table-hover">
                       <thead class="navbar-inner">
				<tr>
                                    <th style="width:5%;">ID</th>
					<th style="width:45%;">回帖内容</th>
					<th >状态</th>		 
				 	<th >数量 </th>
					<th >回帖人</th>
                                        <th>管理</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $item}
				<tr>
					<td>{$item['id']}</td>
					<td>
                                            
                                            <p>{$item['content']}</p>                                           
                                              {if $item['last_time']} <p>最后浏览：{php echo date('Y-m-d H:i:s',$item['last_time'])}</p>{/if}
					</td>
					<td>
					{if $item['disabled']==1}屏蔽{/if}	 
                                        {if $item['disabled']==0}显示{/if}
					</td>
   
					<td>
                                             {php echo max(1,$item['hits'])}次
					</td>

					<td style="text-align:right;">
                                            {if $item['nickname']}{$item['nickname']} 
                                           {else} --{/if}
                                             <p>时间:{$item['addtime']}</p>
                                         
                                           
					</td>
                                        <td>
                                            <a href="{php echo $this->createWebUrl('forums', array('op' => 'delpost', 'id' => $item['id']))}"
                                           onclick="return confirm('确认删除此吗？');return false;" class="btn btn-default btn-sm"
                                           data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-times"></i></a>
                                        </td>
				</tr>

				{/loop}

			</tbody>

		</table>
                </div>		
            </div>	
        </form>	
    </div>
    {$pager}
</div>
 

{/if}
        
{template 'common/footer'} 
        