.play{ padding-bottom: 30%; background: url(images/images/default.jpg) center center no-repeat; background-size: cover; position: relative;}
			
			/*直播管理员与嘉宾*/
    		.zhibo_admin{display:inline-block;padding: 4px 10px;background: rgba(0,0,0,0.5);border-radius: 20px;margin-left: 10px;position: fixed;top: 240px;z-index: 10;}
    		.zhibo_admin .admin-img{display:inline-block;width: 24px;height: 24px;border-radius: 50%;border: 2px solid #fff;overflow: hidden;vertical-align:middle;}
    		.zhibo_admin .admin-img:nth-child(n+2){margin-left: -8px;}
    		.zhibo_admin img{vertical-align: top;}

    		/* 直播赞赏 */
.redbagBox,.LmTipsBox{width:100%;height:100%;z-index: 20;display:none;position:absolute;left:0;top:0;cursor:pointer;}
.redbagBox:before,.LmTipsBox:before{width:100%;height:100%;display:block;position:absolute;left:0;top:0;content:'';background-color:rgba(0,0,0,0.4);}
.redbag{position:absolute;left:50%;top:5%;width: 90%;height: 90%;max-height: 62rem;margin-left: -45%;text-align:center;border-radius:0.6rem;}
.redbag_inbox{border-radius:0.6rem;width:100%;height:100%;overflow:hidden;background: #fff;}

.live_redbag{width:100%;background:url(redbag.png) top center no-repeat;background-size:100% 10rem;padding-top:14rem;padding-bottom: 1rem;font-size:1.5rem;}
.live_headpic{width:8rem;height:8rem;border-radius:8rem;position:absolute;left:50%;top:5rem;margin-left:-4rem;overflow:hidden;}
.live_headpic img{width:100%; height: 100%;}
.live_towho{color:#333;font-size:3rem;text-align:center;margin-bottom:2rem;}
.live_towhy{color:#999;font-size:1.5rem;text-align:center;margin-bottom:0.5rem;}
.live_redbaglist{width:100%;padding:2rem 2rem 0rem 2rem;text-align:center;}
.live_redbaglist:before{content:'';display:inline-block;width:80%;height:1px;background-color:#ccc;}
.live_redbaglist ul{overflow:hidden;padding-top:2rem;}
.live_redbaglist ul li{width:30%;height:4rem;border:2px solid #d74751;float:left;border-radius:0.5rem;margin-left:2.5%;margin-bottom:2rem;text-align:center;line-height:4rem;}
.live_redbaglist ul li a{width:100%;height:100%;display:block;color:#d74751;font-size:1.7rem;}
.live_redbaglist ul li var {font-size:2.6rem; font-style:italic;margin-right:0.5rem;}
.live_othermoney{text-align:center;font-size:1.6rem;}
.live_othermoney a{color:#0095dd;}
/*赞赏关闭*/
.otherredmoney_content .gene_cancel,.live_redbag .redbag_cancel{display:block;height:3rem;width:3rem;position:absolute;top:0;right:0;font-size: 32px;line-height: 3rem;}
.live_redbag .redbag_cancel{ color: #8C040D;} 
/*其他金额*/
.otherRedmoneyBox{background: rgba(0, 0, 0, 0.67);width: 100%;height: 100%;z-index: 10;position: relative;}
.otherRedmoney{background: #fff;position: relative;width: 80%;margin: 0 auto;top: 50%;transform: translateY(-50%);padding-bottom: 5px;border-radius:6px;}
.otherredmoney_content .redbag_head{height:4rem;line-height:4rem;font-size:1.6rem;border-bottom: 1px solid #e5e5e5;}

.redbag_countarea{overflow:hidden;font-size:1.6rem;}
.otherredmoney_content .redbag_count_label{border:1px solid #e5e5e5;vertical-align: top;width:30%;height: 4rem;display: inline-block;border-radius: 0.2rem;border-right: none;line-height:4rem;padding-left:2%;}
.otherredmoney_content .money_count{font-size:1.6rem;width:50%;height:4rem;border:1px solid #e5e5e5;outline:none;border-radius:0.2rem;border-left: none;margin-left:-3px;}
.otherredmoney_content .gene_confirm{font-size:1.6rem;display:block;width:80%;height:4rem;background-color:#f19937; color:#fff;border-radius:0.2rem;margin:0 auto;line-height:4rem;}
.otherredmoney_content span{width:100%;display:block;text-align:center;margin-bottom: 1.5rem;}


/* 赞赏提示弹框 */
.LmTipsBox .live_redbag{line-height: 2rem;}
.thank_money{color:#333;font-size:1.7rem;margin-top:2.5rem;margin-bottom:0.5rem;}
.thank_money var{font-size:3rem;font-style: italic;padding:0 1rem;}
.thank_p1{color:#999;}
.thank_reply{position:relative;color:#999;margin:0rem 2rem;line-height:4rem;}
.thank_reply:before,.redbag_reply:before{content:'';width:100%;height:1px;display:block;background-color:#e8e8e8;position:absolute;top:0;vertical-align:top;}


.thank_box{text-align:left;}
.thank_choose{overflow:hidden;padding:1rem;text-align:center;}
.thank_choose dd{width:30%;height:4rem;border:1px solid #d74751;color:#d74751;font-size:1.6rem;line-height:4rem;float:left;margin-right:5%;border-radius:0.5rem;}
.thank_choose dd:last-child{margin-right:0;}
.thank_choose dd:hover{color:#fff;background-color:#d74751;cursor:pointer;}
.redbag_rule{color:#999;line-height:2rem;}
/* .redbag_rule dd:first-child{margin:0;} */
/* .redbag_rule dd:first-child:before{width:0rem;} */
.redbag_rule dd{font-size:1.3rem;margin-left:1rem;position:relative;}
.redbag_rule dd:before{content:'';vertical-align:top;position:absolute;left:-1rem;top:0.8rem;display:inline-block;width:0.5rem;height:0.5rem;border-radius:0.5rem;background-color:#ccc;}
.redbag_rule_2,.redbag_rule_3{padding-left:1rem;margin-top:2rem;display:block;}
.managerThankBox{padding:1rem;border:1px dashed #ccc;height: 18rem;overflow-x: hidden;}

.redbag_reply{position:relative;color:#999;padding-top:1rem;margin:0 2rem;}
/* .redbag_reply .r3{display:inline-block;width:10rem;height:5rem;background:url(redbag_reply.png) no-repeat;background-size:10rem;backgroun-position:0rem 0rem;vertical-align: top;} */
.redbag_reply .r3_1{background-position:0rem 0rem;}
.redbag_reply .r3_2{background-position:0rem -5rem;}
.redbag_reply .r3_3{background-position:0rem -10rem;}
.replyresult{display:none;font-size:1.8rem;line-height:5rem;}
.replyresult .r3{color:#ff305c;}
.replyresultNone{width:100%;height:15rem;background:url(redbagnone.png) center center no-repeat;background-size:10rem;}

.rglist{cursor:pointer;height:3rem;}
.rgdetail{line-height:2rem;height:3rem;width:100%;display:block;}
.rgdetail .rglist:after{content:'';display:inline-block;width:2rem;height:2rem;background-position:-18rem -2rem;vertical-align:top;margin-top: 0.5rem;}
.rgdetail.on .rglist:after{transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);}
.rgdetail dd{margin:0 auto;width:10rem;line-height:3rem;color:#999;}
.thankBox{display:none;}
/*加载*/
.scrollContentBox{position: relative; min-height: 105%; z-index:1; overflow: hidden;}
#BubblesTemp,#commentDlTemp{position:absolute; z-index: -9999; left: 0; top: 0; width: 100%; opacity: 0;}
.scrollEndBox{display: block; width: 100%; height: 0.5rem; background: #fff; opacity: 0; }
.btn_load_history{display: block; height: 2rem; color: #5d5b5b; text-align: center; font-size: 1.4rem;}
.btn_load_history b{ font-weight: normal;}
.btn_load_history i{display: none; position: fixed; z-index: 3; left: 50%; width: 2rem; height: 2rem; margin:0.5rem 0 0 -1rem;  background:url(logo_loading_1.gif) no-repeat; background-size:100%;}
.btn_load_history.on b{display: none;}
.btn_load_history.on i{display: block; }

.btnLoadComment,.btnLoadSpeakEnd{ position: absolute; bottom: 1rem; z-index: 3;}

.btn_frist_msg{ display: none; position: absolute; z-index: 5; width: 100%; height: 5rem; line-height: 5rem; text-align: center; background: rgba(0,0,0,0.5); color: #fff; font-size: 1.4rem; transition: 0.5s; -webkit-transition: 0.5s; opacity: 0;}
.fristMsg{display:block;  opacity: 1;}

.commentManage_box{position: absolute;top: -35px;left: 0;}
.commentManageTab {background: #f19937;display: inline-block;padding: 5px 10px;color: #fff;border-radius: 2px;position: relative;}
.commentManageTab  a{color: inherit;}
.commentManageTab:before {content: '';display: block;border-top: 8px solid #f19937;border-left: 8px solid transparent;border-right: 8px solid transparent;position: absolute;bottom: -7px;}