body {
    overflow-y: hidden
}

body.noSelect {
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.mt10{margin-top: 10px}
.main_box_live_1 {
    top: 15rem;
    bottom: 6rem;
    background: #fff
}

.main_box_live_2 {
    top: 5rem;
    bottom: 0
}

.ovhide {
    overflow: hidden
}

[class^=live_header_] {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    overflow: hidden
}

.live_header_1 {
    height: 15rem
}

.live_header_2 {
    height: 5rem
}

[class^=live_bottom_] {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .5rem 0 0;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0 0 5px 1px #CCC;
    background: #fff
}

.live_bottom_1 {
    height: 6rem
}

.main_box_live_1 {
    overflow: hidden;
    box-sizing: content-box\9
}

body.nobottom .main_box_live_1 {
    bottom: 0
}

body.nobottom [class^=live_bottom_] {
    display: none
}

.alarmClock:before,.ask_type_box .type_ask:before,.ask_type_box .type_comment:before,.ask_type_box:after,.back_d2_wkBox .back_span_boxFl i:before,.backtips:after,.btn_add_speaker,.btn_createLive:before,.bubbles_start .bubbles_startbtn .liveStart:before,.choose_list dd.on:after,.connectqr.on:before,.create_metoo a:before,.focusLiveBtn:before,.live_fans:before,.live_list .dd_1:after,.live_money_exit:after,.live_title_bar .live_logo:before,.manage_bar .btn_topic_ctrl:before,.manage_bar .commnet_quantity:before,.manage_bar .topic_views:before,.manageticket_into:before,.menu_back:before,.menu_expland:before,.menu_tomine:before,.mine_list dd:before,.onetoone_header_1 i:before,.otherqr.on:before,.password_public_tab:before,.password_set dt .password_type.on:after,.password_state:before,.password_ticket_tab:before,.pay_list dd:after,.ql_timer span:before,.reward_answer:before,.reward_question:before,.rewardpercent:after,.start_tips .st_logo,.student i:after,.teacher i:after,.ticket_edit:before,.ticket_push:before,.topic_p1:before,.upload_topic_otherqr,.walletUL .li_2 a:after,.zan_list dd:after,[class^=live_bottom_] .btn_img_upload,[class^=live_bottom_] .btn_tab_audio,[class^=live_bottom_] .btn_tab_keyboard {
    background: url(http://cache1.qlchat.com/styles/wtwap/img/live/live_logo.png?v=aoemotagbetter) no-repeat;
    background-size: 75rem
}

#liveMainBox {
    background-color: #fff
}

.topic_ticket_one {
    line-height: 2.5rem
}

.ticket_header {
    height: auto;
    position: relative
}

.ticket_header img {
    display: block;
    width: 100%;
    height: auto
}

.ticket_edit {
    text-align: center;
    position: absolute;
    right: 0;
    top: 1.5rem;
    display: block;
    height: 3rem;
    line-height: 3rem;
    color: #fff;
    font-size: 1.2rem;
    background-color: rgba(0,0,0,.5);
    padding: 0 .4rem;
    border-radius: 2.5rem 0 0 2.5rem;
    width: 9.5rem
}

.ticket_edit:before {
    content: '';
    display: inline-block;
    width: 1.9rem;
    height: 1.9rem;
    margin: .5rem .3rem .3rem -.4rem;
    vertical-align: top;
    background-position: -24rem -2rem
}

.ticket_push {
    text-align: center;
    position: absolute;
    left: 0;
    top: 1.5rem;
    display: block;
    height: 3rem;
    line-height: 3rem;
    color: #fff;
    font-size: 1.2rem;
    background-color: rgba(0,0,0,.5);
    padding: 0 1rem;
    border-radius: 0 2.5rem 2.5rem 0;
    width: 9.5rem
}

.ticket_push::before {
    content: '';
    display: inline-block;
    width: 1.9rem;
    height: 1.9rem;
    margin: .6rem .5rem .3rem -.7rem;
    vertical-align: top;
    background-position: -70rem -2rem
}

.ticket_header_set {
    position: relative
}

.ticket_content {
    padding: .5rem 0
}

.ticket_content dd {
    padding: 1rem 1.5rem;
    background:#fff;
    border-bottom: .1rem solid #f8f8f8;
}

.ticket_content span {
    display: inline-block;
    word-break: break-all
}
.ticket_title {
    font-size: 1.6rem;
    color: #333;
    line-height: 2.5rem;
    font-weight: bold;
}

.ticket_p1 {
    font-size: 1.4rem;
    color: #333;
    vertical-align: top
}

.ticket_p2 {
    font-size: 1.3rem;
    color: #949fa4;
    vertical-align: top
}

.ticket_p2 a {
    margin-left: 1rem;
    display: inline-block
}

.ticket_p2.show_guestInstro {
    display: block
}

.ticket_p2.show_topicInstro {
    display: block
}

.ticket_p3 {
    font-size: 1.3rem;
    color: #949fa4;
    vertical-align: top;
    line-height: 2rem
}

.ticket_content .ticket_people {
    border-bottom: .1rem solid #f8f8f8;
    margin: 0;
    padding: 0 1.5rem
}

.ticket_people_box {
    padding: 1rem 0;
    border-bottom: 1px solid #f8f8f8;
}

.ticket_people_box:last-child {
    border: none
}

.ticket_people_box .ticket_p2 {
    margin-left: 1rem
}

.from_live_name {
    color: #f19937;
    padding-left: 1rem;
    vertical-align: top;
    max-width: 14rem;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all
}

.fromlive_focus{
    color: #f19937;
    border-radius: .2rem;
    padding: 0 1rem;
    margin-left: 1rem;
    line-height: 2rem;
    display: inline-block;
    vertical-align: top;
    border: .1rem solid;
    font-size: 1.2rem;
}

.fromlive_focus.on {
    color: #999;
    background-color: #eff1f2
}

.ticket_content .distribute_btnbox {
    padding: .5rem 1rem 1.5rem 1.5rem;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 0 .5rem
}

.ticket_content .ticket_summary {
    padding: 2rem 1.5rem
}

.distribute_btnbox a {
    margin-right: 1rem;
    padding: 0 1rem
}

.sqlbtn_blu1b_qlbgb_share:before {
    width: 2rem;
    height: 2rem;
    margin: .5rem 0 0;
    vertical-align: top;
    background-position: -72rem -2rem
}

.paypeople_imgbox span {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    overflow: hidden;
    margin-right: -1rem;
    vertical-align: top;
    border:.2rem solid #eee;
}

.paypeople_imgbox span img {
    width: 100%;
    height: 100%
}

.pp_more_qlbgb {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 100%;
    background-position: -8rem -2rem;
    background-color: #eef3f5;
    vertical-align: top
}

 .pp_more_qlbgb:before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: top;
    background-position: -8rem -2rem;
} 

.priceshow {
    color: #ff2323;
    margin: -.2rem 2rem 0 -.5rem
}

.priceshow var {
    font-size: 1.8rem
}

.ticket_exit1,.ticket_exit2,.ticket_exit3 {
    display: block;
    height: 4rem;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    line-height: 4rem;
    cursor: pointer;
    white-space: nowrap
}

.ticket_exit1 a,.ticket_exit2 a {
    display: block;
    width: 100%;
    color: #fff
}

.ticket_exit1 {
    background-color: #f19937
}

.ticket_exit2 {
    background-color: #ffa200
}

.ticket_exit3 {
    background-color: #fff;
    line-height: 2rem;
    border-top: 1px solid #f8f8f8;
}

.thistopicpassword {
    display: block;
    width: 100%;
    margin: .5rem 0 1rem 1rem;
    padding: 1rem;
    border-radius: .2rem;
    background-color: #f0f3f5;
    color: #c4c8cb;
    font-size: 1.4rem;
    line-height: 2rem;
    outline: 0;
    border: none
}

.thistopicpassword_a {
    display: inline-block;
    color: #fff;
    background-color: #00acff;
    padding: 1rem 2rem;
    border-radius: .2rem;
    margin: .5rem 1rem 1rem;
    line-height: 2rem;
    white-space: nowrap
}

.live_status_start1 {
    color: #0096ff
}

.live_status_start2 {
    color: #0096ff
}

.live_status_doing {
    color: #ff9600
}

.live_status_over {
    color: #c5c5c5
}

.ticket_qrimg {
    display: block;
    margin: 1rem auto;
    width: 15rem;
    height: 15rem;
    border: 1px solid #e5e5e5
}

.ticket_qrimg img {
    width: 100%;
    height: 100%
}

.sharerank {
    color: #fff;
    background-color: #ffb400;
    padding: 0 .5rem;
    border-radius: .3rem;
    line-height: 1.6rem
}

.ticket_nonepeople {
    color: #949fa4;
    text-align: center
}

.focusLiveBtn {
    display: block;
    padding: 2.5rem 0 1rem;
    color: #333;
    text-align: center;
    cursor: pointer
}

.focusLiveBtn:before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    position: relative;
    top: .5rem;
    background-color: #fff;
    border-radius: 2rem;
    border: 1px solid #ccc;
    margin-right: 1rem
}

.focusLiveBtn.on:before {
    background-position: -54.1rem -.1rem;
    background-color: #3bcb59;
    border: 1px solid #3bcb59
}

.couponBox:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    filter: alpha(opacity="50")
}

.couponBox .main {
    position: absolute;
    z-index: 101;
    width: 100%;
    background: #fff;
    overflow: hidden;
    bottom: 0
}

.couponBox ul li {
    padding: 1.5rem;
    border-bottom: 1px solid #e5e5e5;
    font-size: 1.5rem
}

.couponBox ul li i {
    float: right
}

.nav_list span.flex input.date_time {
    color: #999;
    cursor: pointer
}

.passwordsetbox {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -o-box;
    display: -ms-flexbox;
    display: flex
}

.topicpassword_tips,.topicpassword_value {
    display: block;
    width: 100%;
    padding: 1rem;
    border: 1px dashed #888;
    font-size: 1.5rem;
    flex-box: flex-box;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 2.2rem;
    border-radius: .3rem
}

.topicpassword_value::-webkit-input-placeholder {
    color: #d6d6d6
}

.topicpassword_value::-moz-placeholder {
    color: #d6d6d6
}

.topicpassword_value::-ms-input-placeholder {
    color: #d6d6d6
}

.topicpassword_value::-o-input-placeholder {
    color: #d6d6d6
}

.topicpassword_tips::-webkit-input-placeholder {
    color: #d6d6d6
}

.topicpassword_tips::-moz-placeholder {
    color: #d6d6d6
}

.topicpassword_tips::-ms-input-placeholder {
    color: #d6d6d6
}

.topicpassword_tips::-o-input-placeholder {
    color: #d6d6d6
}

.fixed_code_value::-webkit-input-placeholder {
    color: #d6d6d6
}

.fixed_code_value::-moz-placeholder {
    color: #d6d6d6
}

.fixed_code_value::-ms-input-placeholder {
    color: #d6d6d6
}

.fixed_code_value::-o-input-placeholder {
    color: #d6d6d6
}

.topicpassword_tips {
    resize: none
}

.password_title {
    display: block;
    padding: 0 0 1rem;
    font-size: 1.4rem;
    color: #333;
    line-height: 2rem
}

.password_state {
    color: #00acff;
    float: right
}

.password_state:before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-position: -26rem -2rem;
    vertical-align: top;
    margin-top: .5rem
}

.passwordqr_choose {
    display: block;
    width: 100%;
    position: relative;
    margin: 1rem 0 3rem 0;
    text-align: center;
    font-size: 1.4rem;
    color: #7a7a7a;
    line-height: 2rem
}

.passwordqr_choose_box {
    display: block;
    width: 100%;
    position: relative;
    margin: 1rem 0 3rem 0;
    text-align: center;
    font-size: 1.4rem;
    color: #7a7a7a;
    line-height: 2rem;
    height: 5rem
}

.qror {
    margin: 1rem;
    padding-top: 3rem;
    color: #999;
    display: inline-block
}

.connectqr,.otherqr {
    min-width: 11rem;
    max-width: 15rem;
    display: inline-block;
    border: 1px dashed #888;
    padding-top: 0;
    padding-bottom: 1rem;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    height: 13rem;
    width: 30%;
    vertical-align: top
}

.connectqr.on,.otherqr.on {
    border: 1px dashed #0096ff
}

.connectqr.on:before,.otherqr.on:before {
    content: '';
    width: 2rem;
    height: 2rem;
    float: right;
    background-position: -22rem -2rem;
    position: absolute;
    right: .5rem;
    top: .5rem
}

.connectqr img,.otherqr img {
    width: 100%;
    height: 100%;
    display: block
}

.connectone,.upload_topic_otherqr {
    position: relative;
    display: block;
    width: 6rem;
    height: 6rem;
    margin: 1rem auto;
    border: 1px solid #ccc
}

.upload_topic_otherqr {
    background-position: -6rem -14rem
}

.passwordqr_choose_box .passset_cancel,.passwordqr_choose_box .passset_confirm {
    display: inline-block;
    height: 4rem;
    width: 40%;
    border-radius: .5rem;
    line-height: 4rem
}

.backone,.passwordqr_choose_box .passset_cancel {
    border: 1px solid #00acff;
    color: #00acff;
    margin-left: 1rem
}

.passwordqr_choose_box .passset_confirm,.setNewTopicBtn {
    margin: 0 2rem;
    background-color: #00acff;
    color: #fff;
    margin-right: 1rem
}

.password_tips {
    display: block;
    line-height: 1.8rem;
    color: #999;
    font-size: 1.2rem
}

.passUse_content {
    width: 100%
}

.passUse_content span {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 2.5rem
}

.passUse_content .passUse_head {
    height: 4rem;
    line-height: 4rem;
    font-size: 1.6rem;
    border-bottom: 1px solid #e5e5e5;
    background-color: #e7e7e7
}

.passUse_content .passUse_countarea {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 2.5rem
}

.passUse_content .passUse_countarea b {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    padding: 0 2rem;
    text-align: left
}

.passUse_content .passUse_countarea img {
    width: 80%
}

.passUse_content .qlbmi_gene_cancel {
    display: block;
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: .5rem;
    right: 1rem;
    background-position: -24rem 0
}

.passUseBox .main {
    margin: -18rem 0 0 0
}

.nowqr {
    width: 15rem;
    height: 15rem;
    display: inline-block;
    border: 1px dashed #888;
    padding-top: 0;
    padding-bottom: 1rem;
    background-color: #fff
}

.nowqr img {
    width: 10rem;
    height: 10rem;
    display: block;
    margin: 1rem auto
}

.nowqr a {
    display: block;
    width: 10rem;
    height: 4rem;
    margin: 0 auto;
    color: #00acff
}

.passwordqr_choose img {
    border: 1px solid #cbcbcb
}

.topicpassword_a {
    display: block;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    background-color: #00acff;
    color: #fff;
    font-size: 1.5rem;
    flex-box: flex-box;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 2.2rem;
    text-align: center;
    border-radius: .3rem
}

.password_p {
    display: block;
    padding: 1rem;
    text-align: center;
    color: #333;
    font-size: 1.5rem
}

.password_p img {
    width: 15rem;
    height: 15rem;
    border: 1px solid #cbcbcb
}

.img_p1 {
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    overflow: hidden;
    margin: 4rem auto 1rem
}

.img_p1 img {
    width: 100%;
    height: 100%
}

[class*=authentication] {
    display: block;
    text-align: center;
    line-height: 2rem;
    font-size: 1.5rem;
    padding: 0 1rem
}

.authentication_p2 {
    color: #333
}

.authentication_p3 {
    color: #999
}

.authentication_p4 {
    color: #00acff
}

.yanzheng {
    border: 1px solid #e8e8e8
}

.paypeopleul {
    padding-left: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5
}

.paypeopleul li {
    border-bottom: 1px solid #e5e5e5;
    padding: 1rem 12rem 1rem 0;
    overflow: hidden;
    white-space: nowrap;
    width: 100%
}

.paypeopleul li:last-child {
    border-bottom: none
}

.paypeopleul li span {
    float: left;
    line-height: 4rem
}

.paypeople_img {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    overflow: hidden
}

.paypeople_img img {
    width: 100%;
    height: 100%
}

.paypeople_name {
    color: #333;
    font-size: 1.5rem;
    margin-left: 1rem;
    float: none!important;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    padding: 0 0 0 1rem;
    float: none!important
}

.paypeopleul .paypeople_time {
    color: #cfcfcf;
    font-size: 1.4rem;
    position: absolute;
    right: 1rem
}

.onetoone_tips {
    color: #ff1818;
    font-size: 1.4rem;
    margin-left: 1rem
}

.onetoone_state {
    color: #999;
    font-size: 1.4rem;
    padding: 1rem
}

.onetoone_state li {
    line-height: 2rem
}

.payQrBox {
    text-align: center;
    z-index: 102
}

.payQr_span_1 {
    line-height: 2rem
}

.ql_start_box {
    display: none;
    background: #fff;
    border-radius: 2px
}

.ql_start_box .ql_start_date {
    height: 2.8rem;
    line-height: 2.8rem;
    color: #333;
    font-size: 1.2rem
}

.ql_start_box .ql_timer {
    text-align: left
}

.ql_timer span {
    height: 2.5rem;
    line-height: 2.5rem;
    color: #999;
    font-size: 1.2rem;
    margin-top: 1rem
}

.ql_timer span:before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-position: -10rem -2rem;
    vertical-align: top;
    margin-top: .3rem
}

.ql_timer dl {
    display: inline-block;
    padding: .3rem .6rem;
    border-radius: .5rem;
}

.ql_timer dl dd {
    display: inline-block;
    width: 5rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.2rem;
   background-color: #f19937;
    color: #fff;
    border-radius: .2rem;
    margin: 0;
    padding: 0;
    text-align: center
}


.ql_timer dl dd:last-child {
    border: none
}

.ql_timer dl dd var {
    color: #fff;
    font-size: 2rem
}

.ql_start_box .ql_st_buttons {
    display: block;
    text-align: center
}

.ql_st_buttons a {
    display: inline-block;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 .5rem;
    margin: 0 0 1rem;
    color: #666;
    border: solid 1px #d5d5d5;
    border-radius: 2px
}

.ql_st_buttons b {
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 .5rem;
    color: #666;
    font-weight: 400
}

.qlTimerShow {
    display: block;
    padding: 1rem 0
}

.shareCourseBox {
    display: block;
    min-height: 11rem;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.3rem;
    color: #949fa4
}

.shareCourseBox .course_content {
    padding-top: 1rem
}

.shareCourseBox .course_content span {
    display: block
}

.course_p1 {
    text-align: left;
    padding: .5rem 2rem;
    line-height: 1.9rem
}

.shareCourseBox .course_content .course_p2 {
    color: #ffa200;
    display: flex;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    margin-top: 2.5rem
}

.course_p2:after,.course_p2:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    border-top: 1px dashed #e5e5e5;
    flex: 1;
    position: relative;
    top: 1rem
}

.course_p3 {
    padding: .8rem 2rem 1.3rem 2rem;
    line-height: 2rem
}

.course_bottom {
    width: 100%;
    padding: 1rem;
    border-top: 1px solid #e5e5e5
}

.course_bottom .course_cancel {
    display: block;
    :#00acff;text-align: center;
    line-height: 2rem
}

.course_p1 .createPrivateCard {
    margin-top: 1rem
}

.course_content.share_send_modal {
    padding: 0
}

.share_send_modal .course_p1 {
    padding: 5rem 3rem
}

.menu_expland_qlbgi1,.menu_expland_qlbgi2,.menu_expland_qlbgi3,.menu_expland_qlbgi4 {
    display: inline-block;
    width: 2.3rem;
    height: 2.3rem;
    border: 1px solid #e1e7eb;
    border-radius: .5rem;
    vertical-align: top;
    margin-top: -.2rem
}

.menu_expland_qlbgi1 {
    border: none;
    background-position: -8rem -2rem
}

.menu_expland_qlbgi2 {
    background-position: -46rem -2rem;
    background-color: #f5f8fa
}

.menu_expland_qlbgi3 {
    background-position: -48rem -2rem;
    background-color: #f5f8fa
}

.menu_expland_qlbgi4 {
    border: none;
    background-position: -56rem -2rem
}

.submit_box {
    display: block;
    padding: 3rem 1rem;
    text-align: center
}

.wt_btn_live_1,.wt_btn_live_2 {
    display: inline-block;
    width: 10rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    margin: 0 1rem
}

.wt_btn_live_1 {
    background: #00acff
}

.wt_btn_live_2 {
    background: #e62118
}

.nav_list .list_btn_2 .live_logoshow {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    overflow: hidden
}

.nav_list .list_btn_2 .live_logoshow img {
    width: 100%;
    height: 100%;
    border-radius: 100%
}

.live_managershow {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    overflow: hidden;
    margin-left: 1rem
}

.live_managershow img {
    width: 100%;
    height: 100%
}

.copyurl_btn {
    float: right;
    margin-right: 2rem;
    color: #00acff
}

.live_introduce_input,.live_name_input,.nextlive_talk_input,.nextlive_talker_input,.ticket_input {
    display: block;
    width: 100%;
    height: 3.2rem;
    margin: 3rem auto 0;
    padding: 0 .5rem;
    line-height: 3.2rem;
    background: #efeff4;
    border: none;
    font-size: 1.4rem;
    border-radius: .3rem;
    color: #333
}

.nexttopic_talk_textarea,.reply_textarea {
    display: block;
    width: 98%;
    height: 12rem;
    padding: .5rem;
    margin: 0 auto;
    line-height: 2rem;
    color: #333;
    background: #efeff4;
    border: none;
    border-radius: .5rem;
    font-size: 1.6rem;
    resize: none
}

.change_img_box {
    position: relative;
    display: block;
    width: 10rem;
    height: 10rem;
    margin: 2rem auto;
    border: solid 2px #ccc;
    overflow: hidden
}

.change_img_box img {
    width: 100%;
    height: 100%
}

.change_live_logo {
    border-radius: 10rem
}

.change_live_logo img {
    border-radius: 100%
}
