@CHARSET "UTF-8";
*{-webkit-tap-highlight-color: rgba(0,0,0,0);}
body{overflow-y: hidden;}
body.noSelect{-moz-user-select: none;-o-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;}
.tab_speak li:before,
.btn_dd .btn_recording:before,
.others_box li a:before,
.others_box li i:before,
.right_info .btn_like:before,
.right_info .btn_hate:before,
.cbox_main .dd_1 a:before,
.btn_closeCBox,
.btn_gtb_close,
.ql_timer span:before,
.live_redbag .redbag_cancel,.otherredmoney_content .gene_cancel,
.write_dan:before,.comment_input_box .commentInput:before,.comment_input_box .shutupbox:before,
.guest_head b,.pageMenu .page_refresh,
.allcount i,.collecttips i,.collecttips:after,.backtips_i1,.backtips_i2,.backtips:after,
.btn_gotoCreateLive:before,
.tab_recordingType:before,
.img_view_window .btn_closed,
dt.luckyMoney .lm_main:before,
[class*="_bubble"] .btn_revoke:before,
[class*="_bubble"] .btn_resend,
.enterLiveTips .banner .ico_1,
.status_tips:before,.userTabBottom .commBtn:before,.pptBox .up,.pptBox .down,.pptBox .delBtn,.pptBox .pptFooter button:before,.userTabBottom .gzBtn:before{background:url(live_logo.png?v=2016050601) no-repeat; background-size:75rem;}



.make_audio_top:before,.getrecord_top:before,.guide_tips_box:before{background:url(ico_guide.png?v=aoemojewoer) no-repeat;background-size:10rem auto;}

.speakBox{position: absolute; left: 0; top:200px; bottom: 0; width: 100%; overflow: hidden;}
.commentBox{left: 0; top:200px; bottom: 0; width: 100%; overflow: hidden;}

.userTabBottom{ position:fixed;left: 0; bottom: 0; right: 0; background: #f19937;box-shadow: 0 0 20px rgba(0,0,0,0.2); overflow: hidden; height: 4rem; line-height: 4rem; color: #fff; font-size: 16px; display: none;}
.userTabBottom .commBtn{ text-align: center;}
.userTabBottom .commBtn:before{ content: ""; display:inline-block; background-position: -6rem -2rem; margin-right: 5px; width: 2rem; height: 2rem; margin-top: 1rem; vertical-align: top;}
.userTabBottom li {
    width: 50%;
    float: left;
    text-align: center;
}
.userTabBottom .gzBtn:before {
    content: "";
    display: inline-block;
    background-position: -36rem -2rem;
    margin-right: 5px;
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
    vertical-align: top;
}
.hasUserTabBottom .speakContentBox{ bottom: 4rem;}
.hasUserTabBottom .userTabBottom{ display: block;}
/***发言区***/
/*头部*/
.liveHeader{position: absolute; z-index: 3; width: 100%; padding: 1rem; top: 0; left: 0;}
.guest_head{ position: relative; float: left;padding: 0.2rem;}
.guest_head i{position: relative; z-index: 2; float: left; width: 2.5rem; height: 2.5rem; margin: 0 -0.5rem 0 0; overflow: hidden; border-radius: 3rem; border: solid 1px #fff;}
.guest_head i img{ width: 100%; height: 100%; border-radius: 3rem;}
.guest_head b{ float: left; width: 2rem; height: 2rem; background-position:-2rem -2rem ;position: relative;z-index: 2;margin: 0.2rem 0 0 0.2rem; }
.guest_head:before{content: "";position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: 0.5;border-radius: 5rem;}


/*侧边菜单*/
.pageMenu{position:absolute; z-index: 4; margin: 0 0 1rem; right: 1rem; bottom: 1rem;}
.pageMenu li{ width: 4rem; height: 4rem; text-align: center; line-height: 3.8rem; color: #333333; font-size: 1.4rem; background: #fff; border: solid 1px #e5e5e5; border-radius: 0.3rem;cursor: pointer;}
.pageMenu li a{ display: block; width: 100%; height: 100%;color: #333333;}
.pageMenu .page_refresh{background-size:78rem;background-position: -27.7rem -3.9rem; margin:0 0 1rem;background-color:#f19937; border-radius: 50%; border: none;}
.pageMenu li.tabToComment{ color: #fff; background: #f19937; border: none;}
.pageMenu li.tabToIndex{ font-size: 1.2rem;line-height: 1.4rem;}
.pageMenu li.tabToIndex a{padding: 0.5rem 0px 0px;}


/*直播消息区*/
.speakContentBox{  position: absolute; width: 100%;  top: 0; bottom: 0; padding: 4rem 0 0;overflow: auto;overflow-x: hidden; background: #eee;-webkit-overflow-scrolling : touch;}
.bubbles_dl{ display: block;  padding: 1rem 0;overflow: hidden;padding-bottom:1.8rem; }

.bubble_dt{ display:block; margin:1rem auto; height:2rem; line-height: 2rem; text-align: center;}
.bubble_dt b{ position: relative; display: inline-block; padding: 0 1rem; font-weight: normal;z-index: 1; color: #fff;}
.bubble_dt b:before{ content: ""; position: absolute; z-index: -1; left:0; top: 0; height: 100%;  width: 100%; background: #ccc; opacity: 0.5; border-radius: 3px;}

[class*="_bubble"]{position: relative; display: block; padding: 1rem 5rem 0.5rem 5.5rem; *zoom:1;}
[class*="_bubble"]:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}

[class*="_bubble"] .head_portrait{ position: absolute; left: 1rem; top: 5.5rem; width: 3rem; height: 3rem; border-radius:3px; overflow: hidden;}
.head_portrait img{ width: 100%; height: 100%;border-radius:3px;}
[class*="_bubble"] .speak_time{ display: block; height: 2rem; line-height: 2rem; text-align: center; color: #b3b3b3; font-size: 1.2rem;}
[class*="_bubble"] .speaker_name{ font-size: 1.2rem; line-height: 2.5rem; color: #999;}
[class*="_bubble"] .speaker_name b{ color: #333;padding: 0 0.5rem 0 0; font-size: 1.4rem; font-weight: normal;max-width: 20rem; overflow: hidden;display: inline-block;vertical-align: top; text-overflow: ellipsis; white-space: nowrap;}
[class*="_bubble"] .bubble_content{ position: relative; float: left; max-width:90%;min-width: 5rem; min-height: 3.6rem; padding: 0.5rem; background: #fff;border-radius: 5px; line-height: 2.4rem; cursor: pointer;box-shadow: 1px 1px 3px rgba(0,0,0,0.08);}

[class*="_bubble"] .bubble_content:before{content: ""; position: absolute;top:1rem; width: 0px; height: 0px;border-top: 0.6rem solid transparent;border-bottom: 0.6rem solid transparent;}
[class*="_bubble"] .bubble_content:after{content: ""; position: absolute;top:1rem; width: 0px; height: 0px;border-top: 0.6rem solid transparent;border-bottom: 0.6rem solid transparent;}
/*.left_bubble .bubble_content:before { left: -0.7rem;border-right: 0.8rem solid #e5e5e5;}*/
.left_bubble .bubble_content:after { left: -0.6rem;border-right: 0.8rem solid #fff;}
.right_bubble .bubble_content:before { right: -0.8rem;border-left: 0.8rem solid #e5e5e5;}
.right_bubble .bubble_content:after { right: -0.6rem;border-left: 0.8rem solid #fff;}

.bubble_content p{padding: 0 0.5rem; color: #999; font-size: 1.6rem; word-break: break-all;}
.bubble_content p b{ color: #333; padding: 0 0.4rem 0 0; font-weight: normal;}
.bubble_content p:last-child{ color: #333;}
.bubble_content img{ max-width: 100%; max-height: 12rem;  display: block; border-radius: 3px;}
.bubble_content p:nth-child(2){ border-top: 1px solid #eee; position:relative; margin-top: 3px; padding-top: 3px;}
.bubble_content p a{color:#00ACFF;}

[class*="_bubble"] .btn_ilike{ position: absolute; top:8rem; left:1.2rem; width:2.5rem;height:2.5rem; line-height:2.5rem; text-align: center; border-radius:2.5rem;background-color:#edcb91;color:#b98d42;font-size:1.6rem;margin-top: 1rem; font-weight: bold;}

[class*="_bubble"] .btn_revoke {
    position: relative;
    float: left;
    width: 3rem;
    height: 3rem;
    margin: -1.2rem 0 0 -1.6rem;
    padding: .5rem 0 0;
    line-height: 3rem;
    text-align: center;
    color: #d1d1d1;
    cursor: pointer;
}
[class*="_bubble"] .btn_revoke:before{content: ""; width: 2rem; height: 2rem; display: inline-block; background-position: -38rem -2rem; background-color: rgba(0,0,0,0.3); border-radius: 2rem;}
[class*="_bubble"] .btn_resend{ display:none; float: left; width: 3rem; height: 3rem; margin: 0.2rem 0 0; background-position: -39rem -4rem; cursor: pointer;}
.hasTime .head_portrait{top: 5.5rem;}
.hasTime .btn_ilike{top:8rem; -webkit-transform: scale(0.8);transform: scale(0.8);}

.bubble_content.recordingMsg,
.bubble_content.recordTemp{ position: relative; width: 16rem; height: 4rem; cursor: pointer;}
.recordingMsg i,
.recordTemp i{display: inline-block; width: 2rem; height:2rem; margin: 0.5rem 1rem 0 0.5rem; background:url(audioPlaying.png) 0rem 0rem no-repeat;background-size:2rem;  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; vertical-align: bottom;}
.recordingMsg.isPlaying i{background:url(audioPlaying.gif) 0rem 0rem no-repeat;background-size:2rem; }
.recordingMsg.audioloading i{background-image:url(logo_loading_3.gif);}
.recordingMsg var,
.recordTemp var{ position: absolute; right: -4rem; top: 1.5rem;  width: 3rem; height: 2.5rem; color: #666;}
.recordingMsg var:after,
.recordTemp var:after{content: '"'; padding: 0 0 0 0.2rem;}
.recordingMsg var:before{content: ""; position: absolute; left: 0; top: -1rem; width: 0.8rem; height: 0.8rem; border-radius: 1rem; background: #f94747; }
.chexiaoaudio{background-color:#ccc;color:#fff; padding: 0.5rem 1rem; border-radius: 3rem;}
.audio_make_ul{text-align:left;margin:1rem 2rem;font-size:1.5rem;line-height:2.5rem;}
.make_audio_top,.getrecord_top{height:10rem;width:100%;background-color:#33bdff;color:#fff;font-size:1.5rem;text-align:center;padding-top:1rem;line-height: 4rem;}
.make_audio_top:before,.getrecord_top:before{content:'';display:block;width:5rem;height:5rem;background-position:-5rem 0rem;border-radius:5rem;background-color:#d5f1ff;margin:0 auto;}
.make_audio_top.on:before{background-position:-5rem -5rem;}
.makeAudioBox .gene_content{color:#999;}
.makeAudioBox .gene_cancel{color:#33bdff;}


.right_bubble{ padding: 1rem 5.5rem 0 1rem; }
.right_bubble .head_portrait{left: auto; right: 1rem;}
.right_bubble .speak_time{padding: 0 0 0 4.5rem;}
.right_bubble .speaker_name{ text-align: right;}
.right_bubble .bubble_content{ float: right; margin: 0 0 0 4rem;}
.right_bubble .btn_ilike{left: auto; right:1.2rem;}
.right_bubble .btn_revoke{ float: right; margin:0.3rem -4rem 0 0;}
.right_bubble .recordingMsg{margin: 0 0 0 7rem;}
.right_bubble .recordingMsg var{ left: -4rem; right: auto;  text-align: right;}
.right_bubble .recordingMsg var:before{left: auto; right: 0;}

.recordingMsg.isReaded var:before{ display: none;}

.recordingMsg.recordwid1,.recordTemp.recordwid1{width:10rem;}
.recordingMsg.recordwid2,.recordTemp.recordwid2{width:11.5rem;}
.recordingMsg.recordwid3,.recordTemp.recordwid3{width:13rem;}
.recordingMsg.recordwid4,.recordTemp.recordwid4{width:14.5rem;}
.recordingMsg.recordwid5,.recordTemp.recordwid5{width:16rem;}




.luckyMoney .bubble_content{width:20rem; height: 6rem; background: #ffaf32; padding: 1.1rem 0.5rem 0.5rem 5rem; border: 0;}
.luckyMoney .bubble_content:before{position:absolute; left: 0.6rem; top: 0.5rem; border: none; width:4rem;height:5rem;background:url(ico_luckyMoney.png) center center no-repeat;background-size: 3.4rem 4.4rem;vertical-align:top;}
.luckyMoney .bubble_content:after {border-left: 0.8rem solid #ffaf32;}
.luckyMoney .bubble_content p{ display: block; line-height: 1.8rem;  color: #fff; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; word-break: break-all;}

.bubbles_dl dt.luckyMoney{ display:block; margin:1rem auto; text-align: center;}
.bubbles_dl dt.luckyMoney .lm_main{ position: relative; display: inline-block; height:2.5rem; line-height: 2.4rem; font-size: 1.4rem; padding: 0 0.5rem 0 0.2rem; font-weight: normal;z-index: 1; color: #fff; background-color:#edcb91; border-radius:5px; cursor: pointer;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 80%;}
dt.luckyMoney .lm_main b{ color: #d7493d; font-weight: normal;}
dt.luckyMoney .lm_main:before{ content: ""; display: inline-block; width: 2rem; height: 2rem; vertical-align: top; margin: 0.2rem 0 0; background-position:-24rem 0 ;}
.bubbles_dl dt.luckyMoney .lm_main var{ max-width: 10rem; overflow: hidden; text-overflow: ellipsis; display: inline-block; vertical-align: top;}

/*直播底部*/
.recing_bg{display:none; position: absolute; z-index: 4; width: 100%; height: 100%; cursor: pointer;}
.speakBottom{ display: none; position:absolute; z-index: 4;  width: 100%; bottom: 0; height: 0; overflow: hidden; box-shadow: 0 0 20px rgba(0,0,0,0.2);}

.speakBottom .tab_speak{ display: none; width: 100%; height: 5rem; line-height: 5rem; background: #fff; border-bottom: solid 1px #e8e8e8;}
.tab_speak li{ display: inline-block; width: 33.3%; text-align: center; font-size: 1.4rem; color: #888888;border-right: solid 1px #e8e8e8; cursor: pointer;}
.tab_speak li:last-child{border: none;}
.tab_speak li:before{ content: ""; width: 2rem; height: 2rem; display: inline-block;vertical-align: top;margin:1.4rem 0.2rem 0 0;}
.tab_speak .tab_voice:before{background-position: -12rem 0;}
.tab_speak .tab_text:before{background-position: -16rem 0;}
.tab_speak .tab_others:before{background-position: -20rem 0;}

.recording_tab_box{ display: none; position: relative; width: 100%; height: 21rem; padding: 4rem 0 0; background: #fff; overflow: hidden;white-space: nowrap;}
.recording_box,.recording_click{ display: inline-block; width: 100%; height: 100%; transition: 0.5s; -webkit-transition: 0.5s; margin-left: 0; vertical-align: top;}
.recording_tab_box .second_dd{ display:none; position: absolute; left: 0; top: 0; width: 100%; height: 3rem; margin: 1rem 0 0; line-height: 3rem; text-align: center; color: #f19937; font-size: 1.4rem;}

.recording_tab_box .second_dd i:first-child{background:url(ico_voice_1.png) right center no-repeat; background-size: cover;}
.recording_tab_box .second_dd i:last-child{  background:url(ico_voice_2.png) left center no-repeat; background-size: cover;}
.recording_tab_box .second_dd i{display: inline-block; width: 5rem; height: 1rem; margin: 1rem 1rem 0; vertical-align: top;  background-size:auto 100%;}

.recording_tab_box .rec_Title_box{position: absolute; left: 0; top: 2rem; display: block; width: 100%; height: 3rem; line-height: 3rem; text-align: center; font-size: 1.4rem; color: #888;}
.recording_tab_box .rec_Title_box b{ font-weight: normal;}
.recording_tab_box .rec_Title_box b:last-child{display: none;}


.recording_tab_box .btn_dd{ position: relative; display: block; width: 100%; padding:2rem 0 ;  text-align: center;}
.recording_tab_box .btn_recording{position: relative; display: inline-block; width: 9rem; height: 9rem; border-radius: 9rem; line-height: 9rem; font-size: 1.4rem; color: #fff; text-align: center; background-color: #f19937;  background-position: 0 -14rem; cursor: pointer;}
.btn_dd .btn_recording:before{content: ""; display: inline-block; width: 6rem; height: 6rem; margin: 1.5rem 0 0; background-position: 0 -14rem;}
.btn_recording.stop_rec{ display: none;}
.btn_recording.send_rec{ display: none;}
.btn_recording.start_rec{ border: solid 1px #d4d4d4; background: #fff;}
.btn_recording.start_rec:before{ width:6.8rem; height: 6.8rem; margin: 1rem 0 0; border-radius: 7rem; background:#f15959;}
.btn_recording.stop_rec:before{background-position:-12rem -14rem;}
.btn_recording.send_rec:before{ display: none;}
.recording_tab_box .tips_dd{ display: block; height: 2rem; line-height: 2rem; font-size: 1.4rem; color: #888888; text-align: center;}
.btn_dd.startRec .btn_recording.start_rec,.btn_dd.stopRec .btn_recording.start_rec{ display: none;}
.btn_dd.startRec .btn_recording.stop_rec,.btn_dd.stopRec .btn_recording.send_rec{display: inline-block;}

.btn_dd .btn_cancel_clickRec{position: absolute; z-index: 4; top:-2.5rem; right: 1rem;  width: 5rem; height: 2.5rem; line-height: 2.5rem; cursor: pointer; text-align: center; color: #888888; border: solid 1px #888888; border-radius: 3rem;}
.btn_dd.stopRec .btn_cancel_clickRec{ display: block;}

.send_rec object{position: absolute; left: 0; top: 0;}

.others_box{ display:none; padding: 1rem 0 0;background-color:#fff;}
.others_box li{ display: inline-block; width:32%;text-align: center;}
.others_box li a,.others_box li i{ display: inline-block; width: 6rem; line-height: 2rem;}
.others_box li a:before,.others_box li i:before{ content: ""; display: block; width: 5rem; height: 5rem; margin: 0 0.5rem; border: solid 1px #ccc; border-radius: 3px;}
.others_box .btn_img i:before{background-position: 0.4rem -9.5rem;}
.others_box .btn_link a:before{background-position: -3.5rem -9.5rem;}
.others_box .btn_video a:before{background-position: -7.6rem -9.5rem;}

.text_input_box{ display:none;height: 5rem;padding: 0.5rem 1rem 0;}
.text_input_box .boxFlex{ position:relative; padding: 0 0.5rem;}
.text_input_box .btnBackVoice{ display: inline-block; width: 5rem; height: 4rem; text-align: center; line-height: 4rem; font-size: 1.4rem; border: solid 1px #e5e5e5; border-radius: 3px; background: #fff;}
.text_input_box .speakInput{ display:block; width: 100%; height: 4rem; line-height: 2rem;padding:0.9rem 0.5rem; font-size: 1.6rem; border: 1px solid #e5e5e5;background-color:#f8f8f8;  border-radius: 3px; box-shadow: none; color: #333; resize: none;}
.text_input_box .btnLiveTalk{ display: inline-block; width: 5rem; height: 4rem; text-align: center; line-height: 4rem; font-size: 1.4rem;  border-radius: 3px; background: #f19937; color: #fff;}
.qlAndroid .ql_input_front{ position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.voiceBottom .speakBottom{ display: block; height: 26rem;}
.voiceBottom .speakContentBox,.voiceBottom .pageMenu{bottom: 26rem;}
.voiceBottom .tab_speak,.voiceBottom .recording_tab_box{ display: block;}
.voiceBottom .tab_voice:before{background-position: -14rem 0;}

.othersBottom .speakBottom{ display: block; height: 16rem;}
.othersBottom .speakContentBox,.othersBottom .pageMenu{bottom: 16rem;}
.othersBottom .tab_speak,.othersBottom .others_box{ display: block;}
.othersBottom .tab_others:before{background-position: -22rem 0;}

.textBottom .speakBottom{ display: block; height: 5rem;}
.textBottom .speakContentBox,.textBottom .pageMenu{bottom: 5rem;}
.textBottom .text_input_box{display:-webkit-box; display:box; display:flex; display:-webkit-flex; display:-ms-flexbox;}
.textBottom .tab_text:before{background-position: -18rem 0;}
.voiceBottom .tab_voice,.othersBottom .tab_others,.textBottom .tab_text{ color: #f19937;}

.hasTabBottom .speakBottom{display: block; height: 5rem;}
.hasTabBottom .speakContentBox,.hasTabBottom .pageMenu{bottom: 5rem;}
.hasTabBottom .tab_speak{ display: block;}


.recordingTips{display: none; position: absolute; width: 100%; height: 5rem; line-height: 5rem; text-align: center; font-size: 1.5rem; color: #fff; left: 0; top: 0;}
.rTips_1,.rTips_3,.rTips_5{background: rgba(0,162,255,0.9);}
.rTips_2,.rTips_4{background: rgba(255,95,99,0.9);}

.recording_tab_box .btn_dd i{ content: ""; position: absolute;left: 50%; top: 50%; width: 9rem;height: 9rem;  margin: -4.5rem 0 0 -4.5rem;border-radius: 9rem;background:rgba(9,187,7,1);}
.recording .recording_box .btn_dd i,.btn_dd.startRec i{  animation: recordingAnime 0.8s linear infinite; -webkit-animation: recordingAnime 0.8s linear infinite;  -moz-animation: recordingAnime 0.8s ease infinite;}


.tab_recordingType{position: absolute; left: 50%; bottom: 0; width: 25.5rem;  height: 5rem; margin-left: -12.9rem; padding:0.5rem 0 0 8.5rem;  transition: 0.5s; -webkit-transition: 0.5s;}
.tab_recordingType:before{ content: ""; position: absolute; left: 50%; top: 0.5rem;width: 0.6rem;height: 0.6rem;margin: 0 0 0 -0.3rem; background: #f19937; border-radius: 1rem; }
.tab_recordingType a{position: relative; display: inline-block; width:8.5rem; height: 3rem; line-height: 3rem; text-align: center; color: #888; font-size: 1.4rem;}
.recType_2:after{ content: ""; position: absolute; left: 0; top: 1rem; width: 1px; height: 1rem; background: #e5e5e5;}
a.recType_1{color: #f19937;}

.changeRecType .recording_click{ margin-left: -100%;}
.changeRecType .rec_Title_box b:first-child{display: none;}
.changeRecType .rec_Title_box b:last-child{display: block;}
.changeRecType .tab_recordingType{padding-left: 0;}
.changeRecType a.recType_1{ color: #888;}
.changeRecType a.recType_2{ color: #f19937;}


/*..changeRecType .recType_2{display: block;}
.changeRecType .recType_1{display: none;}*/
.recording .second_dd{ display: block;}
.recording .tab_recordingType,
.recording .rec_Title_box{display: none;}


@keyframes recordingAnime
{
from {transform: scale(1); opacity: 1;}
to {transform: scale(1.5); opacity:0;}
}
@-webkit-keyframes recordingAnime /* Safari 和 Chrome */
{
from {-webkit-transform: scale(1); opacity: 1;}
to {-webkit-transform: scale(1.5); opacity:0;}
}
@-moz-keyframes recordingAnime 
{
from {-moz-transform: scale(1); opacity: 1;}
to {-moz-transform: scale(1.5); opacity:0;}
}

.recordingSending{display:none; position: absolute;z-index: 4; bottom: 6.3rem; left: 50%; height: 3rem; width: 13rem; margin: 0 0 0 -6.5rem; line-height: 3rem; font-size: 1.3rem; text-align: center;}
.recordingSending:before{content: ""; position: absolute; display: block; left: 0; width: 100%; height: 100%; background: #000; opacity: 0.5; border-radius: 3px;}
.recordingSending b{position: relative; z-index: 4; color: #fff;}

#flashcontent{display: block; padding:0.5rem 0 0 0.5rem;}
#flashcontent a{ color: #00acff;text-decoration: underline;}
/*登录*/
.login_box{position: absolute; display: block; bottom: 0; left: 0;  width: 100%; z-index: 2; overflow: hidden; box-shadow: 0px 0px 5px 1px #CCC; background: #fff;height: 5rem;}
.login_btn{width:90%;height:4rem;background-color:#00A8FF;color:#fff;display:block; line-height:4rem;font-size:2rem;text-align: center;margin:0.5rem auto;border-radius: 0.5rem;}





/***评论区***/
.commentBox{z-index: 4; display: none;}
.commentBox:before{content: ""; position: absolute;z-index: 3; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: 0.5;}

.commentHeader{position: absolute;z-index: 4; top: 0; left: 0; padding: 1.2rem 0 0; width: 100%;  text-align: center;}
.backToLive{ display: inline-block; width: 9.5rem; height: 3.5rem; line-height: 3.5rem; background: #f19937; color: #fff; font-size: 1.5rem; border-radius: 2px;}

.commentContentBox{  position: absolute;z-index: 4; width: 100%;  top: 6rem; bottom: 5rem; padding: 0rem 0 0;overflow: auto;overflow-x: hidden; background: #fff;-webkit-overflow-scrolling : touch;}
.comment_dl{ display: block; padding:0;}
.comment_dl .comment_dd{display: block; padding: 1rem; background: #fff; *zoom:1; border-bottom: solid 1px #ebebeb;}
.comment_dl .comment_dd:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.comment_dd .right_info{ float: right;height: 2rem;overflow: hidden;}
.right_info .btn_wall,
.right_info .btn_iswalled{ display: inline-block; height: 2rem;line-height: 2rem; border-radius: 2px; padding: 0 0.8rem; color: #f19937; background: #fff; border: solid 1px #dadada; font-size: 1.2rem; cursor: pointer;}
.right_info .btn_iswalled{ color: #aaa;}
.right_info .btn_like,
.right_info .btn_hate{ display: none; height: 2rem; margin: 0 0 0 1rem; line-height: 2rem; font-size: 1.2rem; color: #888888; cursor: pointer;}
.right_info .btn_like:before,
.right_info .btn_hate:before{ content: ""; display: inline-block; width: 2rem; height: 2rem; vertical-align: top; }
.right_info .btn_like:before{background-position: -4rem 0 ;}
.right_info .btn_hate:before{background-position: -6rem 0 ;}
.liked .right_info .btn_like:before{background-position: -8rem 0 ;}
.hated .right_info .btn_hate:before{background-position: -10rem 0 ;}


.comment_dd .avatar{ float: left; width: 4rem; height: 4rem; margin: 0 1rem 0 0; border-radius: 4rem; overflow: hidden;}
.comment_dd .avatar img{ width: 100%; height: 100%;}
.comment_dd .author_name{ display: block; height: 2rem; line-height: 2rem; color: #f19937; font-size: 1.2rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.comment_dd .time{ display: inline-block; height: 2rem; line-height: 2rem; font-weight: normal; color: #9a9a9a; font-size: 1.2rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.comment_dd .content{ display: block; line-height: 2rem; color: #5b5b5b; margin: 1rem 0 0 5rem; word-break: break-all; }
.comment_dd .content img{ max-width: 100%; cursor: pointer;}
.comment_dd .delCommentMsg{}
.comment_dd .commentManage{display: inline-block; width: 4rem; height: 2rem; line-height: 2rem; margin: 0 0 0 0.5rem; text-align: center; color: #f19937; vertical-align: top; cursor: pointer;position:relative;}
.comment_dd .commentManageTab{display:flex;height:2.5rem;width: 8rem;position:absolute;left: 0rem;top:-2.9rem;background-color:rgba(0,0,0,0.6);border-radius:0.2rem;margin-left:-50%;}
.comment_dd .commentManageTab a{color:#fff;line-height:2.5rem;display: inline-block;flex:1;position:relative;}
.comment_dd .commentManageTab:after{content:'';display:block;border:5px solid rgba(0,0,0,0);border-top:5px solid rgba(0,0,0,0.6);width:0;height:0;position:absolute;bottom:-10px;left:50%;margin-left:-5px;}
.comment_dd .shutUpSet:before{content:'';display:block;width:1px;height:1.4rem;position:absolute;top:0.8rem;left:0;background-color:#fff;}
.deletecomment{color:#999;background-color:#e9e9e9;padding:0.1rem 1rem;}
.ask_label{border:1px solid #f19937;float:left; width: 2.3rem; height: 2.3rem; text-align: center; line-height: 2.3rem; border-radius: 0.2rem; font-size:1.8rem; vertical-align: top; font-weight: normal;background:rgba(9,187,7,0.1);color: #f19937; display: inline-block; -webkit-transform: scale(0.6);transform: scale(0.6);}

.noComment_box{display: block; text-align: center; margin: 3rem 0 0;}
.noComment_box .ico_sofa{ display: block; width: 8rem; height: 8rem;  margin: 0 auto; background: url(logo_sofa.png) 0 0 no-repeat; background-size: 100%;}
.noComment_box b{ display: block; width: 100%; text-align: center; line-height: 2rem; font-size: 1.4rem; color: #999999; font-weight: normal;}

/*加载*/
.scrollContentBox{position: relative; min-height: 105%; z-index:1; overflow: hidden;}
#BubblesTemp,#commentDlTemp{position:absolute; z-index: -9999; left: 0; top: 0; width: 100%; opacity: 0;}
.scrollEndBox{display: block; width: 100%; height: 0.5rem; background: #fff; opacity: 0; }
.btn_load_history{display: block; height: 2rem; color: #5d5b5b; text-align: center; font-size: 1.4rem;}
.btn_load_history b{ font-weight: normal;}
.btn_load_history i{display: none; position: fixed; z-index: 3; left: 50%; width: 2rem; height: 2rem; margin:0.5rem 0 0 -1rem;  background:url(logo_loading_1.gif) no-repeat; background-size:100%;}
.btn_load_history.on b{display: none;}
.btn_load_history.on i{display: block; }

.btnLoadComment,.btnLoadSpeakEnd{ position: absolute; bottom: 1rem; z-index: 3;}

.btn_frist_msg{ display: none; position: absolute; z-index: 5; width: 100%; height: 5rem; line-height: 5rem; text-align: center; background: rgba(0,0,0,0.5); color: #fff; font-size: 1.4rem; transition: 0.5s; -webkit-transition: 0.5s; opacity: 0;}
.fristMsg{display:block;  opacity: 1;}


/*板块无内容*/
.loadStBox{ display: block; height: 3rem; width: 100%;}
.box_nothing{ display: none; text-align: center; padding: 0 0 1rem;}
.box_nothing img{display: inline-block; width: 12rem; margin:6rem auto 2rem;}
.box_nothing .tips_1{ display: block; line-height: 3rem; padding:0.5rem 0 0; color: #899aa3;}
.box_nothing .tips_1{font-size: 1.6rem;}




/*评论底部*/
.comment_bottom{position:absolute;  max-height: 5rem; width: 100%; bottom: 0; overflow: hidden; box-shadow: 0 0 4px #ccc;z-index: 4;background: #fff; transition: 0.5s;-moz-transition:0.5s;-webkit-transition:0.5s;-o-transition:0.5s;}
.comment_input_box{ display: block;width: 100%; padding: 0rem 1rem 0;}
.comment_input_box .boxFlex{padding: 0 0.5rem;}
.comment_input_box .commentInput,.comment_input_box .shutupbox{ display:block; width: 100%; height: 4rem; line-height: 2rem;padding:0.9rem; margin: 0; cursor: pointer; font-size: 1.6rem; background: #fff; border: 1px solid #e5e5e5; color: #aaa; background-color:#f8f8f8; font-weight: normal;  border-radius: 3px; box-shadow: none; resize: none;transition: 0.5s;-moz-transition:0.5s;-webkit-transition:0.5s;-o-transition:0.5s; -webkit-appearance: none;}
.comment_input_box .commentInput:before,.comment_input_box .shutupbox:before{content:'';display:inline-block;width:2rem;height:2rem;vertical-align:top;}
.comment_input_box .commentInput:before{background-position:-26rem 0rem;}
.comment_input_box .shutupbox:before{background-position:-28rem 0rem;}
.comment_input_box .btnLiveTalk{ display: inline-block; width: 5rem; height: 4rem; text-align: center; line-height: 4rem; font-size: 1.4rem;  border-radius: 3px; background: #f19937; color: #fff;}
.commentBottom .cb_top{ display: block; width: 100%; height: 4rem;}
.cb_top .btnLiveTalk{ float: right; width: 5rem; height: 4rem; line-height: 4rem; text-align: center; color: #f19937; font-size: 1.5rem; cursor: pointer; }
.cb_top .btnCommentCancel{ float: left; width: 5rem; height: 4rem; line-height: 4rem; text-align: center; color: #999999; font-size: 1.5rem; cursor: pointer;}
.cb_top .btn_ask{ display: block; height: 4rem; line-height: 4rem; cursor: pointer;}
.cb_top .btn_ask i{ display: inline-block; width: 2.2rem; height: 2.2rem; margin: 0.9rem 0.5rem 0 1rem; text-align: center; border: solid 1px #c7c7c7; border-radius: 3rem; vertical-align: top;}
.cb_top .btn_ask.on i{ border-color: #f19937;}
.cb_top .btn_ask.on i:after{ content: ""; display: inline-block; width: 1.4rem; height: 1.4rem; border-radius:1rem ; margin: 0.3rem  auto 0; background: #f19937; vertical-align: top; }

/*.typing .comment_input_box{padding: 0 1rem 0;}
.typing .commentContentBox{ bottom:18rem;transition: 0.5s;-moz-transition:0.5s;-webkit-transition:0.5s;-o-transition:0.5s;}
.typing .comment_bottom{height: 18rem;}
.typing .commentInput{ height: 10rem;}
.typing .cb_top{display: block;}*/



/*评论弹框*/
.reply_textarea{ display: block; width: 98%; height:12rem; padding: 0.5rem; margin: 0 auto; line-height: 2rem; color: #333333; background: #efeff4; border: none; border-radius: 0.5rem; font-size:1.6rem; resize:none}


/****待优化  top****/
/* 直播赞赏 */
.redbagBox,.LmTipsBox{width:100%;height:100%;z-index: 100;display:none;position:absolute;left:0;top:0;cursor:pointer;}
.redbagBox:before,.LmTipsBox:before{width:100%;height:100%;display:block;position:absolute;left:0;top:0;content:'';background-color:rgba(0,0,0,0.4);}
.redbag{position:absolute;left:50%;top:5%;width: 90%;height: 90%;max-height: 62rem;margin-left: -45%;text-align:center;border-radius:0.6rem;}
.redbag_inbox{border-radius:0.6rem;width:100%;height:100%;overflow:hidden;background: #fff;}

.live_redbag{width:100%;background:url(redbag.png) top center no-repeat;background-size:100% 10rem;padding-top:14rem;padding-bottom: 1rem;font-size:1.5rem;}
.live_headpic{width:8rem;height:8rem;border-radius:8rem;position:absolute;left:50%;top:5rem;margin-left:-4rem;overflow:hidden;}
.live_headpic img{width:100%; height: 100%;}
.live_towho{color:#333;font-size:3rem;text-align:center;margin-bottom:2rem;}
.live_towhy{color:#999;font-size:1.5rem;text-align:center;margin-bottom:0.5rem;}
.live_redbaglist{width:100%;padding:2rem 2rem 0rem 2rem;text-align:center;}
.live_redbaglist:before{content:'';display:inline-block;width:80%;height:1px;background-color:#ccc;}
.live_redbaglist ul{overflow:hidden;padding-top:2rem;}
.live_redbaglist ul li{width:30%;height:4rem;border:2px solid #d74751;float:left;border-radius:0.5rem;margin-left:2.5%;margin-bottom:2rem;text-align:center;line-height:4rem;}
.live_redbaglist ul li a{width:100%;height:100%;display:block;color:#d74751;font-size:1.7rem;}
.live_redbaglist ul li var {font-size:2.6rem; font-style:italic;margin-right:0.5rem;}
.live_othermoney{text-align:center;font-size:1.6rem;}
.live_othermoney a{color:#0095dd;}

.otherRedmoneyBox{cursor:pointer;}
.otherredmoney_content .redbag_head{height:4rem;line-height:4rem;font-size:1.6rem;border-bottom: 1px solid #e5e5e5;}
.otherredmoney_content .gene_cancel,.live_redbag .redbag_cancel{display:block;height:3rem;width:3rem;position:absolute;top:0.5rem;right:1rem;}
.live_redbag .redbag_cancel{background-position: -15rem -4rem;}
.otherredmoney_content .gene_cancel{background-position: -12rem -4rem;}
.redbag_countarea{overflow:hidden;font-size:1.6rem;}
.otherredmoney_content .redbag_count_label{border:1px solid #e5e5e5;vertical-align: top;width:30%;height: 4rem;display: inline-block;border-radius: 0.2rem;border-right: none;line-height:4rem;padding-left:2%;}
.otherredmoney_content .money_count{font-size:1.6rem;width:50%;height:4rem;border:1px solid #e5e5e5;outline:none;border-radius:0.2rem;border-left: none;margin-left:-3px;}
.otherredmoney_content .gene_confirm{font-size:1.6rem;display:block;width:80%;height:4rem;background-color:#f19937; color:#fff;border-radius:0.2rem;margin:0 auto;line-height:4rem;}
.otherredmoney_content span{width:100%;display:block;text-align:center;margin-bottom: 2.5rem;}


/* 赞赏提示弹框 */
.LmTipsBox .live_redbag{line-height: 2rem;}
.thank_money{color:#333;font-size:1.7rem;margin-top:2.5rem;margin-bottom:0.5rem;}
.thank_money var{font-size:3rem;font-style: italic;padding:0 1rem;}
.thank_p1{color:#999;}
.thank_reply{position:relative;color:#999;margin:0rem 2rem;line-height:4rem;}
.thank_reply:before,.redbag_reply:before{content:'';width:100%;height:1px;display:block;background-color:#e8e8e8;position:absolute;top:0;vertical-align:top;}


.thank_box{text-align:left;}
.thank_choose{overflow:hidden;padding:1rem;text-align:center;}
.thank_choose dd{width:30%;height:4rem;border:1px solid #d74751;color:#d74751;font-size:1.6rem;line-height:4rem;float:left;margin-right:5%;border-radius:0.5rem;}
.thank_choose dd:last-child{margin-right:0;}
.thank_choose dd:hover{color:#fff;background-color:#d74751;cursor:pointer;}
.redbag_rule{color:#999;line-height:2rem;}
/* .redbag_rule dd:first-child{margin:0;} */
/* .redbag_rule dd:first-child:before{width:0rem;} */
.redbag_rule dd{font-size:1.3rem;margin-left:1rem;position:relative;}
.redbag_rule dd:before{content:'';vertical-align:top;position:absolute;left:-1rem;top:0.8rem;display:inline-block;width:0.5rem;height:0.5rem;border-radius:0.5rem;background-color:#ccc;}
.redbag_rule_2,.redbag_rule_3{padding-left:1rem;margin-top:2rem;display:block;}
.managerThankBox{padding:1rem;border:1px dashed #ccc;height: 18rem;overflow-x: hidden;}

.redbag_reply{position:relative;color:#999;padding-top:1rem;margin:0 2rem;}
/* .redbag_reply .r3{display:inline-block;width:10rem;height:5rem;background:url(redbag_reply.png) no-repeat;background-size:10rem;backgroun-position:0rem 0rem;vertical-align: top;} */
.redbag_reply .r3_1{background-position:0rem 0rem;}
.redbag_reply .r3_2{background-position:0rem -5rem;}
.redbag_reply .r3_3{background-position:0rem -10rem;}
.replyresult{display:none;font-size:1.8rem;line-height:5rem;}
.replyresult .r3{color:#ff305c;}
.replyresultNone{width:100%;height:15rem;background:url(redbagnone.png) center center no-repeat;background-size:10rem;}

.rglist{cursor:pointer;height:3rem;}
.rgdetail{line-height:2rem;height:3rem;width:100%;display:block;}
.rgdetail .rglist:after{content:'';display:inline-block;width:2rem;height:2rem;background-position:-18rem -2rem;vertical-align:top;margin-top: 0.5rem;}
.rgdetail.on .rglist:after{transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);}
.rgdetail dd{margin:0 auto;width:10rem;line-height:3rem;color:#999;}
.thankBox{display:none;}
/****待优化  bottom****/


/*操作框*/
.control_box{ position: absolute; top: 0; bottom: 0; width: 100%; height: 100%; z-index:-100; overflow: hidden;}

.control_emojbox{ position: absolute; bottom: 5.1rem; width: 100%; height: 18rem; z-index:-100; overflow: scroll;background: #fff;padding:10px;}
.control_emojbox ul li{ float:left;padding:5px; }

.control_box .cbBg,
.blackBg{content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: 0.5; cursor: pointer;}
.control_box .cbox_main{position: absolute; display: block; bottom: 0; width: 100%; padding: 0 0 2rem; margin-bottom: -250px; background: #fff;}
.btn_closeCBox{position: absolute; width: 3rem; height: 3rem; right: 0.5rem; top: 0.5rem; background-position:-24rem  -4rem;}

.cbox_main dl{ display: block; border-bottom: solid 1px #e8e8e8;}
.blackBg{display: none; z-index: 4;}
.cbox_main dt{display: block; width: 100%; height: 5rem; line-height: 5rem; padding: 0 0 0 1rem;  background: #e7e7e7; color: #999999; font-size: 1.5rem; }
.cbox_main dt b{ font-weight: normal;}
.cbox_main dd{display: block; width: 100%; min-height: 5rem; line-height: 5rem;  padding: 0 1rem ; border-top: solid 1px #e8e8e8; font-size: 1.5rem; color: #333;}
.cbox_main dd:first-child{border-top: none;}
.cbox_main .dd_1 a{ position:relative; display: block; width: 100%; height: 4rem; color: #333;}
.cbox_main .dd_1 a:before{ content: ""; position: absolute; right: 1rem; top: 1.5rem; width: 2rem; height: 2rem; background-position:-2rem -2rem ; }
.cbox_main .dd_2 b{ font-weight: normal;}
.cbox_main .btn_switch{ float: right; width: 5.5rem; height: 2.7rem; padding: 0 0.6rem; margin: 1.2rem 0.5rem 0 0;}
.cbox_main .btn_switch.swon{background: #f19937;}
.cbox_main .btn_switch:before{content: "off"; height: 2.7rem; line-height: 2.4rem; color: #666; float: right;}
.cbox_main .swon:before{content: "on";color: #fff; float: left;}
.cbox_main .btn_switch:after{width: 2.5rem; height: 2.5rem;}
.btn_gotoCreateLive{ display: block; width: 18rem; height: 4rem; line-height: 3rem; padding: 0.5rem 0; margin:2rem auto 0; text-align: center; color: #f19937; font-size:1.5rem; border-radius: 2px; border: dotted 1px #d3d3d3;}
.btn_gotoCreateLive:before{ content: ""; display: inline-block; width: 3rem; height: 3rem; margin:0 0.5rem 0 0; vertical-align: top; background-position: -30rem -4rem;}
.control_box.on{display: block; z-index: 4;}
.control_emojbox.on{display: block; z-index:8;}

.cbox_main .finish_live_box{ line-height: normal;  text-align: left;font-size: 1.5rem;color:#333; padding: 1rem;}
.cbox_main .btn_finish_live{ display: inline-block;height: 3.5rem; text-align: center; font-size: 1.5rem; line-height: 3.5rem; color: #fff; background: #F76260; border-radius: 3px;padding: 0 1rem;float: right;}
.cbox_main .finish_tips{ display: block; height: 2rem; line-height: 2rem; color: #b6b6b6; font-weight: normal; font-size: 1.2rem;}




/* 直播间列表赞赏功能开启 引导*/
.guide_tips_box:before{content:'';display:block;position:absolute;left:1rem;top:1rem;width:5rem;height:5rem;background:url(ico_guide.png?v=2016040101) no-repeat;background-size:10rem;}
.guide_tips_box{ display:none; margin:1rem;background-color:#fff;padding:1rem;position:relative;font-size:1.4rem;}
.btn_gtb_close{position:absolute;right:0;top:0;background-position:-12rem -4rem;display:inline-block;width:3rem;height:3rem;}
.focusfunc_btn{margin:1rem;background-color:#fff;padding:1rem;position:relative;font-size:1.4rem;text-align:center;}
.guide_tips_box dl{margin-left:6rem;}
.guide_tips_box dd{line-height:2.5rem;}
.gtb_dd1{color:#333;font-size:1.6rem;}
.gtb_dd2{color:#999;font-size:1.4rem;}
.gtb_dd2 var{color:#f19937;}
.gtbbtn{text-align:center;margin-top:2rem;}
.gtbbtn a{display:inline-block;width:14rem;height:3.5rem;line-height:3.5rem;background-color:#f19937;color:#fff;border-radius:0.5rem;}
.funcFTips,.funcGTips{font-size:1.6rem;}
.funcFTips .gene_top,.funcGTips .gene_top{height:5rem;}





/* 设置密码引导 */
.setPasswordTips:before{background-position: 0 -35rem;}
.setGuestTips:before{background-position: 0 -45rem;}
.randomPasswordTips:before{background-position: 0 -40rem;}

/* 使用说明引导 */
.ql_state_box{display: block;position:relative;margin: 2rem 1rem;text-align: center;background-color: #fff;border: 1px solid #e5e5e5;padding: 1rem;cursor:pointer;}
/* .ql_state_box a{display:block;width:2rem;height:2rem;position:absolute;right:-1rem;top:-1rem;background-position: -40rem -2rem;} */
.usestate_guide{display:none;position:absolute;left:0;top:0;width:100%;height:100%;z-index: 4;cursor:pointer;}
.usestate_guide img{width:100%;height:100%;}
.usestate_guide_a{position: absolute;bottom: 2rem;left: 50%;margin-left: -5rem;display:block;width:20%;height:8rem;background:url(know_btn.png?v=2016042701) center bottom no-repeat;background-size:100% auto;position: absolute;bottom: 2rem;left: 50%;margin-left: -10%;}



/* 弹幕 */
.danmuBox{max-width: 60%;min-width: 15rem; max-height:18rem;overflow-x:hidden;position:absolute;right:1rem;top:5rem;border-radius:3px;z-index:3;display:none;background-color:rgba(0,0,0,0.06);padding-left:0.3rem;-webkit-overflow-scrolling: touch;display:none;}
.danmulist{float: right;}
.danmulist dd{display:block;overflow:hidden;padding: 0 0.5rem 0 1rem;margin: 0.5rem 0;}
.danmulist dd p{ max-width:72%;min-width: 3rem; max-height: 5rem; line-height: 2.1rem; overflow-h: hidden;color: #fff;background-color: rgba(0,0,0,0.5);padding: 0.2rem;border-radius:2px;float: right;position:relative;word-break: break-all;}
.danmulist i {
    float: right;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.3rem 0.5rem 0 0.5rem;
    overflow: hidden;
    vertical-align: top;
    border-radius: 2.5rem;
}
.danmulist i img{width:100%; height: 100%;}

.danmu_bar{position:absolute; display:inline-block; top:0;right:1rem;height: 5rem; padding: 1rem 0 0 1rem; z-index:3; max-width: 4rem; overflow: hidden; transition: 0.7s; -webkit-transition: 0.7s;-moz-transition:0.7s;}
.danmu_bar .main{ position: relative; display: block; max-width:100%; height:3rem; padding: 0 0 0 3rem; color:#fff;background-color:rgba(0,0,0,0.5);border-radius:3rem;transition: 0.7s; -webkit-transition: 0.7s;-moz-transition:0.7s;}
.danmu_bar.on .main{ padding: 0 3rem;}
.danmu_bar span{float:right;line-height:3rem;}
.isdan_btn{ position:absolute; right: 0; background-color:#b2b2b2;display:block;width:3rem;height:3rem;border-radius:3rem;text-align:center;cursor:pointer;z-index: 3;}
.danmu_bar.on{max-width: 20rem;}
.danmu_bar .allcount{display:inline-block; max-width: 100%; padding: 0 0.5rem;overflow:hidden; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.write_dan{position:absolute; left:0;  top:0; background-color:#f19937;display:inline-block;width:3rem;height:3rem;border-radius:3rem;text-align:center;line-height:3rem; cursor: pointer;}
.write_dan:before{content:'';background-position:-24rem -2rem;width:2rem;height:2rem;display:block;margin: 0.5rem auto;}
.allcount i{ display: inline-block; width: 2rem; height: 2rem; margin:0.5rem 0 0;vertical-align: top; background-position: -32rem 0;}
.write_dan_a,.isdan_btn_a{display:block;width:5rem;height:5rem;position:absolute;top:0;left:0;color:#fff;margin-left: -1rem;margin-top: -1rem;line-height:5rem;}

.commentBottom{height: 5rem;}
.commentBottom .comment_input_box{padding: 0.5rem 1rem 0;}
.danmuBottom,.qlSpeakTop{max-height:0rem;}
.comment_input_box .danmuInput,
.comment_input_box .qlSpeakInput{ display:block; width: 100%; height: 10rem; line-height: 2rem;padding:0.6rem; margin: 0; font-size: 1.6rem; background: #fff; border: 1px solid #e5e5e5;background-color:#f8f8f8;  border-radius: 3px; box-shadow: none; color: #888888; resize: none;transition: 0.5s;-moz-transition:0.5s;-webkit-transition:0.5s;-o-transition:0.5s;}
.noseeDanmuBottom,.noseeQlDanmuBg{display:none;}


/* 无评论的空页面提示 */
.none_record{width:100%;height:15rem;position:relative;}
.none_pic5{background:url(ico_norecord5.png) center center no-repeat;background-size:8rem;margin-top: 3rem;}
.none_tip{position:absolute;bottom:1rem;text-align:center;display:block;width: 100%;  font-size: 1.5rem;  color: #999;padding-right: 3%;}


/*预览图片*/
.img_view_window{ display:none; position: absolute; z-index: 7;  top: 0; left: 0; bottom: 0; width: 100%; height: 100%; overflow: hidden; }
.img_view_window .ivwBg{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: 0.5; }
.img_view_window img{position: absolute; left: 50%; top: 50%; transition-property: margin,width,height; -webkit-transition-property:margin,width,height;transition-duration: 0.5s;-webkit-transition-duration: 0.5s;}
.img_view_window .btn_closed{ position: absolute;z-index: 2; right: 1rem; top: 1rem; width:3rem; height: 3rem; background-position: -12rem -4rem;background-color: #fff;border-radius: 3rem;}
.img_view_window .btn_closed:hover{ background-color: rgba(247,89,84,0.7);}

/*千耳卯直播间倒计时*/
.ql_start_box{ display: none; background: #fff; margin: 0 1rem; border-radius: 5px;}
.ql_start_box .ql_start_date{ display: block; height: 2.8rem; line-height: 2.8rem; text-align: center; color: #999; font-size: 1.2rem;}
.ql_start_box .ql_timer{ display: block; margin: 0 3rem; border-top: dashed 1px #d0d0d0; text-align: center;}
.ql_timer span{ display: block; height: 2.5rem; line-height: 2.5rem; color: #999; font-size: 1.2rem;margin-top:1rem;}
.ql_timer span:before{content:'';display:inline-block;width:2rem;height:2rem;background-position:-10rem -2rem;vertical-align:top;margin-top:0.3rem;}
.ql_timer dl{ display: inline-block; width: 22rem; padding: 0.6rem 0 1rem; }
.ql_timer dl dd{ display: inline-block; width: 5rem; height: 3rem; line-height: 3rem;font-size: 1.2rem;background-color:#f19937;color: #fff;border-radius:0.2rem;}
.ql_timer dl dd:last-child{border: none;}
.ql_timer dl dd var{ color: #fff; font-size: 2rem;}
.ql_start_box .ql_st_buttons { display: block; text-align: center;}
.ql_st_buttons a{ display: inline-block; height: 2.5rem; line-height: 2.5rem; padding: 0 0.5rem; margin:0 0 1rem; color: #666; border: solid 1px #d5d5d5; border-radius: 2px;}
.ql_st_buttons b{ display: block; height: 2.5rem; line-height: 2.5rem; padding: 0 0.5rem; color: #666; font-weight: normal;}

.qlTimerShow{display: block;}   






/*qlandroid*/
.qlAndroid .danmuBottom{top:0; bottom: auto;}
.qlAndroid .typing .commentBottom{ display: none;}
.qlAndroid .typing .commentContentBox{ bottom: 0;}
.qlSpeakTop{top:0; bottom: auto;}
.qlSpeakTop .comment_input_box{ padding: 1.5rem 1rem 0;}


/* 收藏提示样式 */
.collecttips,.backtips{position:absolute;top:0;left:0;height:4rem;width:100%;background-color:#fff;line-height: 4rem;text-align:right;font-size:1.6rem;padding-right: 3rem;}
.backtips{font-size: 1.3rem;padding-right: 1rem;padding-right: 1rem;text-align:center;}
.collecttips i,.backtips .backtips_i1{border:1px solid #888;border-radius:0.4rem;display:inline-block;width: 3rem;height: 2rem;background-position: -36.1rem -4.5rem;vertical-align: top;margin: 1rem 0.5rem;}
.backtips .backtips_i2{border:1px solid #888;border-radius:0.4rem;display:inline-block;width: 2rem;height:3rem;background-position: -42.5rem -4rem;vertical-align: top;margin:0.5rem;}
.collecttips:after,.backtips:after{content:'';display:inline-block;height: 4rem;width: 8rem;background-position: -17rem -15rem;vertical-align: top;}
.backtips:after{width: 6rem;background-position: -18rem -15rem;}



.enterLiveTips .banner{ display: block; width: 100%; margin: 0; background: #f19937; padding: 1rem 0; text-align: center;}
.enterLiveTips .banner .ico_1{display: inline-block; width: 6rem; height: 6rem; background-position: -24rem -14rem;}
.enterLiveTips .banner .banner_title{ display: block; height: 2rem; line-height: 2rem; font-weight: normal; text-align: center; color: #fff; font-size: 1.4rem; color: #fff;}
.enterLiveTips .qrcode_box{ display: block;}
.enterLiveTips .status_tips{ display: block; height: 2rem; line-height: 2rem; margin-top: 1.5rem; text-align: center; color: #f19937; font-size: 1.4rem;}
.status_tips:before{ content: ""; display: inline-block; width: 2rem; height: 2rem; background-position: -44rem -2rem; vertical-align: top; }
.qrcode_box{display: block; text-align: center; margin: 1.5rem 0 0;}
.qrcode_box .qrcode_img{ display: inline-block; width: 10rem; height: 10rem; border: solid 2px #e2e2e2; margin-bottom: 1rem;}
.qrcode_box b{display: block; height: 2rem; line-height: 2rem;color: #333; text-align: center; font-weight: normal;font-size: 1.4rem;}
.enterLiveTips .span_1{ display: block; text-align: center; line-height: 2rem; padding: 0 1rem; color: #b2bec3;font-size: 1.4rem;}
.enterLiveTips .wt_btn_1{ margin:2rem 4rem 0; font-size: 1.6rem;}
.enterLiveTips .wt_btn_seted{ background: #5ddb60; margin:2rem 4rem 0; font-size: 1.6rem;}
.enterLiveTips .elt_bottom{ display: block; border-top:solid 1px #e5e5e5;margin-top: 4rem; text-align: center;}
.elt_bottom .btn_1{ display: block; height: 5rem; line-height: 5rem; font-size: 1.4rem; color: #f19937;}


.topic_remind_tab .wt_btn_seted{ display: none;}
.topic_remind_tab.on .wt_btn_seted{ display: block;}
.topic_remind_tab.on .set_remind,
.topic_remind_tab.on .span_1,
.topic_remind_tab.qrcode_box{ display: none;}

/*ppt图片课件管理*/
.pptBox{ position: fixed; overflow: hidden; left: 0; top: 0; right: 0; bottom: 0; background: #fff; z-index:9999; display: none;}
.pptBox .backSpeak{ line-height:46px; height: 46px; color: #f19937; text-align: center; border-bottom: 1px solid #eee; font-size: 16px;}
.pptBox .pptList{ position: absolute; left: 0; top:46px; right: 0; bottom: 56px; overflow: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch;overflow-scrolling: touch;}
.pptBox .info{ padding: 15px; font-size: 16px; color: #999;}
.pptBox .pptItem{ margin-bottom: 15px; padding:0 10px; height: 100px; overflow: hidden; position: relative;}
.pptBox .leftBox{ width:60%; height: 100%; position: relative; background: #000;}
.pptBox .leftBox .imgBox{ width: 100%; height: 100%; position: relative; overflow: hidden;}
.pptBox .leftBox img{ width: auto; height: auto; max-height: 100%; max-width: 100%; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.pptBox .state,.pptBox .cancel{ position: absolute; top:0; right: 0; background: rgba(0,0,0,0.5); color: #fff;line-height: 26px; padding: 0 10px; border-radius: 0 0 0 5px; font-size: 12px;}
.pptBox .cancel{top:auto; bottom: 0; right: 0; background: rgba(241,153,55,1); border-radius:5px 0 0 0;}
.pptBox .up,.pptBox .down{ position: absolute; background-color: #ddd; border-radius: 50%; left:60%; margin-left: 15px; width: 2rem; height: 2rem; background-repeat: no-repeat; -webkit-transform: scale(0.9);transform: scale(0.9);}
.pptBox .up{ top: 10px; background-position:left top;}
.pptBox .down{ bottom: 10px; background-position:-2rem top;}
.pptBox .delBtn{ position: absolute; right: 10px; bottom:10px;background-repeat: no-repeat; width: 2rem; height: 2rem; background-position: -36rem top;}
.pptBox .pptFooter{ position: absolute; left: 0; bottom: 0; right:0; border-top: 1px solid #eee; padding: 5px;text-align: center;}
.pptBox .pptFooter button{ width: 60%; border-radius: 5px; line-height: 45px; height: 45px; color: #fff; background: #f19937; font-size: 18px; -webkit-appearance:none;appearance:none; border: none;}
.pptBox .pptFooter button:before{ content: ""; display:inline-block; width: 2rem; height: 2rem; background-position: -54.5rem -4.5rem; vertical-align: middle; margin-right: 5px;}
/*幻灯片*/
.slideT{ height: 200px; width: 100%; overflow: hidden; background: #000; position: relative;box-shadow: 0 0 10px rgba(0,0,0,0.4); z-index: 2;}
.swiper-container{ width: 100%; height: 100%;}
.slideT .swiper-slide img{ width: auto; height: auto; max-width: 100%; max-height: 100%; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.slideT .swiper-pagination-fraction{ line-height: 100%; display: inline-block; left:10px; font-size: 18px; border-radius: 100px; border: 1px solid rgba(255,255,255,0.5); color: #fff; width: auto; padding:6px 16px; background:rgba(0,0,0,0.4); -webkit-transform: scale(0.6); transform: scale(0.6);
-webkit-transform-origin: left center;transform-origin: left center;-webkit-transition:none;transition:none;}

.pptBtn{ position: fixed; top:0; right: 0; background: rgba(0,0,0,0.4); color: #fff; border-radius: 5px 0px 0px 5px; z-index: 3;}
.pptBtn ul li{ line-height: 36px; padding: 0 8px; text-align: center; border-bottom: 1px solid rgba(255,255,255,0.2);}
.pptBtn ul li:last-child{ border-bottom: none;}
.BdSwitch .speakBox,.BdSwitch .commentBox{ top: 0;}


