* {
    -webkit-tap-highlight-color: transparent
}

body {
    overflow-y: hidden
}

body.noSelect {
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.back_live:before,.btn_whiperRec.stop_rec:before,.btn_whiperRec:before,.live_speaker_list .wt_btn_open_ws:after,.recording_tab_box .btn_whiperRec,.setTopicProfit li.on:after,.setlimitEach li.on:after,.whisper_answer_wkBox .audio_box:before,.whisper_from:before,.whisper_settings:before {
    background: url(live_logo.png?v=qlemomotwo) no-repeat;
    background-size: 75rem auto
}
[class^=qlbtnb] {
    background: #ffa200;
    color: #fff;
}
[class^=qlbtna] {
    background: #f19937;
    color: #fff;
}
[class^=qlbtn] {
    display: inline-block;
    min-width: 11rem;
    height: 4rem;
    line-height: 4rem;
    margin: 0 auto;
    border-radius: 4rem;
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
}
.btn_qlcheckbox.on:before, .btn_qlradio.on:before, .geneBox .gene_close, .list_btn_1:after, .list_btn_2:after, .qlMsgTips .qlMT_close, [class*=qlbgi], [class*=qlbga]:after, [class*=qlbgb]:before, i.ico_QR_code {
    background: url(live_logo.png) no-repeat;
    background-size: 75rem auto;
}
.btn_qlcheckbox.on:before, .btn_qlradio.on:before {
     border: 1px solid #3bcb59; 
    background-position: -54.2rem -.2rem;
}
.btn_qlcheckbox, .btn_qlradio {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    padding: 0 1rem 0 0;
    font-size: 1.2rem;
    color: 333333;
    cursor: pointer;
    white-space: nowrap;
    vertical-align: top;
}.btn_qlcheckbox:before, .btn_qlradio:before {
    display: inline-block;
    content: "";
    width: 1.8rem;
    height: 1.8rem;
    background: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 2rem;
    vertical-align: top;
}
.back_live {
    display: inline-block;
    max-width: 17rem;
    max-height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.back_live:before {
    content: "";
    width: 2rem;
    height: 2rem;
    display: inline-block;
    background-position: -60rem 0;
    vertical-align: top;
    margin: 1.5rem .5rem 0 1rem
}

.whisper_settings {
    display: inline-block
}

.whisper_settings:before {
    content: "";
    width: 2rem;
    height: 2rem;
    display: inline-block;
    background-position: -62rem 0;
    vertical-align: top;
    margin: 1.5rem 1rem 0 1rem
}

.whisper_tips_1,.whisper_tips_2 {
    display: block;
    padding: 0 1rem 1rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #949fa4;
    line-height: 1.6rem;
    font-weight: 400
}

.whisper_tips_2 {
    color: #949fa4;
    text-align: center
}

[class^=whisper_tips_] .var_1 {
    color: #ff8400
}

[class^=whisper_tips_] .var_2 {
    color: #f19937
}

.ws_top_tips {
    display: block;
    padding: 1rem;
    line-height: 2rem;
    color: #f19937;
    text-align: center;
    background: #ddf4ff;
    font-size: 1.4rem
}

.live_speaker_list {
    display: block;
    padding: 0;
    margin: 0 0 1rem;
    background: #fff
}

.live_speaker_list dd {
    position: relative;
    display: block;
    padding: 1.5rem 0;
    border-bottom: solid 1px #e5e5e5
}

.live_speaker_list dd:last-child {
    border: none
}

.live_speaker_list .uesr_head {
    float: left;
    width: 6rem;
    height: 6rem;
    margin: 0 0 0 1.5rem;
    overflow: hidden;
    border-radius: 100%;
    border-radius: 6rem;
    border: solid 1px #e5e5e5;
    overflow: hidden
}

.live_speaker_list .uesr_head img {
    width: 100%;
    height: 100%
}

.live_speaker_list .user_info {
    display: block;
    padding: 0 0 0 9rem
}

.live_speaker_list .user_info .li_1,.live_speaker_list .user_info .li_2 {
    height: 2rem;
    padding: 0 15rem 0 0;
    line-height: 2rem;
    font-size: 1.5rem;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.live_speaker_list .user_info .li_2 {
    margin-top: 2rem
}

.live_speaker_list .user_info .li_3 {
    line-height: 2rem;
    margin: 0 0 .3rem;
    padding-right: 13rem;
    font-size: 1.2rem;
    color: #949fa4;
    word-break: break-all
}

.live_speaker_list .user_info .li_4 {
    line-height: 2rem;
    margin: 0 0 .3rem;
    font-size: 1.2rem;
    color: #949fa4
}

.user_info .li_4 .s_1 {
    display: inline-block;
    padding: 0 2rem 0 0
}

.live_speaker_list .wt_btn_no_open,.live_speaker_list .wt_btn_open_ws {
    position: absolute;
    right: 3rem;
    top: 2.5rem;
    min-width: 9rem;
    height: 3.5rem;
    padding: 0 1.5rem;
    line-height: 3.5rem;
    font-size: 1.4rem;
    border-radius: 4rem
}

.live_speaker_list .wt_btn_open_ws:after {
    content: "";
    position: absolute;
    right: -2.5rem;
    top: 50%;
    margin-top: -1rem;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    background-position: -2rem -2rem;
    vertical-align: top
}

.live_speaker_list .wt_btn_open_ws {
    background: #ddf4ff;
    color: #f19937
}

.live_speaker_list .wt_btn_no_open {
    background: #cedae0
}

.live_speaker_list .wt_btn_to_ans,.live_speaker_list .wt_btn_to_ask {
    width: 18rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.4rem;
    border-radius: 4rem;
    margin: 1rem 0 0 9rem
}

.live_speaker_list .wt_btn_to_ask {
    background: #ffa200
}

.live_speaker_list .wt_btn_to_ans var {
    color: #ffd800
}

.live_speaker_list .lsl_tips {
    display: block;
    color: #949fa4;
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 0 1rem
}

.lsl_tips p {
    margin-bottom: .5rem
}

.no_ws_open,.no_ws_question {
    display: none;
    padding: 5rem 0
}

.whisper_list {
    display: block;
    margin: 0 0 1rem
}

.whisper_list .wl_msg_item {
    display: block;
    margin: 0 0 1rem;
    padding: 1rem;
    background: #fff;
    cursor: pointer;
    border-bottom:1px dashed #ccc;
}

.whisper_list .uesr_head img {
    width: 100%;
    height: 100%
}

.wl_top_boxFl {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.wl_top_boxFl .uesr_head {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    vertical-align: top;
    border-radius: 3rem
}

.wl_top_boxFl b {
    height: 3rem;
    line-height: 3rem;
    font-weight: 400;
    color: #333;
    font-size: 1.5rem
}

.wl_top_wkBox .wl_price {
    display: block;
    height: 3rem;
    line-height: 3rem;
    color: #ff8400;
    font-size: 1.4rem
}

.wl_msg_item .whisper_question {
    display: block;
    color: #3f3f3f;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem 0 1rem
}

.whisper_answer_wkBox {
    padding: 1rem 0
}

.whisper_answer_wkBox .uesr_head {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin: .5rem 0 0;
    overflow: hidden;
    vertical-align: top;
    border-radius: 3rem
}

.whisper_answer_wkBox .listened_total {
    display: inline-block;
    height: 3rem;
    margin: .5rem 0 0;
    line-height: 3rem;
    color: #f19937;
    font-size: 1.2rem
}

.whisper_answer_wkBox .audio_box {
    position: relative;
    display: inline-block;
    height: 4rem;
    margin: 0 0 0 2rem;
    padding: .5rem 2rem .5rem .5rem;
    line-height: 3rem;
    background: #f19937;
    color: #fff;
    border-radius: 4rem;
    font-size: 1.4rem;
    cursor: pointer
}

.whisper_answer_wkBox .audio_box:before {
    content: "";
    position: absolute;
    top: .6rem;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    border-top: .1rem solid transparent;
    border-bottom: .6rem solid transparent;
    background-position: -72rem 0
}

.audio_box .ico_audio {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    margin: .8rem 1rem 0 .5rem;
    vertical-align: top;
    background: url(audioPlaying_2.png) 0 0 no-repeat;
    background-size: 100%
}

.audio_box.isWhisperPlay .ico_audio {
    background-image: url(audioPlaying_2.gif)
}

.audio_box p {
    display: inline-block
}

.audio_box .second {
    position: absolute;
    color: #949FA4;
    font-weight: 400;
    right: -4rem;
    width: 3rem
}

.audio_box .audio_box_play {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

.wl_msg_item .answer_box {
    display: block;
    text-align: center
}

.answer_box .wt_btn_answer {
    display: inline-block;
    min-width: 12rem;
    height: 4rem;
    padding: 0 1.5rem;
    line-height: 4rem;
    border-radius: 4rem;
    font-size: 1.4rem;
    background: #f19937;
    color: #fff
}

.qlbtna_add_answer {
    display: none;
    width: 11rem
}

.qlbtna_add_answer.on,.qlbtnb_submit_answer,.qlbtnb_submit_ask {
    display: block;
    width: 11rem
}

.qlbtnb_submit_answer {
    margin-bottom: 1rem
}

.start_bar {
    position: relative;
    display: inline-block;
    width: 10rem;
    height: 2rem;
    background: url(start_1.png) left top repeat-x;
    background-size: 2rem
}

.start_bar .s_item {
    position: relative;
    z-index: 2;
    float: left;
    width: 2rem;
    height: 2rem;
    cursor: pointer
}

.start_bar .score {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 2rem;
    background: url(start_1.png) left bottom repeat-x;
    background-size: 2rem
}

.sc_1 .score {
    width: 2rem
}

.sc_1_5 .score {
    width: 3rem
}

.sc_2 .score {
    width: 4rem
}

.sc_2_5 .score {
    width: 5rem
}

.sc_3 .score {
    width: 6rem
}

.sc_3_5 .score {
    width: 7rem
}

.sc_4 .score {
    width: 8rem
}

.sc_4_5 .score {
    width: 9rem
}

.sc_5 .score {
    width: 10rem
}

.whisper_info_bar {
    display: block;
    padding: 1rem 0 .5rem 0;
    line-height: 2.1rem;
    color: #949fa4;
    white-space: nowrap;
    font-size: 1.3rem
}

.whisper_info_bar .start_bar {
    float: right
}

.whisper_info_bar .answer_score {
    float: right;
    background-color: #fbc286;
    color: #fff;
    padding: .1rem .8rem;
    border-radius: .2rem;
    margin-right: 1rem
}

.whisper_info_bar .q_date {
    display: inline-block;
    margin: 0 1rem 0 0;
    vertical-align: top;
    font-weight: 400
}

.whisper_info_bar .listened_total {
    display: inline-block;
    margin: 0 1rem 0 0;
    vertical-align: top;
    font-weight: 400
}

.whisper_from {
    position: relative;
    display: block;
    padding: 1rem 2rem 1rem 1rem;
    background: #fff
}

.whisper_from:before {
    content: "";
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -1rem;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    background-position: -2rem -2rem;
    vertical-align: top
}

.whisper_from .b_1,.whisper_from .b_2 {
    display: block;
    height: 2rem;
    line-height: 2rem;
    font-weight: 400
}

.whisper_from .b_1 {
    color: #949fa4;
    font-size: 1.2rem
}

.whisper_from .b_2 {
    color: #f19937;
    font-size: 1.4rem
}

.feedback_box {
    display: none;
    background: #fff;
    margin: 0 0 1rem
}

.feedback_box .main {
    display: block;
    padding: 1rem
}

.feedback_box .fb_title {
    display: block;
    height: 3rem;
    line-height: 3rem;
    color: #949fa4;
    font-size: 1.4rem
}

.feedback_box .feeback_word {
    float: right;
    height: 2rem;
    line-height: 2rem;
    color: #949fa4;
    font-size: 1.4rem
}

.feedback_box .btn_fb_submit {
    display: block;
    height: 4rem;
    line-height: 4rem;
    border-top: solid 1px #e5e5e5;
    text-align: center;
    color: #f19937;
    font-size: 1.4rem
}

.submit_answer {
    display: none;
    padding: 1rem 0
}

.ws_rec_box {
    display: block;
    position: relative;
    padding: 3rem 0
}

.whiper_answer_click {
    position: relative;
    display: block
}

.whiper_answer_click .ws_btn_dd {
    position: relative;
    display: block;
    width: 100%;
    padding: 2rem 0;
    text-align: center
}

.whiper_answer_click .ws_btn_dd i {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 9rem;
    height: 9rem;
    margin: -4.5rem 0 0 -4.5rem;
    border-radius: 9rem;
    background-color: #e5f4fc
}

.whiper_answer_click .btn_whiperRec {
    display: none;
    position: relative;
    width: 9rem;
    height: 9rem;
    border-radius: 9rem;
    line-height: 9rem;
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
    background-color: #f19937;
    background-position: 0 -14rem;
    cursor: pointer
}

.btn_whiperRec:before {
    content: "";
    display: inline-block;
    width: 6rem;
    height: 6rem;
    margin: 1.5rem 0 0
}

.btn_whiperRec.start_rec {
    background-color: #f15959
}

.btn_whiperRec.play_rec {
    border: solid 1px #d4d4d4;
    background: #fff
}

.btn_whiperRec.start_rec:before {
    background-position: 0 -14rem
}

.btn_whiperRec.stop_rec:before {
    background-position: -12rem -14rem
}

.btn_whiperRec.play_rec:before {
    background-position: -30rem -14rem
}

.btn_whiperRec.pause_rec:before {
    background-position: -12rem -14rem
}

.whiper_answer_click .btn_cancel_wsclickRec {
    position: absolute;
    z-index: 4;
    top: 2rem;
    right: 1rem;
    width: 6rem;
    height: 3rem;
    line-height: 3rem;
    cursor: pointer;
    text-align: center;
    color: #949fa4;
    background: #d9e3e8;
    border-radius: 3rem
}

.btn_send_rec {
    display: none;
    width: 7.5rem;
    height: 3rem;
    margin: 1rem auto 0;
    line-height: 3rem;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background: #00a2ff;
    border-radius: 3rem
}

.ws_rec_box .second_wsRec {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3rem;
    margin: 1rem 0 0;
    line-height: 3rem;
    text-align: center;
    color: #f19937;
    font-size: 1.4rem
}

.ws_rec_box .second_wsRec i {
    display: inline-block;
    width: 5rem;
    height: 1rem;
    margin: 1rem 1rem 0;
    vertical-align: top;
    background-size: auto 100%
}

.ws_rec_box .second_wsRec i:first-child {
    background: url(ico_voice_1.png) right center no-repeat
}

.ws_rec_box .second_wsRec i:last-child {
    background: url(ico_voice_2.png) left center no-repeat
}

.ws_rec_box .rec_Title_box {
    display: block;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1.4rem;
    color: #888
}

.ws_rec_box .rec_Title_box b {
    font-weight: 400;
    display: none
}

.playRec .btn_whiperRec.pause_rec,.playRec .rec_Title_box b:nth-child(3),.playRec .second_wsRec,.readyRec .btn_whiperRec.start_rec,.readyRec .rec_Title_box b:nth-child(1),.startRec .btn_whiperRec.stop_rec,.startRec .rec_Title_box b:nth-child(2),.startRec .second_wsRec,.stopRec .btn_whiperRec.play_rec,.stopRec .rec_Title_box b:nth-child(3),.stopRec .second_wsRec {
    display: inline-block
}

.playRec .btn_send_rec,.stopRec .btn_send_rec {
    display: block
}

.startRec .ws_btn_dd i {
    animation: recordingAnime 1s linear infinite alternate;
    -webkit-animation: recordingAnime 1s linear infinite alternate;
    -moz-animation: recordingAnime 1s linear infinite alternate
}

.playRec .btn_cancel_wsclickRec,.stopRec .btn_cancel_wsclickRec {
    background: #81d1ff;
    color: #fff
}

@keyframes recordingAnime {
    from {
        width: 9rem;
        height: 9rem;
        margin: -4.5rem 0 0 -4.5rem
    }

    to {
        width: 15rem;
        height: 15rem;
        margin: -7.5rem 0 0 -7.5rem
    }
}

@-webkit-keyframes recordingAnime {
    from {
        width: 9rem;
        height: 9rem;
        margin: -4.5rem 0 0 -4.5rem
    }

    to {
        width: 15rem;
        height: 15rem;
        margin: -7.5rem 0 0 -7.5rem
    }
}

@-moz-keyframes recordingAnime {
    from {
        width: 9rem;
        height: 9rem;
        margin: -4.5rem 0 0 -4.5rem
    }

    to {
        width: 15rem;
        height: 15rem;
        margin: -7.5rem 0 0 -7.5rem
    }
}

.qlws_answer {
    position: relative;
    display: block;
    background: #fff;
    padding-bottom: 2rem;
    margin-bottom: 1rem
}

.qlws_answer .ul_1 {
    display: block;
    padding: 1rem
}

.qlws_answer .ul_1 li {
    display: block
}

.qlws_answer .ul_1 .li_1 {
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5rem
}

.qlws_answer .ul_1 .li_1 img {
    height: 100%;
    width: 100%
}

.qlws_answer .ul_1 .li_2 {
    height: 3rem;
    line-height: 3rem;
    color: #333;
    font-size: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center
}

.qlws_answer .ul_1 .li_3 {
    height: 2.5rem;
    line-height: 2.1rem;
    color: #949fa4;
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center
}

.qlws_answer .ul_1 .li_4 {
    line-height: 2rem;
    color: #333;
    font-size: 1.3rem
}

.qlws_answer .ul_1 .AskPage_img {
    border: 1px solid #e5e5e5;
    border-radius: 4rem
}

.qlws_answer .qlws_as_text_box {
    display: block;
    padding: 1rem
}

.qlws_answer .qlws_as_text {
    display: block;
    width: 100%;
    height: 10rem;
    line-height: 2rem;
    padding: .6rem;
    margin: 0;
    font-size: 1.4rem;
    background: #f8fbfc;
    border: 1px dashed #e5e5e5;
    border-radius: 3px;
    box-shadow: none;
    color: #849ba6;
    resize: none
}

.qlws_answer .set_ask_private {
    display: block;
    height: 2rem;
    padding: 0 1rem;
    line-height: 2rem;
    font-size: 1.2rem;
    color: #949fa4
}

.qlws_answer .ask_price {
    display: block;
    text-align: center;
    height: 4rem;
    margin: 1rem 0;
    line-height: 4rem;
    font-size: 1.8rem;
    color: #ff8400
}
.recTipsBox {
    display: block;
    height: 2rem;
    line-height: 2rem;
    margin-top: 1rem;
    text-align: center;
    color: #aaa
}

.header_ask {
    height: 4.5rem;
    text-align: center;
    background-color: #ddf3fe;
    color: #06adfd;
    font-size: 1.5rem;
    line-height: 4.5rem
}

.ask_a {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: inline-block;
}

.ask_a:before {
    content: '';
    width: 2rem;
    height: 2rem;
    background-position: -70rem 0;
    display: inline-block;
    margin-top: -.4rem;
    vertical-align: top;
    margin-right: .5rem
}

.qlws_answer .ul_1 .li_5 {
    height: 3rem;
    line-height: 3rem;
    font-size: 1.2rem;
    text-align: center;

}

.qlws_answer .ul_1 .li_5 span {
    color: #ff9420
}

.question_money {
    background-color: #efeff4;
    height: 4rem;
    text-indent: 1rem;
    font-size: 1.5rem;
    color: #ccc;
    line-height: 3.5rem;
    display: none
}

.payQrBox {
    text-align: center
}

.payQr_span_1 {
    line-height: 2rem
}

[class*=iMdodomon] {
    background: #f5f5f5;
    display: block;
    width: 100%;
    padding: 1rem;
    line-height: 2rem;
    color: #000
}

.gene_follow_ql .main {
    width: 80%;
    left: 10%
}

.gene_follow_ql .follow_ql_content {
    text-align: center
}

.gene_follow_ql span {
    display: block;
    margin: 1rem 0;
    line-height: 2rem;
    color: #666;
    word-break: break-all;
    font-size: 1.4rem
}

.gene_follow_ql img {
    width: 18rem;
    height: 18rem
}

.ws_switch_s_1 {
    display: block;
    padding: .5rem 1rem 0;
    line-height: 2rem;
    font-size: 1.3rem;
    color: #b7c5cb
}

.btn_switch_opwhisper {
    float: right;
    margin-right: 1rem
}

.ws_other_settings {
    display: none
}

.ws_other_settings.on {
    display: block
}

.setTP_tips_1,.setTopicProfit li,.setlimitEach li {
    position: relative;
    text-indent: 2rem;
    font-size: 1.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    border-bottom: 1px solid #eee;
    cursor: pointer
}

.setTopicProfit li.on,.setlimitEach li.on {
    background-color: #ecf9ff;
    color: #50c6ff
}

.setTopicProfit li.on:after,.setlimitEach li.on:after {
    content: "";
    position: absolute;
    right: 1rem;
    top: 50%;
    width: 2rem;
    height: 2rem;
    margin-top: -1rem;
    background-position: -54rem 0
}

.setTP_tips_1 {
    color: #949fa4
}

.wt_btn_set {
    width: 92%;
    border-radius: 3px;
    border: none;
    margin: 0 auto;
    margin-top: .7rem
}

.header_setLivePeople {
    height: 12rem
}

.header_setLivePeople_li {
    text-align: center
}

.header_setLivePeople_img {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem
}

.header_setLivePeople_span {
    font-size: 1.7rem
}

.section_setLivePeople0 {
    height: 7rem;
    line-height: 7rem;
    background-color: #fff
}

.section_setLivePeople0 p span {
    font-size: 1.5rem
}

.section_setLivePeople0 input {
    height: 5rem;
    width: 10rem;
    margin-left: 2rem;
    font-size: 1.5rem;
    background-color: #f8fbfc;
    border: 1px dashed #e5e5e5;
    text-indent: 1rem;
    margin-right: 1rem;
    border-radius: 3px
}

.section_setLivePeople0 p {
    width: 92%;
    margin: 0 auto
}

.section_setLivePeople0 input:focus {
    border: none
}

.section_setLivePeople1 {
    margin-top: 1rem;
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 2rem
}

.section_stp_span0 {
    font-size: 1.5rem
}

.section_stp_span1 {
    font-size: 1.5rem;
    color: #949fa4
}

.section_setLivePeople1 textarea {
    width: 100%;
    margin: 0 auto;
    margin-top: 1.2rem;
    font-size: 1.5rem;
    color: #666;
    border-radius: 4px;
    background-color: #f8fbfc;
    border: 1px dashed #e5e5e5;
    line-height: 2rem;
    padding-top: 1.5rem;
    font-family: '微软雅黑';
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    resize: none
}

.section_setLivePeople_ul {
    width: 92%;
    margin: 0 auto
}
.section_setLivePeople_ul dl{
    flex-wrap:wrap;
}
.section_setLivePeople_ul dl dd{
    width: 20%;
    margin:0 0 5px 0;
}
.section_setLivePeople_ul dl input{
    margin-right: 5px;
}
.section_setLivePeople_ul dl input:checked{
    background:#f19937;
}
.section_setLivePeople1_p {
    margin-top: 1rem
}

.setLivePeople_text3 textarea::-webkit-input-placeholder {
    color: #666
}

.wt_footer_set {
    background-color: #fff;
    border-top: 1px solid #e5e5e5
}

.header_peopleEarnings_div,.header_peopleEarnings_div1,.header_peopleEarnings_div2 {
    background-color: #fff;
    font-size: 1.5rem
}

.header_peopleEarnings_div_div {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.header_peopleEarnings_div_p {
    font-size: 1.5rem;
    line-height: 5rem;
    color: #333
}

.header_peopleEarnings_div_span {
    padding-left: 2rem;
    color: #ffa200
}

.p_bottom {
    border-bottom: 1px solid #e6e6e6
}

.header_peopleEarning_div_p1 {
    font-size: 1.5rem;
    color: #666;
    padding-top: 1.5rem
}

.header_peopleEarning_div_p1 span {
    color: #333;
    padding-left: 2rem
}

.p_bottom_padding {
    padding-bottom: 1.5rem
}

.header_peopleEarnings_div1,.header_peopleEarnings_div2 {
    margin-top: 1rem
}

.header_peopleEarning_div_p2 {
    padding-top: 1.5rem;
    color: #333
}

.p_color {
    color: #949fa4
}

.p_color1 {
    color: #f73838
}

.p_color2 {
    color: #ffbe4e
}

.header_peopleEarning_div_p2 span {
    padding-left: 2rem
}

.p_bottom_padding2 {
    padding-bottom: 2rem
}

.peopleEarnings_ul_left {
    float: left
}

.peopleEarning_ul_right {
    float: right;
    margin-right: 1.5rem
}

.peopleEarning_ul li {
    display: inline-block;
    width: 100%;
    line-height: 5rem;
    border-bottom: 1px solid #e3e3e3;
    box-sizing: content-box
}

.p_span_padding {
    padding-left: 1rem
}

.peopleEarning_ul {
    padding-left: 1.5rem
}

.peopleEarning_ul li:last-child {
    border: none
}

.wl_msg_item div.whisper_question_content {
    line-height: 3rem
}

.box_question {
    font-size: 1.3rem;
    color: #c7ccce;
    line-height: 4rem
}

.box_question span {
    padding-left: 1rem
}

.answer_kind {
    float: right;
    padding-right: 1rem
}

.var_color3 {
    color: #feb76f
}

.var_color4 {
    color: #00a2ff
}

.whisper_tab {
    width: 20rem;
    height: 4rem;
    border: 1px solid #f19937;
    border-radius: .3rem
}

.whisper_tab_btn {
    display: inline-block;
    width: 50%;
    height: 100%;
    line-height: 4rem;
    color: #f19937;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer
}

.whisper_tab_btn.on {
    color: #fff;
    background-color: #f19937
}

.whisper_tab_list {
    display: none
}

.whisper_tab_list.on {
    display: block
}



.whisper_tabp {
    position: absolute;
    top: 1rem;
    left: 50%;
    margin-left: -10rem
}
.popBox .pop_bg {
    position: absolute;
    z-index: 110;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    filter: alpha(opacity="50");
}