{extend name="base"/}
{block name="main"}
<div class="Hui-article">
    <article class="cl pd-20">
        <div id="tab_demo" class="HuiTab" style="margin-bottom: 15px; position:relative;">
            <div class="tabBar clearfix">
                <span class="current">小程序页面</span>
            </div>
        </div>
        <div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-bg table-hover table-sort">
                    <thead>
                    <tr class="text-c">
                        <th>名称</th>
                        <th>页面路径</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    {volist name="data" id="r" key="k"}
                    <tr class="text-c va-m">
                        <td>
                           {$r['title']}
                        </td>
                        <td>{$r['path']}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
        </div>
        </article>
    </div>
        {/block}
        {block name="script"}
        {/block}