{template '../../../addons/'.MODULE.'/template/web/common/myheader'}

	<div class="intro od_msg item_cell_box">
		<div>后台配置步骤</div>
		<div class="item_cell_flex" style="margin-left: 40px">
			<div class="step_item">
				<div>1、在模板管理内添加一个模板</div>
				<div>
					<img width="700px" src="../addons/zofui_sitetemp/public/images/step1.png">
				</div>
			</div>
			<div class="step_item">
				<div>2、添加模板后，点击模板设置使用模板</div>
				<div>
					<img width="700px" src="../addons/zofui_sitetemp/public/images/step2.png">
				</div>
			</div>
			<div class="step_item">
				<div>3、点击模板下方的添加页面，添加各个页面</div>
				<div>
					<img width="700px" src="../addons/zofui_sitetemp/public/images/step3.png">
				</div>
			</div>
			<div class="step_item">
				<div>4、添加好各个页面后，点击设置导航，设置好模板的导航，设置完成后后台配置就完成了。</div>
				<div>
					<img width="700px" src="../addons/zofui_sitetemp/public/images/step4.png">
				</div>
			</div>
			<div class="step_item">
				<div>其他注意事项</div>
				<div>一、第一个页脚导航链接的页面将作为进入小程序后的展现页面。</div>
				<div>二、富文本编辑模块内只能使用文字和图片功能，不能添加视频、音频、表情、超链接等特殊的编辑内容。</div>
			</div>
			<div class="step_item">
				<div>常见问题</div>
				<div>一、为什么添加模板后打开页面是空白的？</div>
				<div>1:可能你的小程序后台没有设置域名，在小程序后台-设置-开发设置内绑定你的服务器域名。</div>
				<div>2:可能你的小程序后台配置的域名和代码内的域名不一致，保持登录的微擎后台域名和小程序后台配置的域名一致。</div>
				<div>3:可能你的域名没有配置https，请自行百度配置https。</div>
				<div>4:可能你设置的模板没有设置导航，请设置导航，把第一个导航设置成首页链接。</div>
				<div>5:还出现空白的情况请换个https证书试下，或过段时间再试下。</div>
			</div>			
		</div>
	</div>
{template '../../../addons/'.MODULE.'/template/web/common/myfooter'}
