 @charset "utf-8";  
.slide_pic img {width:100%; height: 15rem;}
.goods_info {border-bottom:8px solid #f8f8f8;padding-left:0.5rem;padding-right: 0.5rem;padding-bottom: 0.5rem;}
.goods_price {color:#ec4040; height: 2.2rem; line-height: 2.2rem;font-size:0.8rem;}
.goods_price span {color:#ec4040;font-size:1.4rem;}
.goods_count {color:#adacac;font-size:0.8rem;height:1.8rem; line-height: 1.8rem;}
.goods_tit {color:#222222;font-size:1.4rem; line-height: 2.2rem;max-height:4.4rem; overflow: hidden;}
.goods_d {color:#adacac;font-size:0.8rem;height:1.8rem; line-height: 1.8rem;}
.goods_type ,.goods_dist{height: 2.5rem; line-height: 2.5rem;font-size:0.8rem;border-bottom:8px solid #f8f8f8;padding-left:4rem;}
.goods_type span ,.goods_dist span{display:block;float:left;margin-left: -4rem; text-align: center;width:4rem;color:#adacac;}
.li_arrow {background:url(../images/right_arrow.png) right center no-repeat; background-size: 2.5rem 2.5rem;}
.goods_intro {font-size:0.9rem; line-height: 1.5rem;color:#222222;margin-left:0.8rem;margin-right:0.8rem;}
.switch_box { height:2.5rem; line-height: 2.5rem;font-size:0.8rem;border-bottom:1px solid #f2f2f2;color:#ec4040;padding-left:0.8rem;}