html,body{
	margin:0;
	padding:0;
}
.container{
	background:#F8F8F8;
	min-height:100vh;
}
.column{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.row{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.between{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.top{
	width:100vw;
	height:52vw;
	background:url(../images/myBg.png) no-repeat;
	background-size:100% 100%;
	color:#fff;
	font-size:3.6vw;
	padding-top:7vw;
}
.top>img{
	width:16vw;
	height:16vw;
	border-radius: 50%;
	margin:3vw 0;
}
.top>span:nth-child(1){
	font-size:7vw;
}
.myList{
	width:90vw;
	margin:0 auto;
	background:#fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.6) ;
	border-radius: 6px;
	margin-top:-10vw;
	color:#464646;
	font-size:3.5vw;
}
.myItem{
	padding: 20px 0;
	margin: 0 5vw;
	border-bottom:1px solid #F1F1F1;
}
.myItem>span{
	font-weight: bolder;
}
.myItem img{
	width:6px;
	margin-left:10px;
	display:block;
}
.upload_photo{
	background:url(../images/btn.png) no-repeat;
	background-size:100% 100%;
	width:76vw;
	height:13.4vw;
	margin:0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size:4vw;
	margin-top:6vw;
	color:#fff;
}