html,body{
	margin:0;
	padding:0;
}
.container{
	background:#020210;
	min-height:85vh;
	padding:2vh 0 13vh;
	width: 100vw;
}

.title{
	width:90vw;
	height:11vw;
	margin:0 auto;
	background: url(../images/title.png) no-repeat;
	background-size:100% 100%;
	color:#fff;
	font-size:3.5vw;
}

.points{
	width:100vw;	
	height:52vw;
	position:relative;
}
.avatar{
	width:36vw;
	height:36vw;
	border-radius: 18vw;
	border:2px solid #40228D;
	box-shadow:0 0 40px rgba(255,255,255,.6);
}
.column{
	display: flex;
	flex-direction: column;
	align-items:  center;
}
.row{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.content{
	width:80vw;
	display: block;
	margin:0 auto;
	font-size:3.8vw;
	color:#fff;
	line-height: 6vw;
	text-indent: 30px;
}
.result{
	width:90vw;
	padding:8vw 0 5vw;
	margin:10vw auto 0;
	position:relative;
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(255,255,255,.5);
	background: -webkit-linear-gradient(right,#2B057C , #5C2BC5,#2B057C);
	background: -o-linear-gradient(right,  #2B057C , #5C2BC5,#2B057C); 
	background: -moz-linear-gradient(right, #2B057C , #5C2BC5,#2B057C);
	background: linear-gradient(to right,  #2B057C , #5C2BC5,#2B057C); 
}
.content_title{
	width:46vw;
	height:11vw;
	line-height: 11vw;
	text-align: center;
	margin:0 auto;
	display: block;
	position:absolute;
	top:-5.5vw;
	left:50%;
	transform: translateX(-50%);
	background:url(../images/content_title.png) no-repeat;
	background-size: 100% 100%;
	color:#fff;
	font-size:4vw;
}
.featuresItems{
	width:12vw;
	color:#fff;
	font-size:3.6vw;
}
.progress{
	width:2vw;
	height:20vw;
	background:#000215;
	margin: 3vw 0;
	position:relative;
}
.active{
	position:absolute;
	bottom:0;
	width:2vw;
	background:#5E24EE;
}
.score{
	width:80vw;
	margin: 3vw auto 0;
	color:#fff;
	font-size:3.8vw;
}
.allscore{
	width:70vw;
	height:2vw;
	margin-top:3vw;
	background:#000215;
	position:relative;
}
.myscore{
	position:absolute;
	left:0;
	top:0;
	height:2vw;
	background:#5E24EE;
}
.waitPay{
	width:53vw;
	padding-left:5vw;
}
.one{
	width:53vw;
	height:3.6vw;
	background:#8976BB;
	display: block;
	margin:2vw 0 10px;
}
.two{
	width:45vw;
	height:3.6vw;
	display: block;
	margin-bottom:14px;
	background:#8976BB;
}
.organs{
	float:right;
	width:26vw;
	height:24vw;
	margin-right:5vw;
	align-items: flex-end;
}
.organs_Pic{
	position:relative;
	width:20vw;
	height:14vw;
	border-radius: 4px;
	overflow: hidden;
}
.organs_Pic>img{
	position:absolute;
	top:-10vw;
	left:-17vw;
	width:50vw;
}
.describe{
	background:#7241EB;
	color:#fff;
	font-size:2.6vw;
	padding:4px 0;
	width:20vw;
	text-align: center;
	border-radius: 30px;
	margin-top:12px;
}
.lock{
	width:3vw;
	display: block;
	margin-right:5px;
}
.buy{
	font-size:3.2vw;
	color:#fff;
	height:6.4vw;
	border-radius: 3.2vw;
	background: -webkit-linear-gradient(right,#420DB7 , #7432FF,#7736FF);
	background: -o-linear-gradient(right,  #420DB7 , #7432FF,#7736FF); 
	background: -moz-linear-gradient(right, #420DB7 , #7432FF,#7736FF);
	background: linear-gradient(to right,  #420DB7 , #7432FF,#7736FF); 
}
/*点击保存的按钮*/
.upload_photo{
	background:url(../images/btn2.png) no-repeat;
	background-size:100% 100%;
	width:76vw;
	height:13.4vw;
	margin:0 auto;
	color:#fff;
	font-size:4vw!important;
	display: flex;
	font-weight: bold;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size:3vw;
	margin-top:6vw;
}
.upload_photo1{
	background:url(../images/btn1.png) no-repeat;
	background-size:100% 100%;
}
/*脸型属性*/
.wuxing{
	width:80vw;
	margin:20px auto ;
	color:#fff;
	justify-content: space-between;
}
.wuxing_title{
	font-size:4vw;
	color:#fff;
	text-align: center;
	display: block;
}
.item{
	width:30vw;
	padding: 2vw 4vw;
	justify-content: space-between;
	border-radius: 3.2vw;
	background: -webkit-linear-gradient(right,#1D0353 , #3F1D94,#1D0353);
	background: -o-linear-gradient(right,  #1D0353 , #3F1D94,#1D0353); 
	background: -moz-linear-gradient(right, #1D0353 , #3F1D94,#1D0353);
	background: linear-gradient(to right,  #1D0353 , #3F1D94,#1D0353); 
	box-shadow: 0 0 10px rgba(255,255,255,0.6);
}
.itemdetail{
	height:16vw;
	justify-content: space-around;
}
.item>img{
	width:12vw;
	height:12vw;
	border-radius: 8vw;
	display: block;
	border:2vw solid #7C38FF;
}
.item_name{
	font-size:5.6vw;
	font-weight: bold;
}
.item_rate{
	font-size:3.8vw;
	font-weight: bold;
}
/*购买事业以及爱情运势分析*/
.buyItem:nth-child(1){
	background:url(../images/buy_icon2.png) no-repeat;
	background-size:100% 100%;
}
.buyItem:nth-child(2){
	background:url(../images/buy_icon3.png) no-repeat;
	background-size:100% 100%;
}
.buyItem{
	width:90vw;
	height:32vw;
	border-radius: 10px;
	margin-bottom:20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.6) ;
	position: relative;
}
.shadow{
	width:90vw;
	height:32vw;
	border-radius: 10px;
	position:absolute;
	top:0;
	left:0;
	background:rgba(255,255,255,0.6);
}
.contents{
	margin-left:8vw;
	height:32vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size:3.5vw;
	color:#777777;
}
.contents>span{
	z-index:1;
}
.contents>span:nth-child(1){
	color:#3E1C8F;
	font-size:5vw;
	font-weight: bold;
}
.contents>span:nth-child(2){
	padding-right:5vw;
	display:-webkit-box;
	overflow:hidden;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	margin-top:4px;
}
.contents>span:nth-child(3){
	color:#fff;
	font-size:3.4vw;
	background:#8C00BD;
	width:fit-content;
	width:-webkit-fit-content;
	width:-moz-fit-content;
	height:24px;
	line-height: 24px;
	padding:0 20px;
	border-radius: 14px;
	margin-top:5px;
}
.buyList{
	width:90vw;
	margin:20px auto;
}



/*八卦阵的旋转*/
.shodowS{
	position:fixed;
	width:100vw;
	height:100vh;
	background:rgba(0,0,0,0.6);
	z-index:9999;
	justify-content: center;
}
.loading_img{
	width:30vw;
}
.loadings{
	position:relative;
	width:30vw;
	height:30vw;
}
.loadings>img{
	position:absolute;
}
.loading_0{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width:22.6vw;
	background:#fff;
	border-radius: 11.3vw;
}
.loading_1,.loading_2,.loading_5{
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	animation:3s linear 0s myrotate  infinite;
	-webkit-animation:3s linear 0s myrotate  infinite;/* Safari and Chrome */
	animation-fill-mode:forwards;/*动画播放完毕时停止，不回到初始状态*/
	-webkit-animation-fill-mode:forwards;
}
@keyframes myrotate{
	form {transform:rotate(0deg);}    
	to    {transform:rotate(360deg);}
}
@-webkit-keyframes myrotate{/* Safari and Chrome */
	form {transform:rotate(0deg);}    
	to    {transform:rotate(360deg);}
}
.loading_3,.loading_4{
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	animation:3s linear 0s myrotates  infinite;
	-webkit-animation:3s linear 0s myrotates  infinite;
}
@keyframes myrotates{
	form {transform:rotate(0deg);}    
	to    {transform:rotate(-360deg);}
}
@-webkit-keyframes myrotates{/* Safari and Chrome */
	form {transform:rotate(0deg);}    
	to    {transform:rotate(-360deg);}
}

/*tab*/
.footer{
	position:fixed;
	bottom:0;
	background:#fff;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	width:100vw;
	padding:8px 0;
	z-index:60;
	justify-content: center;
}
.footer img{
	width:24px;
	height:24px;
	margin-bottom:5px;
}
.publish{
	width:90px!important;
	height:90px!important;
	margin-top:-50px;
	border-radius:90px!important;
}
.index,.my{
	width:26vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size:14px;
	font-weight: bolder;
	color:#020621;
}