{extend name="base"/}
{block name="main"}
<div class="Hui-article">
    <article class="cl pd-20">
        <div class="n_tab_line">
            <a href="" class="n_tab_list">积分详情</a>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <form class="Huiform" method="post" action="__CONF_SITE__admin/user/integral_details" style=" padding: 15px;">
                <div class="text-c">
                    会员名称：
                    <input type="text" class="input-text" value="{$soname}" style="width:250px" placeholder="输入名称"
                           name="soname">
                    <button type="submit" class="btn btn-search radius" name=""><i class="Hui-iconfont">&#xe665;</i>
                        搜索会员
                    </button>
                </div>
            </form>
        </div>
        <table class="table table-border table-bordered table-bg">
            <thead>
            <tr class="text-c">
                <th>会员名称</th>
                <th>可用积分</th>
                <th>累计积分</th>
                <th>说明</th>
                <th>更改时间</th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="vo"}
            <tr class="text-c">
                <td>{$vo.nick_name}</td>
                <td>{if $vo.itype==1}+{else}-{/if}{$vo.integral}</td>
                <td>{if $vo.ctype==1}+{else}-{/if}{$vo.consume}</td>
                <td>{$vo.explain}</td>
                <td>
                    {$vo.time|date='Y-m-d H:i:s',###}
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </article>
    <div class="n_page_no">
        {$list->render()}
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="/public/js/jquery-2.1.1.js"></script>
<script type="text/javascript">
    function assort_add() {
        location.href = "{:url('reserve/thing_add')}";
    }
    function assort_edit(id) {
        location.href = "{:url('reserve/thing_edit')}&id=" + id;
    }
    var lock = false;
    function assort_del(id) {
        if (!lock) {
            layer.confirm('确认要删除吗？', function (index) {
                lock = true;
                $.ajax({
                    type: "post",
                    url: "__CONF_SITE__admin/reserve/thing_del",
                    data: {'id': id},
                    success: function (data) {
                        if (data['code'] > 0) {
                            layer.msg('删除成功', {icon: 1, time: 1000}, function () {
                                location.reload();
                            });
                        } else {
                            layer.msg('删除失败', {icon: 5, time: 1000});
                            lock = false;
                        }
                    }
                });
            });
        }
    }
</script>
{/block}