/* é‡ç½® */
img {
  max-width: 100%;
}
/* å…¬ç”¨ */
.c-cb:after,
.c-cbli li:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.c-cb,.c-cbli li {
  zoom: 1;
}
.c-ib {
  display: inline-block;
}
.c-dn {
  display: none;
}
.c-db {
  display: block;
}
.c-fl {
  float: left;
}
.c-fr {
  float: right;
}
.c-pr {
  position: relative;
}
.c-pa {
  position: absolute;
}
.c-pf {
  position: fixed;
}
.c-fwn {
  font-weight: 400;
}
.c-fwb {
  font-weight: 700;
}
.c-tal {
  text-align: left;
}
.c-tac {
  text-align: center;
}
.c-tar {
  text-align: right;
}
.c-oh {
  overflow: hidden;
}
.c-toe {
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.c-ti2 {
  text-indent: 2em;
}
.c-lh2 {
  line-height: 2;
}
.c-lh0 {
  line-height: normal;
}
.c-tdu {
  text-decoration: underline;
}
.c-tdn,
.c-tdn:hover {
  text-decoration: none;
}
.c-csp {
  cursor: pointer;
}
.c-ff1 {
  font-family: SimSun;
}
.c-ff2 {
  font-family: Microsoft YaHei;
}
.c-img {
  width: 100%;
  height: 100%;
}
.c-b0 {
  border: 0;
}
.c-fs {
  font-size: 14px;
}
/* å•é¡µ */
.c-page p {
  line-height: 2;
}
/* åˆ†é¡µ */
.c-pages {
  text-align: center;
  margin-top: 20px;
}
.c-pages a {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.c-pages span,
.c-pages a {
  border-radius: 2px!important;
  -webkit-border-radius: 2px;
  display: inline-block;
  background: #0099FF;
  color: #ffffff;
  padding: 3px 16px!important;
  margin: 0 2px!important;
}
.c-pages span,
.c-pages a:hover {
  background: #d65608;
}
/* å›¾æ–‡å†…å®¹ */
.c-show {margin-top:10px;}
.c-proBox h3 {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  font-weight: 400;
  height: 32px;
  line-height: 32px;
  background: #0099FF;
  color: #ffffff;
  padding: 3px 10px;
  margin: 20px 0 10px 0;
}
/* å›¾ç‰‡æ»šåŠ¨æ”¾å¤§ */
.c-preView {
  position: relative;
  width: 350px;
}
.c-scrollButton {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  float: left;
  text-align: center;
  cursor: pointer;
  font-family: SimSun;
  background: #f2f2f2;
  color: #666;
  margin-top: 5px;
  width: 15px;
  height: 50px;
  line-height: 50px!important;
}
.c-scrollButton:hover {
  background: #ea6a1c;
}
.c-smallImg .disabled {
  background: #eeeeee;
}
.c-bigImg {
  position: relative;
  width: 348px;
  height: 348px;
  border: 1px solid #eeeeee;
}
.c-bigImg img {
  width: 100%;
  height: 100%;
}
.c-bigImg #winSelector {
  border: 0;
  display: none;
  width: 100px;
  height: 100px;
}
#c-imageMenu {
  float: left;
  overflow: hidden;
  width: 310px;
  height: 50px;
  margin: 5px 5px 0 5px;
}
#c-imageMenu li {
  float: left;
  width: 50px;
  height: 50px;
}
#c-imageMenu li img {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border: 2px solid #ffffff;
}
#c-imageMenu li#onlickImg img,
#c-imageMenu li:hover img {
  width: 45px;
  height: 45px;
  border: 2px solid #d65608;
}
#bigView {
  border: 0;
}
/* ä»‹ç» */
.c-proTitle {
  font-size: 14px;
  line-height: normal;
  width: 365px;
}
.c-proTitle h2 {
  font-weight: 400;
  font:22px/30px "å¾®è½¯é›…é»‘";
}
.c-proTitle ul {
  text-align: left;
  margin-top: 10px;
  border-top: 1px dashed #eeeeee;
}
.c-proTitle ul li {
  float: left;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  margin: 5px 0;
  width: 100%;
}
.c-proTitle ul li em{font-style:normal;padding:0 10px 0 20px;}

.c-proTag {
  padding: 5px 0 0 20px;
  border-top: 1px dashed #eeeeee;
  background: url(../images/tags.png) left 17px no-repeat;
}
.c-proTag span {
  display: inline-block;
  line-height: 41px;
}
.c-proTag a {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  display: inline-block;
  padding: 1px 10px!important;
  margin: 5px!important;
  background: #0099FF;
  color: #ffffff;
}
.c-proTag a:hover {
  background: #d65608;
  color: #ffffff;
}
.c-allPages{margin-top:10px;}
.c-allPages a {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  padding: 8px 0;
  width: 150px;
  border: 1px solid #eee;
  color: #0099FF;
}
.c-allPages a:hover {
  border-color: #d65608;
  background: #d65608;
  color: #ffffff;
}
.c-allPages a.on {
  border-color: #f2f2f2;
  background: #fafafa;
  color: #888;
}
/* è¯„è®º */
.c-comment li {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  line-height: normal;
  margin-bottom: 10px;
  padding: 0 15px;
  border: 1px solid #ddd;
}
.c-comment li p {
  padding: 10px 0;
  border-top: 1px dashed #ddd;
}
.c-comment li p span {
  float: right;
}
.c-comment li p.on {
  font-size:15px;
  border-top: 0;
}
.c-comment li p.admin {
  color: #0099FF;
}
.c-more {
  text-align: center;
  line-height: normal;
}
.c-more a {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  display: block;
  background: #0099FF;
  color: #ffffff;
  padding: 13px 0;
}
.c-more a:hover {
  background: #d65608;
}
/* è¡¨å• */
.c-form {
  margin-top: 10px;
}
.c-form textarea {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  float: left;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 10px;
  border: 1px solid #eeeeee;
  width: 97.6%;
  height: 150px;
  overflow-y: hidden;
}
.c-form textarea:hover,
.c-form textarea:focus {
  border-color: #0099FF;
}
.c-form input {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  cursor: pointer;
  float: right;
  margin-top: 10px;
  background: #0099FF;
  padding: 13px 0;
  width: 150px;
  color: #ffffff;
}
.c-form input:hover {
  background: #d65608;
}
/* ç”»å»Šå±•ç¤º */
.c-proPic {
  position: relative;
  text-align: center;
}
.c-proPic .prev,
.c-proPic .next {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: url(../images/no.gif);
  cursor: url(../images/prev.cur), pointer;
}
.c-proPic .next {
  left: auto;
  right: 0;
  cursor: url(../images/next.cur), pointer;
}
.c-proPic .prevStop,
.c-proPic .nextStop {
  display: none;
}
/* æ ‡é¢˜ */
.c-Title {
  font-size: 14px;
  line-height: normal;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #eeeeee;
}
.c-Title h2 {
  font-weight: 400; font-size: 22px;
}
.c-Title p {
  padding: 10px 0;
}
.c-Title p a {
  color: #0099FF;
}
/* ç•™è¨€ */
.c-book ul li {
  position: relative;
  margin-top: 10px;
}
.c-book ul li em {
  float: left;
  text-align: right;
  margin-right: 10px;
  padding-top: 7px;
  width: 150px;
  font-style: normal;
}
.c-book ul li textarea,
.c-book ul li input,
.c-book ul li select {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  float: left;
  padding: 6px;
  border: 1px solid #ddd;
}
.c-book ul li textarea:hover,
.c-book ul li input:hover,
.c-book ul li select:hover,
.c-book ul li textarea:focus,
.c-book ul li input:focus,
.c-book ul li select:focus {
  border-color: #0099FF;
}
.c-book ul li textarea {
  width: 450px;
  height: 150px;
  overflow-y: hidden;
}
.c-book ul li img {
  position: absolute;
  cursor: pointer;
  top: 10px;
  margin-left: 5px;
}
.c-book ul li.bnt {
  margin-left: 150px;
}
.c-book ul li.bnt input {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  cursor: pointer;
  width: 120px;
  margin-left: 10px;
  border-color: #0099FF;
  background: #0099FF;
  color: #ffffff;
}
.c-book ul li.bnt input:hover {
  border-color: #d65608;
  background: #d65608;
}
/* æµ®åŠ¨å·¥å…· */
.c-tools {
  position: fixed;
  z-index: 9999;
  text-align: center;
  right: 0;
  bottom: 65px;
}
.c-tools ul li {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  cursor: pointer;
  position: relative;
  width: 32px;
  height: 32px;
  margin: 4px 1px;
  background: #007AC3 url(../images/tools-ico.png) no-repeat;
}
.c-tools ul li:hover {
  background-color: #d65608;
}
.c-tools ul li span {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  display: none;
  position: absolute;
  right: 33px;
  width: 105px;
  line-height: 32px;
  padding: 0 10px;
  background: #d65608;
  color: #ffffff;
}
.c-tools ul li .ewmPic {
  width: 138px;
}
.c-tools ul li .ewmPic img {
  display: block;
  margin-top: 10px;
  padding-bottom: 10px;
  width: 138px;
  height: 138px;
}
.c-tools ul .tel-ico {
  background-position: center -38px;
}
.c-tools ul .ewm-ico {
  background-position: center 6px;
}
.c-tools ul .qq-ico {
  background-position: center -83px;
}
.c-tools ul .top-ico {
  background-position: center -131px;
}
/* 404 */
.c-404 {
  text-align: center;
  margin-top: 3%;
  color: #F33;
}
/* rss */
.c-rss {
  float: right;
  margin-top: 10px;
}
.c-rss img {
  display: block;
}

.c-searchlist li{width:100%; height:35px; line-height:35px; border-bottom:#ddd 1px dashed; color:#666; float:left;}
.c-searchlist li a{float:left; color:#666; padding-left:10px;}
.c-searchlist li a:hover{color:#da251c;}
.c-searchlist li span{float:right;}

.selectTdClass {
		background-color: #edf5fa !important;
 }
 
 table.noBorderTable td, table.noBorderTable th, table.noBorderTable caption {
	 border: 1px dashed #ddd !important;
 }
 
 table {
	 margin-bottom: 10px;
	 border-collapse: collapse;
	 display: table;
 }
 
 td, th {
	 padding: 5px 10px;
	 border: 1px solid #DDD;
 }
 
 caption {
	 border: 1px dashed #DDD;
	 border-bottom: 0;
	 padding: 3px;
	 text-align: center;
 }
 
 th {
	 border-top: 1px solid #BBB;
	 background-color: #F7F7F7;
 }
 
 table tr.firstRow th {
	 border-top-width: 2px;
 }
 
 .ue-table-interlace-color-single {
	 background-color: #fcfcfc;
 }
 
 .ue-table-interlace-color-double {
	 background-color: #f7faff;
 }
 
 td p {
	 margin: 0;
	 padding: 0;
 }